<a href="https://colab.research.google.com/github/willstauffernorris/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [35]:
##### Begin Working Here #####

import pandas as pd
import numpy as np

#importing housing data

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

#displaying all the columns
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)



#checking to make sure it loaded
print(df.head(10))


#checking data types
df.dtypes

#looking at the first 10 rows of 'BedroomAbvGr'
df['BedroomAbvGr'][:10]

#looking at the first 10 rows of 'LotFrontage'
df['LotFrontage'][:10]

#making a smaller dataframe
small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']]

#testing to see if it worked. Took a while, but I put *2* sets of brackets on it, and it worked
small_df.head(10)

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
5   6          50       RL         85.0    14115   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg
7   8          60       RL          NaN    10382   Pave   NaN      IR1
8   9          50       RM         51.0     6120   Pave   NaN      Reg
9  10         190       RL         50.0     7420   Pave   NaN      Reg

  LandContour Utilities LotConfig LandSlope Neighborhood Condition1  \
0         Lvl    AllPub    Inside       Gtl      CollgCr       Norm
1         Lvl    AllPub       FR2       Gtl      Veenker      Feedr
2         Lvl    AllPub    Inside       Gtl      CollgCr       Norm
3         Lvl    AllPub    Corner       Gtl      Crawfor       Norm
4         Lvl    AllPub       FR2       Gtl      NoRidge       Norm
5         Lvl    AllPub    Inside       Gtl      Mitchel       Norm
6         Lvl    AllPub    Inside       Gtl      Somerst       Norm
7         Lvl    AllPub    Corner       Gtl       NWAmes       PosN
8         Lvl    AllPub    Inside       Gtl      OldTown     Artery
9         Lvl    AllPub    Corner       Gtl      BrkSide     Artery

  Condition2 BldgType HouseStyle  OverallQual  OverallCond  YearBuilt  \
0       Norm     1Fam     2Story            7            5       2003
1       Norm     1Fam     1Story            6            8       1976
2       Norm     1Fam     2Story            7            5       2001
3       Norm     1Fam     2Story            7            5       1915
4       Norm     1Fam     2Story            8            5       2000
5       Norm     1Fam     1.5Fin            5            5       1993
6       Norm     1Fam     1Story            8            5       2004
7       Norm     1Fam     2Story            7            6       1973
8       Norm     1Fam     1.5Fin            7            5       1931
9     Artery   2fmCon     1.5Unf            5            6       1939

   YearRemodAdd RoofStyle RoofMatl Exterior1st Exterior2nd MasVnrType  \
0          2003     Gable  CompShg     VinylSd     VinylSd    BrkFace
1          1976     Gable  CompShg     MetalSd     MetalSd       None
2          2002     Gable  CompShg     VinylSd     VinylSd    BrkFace
3          1970     Gable  CompShg     Wd Sdng     Wd Shng       None
4          2000     Gable  CompShg     VinylSd     VinylSd    BrkFace
5          1995     Gable  CompShg     VinylSd     VinylSd       None
6          2005     Gable  CompShg     VinylSd     VinylSd      Stone
7          1973     Gable  CompShg     HdBoard     HdBoard      Stone
8          1950     Gable  CompShg     BrkFace     Wd Shng       None
9          1950     Gable  CompShg     MetalSd     MetalSd       None

   MasVnrArea ExterQual ExterCond Foundation BsmtQual BsmtCond BsmtExposure  \
0       196.0        Gd        TA      PConc       Gd       TA           No
1         0.0        TA        TA     CBlock       Gd       TA           Gd
2       162.0        Gd        TA      PConc       Gd       TA           Mn
3         0.0        TA        TA     BrkTil       TA       Gd           No
4       350.0        Gd        TA      PConc       Gd       TA           Av
5         0.0        TA        TA       Wood       Gd       TA           No
6       186.0        Gd        TA      PConc       Ex       TA           Av
7       240.0        TA        TA     CBlock       Gd       TA           Mn
8         0.0        TA        TA     BrkTil       TA       TA           No
9         0.0        TA        TA     BrkTil       TA       TA           No

  BsmtFinType1  BsmtFinSF1 BsmtFinType2  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  \
0          GLQ         706          Unf           0        150          856
1          ALQ         978          Unf           0        284         1262
2          GLQ         486          Unf           0        434          920
3          ALQ         216          Unf           0        540          756
4          GLQ         655          Unf           0        490         1145
5          GLQ         732          Unf           0         64          796
6          GLQ        1369          Unf           0        317         1686
7          ALQ         859          BLQ          32        216         1107
8          Unf           0          Unf           0        952          952
9          GLQ         851          Unf           0        140          991

  Heating HeatingQC CentralAir Electrical  1stFlrSF  2ndFlrSF  LowQualFinSF  \
0    GasA        Ex          Y      SBrkr       856       854             0
1    GasA        Ex          Y      SBrkr      1262         0             0
2    GasA        Ex          Y      SBrkr       920       866             0
3    GasA        Gd          Y      SBrkr       961       756             0
4    GasA        Ex          Y      SBrkr      1145      1053             0
5    GasA        Ex          Y      SBrkr       796       566             0
6    GasA        Ex          Y      SBrkr      1694         0             0
7    GasA        Ex          Y      SBrkr      1107       983             0
8    GasA        Gd          Y      FuseF      1022       752             0
9    GasA        Ex          Y      SBrkr      1077         0             0

   GrLivArea  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath  BedroomAbvGr  \
0       1710             1             0         2         1             3
1       1262             0             1         2         0             3
2       1786             1             0         2         1             3
3       1717             1             0         1         0             3
4       2198             1             0         2         1             4
5       1362             1             0         1         1             1
6       1694             1             0         2         0             3
7       2090             1             0         2         1             3
8       1774             0             0         2         0             2
9       1077             1             0         1         0             2

   KitchenAbvGr KitchenQual  TotRmsAbvGrd Functional  Fireplaces FireplaceQu  \
0             1          Gd             8        Typ           0         NaN
1             1          TA             6        Typ           1          TA
2             1          Gd             6        Typ           1          TA
3             1          Gd             7        Typ           1          Gd
4             1          Gd             9        Typ           1          TA
5             1          TA             5        Typ           0         NaN
6             1          Gd             7        Typ           1          Gd
7             1          TA             7        Typ           2          TA
8             2          TA             8       Min1           2          TA
9             2          TA             5        Typ           2          TA

  GarageType  GarageYrBlt GarageFinish  GarageCars  GarageArea GarageQual  \
0     Attchd       2003.0          RFn           2         548         TA
1     Attchd       1976.0          RFn           2         460         TA
2     Attchd       2001.0          RFn           2         608         TA
3     Detchd       1998.0          Unf           3         642         TA
4     Attchd       2000.0          RFn           3         836         TA
5     Attchd       1993.0          Unf           2         480         TA
6     Attchd       2004.0          RFn           2         636         TA
7     Attchd       1973.0          RFn           2         484         TA
8     Detchd       1931.0          Unf           2         468         Fa
9     Attchd       1939.0          RFn           1         205         Gd

  GarageCond PavedDrive  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  \
0         TA          Y           0           61              0          0
1         TA          Y         298            0              0          0
2         TA          Y           0           42              0          0
3         TA          Y           0           35            272          0
4         TA          Y         192           84              0          0
5         TA          Y          40           30              0        320
6         TA          Y         255           57              0          0
7         TA          Y         235          204            228          0
8         TA          Y          90            0            205          0
9         TA          Y           0            4              0          0

   ScreenPorch  PoolArea PoolQC  Fence MiscFeature  MiscVal  MoSold  YrSold  \
0            0         0    NaN    NaN         NaN        0       2    2008
1            0         0    NaN    NaN         NaN        0       5    2007
2            0         0    NaN    NaN         NaN        0       9    2008
3            0         0    NaN    NaN         NaN        0       2    2006
4            0         0    NaN    NaN         NaN        0      12    2008
5            0         0    NaN  MnPrv        Shed      700      10    2009
6            0         0    NaN    NaN         NaN        0       8    2007
7            0         0    NaN    NaN        Shed      350      11    2009
8            0         0    NaN    NaN         NaN        0       4    2008
9            0         0    NaN    NaN         NaN        0       1    2008

  SaleType SaleCondition  SalePrice
0       WD        Normal     208500
1       WD        Normal     181500
2       WD        Normal     223500
3       WD       Abnorml     140000
4       WD        Normal     250000
5       WD        Normal     143000
6       WD        Normal     307000
7       WD        Normal     200000
8       WD       Abnorml     129900
9       WD        Normal     118000

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000
5          796       796       566     143000
6         1686      1694         0     307000
7         1107      1107       983     200000
8          952      1022       752     129900
9          991      1077         0     118000

In [45]:
#testing
#print(df['TotalBsmtSF'].head(10))

#testing to make sure the small_df was created properly
small_df.head(10)

#creating a 'TotalSquareFootage' column
small_df['TotalSquareFootage'] = small_df['TotalBsmtSF']+small_df['1stFlrSF']+small_df['2ndFlrSF']

#seeing if this new column worked
small_df['TotalSquareFootage'].head(10)

#testing the big picture dataframe to see if it worked. It did!
small_df.head(10)


#making a 'PricePerSqFt' column
small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage']

small_df.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,TotalSquareFootage,PricePerSqFt
0,856,856,854,208500,2566,81.254871
1,1262,1262,0,181500,2524,71.909667
2,920,920,866,223500,2706,82.594235
3,756,961,756,140000,2473,56.611403
4,1145,1145,1053,250000,3343,74.783129
5,796,796,566,143000,2158,66.265060
6,1686,1694,0,307000,3380,90.828402
7,1107,1107,983,200000,3197,62.558649
8,952,1022,752,129900,2726,47.652238
9,991,1077,0,118000,2068,57.059961

In [46]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-14 23:45:43--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [     <=>            ]  21.72M   768KB/s    in 29s

2020-01-14 23:46:13 (755 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [52]:
#print(!head LoanStats_2018Q4.csv) I guess you can't mix Python and Bash
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3686.37","3686.37","2652.39","2652.39","1913.63","738.76","0.0","0.0","0.0","Dec-2019","190.21","Jan-2020","Nov-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","6632.21","6632.21","4846.3","4846.30","3367.79","1478.51","0.0","0.0","0.0","Dec-2019","346.76","Jan-2020","Nov-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3291.41","3291.41","2373.85","2373.85","1708.59","665.26","0.0","0.0","0.0","Dec-2019","169.83","Jan-2020","Nov-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","6497.81","6335.37","4572.16","4457.86","3502.19","1069.97","0.0","0.0","0.0","Dec-2019","327.68","Jan-2020","Nov-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","6695.63","6695.63","4975.73","4975.73","3304.37","1671.36","0.0","0.0","0.0","Dec-2019","356.08","Jan-2020","Nov-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050652925
Total amount funded in policy code 2: 820081797

In [53]:
df = pd.read_csv('LoanStats_2018Q4.csv', header =1)

print(df.shape)
df.head

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128399, 144)

<bound method NDFrame.head of                                                       id  member_id  \
0                                                    NaN        NaN
1                                                    NaN        NaN
2                                                    NaN        NaN
3                                                    NaN        NaN
4                                                    NaN        NaN
...                                                  ...        ...
128394                                               NaN        NaN
128395                                               NaN        NaN
128396                                               NaN        NaN
128397  Total amount funded in policy code 1: 2050652925        NaN
128398   Total amount funded in policy code 2: 820081797        NaN

        loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0          6000.0       6000.0           6000.0   36 months   14.47%
1         24000.0      24000.0          24000.0   36 months   10.33%
2         30000.0      30000.0          30000.0   36 months   15.02%
3          8000.0       8000.0           8000.0   36 months   12.98%
4         22400.0      22400.0          22400.0   60 months   16.14%
...           ...          ...              ...         ...      ...
128394     5000.0       5000.0           5000.0   36 months   13.56%
128395    10000.0      10000.0           9750.0   36 months   11.06%
128396    10000.0      10000.0          10000.0   36 months   16.91%
128397        NaN          NaN              NaN         NaN      NaN
128398        NaN          NaN              NaN         NaN      NaN

        installment grade sub_grade                emp_title emp_length  \
0            206.44     C        C2                  Manager  10+ years
1            778.14     B        B1      Maintenance Manager  10+ years
2           1040.26     C        C3             Firefighter   10+ years
3            269.48     B        B5               Controller    4 years
4            546.40     C        C4  Paramedic/ Fire Fighter  10+ years
...             ...   ...       ...                      ...        ...
128394       169.83     C        C1             Payoff Clerk  10+ years
128395       327.68     B        B3                      NaN        NaN
128396       356.08     C        C5     Key Accounts Manager    2 years
128397          NaN   NaN       NaN                      NaN        NaN
128398          NaN   NaN       NaN                      NaN        NaN

       home_ownership  annual_inc verification_status   issue_d  loan_status  \
0                RENT     55000.0            Verified  Dec-2018  Charged Off
1            MORTGAGE    100000.0        Not Verified  Dec-2018      Current
2                RENT     90000.0            Verified  Dec-2018   Fully Paid
3            MORTGAGE     95000.0     Source Verified  Dec-2018      Current
4                 OWN     56000.0     Source Verified  Dec-2018      Current
...               ...         ...                 ...       ...          ...
128394       MORTGAGE     35360.0        Not Verified  Oct-2018      Current
128395           RENT     44400.0     Source Verified  Oct-2018      Current
128396           RENT     80000.0        Not Verified  Oct-2018      Current
128397            NaN         NaN                 NaN       NaN          NaN
128398            NaN         NaN                 NaN       NaN          NaN

       pymnt_plan  url  desc             purpose                    title  \
0               n  NaN   NaN         credit_card  Credit card refinancing
1               n  NaN   NaN  debt_consolidation       Debt consolidation
2               n  NaN   NaN  debt_consolidation       Debt consolidation
3               n  NaN   NaN         credit_card  Credit card refinancing
4               n  NaN   NaN         credit_card  Credit card refinancing
...           ...  ...   ...                 ...                      ...
128394          n  NaN   NaN  debt_consolidation       Debt consolidation
128395          n  NaN   NaN         credit_card  Credit card refinancing
128396          n  NaN   NaN               other                    Other
128397        NaN  NaN   NaN                 NaN                      NaN
128398        NaN  NaN   NaN                 NaN                      NaN

       zip_code addr_state    dti  delinq_2yrs earliest_cr_line  \
0         104xx         NY  10.65          0.0         Jun-2006
1         606xx         IL  19.14          0.0         Oct-1996
2         681xx         NE  22.23          0.0         May-2007
3         480xx         MI   9.44          0.0         Mar-2009
4         234xx         VA  18.47          0.0         Dec-2004
...         ...        ...    ...          ...              ...
128394    381xx         TN  11.30          1.0         Jun-2006
128395    980xx         WA  11.78          0.0         Oct-2008
128396    021xx         MA  17.72          1.0         Sep-2006
128397      NaN        NaN    NaN          NaN              NaN
128398      NaN        NaN    NaN          NaN              NaN

        inq_last_6mths  mths_since_last_delinq  mths_since_last_record  \
0                  0.0                     NaN                     NaN
1                  3.0                    39.0                     NaN
2                  1.0                     NaN                     NaN
3                  2.0                    73.0                     NaN
4                  0.0                    75.0                     NaN
...                ...                     ...                     ...
128394             0.0                    21.0                     NaN
128395             2.0                    40.0                     NaN
128396             0.0                    14.0                     NaN
128397             NaN                     NaN                     NaN
128398             NaN                     NaN                     NaN

        open_acc  pub_rec  revol_bal revol_util  total_acc  \
0            6.0      0.0     4196.0      91.2%        8.0
1           14.0      0.0     8547.0      27.7%       28.0
2            8.0      0.0    25754.0        48%       23.0
3            7.0      0.0    11434.0      33.3%       20.0
4           15.0      0.0    13555.0      38.2%       22.0
...          ...      ...        ...        ...        ...
128394       9.0      0.0     2597.0      27.3%       15.0
128395      15.0      0.0     6269.0      13.1%       25.0
128396      17.0      0.0     1942.0      30.8%       31.0
128397       NaN      NaN        NaN        NaN        NaN
128398       NaN      NaN        NaN        NaN        NaN

       initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
0                        w       0.00           0.00   1106.520000
1                        w   16807.30       16807.30   9317.020000
2                        w       0.00           0.00  30883.673712
3                        w    1707.34        1707.34   6855.630000
4                        w   19230.91       19230.91   6526.670000
...                    ...        ...            ...           ...
128394                   f    3291.41        3291.41   2373.850000
128395                   f    6497.81        6335.37   4572.160000
128396                   w    6695.63        6695.63   4975.730000
128397                 NaN        NaN            NaN           NaN
128398                 NaN        NaN            NaN           NaN

        total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0               1106.52           546.14         272.38                 0.0
1               9317.02          7192.70        2124.32                 0.0
2              30883.67         30000.00         883.67                 0.0
3               6855.63          6292.66         562.97                 0.0
4               6526.67          3169.09        3357.58                 0.0
...                 ...              ...            ...                 ...
128394          2373.85          1708.59         665.26                 0.0
128395          4457.86          3502.19        1069.97                 0.0
128396          4975.73          3304.37        1671.36                 0.0
128397              NaN              NaN            NaN                 NaN
128398              NaN              NaN            NaN                 NaN

        recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
0            288.0                    51.84     Apr-2019           206.44
1              0.0                     0.00     Dec-2019           778.14
2              0.0                     0.00     Feb-2019         28382.51
3              0.0                     0.00     Dec-2019           269.48
4              0.0                     0.00     Dec-2019           546.40
...            ...                      ...          ...              ...
128394         0.0                     0.00     Dec-2019           169.83
128395         0.0                     0.00     Dec-2019           327.68
128396         0.0                     0.00     Dec-2019           356.08
128397         NaN                      NaN          NaN              NaN
128398         NaN                      NaN          NaN              NaN

       next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  ...  \
0               NaN           Nov-2019                         0.0  ...
1          Jan-2020           Nov-2019                         0.0  ...
2               NaN           Nov-2019                         0.0  ...
3          Jan-2020           Dec-2019                         0.0  ...
4          Jan-2020           Nov-2019                         0.0  ...
...             ...                ...                         ...  ...
128394     Jan-2020           Nov-2019                         0.0  ...
128395     Jan-2020           Nov-2019                         0.0  ...
128396     Jan-2020           Nov-2019                         0.0  ...
128397          NaN                NaN                         NaN  ...
128398          NaN                NaN                         NaN  ...

        num_il_tl  num_op_rev_tl num_rev_accts  num_rev_tl_bal_gt_0  num_sats  \
0             3.0            4.0           5.0                  4.0       6.0
1            15.0            7.0           9.0                  5.0      14.0
2            11.0            6.0           9.0                  6.0       8.0
3             4.0            5.0          15.0                  3.0       7.0
4             5.0           11.0          12.0                  7.0      15.0
...           ...            ...           ...                  ...       ...
128394        6.0            6.0           7.0                  3.0       9.0
128395        3.0           14.0          22.0                  4.0      15.0
128396       22.0            2.0           9.0                  1.0      17.0
128397        NaN            NaN           NaN                  NaN       NaN
128398        NaN            NaN           NaN                  NaN       NaN

       num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  \
0                   0.0           0.0                 0.0                 2.0
1                   0.0           0.0                 0.0                 5.0
2                   0.0           0.0                 0.0                 3.0
3                   0.0           0.0                 0.0                 8.0
4                   0.0           0.0                 0.0                 2.0
...                 ...           ...                 ...                 ...
128394              0.0           0.0                 0.0                 3.0
128395              0.0           0.0                 0.0                 3.0
128396              0.0           0.0                 0.0                 1.0
128397              NaN           NaN                 NaN                 NaN
128398              NaN           NaN                 NaN                 NaN

        pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  \
0                100.0             100.0                   0.0        0.0
1                 82.1              16.7                   0.0        0.0
2                100.0              50.0                   0.0        0.0
3                100.0              20.0                   0.0        0.0
4                 95.5              25.0                   0.0        0.0
...                ...               ...                   ...        ...
128394            92.9              50.0                   0.0        0.0
128395            92.0               0.0                   0.0        0.0
128396            74.2               0.0                   0.0        0.0
128397             NaN               NaN                   NaN        NaN
128398             NaN               NaN                   NaN        NaN

        tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0               15800.0            12514.0          4300.0
1              335121.0            50686.0         25900.0
2               89849.0            51370.0         41600.0
3              271550.0            25150.0         34300.0
4              253539.0            32070.0         28200.0
...                 ...                ...             ...
128394          93908.0             4976.0          3000.0
128395          57871.0            16440.0         20500.0
128396          73669.0            59194.0          4000.0
128397              NaN                NaN             NaN
128398              NaN                NaN             NaN

        total_il_high_credit_limit  revol_bal_joint  sec_app_earliest_cr_line  \
0                          11200.0              NaN                       NaN
1                          61514.0              NaN                       NaN
2                          36249.0              NaN                       NaN
3                          14000.0              NaN                       NaN
4                          23364.0              NaN                       NaN
...                            ...              ...                       ...
128394                      6028.0              NaN                       NaN
128395                     10171.0              NaN                       NaN
128396                     67369.0              NaN                       NaN
128397                         NaN              NaN                       NaN
128398                         NaN              NaN                       NaN

        sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  \
0                          NaN               NaN               NaN
1                          NaN               NaN               NaN
2                          NaN               NaN               NaN
3                          NaN               NaN               NaN
4                          NaN               NaN               NaN
...                        ...               ...               ...
128394                     NaN               NaN               NaN
128395                     NaN               NaN               NaN
128396                     NaN               NaN               NaN
128397                     NaN               NaN               NaN
128398                     NaN               NaN               NaN

        sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  \
0                      NaN                  NaN                    NaN
1                      NaN                  NaN                    NaN
2                      NaN                  NaN                    NaN
3                      NaN                  NaN                    NaN
4                      NaN                  NaN                    NaN
...                    ...                  ...                    ...
128394                 NaN                  NaN                    NaN
128395                 NaN                  NaN                    NaN
128396                 NaN                  NaN                    NaN
128397                 NaN                  NaN                    NaN
128398                 NaN                  NaN                    NaN

        sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
0                                    NaN                                 NaN
1                                    NaN                                 NaN
2                                    NaN                                 NaN
3                                    NaN                                 NaN
4                                    NaN                                 NaN
...                                  ...                                 ...
128394                               NaN                                 NaN
128395                               NaN                                 NaN
128396                               NaN                                 NaN
128397                               NaN                                 NaN
128398                               NaN                                 NaN

        sec_app_mths_since_last_major_derog  hardship_flag  hardship_type  \
0                                       NaN              N            NaN
1                                       NaN              N            NaN
2                                       NaN              N            NaN
3                                       NaN              N            NaN
4                                       NaN              N            NaN
...                                     ...            ...            ...
128394                                  NaN              N            NaN
128395                                  NaN              N            NaN
128396                                  NaN              N            NaN
128397                                  NaN            NaN            NaN
128398                                  NaN            NaN            NaN

        hardship_reason  hardship_status  deferral_term  hardship_amount  \
0                   NaN              NaN            NaN              NaN
1                   NaN              NaN            NaN              NaN
2                   NaN              NaN            NaN              NaN
3                   NaN              NaN            NaN              NaN
4                   NaN              NaN            NaN              NaN
...                 ...              ...            ...              ...
128394              NaN              NaN            NaN              NaN
128395              NaN              NaN            NaN              NaN
128396              NaN              NaN            NaN              NaN
128397              NaN              NaN            NaN              NaN
128398              NaN              NaN            NaN              NaN

        hardship_start_date  hardship_end_date  payment_plan_start_date  \
0                       NaN                NaN                      NaN
1                       NaN                NaN                      NaN
2                       NaN                NaN                      NaN
3                       NaN                NaN                      NaN
4                       NaN                NaN                      NaN
...                     ...                ...                      ...
128394                  NaN                NaN                      NaN
128395                  NaN                NaN                      NaN
128396                  NaN                NaN                      NaN
128397                  NaN                NaN                      NaN
128398                  NaN                NaN                      NaN

        hardship_length  hardship_dpd  hardship_loan_status  \
0                   NaN           NaN                   NaN

In [54]:
pd.set_option('display.max_rows', 200)
df.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
total_cu_tl                                        2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
open_il_24m                                        2
hardship_flag                                      2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
policy_code                                        2
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
pub_rec_bankruptcies                               2
pct_tl_nvr_dlq                                     2
num_tl_op_past_12m                                 2
num_tl_90g_dpd_24m                                 2
collections_12_mths_ex_med                         2
num_tl_30dpd                                       2
num_rev_tl_bal_gt_0                                2
num_rev_accts                                      2
num_op_rev_tl                                      2
num_il_tl                                          2
num_bc_tl                                          2
num_bc_sats                                        2
num_actv_rev_tl                                    2
num_actv_bc_tl                                     2
num_accts_ever_120_pd                              2
num_sats                                           2
last_pymnt_amnt                                    2
open_il_12m                                        2
debt_settlement_flag                               2
pub_rec                                            2
open_acc                                           2
grade                                              2
sub_grade                                          2
home_ownership                                     2
inq_last_6mths                                     2
annual_inc                                         2
verification_status                                2
earliest_cr_line                                   2
delinq_2yrs                                        2
issue_d                                            2
addr_state                                         2
zip_code                                           2
title                                              2
loan_status                                        2
pymnt_plan                                         2
installment                                        2
revol_bal                                          2
term                                               2
collection_recovery_fee                            2
loan_amnt                                          2
recoveries                                         2
total_rec_late_fee                                 2
funded_amnt                                        2
funded_amnt_inv                                    2
total_acc                                          2
total_rec_int                                      2
purpose                                            2
total_rec_prncp                                    2
total_pymnt_inv                                    2
total_pymnt                                        2
out_prncp_inv                                      2
out_prncp                                          2
initial_list_status                                2
int_rate                                           2
last_credit_pull_d                                 3
avg_cur_bal                                       15
all_util                                          39
revol_util                                       158
last_pymnt_d                                     161
dti                                              239
mths_since_recent_bc                            1593
bc_open_to_buy                                  1693
percent_bc_gt_75                                1694
bc_util                                         1756
num_tl_120dpd_2m                                2861
mths_since_rcnt_il                              4480
mo_sin_old_il_acct                              4480
emp_length                                     11703
mths_since_recent_inq                          16049
il_util                                        20276
emp_title                                      20944
next_pymnt_d                                   26738
mths_since_last_delinq                         72192
mths_since_recent_revol_delinq                 91622
mths_since_last_major_derog                    99225
mths_since_recent_bc_dlq                      103234
sec_app_open_acc                              111621
sec_app_mort_acc                              111621
sec_app_inq_last_6mths                        111621
sec_app_earliest_cr_line                      111621
revol_bal_joint                               111621
sec_app_open_act_il                           111621
annual_inc_joint                              111621
dti_joint                                     111621
sec_app_collections_12_mths_ex_med            111621
sec_app_chargeoff_within_12_mths              111621
sec_app_num_rev_accts                         111621
sec_app_revol_util                            111879
mths_since_last_record                        112952
verification_status_joint                     113555
sec_app_mths_since_last_major_derog           123247
debt_settlement_flag_date                     127948
settlement_date                               127948
settlement_amount                             127948
settlement_status                             127948
settlement_term                               127948
settlement_percentage                         127948
hardship_status                               128166
deferral_term                                 128166
hardship_amount                               128166
hardship_start_date                           128166
hardship_end_date                             128166
payment_plan_start_date                       128166
hardship_length                               128166
hardship_dpd                                  128166
hardship_loan_status                          128166
hardship_reason                               128166
hardship_payoff_balance_amount                128166
hardship_last_payment_amount                  128166
hardship_type                                 128166
orig_projected_additional_accrued_interest    128193
id                                            128397
url                                           128399
member_id                                     128399
desc                                          128399
dtype: int64

In [55]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128397, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,NaN,NaN,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,...,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0
1,NaN,NaN,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,...,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,...,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,...,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,...,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#Got rid of those last two rows of null values
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

In [61]:
#dropping the columns without any data in them. Note: This needs to be a seperate code block, becuase if I put anything else in it and rerun it, it tries to drop something it's already dropped
df=df.drop(['url','member_id', 'desc', 'id'], axis=1)

KeyError: ignored

In [64]:
print(df.shape)
df.head()
#four less columns than before, confirmed.

(128397, 140)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,3,4,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,...,15,7,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,11,6,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,...,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,...,5,11,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [66]:
df['int_rate'][3]

' 12.98%'

In [71]:
specific_int_rate = df['int_rate'][3]

print(float(specific_int_rate.strip().strip('%')))
type(float(specific_int_rate.strip().strip('%')))

12.98

float

In [75]:
def int_rate_to_float(cell):
  return float(cell.strip().strip('%'))

int_rate_to_float(specific_int_rate)

type(int_rate_to_float(specific_int_rate))

float

In [79]:
#creating a function to propogate these changes across the entire column

new_list = []

for cell in df['int_rate']:
  new_list.append(int_rate_to_float(cell))

new_list[0:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [80]:
#adding this back to the dataframe

df['int_rate_cleaned'] = pd.Series(new_list)

#cdf.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0            6000         6000           6000.0   36 months   14.47%
1           24000        24000          24000.0   36 months   10.33%
2           30000        30000          30000.0   36 months   15.02%
3            8000         8000           8000.0   36 months   12.98%
4           22400        22400          22400.0   60 months   16.14%
...           ...          ...              ...         ...      ...
128392      23000        23000          23000.0   36 months   15.02%
128393      10000        10000          10000.0   36 months   15.02%
128394       5000         5000           5000.0   36 months   13.56%
128395      10000        10000           9750.0   36 months   11.06%
128396      10000        10000          10000.0   36 months   16.91%

        installment grade sub_grade                emp_title emp_length  \
0            206.44     C        C2                  Manager  10+ years
1            778.14     B        B1      Maintenance Manager  10+ years
2           1040.26     C        C3             Firefighter   10+ years
3            269.48     B        B5               Controller    4 years
4            546.40     C        C4  Paramedic/ Fire Fighter  10+ years
...             ...   ...       ...                      ...        ...
128392       797.53     C        C3           Tax Consultant  10+ years
128393       346.76     C        C3           security guard    5 years
128394       169.83     C        C1             Payoff Clerk  10+ years
128395       327.68     B        B3                      NaN        NaN
128396       356.08     C        C5     Key Accounts Manager    2 years

       home_ownership  annual_inc verification_status   issue_d  loan_status  \
0                RENT     55000.0            Verified  Dec-2018  Charged Off
1            MORTGAGE    100000.0        Not Verified  Dec-2018      Current
2                RENT     90000.0            Verified  Dec-2018   Fully Paid
3            MORTGAGE     95000.0     Source Verified  Dec-2018      Current
4                 OWN     56000.0     Source Verified  Dec-2018      Current
...               ...         ...                 ...       ...          ...
128392       MORTGAGE     75000.0     Source Verified  Oct-2018  Charged Off
128393       MORTGAGE     38000.0        Not Verified  Oct-2018      Current
128394       MORTGAGE     35360.0        Not Verified  Oct-2018      Current
128395           RENT     44400.0     Source Verified  Oct-2018      Current
128396           RENT     80000.0        Not Verified  Oct-2018      Current

       pymnt_plan             purpose                    title zip_code  \
0               n         credit_card  Credit card refinancing    104xx
1               n  debt_consolidation       Debt consolidation    606xx
2               n  debt_consolidation       Debt consolidation    681xx
3               n         credit_card  Credit card refinancing    480xx
4               n         credit_card  Credit card refinancing    234xx
...           ...                 ...                      ...      ...
128392          n  debt_consolidation       Debt consolidation    352xx
128393          n  debt_consolidation       Debt consolidation    443xx
128394          n  debt_consolidation       Debt consolidation    381xx
128395          n         credit_card  Credit card refinancing    980xx
128396          n               other                    Other    021xx

       addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0              NY  10.65            0         Jun-2006               0
1              IL  19.14            0         Oct-1996               3
2              NE  22.23            0         May-2007               1
3              MI   9.44            0         Mar-2009               2
4              VA  18.47            0         Dec-2004               0
...           ...    ...          ...              ...             ...
128392         AL  20.95            1         Aug-1985               2
128393         OH  13.16            3         Jul-1982               0
128394         TN  11.30            1         Jun-2006               0
128395         WA  11.78            0         Oct-2008               2
128396         MA  17.72            1         Sep-2006               0

        mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                          NaN                     NaN         6        0
1                         39.0                     NaN        14        0
2                          NaN                     NaN         8        0
3                         73.0                     NaN         7        0
4                         75.0                     NaN        15        0
...                        ...                     ...       ...      ...
128392                    22.0                     NaN        12        0
128393                     6.0                     NaN        11        0
128394                    21.0                     NaN         9        0
128395                    40.0                     NaN        15        0
128396                    14.0                     NaN        17        0

        revol_bal revol_util  total_acc initial_list_status  out_prncp  \
0            4196      91.2%          8                   w       0.00
1            8547      27.7%         28                   w   16807.30
2           25754        48%         23                   w       0.00
3           11434      33.3%         20                   w    1707.34
4           13555      38.2%         22                   w   19230.91
...           ...        ...        ...                 ...        ...
128392      22465      43.6%         28                   w       0.00
128393       5634      37.1%         16                   w    6632.21
128394       2597      27.3%         15                   f    3291.41
128395       6269      13.1%         25                   f    6497.81
128396       1942      30.8%         31                   w    6695.63

        out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  \
0                0.00   1106.520000          1106.52           546.14
1            16807.30   9317.020000          9317.02          7192.70
2                0.00  30883.673712         30883.67         30000.00
3             1707.34   6855.630000          6855.63          6292.66
4            19230.91   6526.670000          6526.67          3169.09
...               ...           ...              ...              ...
128392           0.00   1547.080000          1547.08          1025.67
128393        6632.21   4846.300000          4846.30          3367.79
128394        3291.41   2373.850000          2373.85          1708.59
128395        6335.37   4572.160000          4457.86          3502.19
128396        6695.63   4975.730000          4975.73          3304.37

        total_rec_int  total_rec_late_fee  recoveries  \
0              272.38                 0.0       288.0
1             2124.32                 0.0         0.0
2              883.67                 0.0         0.0
3              562.97                 0.0         0.0
4             3357.58                 0.0         0.0
...               ...                 ...         ...
128392         521.41                 0.0         0.0
128393        1478.51                 0.0         0.0
128394         665.26                 0.0         0.0
128395        1069.97                 0.0         0.0
128396        1671.36                 0.0         0.0

        collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
0                         51.84     Apr-2019           206.44          NaN
1                          0.00     Dec-2019           778.14     Jan-2020
2                          0.00     Feb-2019         28382.51          NaN
3                          0.00     Dec-2019           269.48     Jan-2020
4                          0.00     Dec-2019           546.40     Jan-2020
...                         ...          ...              ...          ...
128392                     0.00     Dec-2018           797.53          NaN
128393                     0.00     Dec-2019           346.76     Jan-2020
128394                     0.00     Dec-2019           169.83     Jan-2020
128395                     0.00     Dec-2019           327.68     Jan-2020
128396                     0.00     Dec-2019           356.08     Jan-2020

       last_credit_pull_d  collections_12_mths_ex_med  \
0                Nov-2019                           0
1                Nov-2019                           0
2                Nov-2019                           0
3                Dec-2019                           0
4                Nov-2019                           0
...                   ...                         ...
128392           Nov-2018                           0
128393           Nov-2019                           0
128394           Nov-2019                           0
128395           Nov-2019                           0
128396           Nov-2019                           0

        mths_since_last_major_derog  policy_code application_type  \
0                               NaN            1       Individual
1                              57.0            1       Individual
2                               NaN            1       Individual
3                              73.0            1       Individual
4                               NaN            1       Individual
...                             ...          ...              ...
128392                          NaN            1       Individual
128393                          NaN            1       Individual
128394                          NaN            1       Individual
128395                         53.0            1       Individual
128396                         25.0            1       Individual

        annual_inc_joint  ...  num_op_rev_tl num_rev_accts  \
0                    NaN  ...              4             5
1                    NaN  ...              7             9
2                    NaN  ...              6             9
3                    NaN  ...              5            15
4                    NaN  ...             11            12
...                  ...  ...            ...           ...
128392               NaN  ...              9            19
128393               NaN  ...              8            11
128394               NaN  ...              6             7
128395               NaN  ...             14            22
128396               NaN  ...              2             9

        num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  \
0                         4         6               0.0             0
1                         5        14               0.0             0
2                         6         8               0.0             0
3                         3         7               0.0             0
4                         7        15               0.0             0
...                     ...       ...               ...           ...
128392                    5        12               0.0             0
128393                    5        11               0.0             0
128394                    3         9               0.0             0
128395                    4        15               0.0             0
128396                    1        17               0.0             0

        num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
0                        0                   2           100.0
1                        0                   5            82.1
2                        0                   3           100.0
3                        0                   8           100.0
4                        0                   2            95.5
...                    ...                 ...             ...
128392                   0                   7            96.4
128393                   0                   1            73.3
128394                   0                   3            92.9
128395                   0                   3            92.0
128396                   0                   1            74.2

        percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
0                  100.0                     0          0            15800
1                   16.7                     0          0           335121
2                   50.0                     0          0            89849
3                   20.0                     0          0           271550
4                   25.0                     0          0           253539
...                  ...                   ...        ...              ...
128392              14.3                     0          0           296500
128393              40.0                     0          0            91403
128394              50.0                     0          0            93908
128395               0.0                     0          0            57871
128396               0.0                     0          0            73669

        total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit  \
0                   12514            4300                       11200
1                   50686           25900                       61514
2                   51370           41600                       36249
3                   25150           34300                       14000
4                   32070           28200                       23364
...                   ...             ...                         ...
128392              40614           47100                       21000
128393               9323            9100                        2000
128394               4976            3000                        6028
128395              16440           20500                       10171
128396              59194            4000                       67369

        revol_bal_joint  sec_app_earliest_cr_line  sec_app_inq_last_6mths  \
0                   NaN                       NaN                     NaN
1                   NaN                       NaN                     NaN
2                   NaN                       NaN                     NaN
3                   NaN                       NaN                     NaN
4                   NaN                       NaN                     NaN
...                 ...                       ...                     ...
128392              NaN                       NaN                     NaN
128393              NaN                       NaN                     NaN
128394              NaN                       NaN                     NaN
128395              NaN                       NaN                     NaN
128396              NaN                       NaN                     NaN

        sec_app_mort_acc  sec_app_open_acc  sec_app_revol_util  \
0                    NaN               NaN                 NaN
1                    NaN               NaN                 NaN
2                    NaN               NaN                 NaN
3                    NaN               NaN                 NaN
4                    NaN               NaN                 NaN
...                  ...               ...                 ...
128392               NaN               NaN                 NaN
128393               NaN               NaN                 NaN
128394               NaN               NaN                 NaN
128395               NaN               NaN                 NaN
128396               NaN               NaN                 NaN

        sec_app_open_act_il  sec_app_num_rev_accts  \
0                       NaN                    NaN
1                       NaN                    NaN
2                       NaN                    NaN
3                       NaN                    NaN
4                       NaN                    NaN
...                     ...                    ...
128392                  NaN                    NaN
128393                  NaN                    NaN
128394                  NaN                    NaN
128395                  NaN                    NaN
128396                  NaN                    NaN

        sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  \
0                                    NaN                                 NaN
1                                    NaN                                 NaN
2                                    NaN                                 NaN
3                                    NaN                                 NaN
4                                    NaN                                 NaN
...                                  ...                                 ...
128392                               NaN                                 NaN
128393                               NaN                                 NaN
128394                               NaN                                 NaN
128395                               NaN                                 NaN
128396                               NaN                                 NaN

        sec_app_mths_since_last_major_derog  hardship_flag  hardship_type  \
0                                       NaN              N            NaN
1                                       NaN              N            NaN
2                                       NaN              N            NaN
3                                       NaN              N            NaN
4                                       NaN              N            NaN
...                                     ...            ...            ...
128392                                  NaN              N            NaN
128393                                  NaN              N            NaN
128394                                  NaN              N            NaN
128395                                  NaN              N            NaN
128396                                  NaN              N            NaN

        hardship_reason  hardship_status  deferral_term  hardship_amount  \
0                   NaN              NaN            NaN              NaN
1                   NaN              NaN            NaN              NaN
2                   NaN              NaN            NaN              NaN
3                   NaN              NaN            NaN              NaN
4                   NaN              NaN            NaN              NaN
...                 ...              ...            ...              ...
128392              NaN              NaN            NaN              NaN
128393              NaN              NaN            NaN              NaN
128394              NaN              NaN            NaN              NaN
128395              NaN              NaN            NaN              NaN
128396              NaN              NaN            NaN              NaN

        hardship_start_date  hardship_end_date  payment_plan_start_date  \
0                       NaN                NaN                      NaN
1                       NaN                NaN                      NaN
2                       NaN                NaN                      NaN
3                       NaN                NaN                      NaN
4                       NaN                NaN                      NaN
...                     ...                ...                      ...
128392                  NaN                NaN                      NaN
128393                  NaN                NaN                      NaN
128394                  NaN                NaN                      NaN
128395                  NaN                NaN                      NaN
128396                  NaN                NaN                      NaN

        hardship_length  hardship_dpd  hardship_loan_status  \

In [82]:
#Checking the data type in the last five columns
df.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
dtype: object

In [83]:
df['int_rate_cleaned_from_apply']=df['int_rate'].apply(int_rate_to_float)

df.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  \
0            6000         6000           6000.0   36 months   14.47%
1           24000        24000          24000.0   36 months   10.33%
2           30000        30000          30000.0   36 months   15.02%
3            8000         8000           8000.0   36 months   12.98%
4           22400        22400          22400.0   60 months   16.14%
...           ...          ...              ...         ...      ...
128392      23000        23000          23000.0   36 months   15.02%
128393      10000        10000          10000.0   36 months   15.02%
128394       5000         5000           5000.0   36 months   13.56%
128395      10000        10000           9750.0   36 months   11.06%
128396      10000        10000          10000.0   36 months   16.91%

        installment grade sub_grade                emp_title emp_length  \
0            206.44     C        C2                  Manager  10+ years
1            778.14     B        B1      Maintenance Manager  10+ years
2           1040.26     C        C3             Firefighter   10+ years
3            269.48     B        B5               Controller    4 years
4            546.40     C        C4  Paramedic/ Fire Fighter  10+ years
...             ...   ...       ...                      ...        ...
128392       797.53     C        C3           Tax Consultant  10+ years
128393       346.76     C        C3           security guard    5 years
128394       169.83     C        C1             Payoff Clerk  10+ years
128395       327.68     B        B3                      NaN        NaN
128396       356.08     C        C5     Key Accounts Manager    2 years

       home_ownership  annual_inc verification_status   issue_d  loan_status  \
0                RENT     55000.0            Verified  Dec-2018  Charged Off
1            MORTGAGE    100000.0        Not Verified  Dec-2018      Current
2                RENT     90000.0            Verified  Dec-2018   Fully Paid
3            MORTGAGE     95000.0     Source Verified  Dec-2018      Current
4                 OWN     56000.0     Source Verified  Dec-2018      Current
...               ...         ...                 ...       ...          ...
128392       MORTGAGE     75000.0     Source Verified  Oct-2018  Charged Off
128393       MORTGAGE     38000.0        Not Verified  Oct-2018      Current
128394       MORTGAGE     35360.0        Not Verified  Oct-2018      Current
128395           RENT     44400.0     Source Verified  Oct-2018      Current
128396           RENT     80000.0        Not Verified  Oct-2018      Current

       pymnt_plan             purpose                    title zip_code  \
0               n         credit_card  Credit card refinancing    104xx
1               n  debt_consolidation       Debt consolidation    606xx
2               n  debt_consolidation       Debt consolidation    681xx
3               n         credit_card  Credit card refinancing    480xx
4               n         credit_card  Credit card refinancing    234xx
...           ...                 ...                      ...      ...
128392          n  debt_consolidation       Debt consolidation    352xx
128393          n  debt_consolidation       Debt consolidation    443xx
128394          n  debt_consolidation       Debt consolidation    381xx
128395          n         credit_card  Credit card refinancing    980xx
128396          n               other                    Other    021xx

       addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
0              NY  10.65            0         Jun-2006               0
1              IL  19.14            0         Oct-1996               3
2              NE  22.23            0         May-2007               1
3              MI   9.44            0         Mar-2009               2
4              VA  18.47            0         Dec-2004               0
...           ...    ...          ...              ...             ...
128392         AL  20.95            1         Aug-1985               2
128393         OH  13.16            3         Jul-1982               0
128394         TN  11.30            1         Jun-2006               0
128395         WA  11.78            0         Oct-2008               2
128396         MA  17.72            1         Sep-2006               0

        mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
0                          NaN                     NaN         6        0
1                         39.0                     NaN        14        0
2                          NaN                     NaN         8        0
3                         73.0                     NaN         7        0
4                         75.0                     NaN        15        0
...                        ...                     ...       ...      ...
128392                    22.0                     NaN        12        0
128393                     6.0                     NaN        11        0
128394                    21.0                     NaN         9        0
128395                    40.0                     NaN        15        0
128396                    14.0                     NaN        17        0

        revol_bal revol_util  total_acc initial_list_status  out_prncp  \
0            4196      91.2%          8                   w       0.00
1            8547      27.7%         28                   w   16807.30
2           25754        48%         23                   w       0.00
3           11434      33.3%         20                   w    1707.34
4           13555      38.2%         22                   w   19230.91
...           ...        ...        ...                 ...        ...
128392      22465      43.6%         28                   w       0.00
128393       5634      37.1%         16                   w    6632.21
128394       2597      27.3%         15                   f    3291.41
128395       6269      13.1%         25                   f    6497.81
128396       1942      30.8%         31                   w    6695.63

        out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  \
0                0.00   1106.520000          1106.52           546.14
1            16807.30   9317.020000          9317.02          7192.70
2                0.00  30883.673712         30883.67         30000.00
3             1707.34   6855.630000          6855.63          6292.66
4            19230.91   6526.670000          6526.67          3169.09
...               ...           ...              ...              ...
128392           0.00   1547.080000          1547.08          1025.67
128393        6632.21   4846.300000          4846.30          3367.79
128394        3291.41   2373.850000          2373.85          1708.59
128395        6335.37   4572.160000          4457.86          3502.19
128396        6695.63   4975.730000          4975.73          3304.37

        total_rec_int  total_rec_late_fee  recoveries  \
0              272.38                 0.0       288.0
1             2124.32                 0.0         0.0
2              883.67                 0.0         0.0
3              562.97                 0.0         0.0
4             3357.58                 0.0         0.0
...               ...                 ...         ...
128392         521.41                 0.0         0.0
128393        1478.51                 0.0         0.0
128394         665.26                 0.0         0.0
128395        1069.97                 0.0         0.0
128396        1671.36                 0.0         0.0

        collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
0                         51.84     Apr-2019           206.44          NaN
1                          0.00     Dec-2019           778.14     Jan-2020
2                          0.00     Feb-2019         28382.51          NaN
3                          0.00     Dec-2019           269.48     Jan-2020
4                          0.00     Dec-2019           546.40     Jan-2020
...                         ...          ...              ...          ...
128392                     0.00     Dec-2018           797.53          NaN
128393                     0.00     Dec-2019           346.76     Jan-2020
128394                     0.00     Dec-2019           169.83     Jan-2020
128395                     0.00     Dec-2019           327.68     Jan-2020
128396                     0.00     Dec-2019           356.08     Jan-2020

       last_credit_pull_d  collections_12_mths_ex_med  \
0                Nov-2019                           0
1                Nov-2019                           0
2                Nov-2019                           0
3                Dec-2019                           0
4                Nov-2019                           0
...                   ...                         ...
128392           Nov-2018                           0
128393           Nov-2019                           0
128394           Nov-2019                           0
128395           Nov-2019                           0
128396           Nov-2019                           0

        mths_since_last_major_derog  policy_code application_type  \
0                               NaN            1       Individual
1                              57.0            1       Individual
2                               NaN            1       Individual
3                              73.0            1       Individual
4                               NaN            1       Individual
...                             ...          ...              ...
128392                          NaN            1       Individual
128393                          NaN            1       Individual
128394                          NaN            1       Individual
128395                         53.0            1       Individual
128396                         25.0            1       Individual

        annual_inc_joint  ...  num_rev_accts num_rev_tl_bal_gt_0  num_sats  \
0                    NaN  ...              5                   4         6
1                    NaN  ...              9                   5        14
2                    NaN  ...              9                   6         8
3                    NaN  ...             15                   3         7
4                    NaN  ...             12                   7        15
...                  ...  ...            ...                 ...       ...
128392               NaN  ...             19                   5        12
128393               NaN  ...             11                   5        11
128394               NaN  ...              7                   3         9
128395               NaN  ...             22                   4        15
128396               NaN  ...              9                   1        17

        num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
0                    0.0             0                   0
1                    0.0             0                   0
2                    0.0             0                   0
3                    0.0             0                   0
4                    0.0             0                   0
...                  ...           ...                 ...
128392               0.0             0                   0
128393               0.0             0                   0
128394               0.0             0                   0
128395               0.0             0                   0
128396               0.0             0                   0

        num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
0                        2           100.0             100.0
1                        5            82.1              16.7
2                        3           100.0              50.0
3                        8           100.0              20.0
4                        2            95.5              25.0
...                    ...             ...               ...
128392                   7            96.4              14.3
128393                   1            73.3              40.0
128394                   3            92.9              50.0
128395                   3            92.0               0.0
128396                   1            74.2               0.0

        pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
0                          0          0            15800              12514
1                          0          0           335121              50686
2                          0          0            89849              51370
3                          0          0           271550              25150
4                          0          0           253539              32070
...                      ...        ...              ...                ...
128392                     0          0           296500              40614
128393                     0          0            91403               9323
128394                     0          0            93908               4976
128395                     0          0            57871              16440
128396                     0          0            73669              59194

        total_bc_limit  total_il_high_credit_limit  revol_bal_joint  \
0                 4300                       11200              NaN
1                25900                       61514              NaN
2                41600                       36249              NaN
3                34300                       14000              NaN
4                28200                       23364              NaN
...                ...                         ...              ...
128392           47100                       21000              NaN
128393            9100                        2000              NaN
128394            3000                        6028              NaN
128395           20500                       10171              NaN
128396            4000                       67369              NaN

        sec_app_earliest_cr_line  sec_app_inq_last_6mths  sec_app_mort_acc  \
0                            NaN                     NaN               NaN
1                            NaN                     NaN               NaN
2                            NaN                     NaN               NaN
3                            NaN                     NaN               NaN
4                            NaN                     NaN               NaN
...                          ...                     ...               ...
128392                       NaN                     NaN               NaN
128393                       NaN                     NaN               NaN
128394                       NaN                     NaN               NaN
128395                       NaN                     NaN               NaN
128396                       NaN                     NaN               NaN

        sec_app_open_acc  sec_app_revol_util  sec_app_open_act_il  \
0                    NaN                 NaN                  NaN
1                    NaN                 NaN                  NaN
2                    NaN                 NaN                  NaN
3                    NaN                 NaN                  NaN
4                    NaN                 NaN                  NaN
...                  ...                 ...                  ...
128392               NaN                 NaN                  NaN
128393               NaN                 NaN                  NaN
128394               NaN                 NaN                  NaN
128395               NaN                 NaN                  NaN
128396               NaN                 NaN                  NaN

        sec_app_num_rev_accts  sec_app_chargeoff_within_12_mths  \
0                         NaN                               NaN
1                         NaN                               NaN
2                         NaN                               NaN
3                         NaN                               NaN
4                         NaN                               NaN
...                       ...                               ...
128392                    NaN                               NaN
128393                    NaN                               NaN
128394                    NaN                               NaN
128395                    NaN                               NaN
128396                    NaN                               NaN

        sec_app_collections_12_mths_ex_med  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
128392                                 NaN
128393                                 NaN
128394                                 NaN
128395                                 NaN
128396                                 NaN

        sec_app_mths_since_last_major_derog  hardship_flag  hardship_type  \
0                                       NaN              N            NaN
1                                       NaN              N            NaN
2                                       NaN              N            NaN
3                                       NaN              N            NaN
4                                       NaN              N            NaN
...                                     ...            ...            ...
128392                                  NaN              N            NaN
128393                                  NaN              N            NaN
128394                                  NaN              N            NaN
128395                                  NaN              N            NaN
128396                                  NaN              N            NaN

        hardship_reason  hardship_status  deferral_term  hardship_amount  \
0                   NaN              NaN            NaN              NaN
1                   NaN              NaN            NaN              NaN
2                   NaN              NaN            NaN              NaN
3                   NaN              NaN            NaN              NaN
4                   NaN              NaN            NaN              NaN
...                 ...              ...            ...              ...
128392              NaN              NaN            NaN              NaN
128393              NaN              NaN            NaN              NaN
128394              NaN              NaN            NaN              NaN
128395              NaN              NaN            NaN              NaN
128396              NaN              NaN            NaN              NaN

        hardship_start_date  hardship_end_date  payment_plan_start_date  \
0                       NaN                NaN                      NaN
1                       NaN                NaN                      NaN
2                       NaN                NaN                      NaN
3                       NaN                NaN                      NaN
4                       NaN                NaN                      NaN
...                     ...                ...                      ...
128392                  NaN                NaN                      NaN
128393                  NaN                NaN                      NaN
128394                  NaN                NaN                      NaN
128395                  NaN                NaN                      NaN
128396                  NaN                NaN                      NaN

        hardship_length  hardship_dpd  hardship_loan_status  \
0                   NaN           NaN                   NaN
1                   NaN           NaN                   NaN
2                   NaN           NaN                   NaN

In [84]:
#Exploring the most frequent twenty job titles

df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [85]:
#unique titles
df['emp_title'].value_counts()

Teacher                         2090
Manager                         1773
Registered Nurse                 951
Driver                           924
RN                               726
                                ...
master trainer                     1
Power Production                   1
Devops Engineer                    1
Human Services Administrator       1
archaeologist                      1
Name: emp_title, Length: 43889, dtype: int64

In [86]:
len(df['emp_title'].value_counts())

43889

In [90]:
len(df['emp_title'].unique())

43890

In [91]:
#How often is "emp_title" null?
df['emp_title'].isnull().sum()

20942

In [92]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

#write a cleaning and uniformity function
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [93]:
#make a list that does the same thing as above using one line of code
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [94]:
#apply this function to the whole column
df['emp_title']=df['emp_title'].apply(clean_title)

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned,int_rate_cleaned_from_apply
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,Dec-2018,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,5,4,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,14.47
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,...,9,5,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,10.33
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,9,6,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,15.02
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,...,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,12.98
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,...,12,7,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,16.14

In [95]:
#look at top 20 job titles
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [96]:
#Different unique titles now that we cleaned up the column
len(df['emp_title'].value_counts())

34899

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
5     36 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

' 36 months'

In [98]:
#How many NaN titles are there now?
df['emp_title'].isnull().sum()

0

In [99]:
#printing out the columns relating to dates

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [100]:
#Grabbing some sample pieces of Issue Date to see how the data are formatted
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [101]:
#changing "issue_d" to a datetime object
df['issue_d']=pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [102]:
#Checking out what a datetime object looks like
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [103]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [104]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128392    2018
128393    2018
128394    2018
128395    2018
128396    2018
Name: issue_d, Length: 128397, dtype: int64

In [105]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128392    10
128393    10
128394    10
128395    10
128396    10
Name: issue_d, Length: 128397, dtype: int64

In [108]:
#adding new columns to the dataframe to easily extract month and year from the datetime object

df['issue_year']=df['issue_d'].dt.year
df['issue_month']=df['issue_d'].dt.month

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned,int_rate_cleaned_from_apply,issue_year,issue_month
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,Jun-2006,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,6,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,14.47,2018,12
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,Oct-1996,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,...,14,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,10.33,2018,12
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,May-2007,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,8,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,15.02,2018,12
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,Mar-2009,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,...,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,12.98,2018,12
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,Dec-2004,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,...,15,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,16.14,2018,12

In [110]:
#looking at the datatypes of the two new columns we just added

df.dtypes[-2:]

issue_year     int64
issue_month    int64
dtype: object

In [111]:
df['earliest_cr_line'].head()

0    Jun-2006
1    Oct-1996
2    May-2007
3    Mar-2009
4    Dec-2004
Name: earliest_cr_line, dtype: object

In [113]:
df['earliest_cr_line']=pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

df['issue_d'] - df['earliest_cr_line']

0         4566 days
1         8096 days
2         4232 days
3         3562 days
4         5113 days
            ...
128392   12114 days
128393   13241 days
128394    4505 days
128395    3652 days
128396    4413 days
Length: 128397, dtype: timedelta64[ns]

In [115]:
#Creating a new column, days of credit

df['days_from_earliest_creit_to_issue']=(df['issue_d']-df['earliest_cr_line']).dt.days

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned,int_rate_cleaned_from_apply,issue_year,issue_month,days_from_earliest_creit_to_issue
0,6000,6000,6000.0,36 months,14.47%,206.44,C,C2,Manager,10+ years,RENT,55000.0,Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,104xx,NY,10.65,0,2006-06-01,0,NaN,NaN,6,0,4196,91.2%,8,w,0.00,0.00,1106.520000,1106.52,546.14,272.38,0.0,288.0,51.84,Apr-2019,206.44,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,0.0,0,0,2,100.0,100.0,0,0,15800,12514,4300,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Oct-2019,ACTIVE,Oct-2019,3479.0,60.01,24.0,14.47,14.47,2018,12,4566
1,24000,24000,24000.0,36 months,10.33%,778.14,B,B1,Maintenance Manager,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,606xx,IL,19.14,0,1996-10-01,3,39.0,NaN,14,0,8547,27.7%,28,w,16807.30,16807.30,9317.020000,9317.02,7192.70,2124.32,0.0,0.0,0.00,Dec-2019,778.14,Jan-2020,Nov-2019,0,57.0,1,Individual,NaN,...,0.0,0,0,5,82.1,16.7,0,0,335121,50686,25900,61514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,10.33,2018,12,8096
2,30000,30000,30000.0,36 months,15.02%,1040.26,C,C3,Firefighter,10+ years,RENT,90000.0,Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,681xx,NE,22.23,0,2007-05-01,1,NaN,NaN,8,0,25754,48%,23,w,0.00,0.00,30883.673712,30883.67,30000.00,883.67,0.0,0.0,0.00,Feb-2019,28382.51,NaN,Nov-2019,0,NaN,1,Individual,NaN,...,0.0,0,0,3,100.0,50.0,0,0,89849,51370,41600,36249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,15.02,15.02,2018,12,4232
3,8000,8000,8000.0,36 months,12.98%,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,2009-03-01,2,73.0,NaN,7,0,11434,33.3%,20,w,1707.34,1707.34,6855.630000,6855.63,6292.66,562.97,0.0,0.0,0.00,Dec-2019,269.48,Jan-2020,Dec-2019,0,73.0,1,Individual,NaN,...,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,12.98,2018,12,3562
4,22400,22400,22400.0,60 months,16.14%,546.40,C,C4,Paramedic/ Fire Fighter,10+ years,OWN,56000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,234xx,VA,18.47,0,2004-12-01,0,75.0,NaN,15,0,13555,38.2%,22,w,19230.91,19230.91,6526.670000,6526.67,3169.09,3357.58,0.0,0.0,0.00,Dec-2019,546.40,Jan-2020,Nov-2019,0,NaN,1,Individual,NaN,...,0.0,0,0,2,95.5,25.0,0,0,253539,32070,28200,23364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,16.14,2018,12,5113

In [137]:
##Convert the 'term' column from string to integer.

#taking a look at the term column
print(df['term'].head(10))

#taking a look at a specific entry to see what needs to be stripped to convert the string to an integer
print(df['term'][0])

#figuring out my line of code on a test subject
test_term = df['term'][0]
print(test_term)
test_term.strip('months').strip()
int(test_term.strip('months').strip())
type(int(test_term.strip('months').strip()))

#writing a function to apply this to all the data in the column

def string_to_integer(cellcontents):
  return int(cellcontents.strip('months').strip())

df['int_term']=df['term'].apply(string_to_integer)

df['int_term'].head(10)

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
5     36 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object
 36 months
 36 months

0    36
1    36
2    36
3    36
4    60
5    36
6    60
7    36
8    36
9    60
Name: int_term, dtype: int64

In [135]:
#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.



#checking out the column
df['loan_status'].head(10)

def loan_status_helper(cell):
  if cell == "Current" or cell == "Fully Paid":
    return 1
  else: 
    return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_status_helper)


df['loan_status_is_great'].head(10)


#did I accidentally change the 'loan_status' column as I was doing this?

df['loan_status'].head(100)

0            Charged Off
1                Current
2             Fully Paid
3                Current
4                Current
5                Current
6                Current
7                Current
8                Current
9                Current
10               Current
11               Current
12               Current
13            Fully Paid
14               Current
15            Fully Paid
16               Current
17               Current
18               Current
19    Late (31-120 days)
20               Current
21               Current
22           Charged Off
23            Fully Paid
24               Current
25            Fully Paid
26               Current
27            Fully Paid
28               Current
29               Current
30               Current
31            Fully Paid
32            Fully Paid
33            Fully Paid
34               Current
35            Fully Paid
36               Current
37            Fully Paid
38               Current
39               Current
40            Fully Paid
41            Fully Paid
42            Fully Paid
43               Current
44            Fully Paid
45       In Grace Period
46            Fully Paid
47           Charged Off
48               Current
49               Current
50               Current
51               Current
52               Current
53               Current
54               Current
55            Fully Paid
56    Late (31-120 days)
57               Current
58               Current
59               Current
60               Current
61               Current
62               Current
63    Late (31-120 days)
64               Current
65            Fully Paid
66            Fully Paid
67               Current
68               Current
69               Current
70               Current
71               Current
72               Current
73            Fully Paid
74               Current
75               Current
76               Current
77               Current
78               Current
79               Current
80            Fully Paid
81               Current
82               Current
83               Current
84               Current
85               Current
86               Current
87            Fully Paid
88            Fully Paid
89            Fully Paid
90               Current
91            Fully Paid
92               Current
93               Current
94               Current
95               Current
96            Fully Paid
97            Fully Paid
98               Current
99               Current
Name: loan_status, dtype: object

In [144]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.

#

#


df['last_pymnt_d']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

#successfully converted to datetime object
df.dtypes[:200]


df['last_pymnt_d_year']= df['last_pymnt_d'].dt.year
df['last_pymnt_d_year'].head(10)

df['last_pymnt_d_month']=df['last_pymnt_d'].dt.month
df['last_pymnt_d_month'].head(10)
#dunno why they're floats. weird.

0     4.0
1    12.0
2     2.0
3    12.0
4    12.0
5    12.0
6    12.0
7    12.0
8    12.0
9    12.0
Name: last_pymnt_d_month, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01