<a href="https://colab.research.google.com/github/danielscurlock/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as p

In [0]:
d = p.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [3]:
d.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [4]:
d.tail()

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[5 rows x 81 columns]

In [0]:
# So we can display more information
p.set_option('display.max_rows', None)
p.set_option('display.max_columns', None)

In [6]:
# Look at the data types, I want to view them catagorically.
from prettytable import PrettyTable

ints = []
floats = []
strings = []

for col in d.columns:
  if str(d[col].dtype) == 'int64' :
    ints.append(str(col))
  elif str(d[col].dtype) == 'float64':
    floats.append(str(col))
  elif str(d[col].dtype) == 'object':
    strings.append(str(col))

t = PrettyTable(['Int64', 'Float64', 'Object(string)'])

t.add_row([str(len(ints)), str(len(floats)), str(len(strings))])
print('Data Type Counts')
print('****************')
print(t)

print('')

print('Integer Columns')
print('****************')
for i in ints:
  print(i)

print('')

print('Float Columns')
print('****************')
for f in floats:
  print(f)

print('')

print('Object (String) Columns')
print('****************')
for f in floats:
  print(f)

Data Type Counts
****************
+-------+---------+----------------+
| Int64 | Float64 | Object(string) |
+-------+---------+----------------+
|   35  |    3    |       43       |
+-------+---------+----------------+

Integer Columns
****************
Id
MSSubClass
LotArea
OverallQual
OverallCond
YearBuilt
YearRemodAdd
BsmtFinSF1
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
TotRmsAbvGrd
Fireplaces
GarageCars
GarageArea
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
MiscVal
MoSold
YrSold
SalePrice

Float Columns
****************
LotFrontage
MasVnrArea
GarageYrBlt

Object (String) Columns
****************
LotFrontage
MasVnrArea
GarageYrBlt

In [7]:
d['LotFrontage'].head()

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64

In [8]:
# Seeing NaN VALUES IN COLUMN, WHICH ARE OF THE FLOAT DATA TYPE. This is the reason
# This colum was cast as float by pandas.
# Can look at types using type(), in this case type(np.NaN)

d['LotFrontage'].value_counts(dropna=False).head(10)

NaN     259
60.0    143
70.0     70
80.0     69
50.0     57
75.0     53
65.0     44
85.0     40
78.0     25
21.0     23
Name: LotFrontage, dtype: int64

In [0]:
# How many NaN's do we have? The point is not to do anythingt o correct these
# NaN's at this point a I am assuming, so will move on.
d.isnull().sum()

In [27]:
print('Checking for %')
for col in d.columns:
    if str(d[col]).find('%'):
      print('Column '+ str(col) + 'of file ' + str(thefile) + 'Contains a %')

Checking for %
Column Idof file 4Contains a %
Column MSSubClassof file 4Contains a %
Column MSZoningof file 4Contains a %
Column LotFrontageof file 4Contains a %
Column LotAreaof file 4Contains a %
Column Streetof file 4Contains a %
Column Alleyof file 4Contains a %
Column LotShapeof file 4Contains a %
Column LandContourof file 4Contains a %
Column Utilitiesof file 4Contains a %
Column LotConfigof file 4Contains a %
Column LandSlopeof file 4Contains a %
Column Neighborhoodof file 4Contains a %
Column Condition1of file 4Contains a %
Column Condition2of file 4Contains a %
Column BldgTypeof file 4Contains a %
Column HouseStyleof file 4Contains a %
Column OverallQualof file 4Contains a %
Column OverallCondof file 4Contains a %
Column YearBuiltof file 4Contains a %
Column YearRemodAddof file 4Contains a %
Column RoofStyleof file 4Contains a %
Column RoofMatlof file 4Contains a %
Column Exterior1stof file 4Contains a %
Column Exterior2ndof file 4Contains a %
Column MasVnrTypeof file 4Contains a %
Column MasVnrAreaof file 4Contains a %
Column ExterQualof file 4Contains a %
Column ExterCondof file 4Contains a %
Column Foundationof file 4Contains a %
Column BsmtQualof file 4Contains a %
Column BsmtCondof file 4Contains a %
Column BsmtExposureof file 4Contains a %
Column BsmtFinType1of file 4Contains a %
Column BsmtFinSF1of file 4Contains a %
Column BsmtFinType2of file 4Contains a %
Column BsmtFinSF2of file 4Contains a %
Column BsmtUnfSFof file 4Contains a %
Column TotalBsmtSFof file 4Contains a %
Column Heatingof file 4Contains a %
Column HeatingQCof file 4Contains a %
Column CentralAirof file 4Contains a %
Column Electricalof file 4Contains a %
Column 1stFlrSFof file 4Contains a %
Column 2ndFlrSFof file 4Contains a %
Column LowQualFinSFof file 4Contains a %
Column GrLivAreaof file 4Contains a %
Column BsmtFullBathof file 4Contains a %
Column BsmtHalfBathof file 4Contains a %
Column FullBathof file 4Contains a %
Column HalfBathof file 4Contains a %
Column BedroomAbvGrof file 4Contains a %
Column KitchenAbvGrof file 4Contains a %
Column KitchenQualof file 4Contains a %
Column TotRmsAbvGrdof file 4Contains a %
Column Functionalof file 4Contains a %
Column Fireplacesof file 4Contains a %
Column FireplaceQuof file 4Contains a %
Column GarageTypeof file 4Contains a %
Column GarageYrBltof file 4Contains a %
Column GarageFinishof file 4Contains a %
Column GarageCarsof file 4Contains a %
Column GarageAreaof file 4Contains a %
Column GarageQualof file 4Contains a %
Column GarageCondof file 4Contains a %
Column PavedDriveof file 4Contains a %
Column WoodDeckSFof file 4Contains a %
Column OpenPorchSFof file 4Contains a %
Column EnclosedPorchof file 4Contains a %
Column 3SsnPorchof file 4Contains a %
Column ScreenPorchof file 4Contains a %
Column PoolAreaof file 4Contains a %
Column PoolQCof file 4Contains a %
Column Fenceof file 4Contains a %
Column MiscFeatureof file 4Contains a %
Column MiscValof file 4Contains a %
Column MoSoldof file 4Contains a %
Column YrSoldof file 4Contains a %
Column SaleTypeof file 4Contains a %
Column SaleConditionof file 4Contains a %
Column SalePriceof file 4Contains a %

In [10]:
import numpy as np

# Creating a smaller datafram from columns that have no NaN values
itcybitcydataframe = d[['GarageArea', 
                        'CentralAir', 
                        'Heating', 
                        'SalePrice', 
                        'TotalBsmtSF', 
                        '1stFlrSF',
                        '2ndFlrSF']]
                        
itcybitcydataframe.head(10)

   GarageArea CentralAir Heating  SalePrice  TotalBsmtSF  1stFlrSF  2ndFlrSF
0         548          Y    GasA     208500          856       856       854
1         460          Y    GasA     181500         1262      1262         0
2         608          Y    GasA     223500          920       920       866
3         642          Y    GasA     140000          756       961       756
4         836          Y    GasA     250000         1145      1145      1053
5         480          Y    GasA     143000          796       796       566
6         636          Y    GasA     307000         1686      1694         0
7         484          Y    GasA     200000         1107      1107       983
8         468          Y    GasA     129900          952      1022       752
9         205          Y    GasA     118000          991      1077         0

In [11]:
# i WANT TO BE ABLE TO CALCULATE THE TOTAL SQUARE FOOTAGE OF THE HOME
# This is useless, pANDAS DOES THIS CALULATION

def calc_sqrft(alist: list, total_price):
  total = 0
  for number in alist:
    total += number

  return total_price / total
###########################

# Create the total square footage column
itcybitcydataframe['TotalSquareFootage'] = itcybitcydataframe['TotalBsmtSF'] + itcybitcydataframe['1stFlrSF'] + itcybitcydataframe['2ndFlrSF']


# Create the colume for the price per square ft
itcybitcydataframe['PricePerSquareFoot'] = itcybitcydataframe['SalePrice'] / itcybitcydataframe['TotalSquareFootage']
  

itcybitcydataframe.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,GarageArea,CentralAir,Heating,SalePrice,TotalBsmtSF,1stFlrSF,2ndFlrSF,TotalSquareFootage,PricePerSquareFoot
0,548,Y,GasA,208500,856,856,854,2566,81.254871
1,460,Y,GasA,181500,1262,1262,0,2524,71.909667
2,608,Y,GasA,223500,920,920,866,2706,82.594235
3,642,Y,GasA,140000,756,961,756,2473,56.611403
4,836,Y,GasA,250000,1145,1145,1053,3343,74.783129
5,480,Y,GasA,143000,796,796,566,2158,66.265060
6,636,Y,GasA,307000,1686,1694,0,3380,90.828402
7,484,Y,GasA,200000,1107,1107,983,3197,62.558649
8,468,Y,GasA,129900,952,1022,752,2726,47.652238
9,205,Y,GasA,118000,991,1077,0,2068,57.059961

In [12]:
# Look at the summary
itcybitcydataframe.describe()

,GarageArea,SalePrice,TotalBsmtSF,1stFlrSF,2ndFlrSF,TotalSquareFootage,PricePerSquareFoot
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,472.980137,180921.195890,1057.429452,1162.626712,346.992466,2567.048630,69.944000
std,213.804841,79442.502883,438.705324,386.587738,436.528436,821.714421,15.397065
min,0.000000,34900.000000,0.000000,334.000000,0.000000,334.000000,13.614704
25%,334.500000,129975.000000,795.750000,882.000000,0.000000,2009.500000,60.461553
50%,480.000000,163000.000000,991.500000,1087.000000,0.000000,2474.000000,69.679436
75%,576.000000,214000.000000,1298.250000,1391.250000,728.000000,3004.000000,78.949872
max,1418.000000,755000.000000,6110.000000,4692.000000,2065.000000,11752.000000,138.125440

In [0]:
# The min seems odd to me, and while i will not investigate, it is most likely an error. 
# I can see that the more expencive the home is, the higher the price per square foot.

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [13]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-14 23:54:29--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.130.189
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.130.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  16.8MB/s    in 13s

2020-01-14 23:54:42 (15.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [14]:
!ls

instacart_online_grocery_shopping_2017_05_01.tar.gz  sample_data

In [15]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [16]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
# See a few datasets here, going to load a few to find some errors to correct

In [18]:
df_products = p.read_csv('products.csv')
print(df_products.shape)
df_products.head()

(49688, 4)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [19]:
df_products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [20]:
df_products.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [0]:
# No NaN's here

In [23]:
df_orders = p.read_csv('orders.csv')
print(df_orders.shape)
df_orders.head()

(3421083, 7)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [24]:
df_orders.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [0]:
# Changed my mind, I am just going to load them all, looking for junk.

import glob
files = glob.glob('*.csv')

# Lets loop through them all, and load them into a dataframe

for thefile in range(len(files)):
  df_files = p.read_csv(files[thefile])
  # Cannot do to much in here because of limits, just looking at each for
  # NaNs and %. This is ok if we know what we are looking for, and in this
  # case we do 

  print(str(files[thefile]).upper())
  print('************************************')
  print('')
  print('-Checking for NaN')
  print('')
  print(df_files.isnull().sum()) 
  print('')
  print('- Data Types')
  print('')
  print(df_files.dtypes.sort_values())
  print('')

# Looking for '%' in each, and reporting
  print('- Checking for %')
  print('')
  for col in df_files.columns:
    if str(df_files[col]).find('%'):
      print('Column '+ str(col) + 'of file ' + str(thefile) + 'Contains a %')
  print('')

In [0]:
# There is actually nothing in any of them. Just figured out I can sort values by data type
# So pretty pissed i WROTE THAT PEICE OF CODE UP THERE LOL. Found a lot of %, so I am going
# To just select one dataset, and deal with them there. There seems to be some limits on Collab
# and my session keeps crashing, so the previous code block may present you some trouble
# I will use products.
# EDIT - Switched to high-ram, and this SEEMS to have helped. 

# Funtion to strip % from columns that are floats. It looks as if I did the whole thing
# Wrong, as none of this is part of the assignment for instacart. I am 1 hour away from
# the deadline, so I will try to throw SOMETHING that is actually asked of me here: