<a href="https://colab.research.google.com/github/jmmiddour/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Ways_to_Read_Data_into_Colab_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Five ways to read your data into a colab notebook

In [0]:
print('hello world')

hello world

hello world

[Keyboard shortcuts for colab](https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b)

In [0]:
# Import libraries you need to use for the code you are running.
import pandas as pd
import numpy as np

#### Method 1. Read data directly from a URL.

In [0]:
# This is the simplest way to read in data.
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'
bikes = pd.read_csv(url)

# If you were to just run the above code it would not return anything because
#   you did not tell it to print anything.
# Need to tell it what to do with the data it is reading in.
bikes.head()

   OBJECTID     LENGTH                       NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476       National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404     Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687           Rock Creek Trail  ...  7743.364240   0.0      NaN
3         4   6201.712  Metropolitan Branch Trail  ...  1890.285630   0.0      NaN
4         5  12625.091         Watts Branch Trail  ...  3848.135455   0.0      NaN

[5 rows x 8 columns]

In [0]:
# Tells about the numeric elements of the data frame
bikes.describe()

        OBJECTID        LENGTH  Shape_Length      MILES
count  90.000000     90.000000     90.000000  90.000000
mean   45.500000   5092.016700   1373.339267   0.252267
std    26.124701   7571.370808   2117.107049   0.750409
min     1.000000      0.000000      0.212543   0.000000
25%    23.250000    359.804000    307.372020   0.000000
50%    45.500000   2347.624500    722.545236   0.000000
75%    67.750000   5928.409750   1438.144017   0.000000
max    90.000000  47585.083000  14503.962560   3.140678

In [0]:
# Sometimes you have to supply the column heads.
# Define the column headers ahead of time. 
# You can get this information from the source.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
# Apply a variable to the url.
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# Now need to read in the dataframe. 
# Need to add header=None and names=column_headers to get it to apply the 
#   new column names defined above.
flags = pd.read_csv(flag_data_url, header=None, names=column_headers)

# Tell it to print the header and first 5 rows
flags.head()

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [0]:
# Let's try another example. 
# source: https://opendata.dc.gov/datasets/museums-in-dc/data
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'

# Apply variable to the datafarme we are reading in.
museums = pd.read_csv(url)

# Gives you a random sampling fromt the dataframe.
museums.sample(3)

    OBJECTID  ...   MARID
50        51  ...  218994
16        17  ...  308551
1          2  ...  301103

[3 rows x 10 columns]

### Method 2. Read a file that is already in colab.

In [0]:
# So colab comes with some built in files.
# Click on the file folder on the left. Then the top file folder with the
#   up arrow on it. Next click on the content folder. This is where you 
#   will find the sample data folder that is already installed in Colab.
# Have to put the folder it is in then / file name.
# Can use the tab button on computer to have it autofill for you.
cali = pd.read_csv('sample_data/california_housing_test.csv')
cali.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [0]:
# You can also read a json file. Notice the difference in pandas method.
# If you try to read it in as a csv it will not be formatted correctly.
# It will format it as a dictionary.
anscombe = pd.read_csv('sample_data/anscombe.json')
anscombe.head()

                                       [
  {"Series":"I"  "X":10.0  "Y":8.04} NaN
                 "X":8.0   "Y":6.95} NaN
                 "X":13.0  "Y":7.58} NaN
                 "X":9.0   "Y":8.81} NaN
                 "X":11.0  "Y":8.33} NaN

In [0]:
# You can also read a json file. Notice the difference in pandas method.
# Need to run it as a json to get it to format correctly.
anscombe = pd.read_json('sample_data/anscombe.json')

anscombe.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
# You can upload using the GUI on the left.
# Click on the file folder, then you click on upload and it will ask you 
#   where you want to upload from. It will give you a message that the 
#   file will be deleted when the runtime is reset. Meaning that your code
#   will save but the csv file will be deleted.
# This is an example from Austin's computer, therefore it will not run
#   the code if I do not upload it to my Colab as well from my computer.
# Once it is uploaded, you can place your mouse over the file and you will
#   see 3 dots to the right of the folder, click there and can copy path.
# If it is in the content folder, you just have to imput the file name.
snails = pd.read_csv('abalone.csv')
snails.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [0]:
# You can also use this method and it outputs a dialog box for you to upload
#   your file. It will then upload it to Colab the same.
# You can then open the file just like above in a new cell
from google.colab import files
uploaded = files.upload()

Saving abalone.csv to abalone.csv

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [0]:
# Useful for reading raw data from github.
# Have to make sure that you click on the "raw" button on github to get the 
#   url for the raw dataset.
# Source: https://github.com/austinlasseter/dash-virginia-counties/blob/master/resources/acs2017_county_data.csv
url='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'

# Giving a variable name to the dataset.
virginia = pd.read_csv(url)

# To see the last 5 in the dataset
virginia.tail()

# To see a random sample from the dataset.
virginia.sample(4)

      CountyId      State  ... FamilyWork  Unemployment
287       8085   Colorado  ...        0.3           8.0
1543     29121   Missouri  ...        0.3           7.4
1382     27137  Minnesota  ...        0.1           5.1
1120     22015  Louisiana  ...        0.1           5.8

[4 rows x 37 columns]

### Method 5. Read a zip file.

In [0]:
# The "bang" symbol is the !
# Use the 'bang' for bash shell scripting.
# This tells Colab to switch out of Python and into bash in the terminal.

# This to to print the working director which shows you what folder you are in.
! pwd 

# This lists the contents of the directory you are in.
! ls

/content
abalone.csv  sample_data

In [0]:
# The 'wget' command reads content from the web.
# https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-07 00:35:11--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.89.161.10, 34.211.18.146, 54.68.72.83
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.89.161.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: LoanStats_2018Q4.csv.zip

LoanStats_2018Q4.cs     [               <=>  ]  22.05M  2.05MB/s    in 11s

2020-05-07 00:35:23 (1.96 MB/s) - LoanStats_2018Q4.csv.zip saved [23121687]

In [0]:
# How do you unzip a .zip file in bash?
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# Now you can read that csv file into pandas.
loans = pd.read_csv('LoanStats_2018Q4.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
# You can also save back to csv, but remember to skip the index.
# You skip the index by making index=False. This will prevent the numbers on the
#   left of the rows.
cali.to_csv('cali_2.csv', index=False)

In [0]:
# Read back in
cali2 = pd.read_csv('cali_2.csv')
cali2.head()

# You can also download a file to save for future reference by moving your
#   mouse over the file and click on the 3 dots to the right of the file name,
#   then click download.

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]