#Learning Objectives

# Exploratory Data Analysis

- Objective 01 - submit assignments and save work via GitHub
- Objective 02 - load a CSV dataset from a URL using `pandas.read_csv`
- Objective 03 - load a CSV dataset from a local file using `pandas.read_csv
- Objective 04 - use basic Pandas functions for Exploratory Data Analysis-EDA
- Objective 05 - describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

#Explore the University of California - Irvine Adult Dataset

###1) Load a dataset via its URL.

Load the Adult dataset from: 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

Specify the column headers as:'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income']

In [1]:
#Code here
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

###2) Print the first 5 and the last 5 rows.

In [2]:
#Code here
df.head()

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

In [3]:
#Code here
df.tail()

       39      State-gov   77516    Bachelors  ...   0  40   United-States   <=50K
32555  27        Private  257302   Assoc-acdm  ...   0  38   United-States   <=50K
32556  40        Private  154374      HS-grad  ...   0  40   United-States    >50K
32557  58        Private  151910      HS-grad  ...   0  40   United-States   <=50K
32558  22        Private  201490      HS-grad  ...   0  20   United-States   <=50K
32559  52   Self-emp-inc  287927      HS-grad  ...   0  40   United-States    >50K

[5 rows x 15 columns]

###3) Determine the data type of each varaible.

In [ ]:
#Code here

###4) Determine the dimensions of the dataset.

In [ ]:
#Code here

###5) Are there any missing values in the dataset?
Check for missing values using .isnull().sum().

In [ ]:
#Code here

###6) Use the .describe() function in order to see the summary statistics of the numeric columns.

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame tomorrow.

In [ ]:
#Code here

Answer question here.

###7) Use the .describe(exclude='number') function to calculate summary statistics for the non-numeric columns

In [ ]:
#Code here

###8) Calculate the number of observations in each category of the relationship variable.

In [ ]:
#Code here

###9) Select and print the occupation category.

In [ ]:
#Code here

#Load a dataset saved on your personal computer

Go to the website http://users.stat.ufl.edu/~winner/datasets.html and scroll down to **NASCAR Race Results by Driver 1975-2003**

Download and save the .csv file to your personal computer.

###10) Upload the dataset using the following commands.

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
#Code here

###11) Print the first 10 rows of the dataset

In [ ]:
#Code here

###12) Answer the following questions for the variables prize, carMake and driver:


*   Is the variable categorical or quantitative?
*   If the variable is categorical, determine if it is ordinal, nominal or an identifier variable.
*   If the vriable is quantitative, determine if it is continuous or discrite.

#Answer here.

#Data Storytelling Project Milestone

Begin looking at Data Storytelling (previously called Build Week) [project info](https://github.com/LambdaSchool/DS-Unit-1-Build) and at projects created by previous Lambda students.

[Projects — Lambda DS1!](https://drive.google.com/file/d/1RJoAqDgawzSHOJPlDQRRlfz-EnIsskpL/view)