Lambda School Data Science

*Unit 1, Sprint 1, Module 1*

---

# Exploratory Data Analysis

- Objective 01 - working with Canvas
- Objective 02 - load a CSV dataset from a URL using `pandas.read_csv`
- Objective 03 - load a CSV dataset from a local file using `pandas.read_csv
- Objective 04 - use basic Pandas functions for Exploratory Data Analysis-EDA
- Objective 05 - describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

In [ ]:
4+2

# [Objective 01](#save-to-github) - Working with Canvas

## Overview

We will use Canvas, GitHub and Colab to work on and submit projects.

GitHub is a website where you can save code or other files either for personal use or for sharing with others. The website is used primarily for storing "open-source" project files so that users can work together on large code bases without overwriting each other's work. You will be using GitHub to collaborate on large projects, both with other students and in your career. 

Canvas is a learning management system you that provides extra information you can use to help prepare for Guided Projects and as a resource when you are working on your individual sproject each afternoon.  

**You will use gain access to and submit your module projects and sprint challenges in Canvas.**

## Follow Along

###1) Open Canvas and navigate to the course for the sprint we are currently in.

In this case, it's Data Wrangling and Storytelling DS1.1 DSXX where XX is your cohort number.

The course will automatically open to the Overview page were you can take a look at all of the concepts we'll be covering throughout the Sprint.  Click on the links to see what will be covered in each module.

When you click on Modules on the left hand side, you'll see content for each module divided into three sections:
* Warmup is an intro to what will be covered during the Guided Project
* Engage is where you'll see the module project, the check for understanding, and pulse check.

*   Review is where you will find links to the previous class recordings.

###2) Click on Module Project

Scroll down to the Module 1 Project.

This will take you to GitHub where you will access both the Guided Project and Student Project (also called assignment) for this Module.

### 3) Fork the repository for module

"Repository" is fancy work that just means: folder where we are going to store some files on GitHub. You'll hear people say "repo" for short.

"Forking" a repository is GitHub lingo for "Make a copy." If you click the fork button on the top right corner of the webpage, GitHub will make a copy of the folder of files that we will be using for that sprint to your personal GitHub account. You will be doing your work and saving your changes to the copied version on your account.

You can tell when you have successfully forked a repository because you should briefly see an animation appear that looks like a book is being photocopied with a fork stuck in it and then you will be redirected to your copy of the repository.

You can always tell when you're looking at the forked version on your personal github account by looking at the name of the repository and looking at the username that is just to the left of it in the filepath:

![Forked Repository Username Screenshot](https://raw.githubusercontent.com/ryanleeallred/images/master/fork-repository-screenshot.png)

### 4) Open one of the files and make a change to it. 

The files that we will be working with primarily during the course have the file extension: .ipynb for "IPython Notebook" any of these are notebooks that we can open in Google Colab.

To open one of these notebook files in Google Colab go to:

<https://colab.research.google.com/github/> 

If you haven't done so already, give Google permission to access your GitHub account from your Google Account.

Once you have all of the permissions sorted out, select the repository that you're most interested in from the dropdown menu. Once you select a repository Google Colab will look through it to find all of the .ipynb files and will list them below:

![Open .ipynb file from GitHub in Google Colab](https://raw.githubusercontent.com/ryanleeallred/images/master/google-colab-github.png)

###5) Install the following Google Chrome extension that you can use to easily open any .ipynb file from GitHub directly in Google Colab: 

[Google Chrome Extension to Open .ipynb files easily in Google Colab](https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo?hl=en)

### 6) Save your changes back to your forked repository on Github.

Once you have finished making all of the changes that you want to the notebook, you can save your work back to GitHub by selecting `File` >> `Save a copy in GitHub` from the dropdown menu. 

When you select this a new tab will open in your browser to show you the saved file on GitHub to let you know that the save has been completed successfully.

###7) Download a copy of the .ipynb file 

`File` >> `Download .ipynb` from the dropdown menu.

###8) Sumbit the file to Canvas

Upload your .ipynb file to Canvas.

### Optional 9) Submit a "Pull Request" of your work.

This is the "old way" submissions were completed in Unit 1.  Although we submit through Canvas now, creating a pull request is a thing to know about.

Opening a pull request is what ties your work back to the original Lambda School repository.

In order to open a pull request, navigate to your repository on GitHub and select the "Pull Requests" tab at the top of the page.

To open a new pull request you will need to click the green "New Pull Request" button and give your pull request a title. Please include your name and Cohort number i.e. DS8, DS9, or DS10, etc. at the beginning of the pull request. Once you have filled out the title, just click the remaining large green buttons until the pull request has been submitted.

### In Summary

1) Open the current module project in Canvas.

2) Open the Repository in Google Colab and make changes to the files (work on your assignment).

3) Submit your completed .ipynb file to Canvas.

4) Complete the check for understanding and pulse check.

# [Objective 02](#load-csv-from-url) - Load a dataset (CSV) via its URL

## Overview

In order to practice loading datasets into Google Colab, we're going to use the [Flags Dataset](https://archive.ics.uci.edu/ml/datasets/Flags) from UCI to show both loading the dataset via its URL and from a local file.

Steps for loading a dataset:

1) Learn as much as you can about the dataset:
 - Number of rows
 - Number of columns
 - Column headers (Is there a "data dictionary"?)
 - Is there missing data?
 - **OPEN THE RAW FILE AND LOOK AT IT. IT MAY NOT BE FORMATTED IN THE WAY THAT YOU EXPECT.**

2) Try loading the dataset using `pandas.read_csv()` and if things aren't acting the way that you expect, investigate until you can get it loading correctly.

3) Keep in mind that functions like `pandas.read_csv()` have a lot of optional parameters that might help us change the way that data is read in. If you get stuck, google, read the documentation, and try things out.

4) You might need to type out column headers by hand if they are not provided in a neat format in the original dataset. It can be a drag.

## Follow Along

### Learn about the dataset and look at the raw file.

In [1]:
# Find the actual file to download
# From navigating the page, clicking "Data Folder"
# Right click on the link to the dataset and say "Copy Link Address"

import pandas as pd

flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
#!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

### Attempt to load it via its URL

In [2]:
# Load the flags dataset from its URL:

file = '../data/flag.csv'

flag_df = pd.read_csv(file)

# Load the flags dataset from its URL:

print(flag_df.shape)
flag_df.head()

(193, 30)

,Afghanistan,5,1,648,16,10,2,0,3,5.1,...,0.5,0.6,1.6,0.7,0.8,1.7,0.9,0.10,black,green.1
0,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
1,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
2,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
3,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
4,Angola,4,2,1247,7,10,5,0,2,3,...,0,0,1,0,0,1,0,0,red,black

### If things go wrong, investigate and try to figure out why.

In [ ]:
# Different ways to look at the documentation:

### Try Again

In [3]:
# Keep on trying things until you get it. 
# If you really mess things up you can always just restart your runtime

column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']

You'll get very good at reading documentation, Googling, asking for help, troubleshooting, debugging, etc. by the time you're done here at Lambda School. Our goal is to turn you into a data scientist that can solve their own problems.

# [Objective 03](#load-csv-from-file) - Load a dataset (CSV) from a local file

## Overview

We won't always have CSVs hosted on the interwebs for us. We need to be able to upload files from our local machines as well. With Google Colab this is trickier than it is with other software (like Jupyter Notebooks for example. Because the main file system backing Google Colab is Google Drive, we can't use a filepath to the file on our computers in order to access our data. We have to upload our files to Google Colab before we can start working with them.

Go to the website http://users.stat.ufl.edu/~winner/datasets.html and scroll down to **Disney World Marathon Times and Miles/Hour - 1-12-2020**

You'll see a link to a .CSV file.  

Download it to your personal computer then use the following upload command to naviate to and upload the .csv file.

In [ ]:
from google.colab import files
uploaded = files.upload()

In [4]:
#Read in the dataset

df_disney = pd.read_csv('../data/disneymarathon2020.csv')

print(df_disney.shape)
df_disney.head()

(14106, 7)

  gender  age  place    group  netTime     minutes        mph
0      M   30      1  M30-34   2:22:19  142.316667  11.053695
1      M   26      2  M25-29   2:27:02  147.033333  10.699105
2      M   32      3  M30-34   2:27:28  147.466667  10.667665
3      M   35      4  M35-39   2:39:20  159.350000   9.872137
4      M   26      5  M25-29   2:44:09  164.166667   9.582487

# [Objective 04](#basic-pandas-functions) - Use basic Pandas functions for Exploratory Data Analysis (EDA)

## Overview

> Exploratory Data Analysis (EDA) refers to the critical process of performing initial investigations on data so as to discover patterns, to spot anomalies, to test hypotheses and to check assumptions with the help of summary statistics and graphical representations

Exploratory Data Analysis is often the first thing that we'll do when starting out with a new dataset. How we treat our data, the models we choose, the approach we take to analyzing our data and in large part the entirety of our data science methodology and next steps are driven by the discoveries that we make during this stage of the process.

What can we discover about this dataset?

In [5]:
#Determine the dimensions of the dataset

df_disney.shape

(14106, 7)

In [6]:
#Learn more about the variables in the dataset

df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14106 entries, 0 to 14105
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gender   14106 non-null  object
 1   age      14106 non-null  int64
 2   place    14106 non-null  int64
 3   group    14106 non-null  object
 4   netTime  14106 non-null  object
 5   minutes  14106 non-null  float64
 6   mph      14106 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 771.5+ KB

In [7]:
# Summary Statistics - we'll talk more about what these mean later
# numeric columns by default (integers)

df_disney.describe()

                age         place       minutes           mph
count  14106.000000  14106.000000  14106.000000  14106.000000
mean      39.946902   7053.500000    363.727572      4.478961
std       10.826456   4072.195784     61.609263      0.932945
min       18.000000      1.000000    142.316667      3.532995
25%       32.000000   3527.250000    320.333333      3.774330
50%       39.000000   7053.500000    378.533333      4.155843
75%       47.000000  10579.750000    416.795833      4.910900
max       84.000000  14106.000000    445.266667     11.053695

In [8]:
#Determine the data types

df_disney.select_dtypes('object')

      gender    group  netTime
0          M  M30-34   2:22:19
1          M  M25-29   2:27:02
2          M  M30-34   2:27:28
3          M  M35-39   2:39:20
4          M  M25-29   2:44:09
...      ...      ...      ...
14101      F  F35-39   7:18:23
14102      F  F50-54   7:19:36
14103      M  M35-39   7:22:04
14104      M  M50-54   7:23:36
14105      M  M45-49   7:24:24

[14106 rows x 3 columns]

In [9]:
# non-numeric columns
df_disney.describe(include='object')

       gender    group  netTime
count   14106    14106    14106
unique      2       26     7693
top         F  F35-39   6:54:19
freq     7529     1374        8

In [10]:
print(df_disney['group'].nunique())
df_disney['group'].unique()

26

array(['M30-34 ', 'M25-29 ', 'M35-39 ', 'M18-24 ', 'M40-44 ', 'F35-39 ',
       'M50-54 ', 'F18-24 ', 'M45-49 ', 'F40-44 ', 'F30-34 ', 'F25-29 ',
       'M55-59 ', 'F50-54 ', 'F45-49 ', 'M60-64 ', 'F60-64 ', 'F55-59 ',
       'M65-69 ', 'M70-74 ', 'F65-69 ', 'F70-74 ', 'M75-79 ', 'M80-99 ',
       'F75-79 ', 'F80-99 '], dtype=object)

In [11]:
# accesss a specific column of the dataframe

df_disney['group']

0        M30-34
1        M25-29
2        M30-34
3        M35-39
4        M25-29
          ...
14101    F35-39
14102    F50-54
14103    M35-39
14104    M50-54
14105    M45-49
Name: group, Length: 14106, dtype: object

In [12]:
#sort by values

df_disney['group'].sort_values()

4120     F18-24
5254     F18-24
699      F18-24
4184     F18-24
12208    F18-24
          ...
8168     M75-79
11465    M75-79
8974     M75-79
13238    M75-79
11446    M80-99
Name: group, Length: 14106, dtype: object

In [13]:
#How many individuals are in each group?

df_disney['group'].value_counts()

F35-39     1374
F30-34     1221
F25-29     1165
F40-44     1132
M40-44     1110
M35-39     1106
M30-34      973
F45-49      923
M45-49      855
M50-54      722
M25-29      623
F50-54      577
F18-24      536
M55-59      424
F55-59      366
M18-24      308
M60-64      289
F60-64      164
M65-69      113
F65-69       56
M70-74       43
F70-74       13
M75-79       10
F80-99        1
F75-79        1
M80-99        1
Name: group, dtype: int64

In [14]:
# check for missing values
# the number of missing values in each column

df_disney.isna().sum()

gender     0
age        0
place      0
group      0
netTime    0
minutes    0
mph        0
dtype: int64

In [15]:
df_disney.head()

  gender  age  place    group  netTime     minutes        mph
0      M   30      1  M30-34   2:22:19  142.316667  11.053695
1      M   26      2  M25-29   2:27:02  147.033333  10.699105
2      M   32      3  M30-34   2:27:28  147.466667  10.667665
3      M   35      4  M35-39   2:39:20  159.350000   9.872137
4      M   26      5  M25-29   2:44:09  164.166667   9.582487

In [16]:
# drop rows from the dataset inplace

df_disney_small = df_disney.drop([0, 1, 2])
df_disney_small.head()

  gender  age  place    group  netTime     minutes       mph
3      M   35      4  M35-39   2:39:20  159.350000  9.872137
4      M   26      5  M25-29   2:44:09  164.166667  9.582487
5      M   21      6  M18-24   2:45:35  169.766667  9.266395
6      M   42      7  M40-44   2:45:51  165.866667  9.484275
7      M   28      8  M25-29   2:48:12  168.400000  9.341597

In [17]:
#This has the same effect as
#Drop row 2 since we've already dropped row 1

In [18]:
# axis=1 to look through column headers and not row index
#Drop ID variable

#inplace

In [ ]:
# another way

# [Objective 05](#pandas-visualizations) Describe and discriminate between basic data types

## Overview

One of the cornerstones of Exploratory Data Analysis (EDA) is being able to identify variable types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier.  We will need different statistical methods to display and describe each of these different types of data.

## Data types

First, data can most easily be classified as ________________.

- ________________ data places each observation into one and only one category: hair color, eye color, favorite flavor of ice cream, letter grade in a class, zip code

- ________________ data measures something: height, weight, income, number of children

Categorical data can further be classified as ________________.
- ________________ data has no natural ordering: hair color, eye color
- ________________ data has a natural ordering: letter grades - A, B, C, D, F
- ________________ variables identify each record uniquely and are not analyzed

Quantitative data can further be classified as ________________.
- ________________ data can be counted in a finite amount of time: Number of individuals riding on a bus
- ________________ data can be measured ever more precisely: My age is 38.134283948577 years old.

#### Let's import the Titanic.csv dataset and identify the different variable types:

In [ ]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/Chelsea-Myers/Lambda-Intro/master/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

[Titanic Data Dictionary](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/Titanic)



- Which variable is the identifier variable?
- Which variables are categorical?  Are they ordinal or nominal?
- Which variables are quantiative?  Are they quantitative or discrete?

#Data Storytelling Portfolio Project

The Data Storytelling Portfolio Project (previously the Build Week Project) gives you a chance to create your very own statistical analysis and visualizations to share with your peers and potential employers.

Over the course of Unit 1, you'll develop a research question and answer that question using visualizations and statistical hypothesis tests and models.

For more information about what is expected in the Portfolio Project see here: https://github.com/LambdaSchool/DS-Unit-1-Build

Most days you'll have a Data Storytelling Project Milestone included in your assignment.

# Review

Whew, that was a lot. Again, if this content seems overwhelming, remember that this won't be the last time that we'll talk about the skills contained in this lesson. They're right at the beginning of the course because we'll use these skills nearly every day, so you'll get really good at these things in no time!

You know when you're learning a new board game and somebody tries to explain the rules to you and it doesn't make very much sense? My friends always end up saying something like: "It sounds more complicated then it really is, lets just play a round and you'll get it." 

That's the same message that I have for you. There's a lot of new things here at Lambda School in the first week:

- New Course
- New Schedule
- New Community
- New Tools
- New Processes
- New Content

As we go through a cycle of one sprint, it will all start making a whole lot more sense.