# Practice Loading and Exploring Datasets

This assignment is purposely open-ended. You will be asked to load datasets from the [UC-Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the `!curl` shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

## 1) Load a dataset from UCI (via its URL)

Please navigate to the home page and choose a dataset (other than the Adult dataset) from the "Most Popular" section on the right-hand side of the home page. Load the dataset via its URL and check the following (show your work):

- Are the headers showing up properly?
- Look at the first 5 and the last 5 rows, do they seem to be in order?
- Does the dataset have the correct number of rows and columns as described in the UCI page? 
 - Remember, that UCI does not count the y variable (column of values that we might want to predict via a machine learning model) as an "attribute" but rather as a "class attribute" so you may end up seeing a number of columns that is one greater than the number listed on the UCI website.
- Does UCI list this dataset as having missing values? Check for missing values and see if your analysis corroborates what UCI reports?
- if `NaN` values or other missing value indicators are not being detected by `df.isnull().sum()` find a way to replace whatever is indicating the missing values with `np.NaN`.
- Use the .describe() function in order to see the summary statistics of both the numeric and non-numeric columns.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
heart_disease_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"

#!curl https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data

In [0]:
import pandas as pd

In [77]:
# Loading the Heart Disease Dataset from it's URL:
heart_disease_data = pd.read_csv(heart_disease_url)
heart_disease_data.shape
# The site says it shoud be (303, 14) not sure where the one went missing

(302, 14)

In [0]:
#Are the headers showing up properly? No I am adding them in below
#
# age: age in years 
# sex: sex (1 = male; 0 = female)
# cp: chest pain type Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic
# trestbps: resting blood pressure (in mm Hg on admission to the hospital) 
# chol: serum cholestoral in mg/dl 
# fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false) 
# restecg: resting electrocardiographic results Value 0: normal, Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), 
# Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria 
# thalach: maximum heart rate achieved 
# exang: exercise induced angina (1 = yes; 0 = no) 
# oldpeak = ST depression induced by exercise relative to rest 
# slope: the slope of the peak exercise ST segment Value 1: upsloping, Value 2: flat, Value 3: downsloping 
# ca: number of major vessels (0-3) colored by flourosopy 
# thal: 3 = normal; 6 = fixed defect; 7 = reversable defect 
# num: diagnosis of heart disease (angiographic disease status) Value 0: < 50% diameter narrowing, Value 1: > 50% diameter narrowing 
column_headers = ['age','sex','cp','tresbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']

In [0]:
heart_disease_data = pd.read_csv(heart_disease_url, header=None, names=column_headers)

In [80]:
heart_disease_data.shape
#Hey the missing one showed up! It was the header!
#Does the dataset have the correct number of rows and columns as described in the UCI page? 
#Yes (This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them.)

(303, 14)

In [81]:
heart_disease_data.head(5)

    age  sex   cp  tresbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal num
0  63.0  1.0  1.0    145.0  233.0  1.0  ...    0.0      2.3    3.0  0.0   6.0   0
1  67.0  1.0  4.0    160.0  286.0  0.0  ...    1.0      1.5    2.0  3.0   3.0   2
2  67.0  1.0  4.0    120.0  229.0  0.0  ...    1.0      2.6    2.0  2.0   7.0   1
3  37.0  1.0  3.0    130.0  250.0  0.0  ...    0.0      3.5    3.0  0.0   3.0   0
4  41.0  0.0  2.0    130.0  204.0  0.0  ...    0.0      1.4    1.0  0.0   3.0   0

[5 rows x 14 columns]

In [82]:
heart_disease_data.tail(5)
#Look at the first 5 and the last 5 rows, do they seem to be in order? Yes everything looks good!

      age  sex   cp  tresbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal num
298  45.0  1.0  1.0    110.0  264.0  0.0  ...    0.0      1.2    2.0  0.0   7.0   1
299  68.0  1.0  4.0    144.0  193.0  1.0  ...    0.0      3.4    2.0  2.0   7.0   2
300  57.0  1.0  4.0    130.0  131.0  0.0  ...    1.0      1.2    2.0  1.0   7.0   3
301  57.0  0.0  2.0    130.0  236.0  0.0  ...    0.0      0.0    2.0  1.0   3.0   1
302  38.0  1.0  3.0    138.0  175.0  0.0  ...    0.0      0.0    1.0    ?   3.0   0

[5 rows x 14 columns]

In [83]:
heart_disease_data.isnull().sum()
# I think is correct becuase
# "One file has been "processed", that one containing the Cleveland database. All four unprocessed files also exist in this directory."
# I think they already processed out the missing data.

age        0
sex        0
cp         0
tresbps    0
chol       0
fbs        0
restecg    0
thalach    0
exang      0
oldpeak    0
slope      0
ca         0
thal       0
num        0
dtype: int64

In [84]:
heart_disease_data.describe()

              age         sex          cp  ...     oldpeak       slope         num
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.438944    0.679868    3.158416  ...    1.039604    1.600660    0.937294
std      9.038662    0.467299    0.960126  ...    1.161075    0.616226    1.228536
min     29.000000    0.000000    1.000000  ...    0.000000    1.000000    0.000000
25%     48.000000    0.000000    3.000000  ...    0.000000    1.000000    0.000000
50%     56.000000    1.000000    3.000000  ...    0.800000    2.000000    0.000000
75%     61.000000    1.000000    4.000000  ...    1.600000    2.000000    2.000000
max     77.000000    1.000000    4.000000  ...    6.200000    3.000000    4.000000

[8 rows x 12 columns]

## 2) Load a dataset from your local machine.
Choose a second dataset from the "Popular Datasets" listing on UCI, but this time download it to your local machine instead of reading it in via the URL. Upload the file to Google Colab using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

- Answer all of the same bullet point questions from part 1 again on this new dataset.

In [85]:
from google.colab import files
uploaded = files.upload()

MessageError: ignored

In [97]:
#heart_disease_data2 = pd.read_csv('cleveland.data', header=None, names=column_headers)

UnicodeDecodeError: ignored

## 3) Make Crosstabs of the Categorical Variables

Take whichever of the above datasets has more categorical variables and use crosstabs to tabulate the different instances of the categorical variables.

In [0]:
# Your Code Here

## 4) Explore the distributions of the variables of the dataset using:
- Histograms
- Scatterplots
- Density Plots

In [0]:
# Your Code Here

## 5) Create at least one visualization from a crosstab:

Remember that a crosstab is just a dataframe and can be manipulated in the same way by row index, column, index, or column/row/cell position.

In [0]:
# Your Code Here

## Stretch Goals 

The following additional study tasks are optional, they are intended to give you an opportunity to stretch yourself beyond the main requirements of the assignment. You can pick and choose from the below, you do not need to complete them in any particular order.

### - Practice Exploring other Datasets

### -  Try using the Seaborn plotting library's "Pairplot" functionality in order to explore all of the possible histograms and scatterplots of your dataset all at once:

[Seaborn Pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

### - Turn some of the continuous variables into categorical variables by binning the values using:
- [pd.cut()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)
- [pd.qcut()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html)
- <https://stackoverflow.com/questions/30211923/what-is-the-difference-between-pandas-qcut-and-pandas-cut>

And then use crosstabs to compare/visualize these binned variables against the other variables.


### - Other types and sources of data
Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.