<a href="https://colab.research.google.com/github/adxpillar/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3/Adewale_Adeagbo_DS13_DS_123_Introduction_to_Bayesian_Inference_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 123

## Introduction to Bayesian Inference

## Assignment - Code it up!

We used pure math to apply Bayes Theorem to drug tests. Now write Python code to reproduce the results! This is purposefully open ended - you'll have to think about how you should represent probabilities and events. You can and should look things up.

Specific goals/targets:

### 1) Write a function 

`def prob_drunk_given_positive(prob_drunk_prior, false_positive_rate):` 

You should only truly need these two values in order to apply Bayes Theorem. In this example, imagine that individuals are taking a breathalyzer test with an 8% false positive rate, a 100% true positive rate, and that our prior belief about drunk driving in the population is 1/1000. 
 - What is the probability that a person is drunk after one positive breathalyzer test?
 - What is the probability that a person is drunk after two positive breathalyzer tests?
 - How many positive breathalyzer tests are needed in order to have a probability that's greater than 95% that a person is drunk beyond the legal limit?

### 2) Explore `scipy.stats.bayes_mvs`  
Read its documentation, and experiment with it on data you've tested in other ways earlier this week.
 - Create a visualization comparing the results of a Bayesian approach to a traditional/frequentist approach. (with a large sample size they should look close to identical, however, take this opportunity to practice visualizing condfidence intervals in general. The following are some potential ways that you could visualize confidence intervals on your graph:
  - [Matplotlib Error Bars](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.errorbar.html)
  - [Seaborn barplot with error bars](https://seaborn.pydata.org/generated/seaborn.barplot.html)
  - [Vertical ines to show bounds of confidence interval](https://www.simplypsychology.org/confidence-interval.jpg)
  - [Confidence Intervals on Box Plots](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.axes.Axes.boxplot.html)

### 3) In your own words, summarize the difference between Bayesian and Frequentist statistics

If you're unsure where to start, check out [this blog post of Bayes theorem with Python](https://dataconomy.com/2015/02/introduction-to-bayes-theorem-with-python/).

In [0]:
#1


def prob_drunk_given_positive(prob_drunk_prior,false_positive_rate,true_positive_rate):
  posterior_list = []
  prob_non_drunk = 1 - prob_drunk_prior
  numerator = true_positive_rate * prob_drunk_prior
  denominator = ((true_positive_rate*prob_drunk_prior) + (false_positive_rate*prob_non_drunk))
  posterior = numerator/denominator
  return posterior

In [9]:
posterior = prob_drunk_given_positive(0.001,0.08,1.0)
posterior

0.012357884330202669

In [0]:
prob_drunk_given_positive(0.012357884330202669,0.08,1.0)

0.13525210993291495

In [0]:
prob_drunk_given_positive(0.13525210993291495,0.08,1.0)

0.6615996951348605

In [0]:
#fourth test to get p > 95%
prob_drunk_given_positive(0.6615996951348605,0.08,1.0)

0.9606895076105054

In [0]:
# 2
# TODO - your code!
import pandas as pd
import numpy as np
from scipy import stats

In [82]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/adult.csv', na_values=" ?")
print(df.shape)
df.head()

(32561, 15)

   age          workclass  fnlwgt  ... hours-per-week         country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [83]:
df = df[['capital-gain','sex']]
df

       capital-gain      sex
0              2174     Male
1                 0     Male
2                 0     Male
3                 0     Male
4                 0   Female
...             ...      ...
32556             0   Female
32557             0     Male
32558             0   Female
32559             0     Male
32560         15024   Female

[32561 rows x 2 columns]

In [0]:
def confidence_interval(df, confidence=0.5):
  """
  Calculate a confidence interval around a sample mean for given data.
  Using t-distribution and two-tailed test, default 95% confidence. 
  
  Arguments:
    data - iterable (list or numpy array) of sample observations
    confidence - level of confidence for the interval
  
  Returns:
    tuple of (mean, lower bound, upper bound)
  """
  df = np.array(df)
  mean = np.mean(df)
  n = len(df)
  stderr = stats.sem(df)
  interval = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  return (mean, mean - interval, mean + interval)

In [85]:
def confidence_interval_dataframe(df):
  
  confidence_intervals = []
  
  # Turn dataframe into a numpy array
  # List values by column and not by row
  # df = df.values.T
    
    # Calculate Confidence interval for each issue
  confidence_intervals.append(confidence_interval(df))
    
  confidence_intervals = pd.DataFrame(df, columns=['mean', 'lower', 'upper'])  
    
  return confidence_intervals

# # We only want the issue columns not the string "party" column
only_gains = df.drop('sex',axis='columns')

confidence_interval_df = confidence_interval_dataframe(only_gains)
confidence_interval_df.head()

   mean  lower  upper
0   NaN    NaN    NaN
1   NaN    NaN    NaN
2   NaN    NaN    NaN
3   NaN    NaN    NaN
4   NaN    NaN    NaN

In [0]:
#3

Frequentist statistics deals with the estimation of parameters to get a value that is usually based on a 95% confidence interval with a max and minimum bound. The assumption is that the sample mean would fall between the bound if an experiement were conducted 95 times out of 100 times with the possibility of error in the remaining 5%.

Bayesian statistics on the other hand deals with the estimation of a probability that is based on prior knowledge/data about the sample which is then used in calculating a probaliity that is pulled out of a range of probabilities.

## Resources

- [Worked example of Bayes rule calculation](https://en.wikipedia.org/wiki/Bayes'_theorem#Examples) (helpful as it fully breaks out the denominator)
- [Source code for mvsdist in scipy](https://github.com/scipy/scipy/blob/90534919e139d2a81c24bf08341734ff41a3db12/scipy/stats/morestats.py#L139)

## Stretch Goals:

- Go back and study the content from Modules 1 & 2 to make sure that you're really comfortable with them.
- Apply a Bayesian technique to a problem you previously worked (in an assignment or project work) on from a frequentist (standard) perspective
- Check out [PyMC3](https://docs.pymc.io/) (note this goes beyond hypothesis tests into modeling) - read the guides and work through some examples
- Take PyMC3 further - see if you can build something with it!