<a href="https://colab.research.google.com/github/andrewhslr419/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Andrew_Hasler_Sprint_1_1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
chess_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/chess/king-rook-vs-king/krkopt.data'

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/chess/king-rook-vs-king/krkopt.data

In [0]:
chess = pd.read_csv(chess_data_url)

In [48]:
chess.shape

(28055, 7)

In [49]:
chess.head(10)

   a  1  b  3  c  2  draw
0  a  1  c  1  c  2  draw
1  a  1  c  1  d  1  draw
2  a  1  c  1  d  2  draw
3  a  1  c  2  c  1  draw
4  a  1  c  2  c  3  draw
5  a  1  c  2  d  1  draw
6  a  1  c  2  d  2  draw
7  a  1  c  2  d  3  draw
8  a  1  c  3  c  2  draw
9  a  1  c  3  d  2  draw

In [0]:
chess.tail(4)

       a  1  b  3  c  2     draw
28051  b  1  g  7  e  6  sixteen
28052  b  1  g  7  e  7  sixteen
28053  b  1  g  7  f  5  sixteen
28054  b  1  g  7  g  5  sixteen

In [0]:
chess=pd.read_csv(chess_data_url, header=None, names=['WK file','WK rank','WR file','WR rank','BK file','BK rank','Wins'])

In [60]:
print(chess)

      WK file  WK rank WR file  WR rank BK file  BK rank     Wins
0           a        1       b        3       c        2     draw
1           a        1       c        1       c        2     draw
2           a        1       c        1       d        1     draw
3           a        1       c        1       d        2     draw
4           a        1       c        2       c        1     draw
...       ...      ...     ...      ...     ...      ...      ...
28051       b        1       g        7       e        5  sixteen
28052       b        1       g        7       e        6  sixteen
28053       b        1       g        7       e        7  sixteen
28054       b        1       g        7       f        5  sixteen
28055       b        1       g        7       g        5  sixteen

[28056 rows x 7 columns]