<a href="https://colab.research.google.com/github/AnantaApril/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/April_Aeschbacher_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# read in data
initial_header = ['Class Name:', 'handicapped-infants:', 'water-project-cost-sharing:',
      'adoption-of-the-budget-resolution:', 'physician-fee-freeze:', 'el-salvador-aid:',
      'religious-groups-in-schools:', 'anti-satellite-test-ban:', 'aid-to-nicaraguan-contras:',
      'mx-missile:', 'immigration:', 'synfuels-corporation-cutback:', 'education-spending:', 
      'superfund-right-to-sue:', 'crime:', 'duty-free-exports:', 'export-administration-act-south-africa:'] 
initial_stats = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header = None, names = initial_header, na_values = '?')
initial_stats.head()

  Class Name:  ... export-administration-act-south-africa:
0  republican  ...                                       y
1  republican  ...                                     NaN
2    democrat  ...                                       n
3    democrat  ...                                       y
4    democrat  ...                                       y

[5 rows x 17 columns]

In [5]:
# Clean up data so we have usable numeriv values
initial_stats = initial_stats.replace({'y' : 1, 'n': 0})
initial_stats.head()

  Class Name:  ...  export-administration-act-south-africa:
0  republican  ...                                      1.0
1  republican  ...                                      NaN
2    democrat  ...                                      0.0
3    democrat  ...                                      1.0
4    democrat  ...                                      1.0

[5 rows x 17 columns]

In [6]:

initial_stats['Class Name:'].value_counts()

democrat      267
republican    168
Name: Class Name:, dtype: int64

In [7]:
# republicans only
rep = initial_stats[initial_stats['Class Name:']== 'republican']
rep.head()

   Class Name:  ...  export-administration-act-south-africa:
0   republican  ...                                      1.0
1   republican  ...                                      NaN
7   republican  ...                                      1.0
8   republican  ...                                      1.0
10  republican  ...                                      0.0

[5 rows x 17 columns]

In [8]:
# democrats only
dem = initial_stats[initial_stats['Class Name:']== 'democrat']
dem.head()

  Class Name:  ...  export-administration-act-south-africa:
2    democrat  ...                                      0.0
3    democrat  ...                                      1.0
4    democrat  ...                                      1.0
5    democrat  ...                                      1.0
6    democrat  ...                                      1.0

[5 rows x 17 columns]

In [17]:
rep['adoption-of-the-budget-resolution:'].value_counts()

0.0    142
1.0     22
Name: adoption-of-the-budget-resolution:, dtype: int64

In [16]:
dem['adoption-of-the-budget-resolution:'].value_counts()

1.0    231
0.0     29
Name: adoption-of-the-budget-resolution:, dtype: int64

In [13]:
# run ttest, this resuts indicates a large difference - this satifies number 2
from scipy.stats import ttest_ind
ttest_ind(rep['adoption-of-the-budget-resolution:'], dem['adoption-of-the-budget-resolution:'], nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [18]:
rep['physician-fee-freeze:'].value_counts()

1.0    163
0.0      2
Name: physician-fee-freeze:, dtype: int64

In [19]:
dem['physician-fee-freeze:'].value_counts()

0.0    245
1.0     14
Name: physician-fee-freeze:, dtype: int64

In [21]:
# run ttest, this reult idicates a large difference - this satifies number 3
ttest_ind(rep['physician-fee-freeze:'], dem['physician-fee-freeze:'], nan_policy='omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [39]:
rep['export-administration-act-south-africa:'].value_counts()

1.0    96
0.0    50
Name: export-administration-act-south-africa:, dtype: int64

In [40]:
dem['export-administration-act-south-africa:'].value_counts()

1.0    173
0.0     12
Name: export-administration-act-south-africa:, dtype: int64

In [41]:
# This one will show there is not much of a difference in the way they vote on this issue
ttest_ind(rep['export-administration-act-south-africa:'], dem['export-administration-act-south-africa:'], nan_policy='omit')

Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!