<a href="https://colab.research.google.com/github/bbrauser/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Brad_Brauser_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## load a csv from the following url:

#### https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/

In [0]:
# A good practice is to keep your import statements to the top of your
# notebooks

import pandas as pd

In [4]:
# One thing you should begin practicing early is commenting your code!

# Another good practice is to use descriptive variable names

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

from google.colab import files
uploaded = files.upload()

df = pd.read_csv('auto-mpg.data')

Saving auto-mpg.data to auto-mpg (1).data

In [9]:
column_headers = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']

df = pd.read_csv('auto-mpg.data', names=column_headers)

df.head(5)

                                                 mpg  ...  car name
0  18.0   8   307.0      130.0      3504.      12...  ...       NaN
1  15.0   8   350.0      165.0      3693.      11...  ...       NaN
2  18.0   8   318.0      150.0      3436.      11...  ...       NaN
3  16.0   8   304.0      150.0      3433.      12...  ...       NaN
4  17.0   8   302.0      140.0      3449.      10...  ...       NaN

[5 rows x 9 columns]

In [0]:
# now print the first 5 rows of the data you just loaded

df.shape

(397, 1)

In [0]:
# and the last 7

df.tail(7)

    18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
390  36.0   4   135.0      84.00      2370.      13...
391  27.0   4   151.0      90.00      2950.      17...
392  27.0   4   140.0      86.00      2790.      15...
393  44.0   4   97.00      52.00      2130.      24...
394  32.0   4   135.0      84.00      2295.      11...
395  28.0   4   120.0      79.00      2625.      18...
396  31.0   4   119.0      82.00      2720.      19...

In [0]:
# how many rows are in the dataset?

4176

In [0]:
# how many columns

9

In [0]:
# what is the shape of the dataset

(4176, 9)

### From the data directory load the iris dataset

In [0]:

column_headers = [
    "sepal-length", "sepal-width", "petal-length", "petal_width", "class"
]

df = 

# and print out the first 5 rows
df.head()

   sepal-length  sepal-width  petal-length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Make a basic graph using either of the above data sources when you're finished post the graph in the ds17 channel on slack

## Save a copy of your notebook to GitHub and submit a pull request to this repository