<a href="https://colab.research.google.com/github/chowell2000/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Chris_Howell_DS_11_2_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# Working with houses data along with lecture

In [0]:
##### Begin Working Here #####
import numpy as np
import pandas as pd

houses = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [2]:
houses.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [3]:
houses.shape

(1460, 81)

In [0]:
pd.set_option('display.max_rows', 100)
houses.dtypes

In [8]:
houses['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [12]:
houses['LotFrontage'].value_counts(dropna=False).head()

NaN     259
60.0    143
70.0     70
80.0     69
50.0     57
Name: LotFrontage, dtype: int64

In [79]:
tinyhouse = houses[['TotalBsmtSF','1stFlrSF','2ndFlrSF', 'SalePrice']].copy()
tinyhouse

      TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0             856       856       854     208500
1            1262      1262         0     181500
2             920       920       866     223500
3             756       961       756     140000
4            1145      1145      1053     250000
...           ...       ...       ...        ...
1455          953       953       694     175000
1456         1542      2073         0     210000
1457         1152      1188      1152     266500
1458         1078      1078         0     142125
1459         1256      1256         0     147500

[1460 rows x 4 columns]

In [0]:
tinyhouse['TotalSF'] = tinyhouse['1stFlrSF'] + tinyhouse['2ndFlrSF'] + tinyhouse['TotalBsmtSF']

In [81]:
tinyhouse.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [219]:
tinyhouse['priceperSF'] = tinyhouse['SalePrice'] / tinyhouse['TotalSF']
tinyhouse.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  priceperSF
0          856       856       854     208500     2566   81.254871
1         1262      1262         0     181500     2524   71.909667
2          920       920       866     223500     2706   82.594235
3          756       961       756     140000     2473   56.611403
4         1145      1145      1053     250000     3343   74.783129

# Working with Loan Stats data during lecture

In [25]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-03 17:52:57--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.69M   409KB/s    in 55s

2019-12-03 17:53:53 (402 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

In [27]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [28]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 36 months"," 14.47%","688.13","C","C2","bus driver","4 years","OWN","52000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","681xx","NE","30.65","1","Jun-1979","2","15","","6","0","15048","73%","22","w","14777.99","14777.99","7481.0","7481.00","5222.01","2258.99","0.0","0.0","0.0","Nov-2019","688.13","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","33157","0","2","1","1","8","18109","44","1","2","8628","73","20700","1","1","4","3","5526","5175","73","0","0","141","474","10","8","0","10","15","1","15","0","4","4","11","12","8","4","14","4","6","","0","0","2","95","50","0","0","61699","33157","20700","40999","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 16.14%","609.82","C","C4","Production Manager","5 years","MORTGAGE","45000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","703xx","LA","37.09","0","Sep-2003","0","","","7","0","8901","36.8%","21","w","0.00","0.00","26653.1675796436","26653.17","25000.00","1653.17","0.0","0.0","0.0","Apr-2019","24857.33","","May-2019","0","","1","Individual","","","","0","1303","49524","0","2","1","2","7","40623","82","0","0","7830","67","24200","2","0","1","2","7075","10465","43.7","0","0","161","162","45","7","4","96","","7","","0","2","3","3","5","7","5","10","3","7","0","0","0","1","100","33.3","0","0","73683","49524","18600","49483","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","26500","26500","26500"," 60 months"," 11.31%","580.28","B","B3","Compliance Director","10+ years","MORTGAGE","134000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","747xx","OK","18.91","0","Dec-2006","2","","","17","0","43640","65.4%","37","w","23051.06","23051.06","5777.82","5777.82","3448.94","2328.88","0.0","0.0","0.0","Oct-2019","580.28","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","381100","3","3","2","2","4","64335","46","1","3","10115","58","66700","2","1","7","6","22418","14577","70.4","0","0","114","144","3","3","4","22","","2","","0","8","10","9","10","7","13","26","10","17","0","0","0","4","100","66.7","0","0","430403","107975","49300","88875","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10400","10400","10400"," 36 months"," 12.98%","350.32","B","B5","Program Support Assistant ","10+ years","MORTGAGE","56099","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","800xx","CO","20.92","0","Jul-2013","2","32","67","8","1","1669","9.8%","10","w","7902.57","7902.57","3491.95","3491.95","2497.43","994.52","0.0","0.0","0.0","Oct-2019","350.32","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","39564","4","2","1","2","1","37895","92","3","6","725","36","17000","1","0","4","8","4946","15331","9.8","0","0","65","57","1","1","0","1","","0","32","0","3","3","6","6","3","6","7","3","8","0","0","0","4","90","0","1","0","60709","39564","17000","43709","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 60 months"," 12.98%","796","B","B5","Sr. Vice President -Risk Manager","7 years","MORTGAGE","211646","Source Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","797xx","TX","15.09","0","Sep-1985","0","77","","13","0","55944","74.9%","39","w","0.00","0.00","36266.741551619","36266.74","35000.00","1266.74","0.0","0.0","0.0","Apr-2019","34712.6","","Nov-2019","0","","1","Joint App","272421","15.89","Source Verified","0","0","420931","1","3","1","2","5","26570","51","0","2","24795","65","74700","1","6","1","4","32379","8677","85.5","0","0","152","399","21","5","6","21","77","12","77","0","6","8","6","11","14","9","19","8","13","0","0","0","1","97.4","66.7","0","0","516204","82514","59700","51904","88364","Sep-1985","0","6","19","53.4","2","29","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.56%","622.68","A","A3","Teacher","10+ years","MORTGAGE","100000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","982xx","WA","18.92","0","Feb-1999","0","48","","9","0","25416","29.9%","19","w","0.00","0.00","20215.79243","20215.79","20000.00","215.79","0.0","0.0","0.0","Feb-2019","20228.39","","Feb-2019","0","","1","Joint App","190000","11.75","Not Verified","0","0","515779","1","2","0","1","13","46153","71","1","2","9759","39","85100","2","2","0","5","57309","59684","29.9","0","0","171","238","1","1","5","1","","13","48","0","5","5","5","6","5","5","9","5","9","0","0","0","1","94.7","20","0","0","622183","71569","85100","74833","43287","Aug-1998","0","3","10","29.7","2","7","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13000","13000","13000"," 36 months"," 17.97%","469.79","D","D1","Help Tech Supervisor","10+ years","MORTGAGE","92360","Source Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","300xx","GA","27.44","0","Sep-2006","1","68","","18","0","32020","49.6%","30","w","10055.86","10055.86","4678.43","4678.43","2944.14","1734.29","0.0","0.0","0.0","Oct-2019","469.79","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","131919","1","2","1","3","4","17310","60","0","2","6116","53","64600","1","4","1","5","7760","7140","70.7","0","0","120","147","16","4","2","18","","4","70","0","5","12","6","7","6","15","22","12","18","0","0","0","1","90","66.7","0","0","190803","49330","24400","28861","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 14.47%","282.16","C","C2","Assistant Athletic Director of Marketing","1 year","RENT","67000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","231xx","VA","28.39","0","Aug-2009","1","","","9","0","10018","50.9%","34","w","0.00","0.00","13140.1266634624","13140.13","12000.00","1140.13","0.0","0.0","0.0","Sep-2019","11169.83","","Nov-2019","0","","1","Individual","","","","0","0","184578","1","4","2","3","5","174560","97","0","1","4615","87","19700","1","1","2","4","20509","9682","50.9","0","0","112","80","23","5","0","23","","5","","0","3","3","5","5","26","5","8","3","9","0","0","0","2","100","0","0","0","183897","184578","19700","164197","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [29]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3833.26","3833.26","2462.18","2462.18","1766.74","695.44","0.0","0.0","0.0","Nov-2019","190.21","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","6892.70","6892.70","4499.54","4499.54","3107.30","1392.24","0.0","0.0","0.0","Nov-2019","346.76","Dec-2019","Nov-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","3422.56","3422.56","2204.02","2204.02","1577.44","626.58","0.0","0.0","0.0","Nov-2019","169.83","Dec-2019","Nov-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","6763.16","6594.08","4244.48","4138.37","3236.84","1007.64","0.0","0.0","0.0","Nov-2019","327.68","Dec-2019","Nov-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","6953.72","6953.72","4619.65","4619.65","3046.28","1573.37","0.0","0.0","0.0","Nov-2019","356.08","Dec-2019","Nov-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [36]:
loans = pd.read_csv('LoanStats_2018Q4.csv',header =1, skipfooter = 2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [37]:
print(loans.shape)
loans.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [44]:
loans.isnull().sum().sort_values()

loan_amnt                                          0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
                                               ...
hardship_status                               128232
hardship_reason                               128232
hardship_dpd                                  128232
hardship_loan_status                          128232
orig_projected_additional_accrued_interest    128249
Length: 140, dtype: int64

In [0]:
loans = loans.drop(['url','member_id','desc','id'], axis=1)

In [45]:
loans.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      25000        25000  ...                    NaN             NaN
2      26500        26500  ...                    NaN             NaN
3      10400        10400  ...                    NaN             NaN
4      35000        35000  ...                    NaN             NaN

[5 rows x 140 columns]

In [46]:
loans['int_rate'].head(10)

0     14.47%
1     16.14%
2     11.31%
3     12.98%
4     12.98%
5      7.56%
6     17.97%
7     14.47%
8     11.80%
9     17.97%
Name: int_rate, dtype: object

In [47]:
loans['int_rate'][3]

' 12.98%'

In [0]:
intrate = ' 14.17%'

In [49]:
#Remove the leading space
intrate.strip()

'14.17%'

In [50]:
# Remove the percentage sign
intrate.strip('%')

' 14.17'

In [51]:
# Remove both at once
intrate.strip().strip('%')

'14.17'

In [52]:
type(intrate.strip().strip('%'))

str

In [53]:
# Casting this from string to float

float(intrate.strip().strip('%'))

14.17

In [55]:
type(float(intrate.strip().strip('%')))

float

In [0]:
# Function to strip and cast the percentages

def int_rate_change(cell_contents):
  cleaned_cell_contents = float(cell_contents.strip().strip('%'))
  return cleaned_cell_contents

In [59]:
int_rate_change(intrate)

14.17

In [60]:
type(int_rate_change(intrate))

float

In [0]:
# Applying the function to the dataframe column and making a new column with the
# output

loans['int_rate_float'] = loans['int_rate'].apply(int_rate_change)

In [63]:
# Finding the new column

loans.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_float           float64
dtype: object

In [220]:
loans.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_year  revol_util_float
0      20000        20000  ...             2019.0              73.0
1      25000        25000  ...             2019.0              36.8
2      26500        26500  ...             2019.0              65.4
3      10400        10400  ...             2019.0               9.8
4      35000        35000  ...             2019.0              74.9

[5 rows x 147 columns]

In [222]:
loans['emp_title'].value_counts(dropna = False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [223]:
len(loans['emp_title'].value_counts())

43892

In [225]:
loans['emp_title'].isnull().sum()

20947

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN ]

In [0]:
def cleantitle(jobtitle):
  if isinstance(jobtitle, str):
    return jobtitle.title().strip()
  else:
    return "Unkown"

In [231]:
for title in examples:
  print(cleantitle(title))

Owner
Supervisor
Project Manager
Unkown

In [232]:
[cleantitle(title) for title in examples ]

['Owner', 'Supervisor', 'Project Manager', 'Unkown']

In [0]:
loans['emp_title'] = loans['emp_title'].apply(cleantitle)

In [235]:
loans['emp_title'].value_counts(dropna = False)[:20]

Unkown                20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [236]:
loans['emp_title'].isnull().sum()

0

In [239]:
len(loans['emp_title'].value_counts())

34902

# Working with dates

In [64]:
#Changing dates with Pandas

[col for col in loans if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [66]:
loans['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [68]:
loans['issue_d'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)

loans.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [69]:
loans['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [72]:
loans['issue_d'][:5]

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [70]:
loans['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [0]:

loans['issue_month'] = loans['issue_d'].dt.month

In [73]:
loans['earliest_cr_line'].head()

0    Jun-1979
1    Sep-2003
2    Dec-2006
3    Jul-2013
4    Sep-1985
Name: earliest_cr_line, dtype: object

In [0]:
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], infer_datetime_format=True)

In [75]:
loans['issue_d'] - loans['earliest_cr_line']

0        14428 days
1         5570 days
2         4383 days
3         1979 days
4        12144 days
            ...
128407   12114 days
128408   13241 days
128409    4505 days
128410    3652 days
128411    4413 days
Length: 128412, dtype: timedelta64[ns]

In [0]:
loans['days_from_earliest_credit_issue'] = loans['issue_d'] - loans['earliest_cr_line']

In [77]:
loans.head()

   loan_amnt  funded_amnt  ...  int_rate_float days_from_earliest_credit_issue
0      20000        20000  ...           14.47                      14428 days
1      25000        25000  ...           16.14                       5570 days
2      26500        26500  ...           11.31                       4383 days
3      10400        10400  ...           12.98                       1979 days
4      35000        35000  ...           12.98                      12144 days

[5 rows x 142 columns]

In [78]:
loans['days_from_earliest_credit_issue'].describe()

count                       128412
mean     5859 days 21:23:44.726635
std      2886 days 12:51:13.941888
min             1126 days 00:00:00
25%             4049 days 00:00:00
50%             5266 days 00:00:00
75%             7244 days 00:00:00
max            25171 days 00:00:00
Name: days_from_earliest_credit_issue, dtype: object

# Changing 'term' to an integer

In [83]:
# First check of the column to see what we are dealing with

loans['term'].head()

0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
Name: term, dtype: object

In [84]:
# Checking for missing data

loans['term'].isnull().sum()

0

In [85]:
# Looking at an individual cell to check formatting

loans['term'][3]

' 36 months'

In [0]:
# Defining a function to clean up the term cells, stripping the extra space and
#   the word 'months' and  its preceding space, then changing the datatype to
#   integer

def cleanupterm(cell):
  cleaned_cell = int(cell.strip().strip(' months'))
  return cleaned_cell

In [90]:
# Testing our new function with one cell

term = loans['term'][1]

cleanupterm(term)

60

In [0]:
# Running the cleanupterm function on the term column

loans['term'] = loans['term'].apply(cleanupterm)

In [92]:
# Checking to see if it worked

loans['term'].head()

0    36
1    60
2    60
3    36
4    60
Name: term, dtype: int64

In [94]:
# And double checking

loans['term'].value_counts()

36    88179
60    40233
Name: term, dtype: int64

# New column "loan_status_is_great"

In [129]:
# Let's look at the source column

loans['loan_status'].head()

0       Current
1    Fully Paid
2       Current
3       Current
4    Fully Paid
Name: loan_status, dtype: object

In [96]:
# More source column info

loans['loan_status'].value_counts()

Current               100571
Fully Paid             19545
Charged Off             4433
Late (31-120 days)      2662
In Grace Period          730
Late (16-30 days)        467
Default                    4
Name: loan_status, dtype: int64

In [100]:
# Checking formatting

loans['loan_status'][4]

'Fully Paid'

In [0]:
# A function to return 1 if the loan status is Current or Fully Paid, otherwise
#   return 0

def loanstatus(cell):
  if (cell == 'Fully Paid' or cell == 'Current'):
    status = 1
  else:
    status = 0
  return status

In [125]:
# A single cell for testing

teststatus = loans['loan_status'][4]
teststatus

'Fully Paid'

In [140]:
# Testing the function

loanstatus(teststatus)

1

In [0]:
# Applying the function and changing the column

loans['loan_status_is great'] = loans['loan_status'].apply(loanstatus)

In [142]:
# Checking out the new column

loans.head()

   loan_amnt  ...  loan_status_is great
0      20000  ...                     1
1      25000  ...                     1
2      26500  ...                     1
3      10400  ...                     1
4      35000  ...                     1

[5 rows x 143 columns]

In [144]:
# Checking the new column values are as expected

loans['loan_status_is great'].value_counts()

1    120116
0      8296
Name: loan_status_is great, dtype: int64

# Creating new columns for last payment month and year

In [145]:
# Checking out the last payment date column

loans['last_pymnt_d'].head()

0    Nov-2019
1    Apr-2019
2    Oct-2019
3    Oct-2019
4    Apr-2019
Name: last_pymnt_d, dtype: object

In [0]:
# Changing the column to date and time

loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], infer_datetime_format=True)

In [147]:
# Checking the changed column

loans['last_pymnt_d'].head()

0   2019-11-01
1   2019-04-01
2   2019-10-01
3   2019-10-01
4   2019-04-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [149]:
# Checking a single cell

loans['last_pymnt_d'][2]

Timestamp('2019-10-01 00:00:00')

In [0]:
# Making a new column with the last payment month

loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month

In [153]:
# Checking the new column

loans['last_pymnt_d_month'].head()

0    11.0
1     4.0
2    10.0
3    10.0
4     4.0
Name: last_pymnt_d_month, dtype: float64

In [154]:
# Double checking the new months column

loans['last_pymnt_d_month'].value_counts()

11.0    94917
10.0    10841
7.0      3156
9.0      2871
8.0      2758
5.0      2547
4.0      2356
6.0      2285
3.0      1984
2.0      1915
1.0      1561
12.0     1062
Name: last_pymnt_d_month, dtype: int64

In [0]:
# Making a new column with the last payment year

loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year

In [161]:
# Checking this new column

loans['last_pymnt_d_year'].head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

In [162]:
# Another column check

loans['last_pymnt_d_year'].value_counts()

2019.0    126286
2018.0      1967
Name: last_pymnt_d_year, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

# Loan data stretch part 1

In [180]:
# Let's find the column with the percentage strings

loans.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...                11.0             2019.0
1      25000        25000  ...                 4.0             2019.0
2      26500        26500  ...                10.0             2019.0
3      10400        10400  ...                10.0             2019.0
4      35000        35000  ...                 4.0             2019.0

[5 rows x 146 columns]

In [208]:
# Sample cell

loans['revol_util'][1]

'36.8%'

In [187]:
# Checking for missing values

loans['revol_util'].isnull().sum()

156

In [0]:
# A function to strip the percentage sign and convert to float, passing through
#   NaNs unchanged

def fixrevutil(cell):
  if type(cell) == str:
    cleaned_cell2 = float(cell.strip('%'))
    return cleaned_cell2

In [0]:
# Applying the function

loans['revol_util_float'] = loans['revol_util'].apply(fixrevutil)

In [217]:
# Checking the new column

loans['revol_util_float'].head()

0    73.0
1    36.8
2    65.4
3     9.8
4    74.9
Name: revol_util_float, dtype: float64

# Loan Stretch 2

In [269]:
# CHecking out the uncommon employee titles

loans['emp_title'].value_counts()[-20:]

Teacher                     2557
Manager                     2395
Registered Nurse            1418
Driver                      1258
Supervisor                  1160
Truck Driver                 920
Rn                           834
Office Manager               805
Sales                        803
General Manager              791
Project Manager              720
Owner                        625
Director                     523
Operations Manager           518
Sales Manager                500
Police Officer               440
Nurse                        425
Technician                   420
Engineer                     412
Administrative Assistant     409
Name: emp_title, dtype: int64

In [245]:
# Top 20 Employee Titles

loans['emp_title'].value_counts()[:20]

Unkown                20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [244]:
# Making sure I have the right cutoff

loans['emp_title'].value_counts()[15:25]

Sales Manager               500
Police Officer              440
Nurse                       425
Technician                  420
Engineer                    412
Administrative Assistant    409
Store Manager               398
Mechanic                    391
Assistant Manager           383
Server                      357
Name: emp_title, dtype: int64

In [0]:
# A list of the employee titles I want to change to other

oldjobs = loans['emp_title'].value_counts().index[21:]

In [247]:
# Checking the new list

oldjobs

Index(['Store Manager', 'Mechanic', 'Assistant Manager', 'Server',
       'Account Manager', 'Vice President', 'Accountant', 'Foreman',
       'Electrician', 'President',
       ...
       'Telecom Infrastructure Analyst Iii', 'Boarding Account Specialist',
       'Director Of Residential Dining', 'Call Center Operator',
       'Tier 1 Technical Support', 'Construction Site Superintendent',
       'Client Relationship Specialist', 'Case Manager Hud Vash',
       'District Operations Trainer', 'Assistant Ranch Manager'],
      dtype='object', length=34881)

In [0]:
# A function to change the uncommon jobs to 'Other'

def otherjobs(cell):
  if cell in oldjobs:
    newcell = 'Other'
  else:
    newcell = cell
  return newcell

In [250]:
# Checking the function

otherjobs('Store Manager')

'Other'

In [253]:
# More checking
otherjobs('Nurse')

'Nurse'

In [0]:
# Applying the function to the employee title column

loans['emp_title'] = loans['emp_title'].apply(otherjobs)

In [255]:
# Checking the results

loans['emp_title'].head()

0    Other
1    Other
2    Other
3    Other
4    Other
Name: emp_title, dtype: object

In [260]:
# A better check!

len(loans['emp_title'].value_counts())

22

In [261]:
# One last look at the results

loans['emp_title'].value_counts()

Other                       89532
Unkown                      20947
Teacher                      2557
Manager                      2395
Registered Nurse             1418
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Rn                            834
Office Manager                805
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Nurse                         425
Technician                    420
Engineer                      412
Administrative Assistant      409
Name: emp_title, dtype: int64

# Instacart stretch 
## I tried to get a result but couldnt finish, so this is just importing data and getting started, my new feature function doesn't work yet

In [163]:
 !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-12-03 20:42:36--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.242.222
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.242.222|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  34.0MB/s    in 6.3s

2019-12-03 20:42:43 (31.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [164]:
 !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [165]:
 %cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:

products = pd.read_csv('order_products__prior.csv')

In [270]:
# Looking at the product data

products.head(15)

    order_id  product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          2       30035                  5          0
5          2       17794                  6          1
6          2       40141                  7          1
7          2        1819                  8          1
8          2       43668                  9          0
9          3       33754                  1          1
10         3       24838                  2          1
11         3       17704                  3          1
12         3       21903                  4          1
13         3       17668                  5          1
14         3       46667                  6          1

In [271]:
# More product data info

products['product_id'].value_counts()

24852    472565
13176    379450
21137    264683
21903    241921
47209    213584
          ...
11356         1
18001         1
6320          1
26268         1
30087         1
Name: product_id, Length: 49677, dtype: int64

In [0]:
# Making a test object

orderlist = products.loc[products['product_id'] == 33120]

In [283]:
# Trying out making an average of the order an item was put in the cart

orderlist['add_to_cart_order'].sum() / len(orderlist['add_to_cart_order'])

6.816958762886598

In [0]:
# My first try at producing a dataframe with cart order averages - it never
#  actually completed running!

productfeatures = pd.DataFrame(columns = ['product_id', 'cart_order_average'])

def cartorder():
  for id in products['product_id']:
    orderlist = products.loc[products['product_id'] == id]
    cartave = orderlist['add_to_cart_order'].sum() / len(orderlist['add_to_cart_order'])
    productfeatures.append([id, cartave])

In [297]:
cartorder()

KeyboardInterrupt: ignored

In [298]:
productfeatures.head()

Empty DataFrame
Columns: [product_id, cart_order_average]
Index: []

In [0]:
# Making a new dataframe for the next attempt, and a new function to average the
#   order in the cart associated with a product id

productfeatures2 = pd.DataFrame(columns = ['product_id', 'cart_order_average'])

#productfeatures.columns = ['product_id', 'cart_order_average']

def cartorder(ident):
    orderlist2 = products.loc[products['product_id'] == ident]
    cartave = orderlist2['add_to_cart_order'].sum() / len(orderlist2['add_to_cart_order'])
    productfeatures2.append([ident, cartave])

In [304]:
# Filling the dataframe with the results of my function over the product ids

products['product_id'].apply(cartorder)

KeyboardInterrupt: ignored

In [0]:
orders = pd.read_csv('orders.csv')

In [267]:
len(orders['user_id'].value_counts())

206209

In [268]:
orders['user_id'].isnull().sum()

0