<a href="https://colab.research.google.com/github/Clee2691/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_Coding_Challenge_10_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Good Evening! Welcome to your first Python code challenge. 
## Use your Googfu skills to help you find a solution.

### 1. Write Python code that creates a random string using 'a', 'e', 'i', 'o', 'u'. Using each character only once. 
HINT: Lookup the .shuffle method in the random lib

In [0]:
import random
char_list = ['a','e','i','o','u']
# your code here

random.shuffle(char_list)
str1 = ''
str1.join(char_list)

'iuoea'

###2.  Write Python code to calculate number of days between two dates

In [0]:
from datetime import date
# your code here
date1 = date(2019,11,26)
date2 = date(2019, 10, 31)

date3 = date1 - date2

print(date3)

26 days, 0:00:00

### 3. Write a Python function to get the difference between a given number and 17, if the number is greater than 17 return double the difference.

In [0]:
def difference(n):
    result=0
    # your code here

    if n > 17:
      diff = n - 17
      result = diff*2
    else:
      result = 17 - n

    return result
    
print(difference(22))
print(difference(14))

10
3

### Stretch Goals:

### 4. Write Python code to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.
HINT:  you'll need to use the python's input function

In [2]:
num = int(input("Enter a number: "))
# your code here

if num % 2 == 0:
  print("The number {} is even!".format(num))
else:
  print("The number {} is odd!".format(num))

Enter a number: 5
The number 5 is odd!

### 5. Write Python function to display your details like name, age, address in three different lines.

In [4]:
def personal_details():
  # your code here
  print('Calvin Lee')
  print('28')
  print('Boston Massachussetts')
  return
  
personal_details()

Calvin Lee
28
Boston Massachussetts