<a href="https://colab.research.google.com/github/sampath11/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/colab_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Five ways to read your data into a colab notebook

In [0]:
print('hello world')

hello world

hello world

[Keyboard shortcuts for colab](https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b)

In [0]:
# imports
import pandas as pd
import numpy as np

#### Method 1. Read data directly from a URL.

In [0]:
# this is the simplest way to read in data
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'
bikes = pd.read_csv(url)
bikes.head()

   OBJECTID     LENGTH                       NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476       National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404     Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687           Rock Creek Trail  ...  7743.364240   0.0      NaN
3         4   6201.712  Metropolitan Branch Trail  ...  1890.285630   0.0      NaN
4         5  12625.091         Watts Branch Trail  ...  3848.135455   0.0      NaN

[5 rows x 8 columns]

In [0]:
bikes.describe()

        OBJECTID        LENGTH  Shape_Length      MILES
count  90.000000     90.000000     90.000000  90.000000
mean   45.500000   5092.016700   1373.339267   0.252267
std    26.124701   7571.370808   2117.107049   0.750409
min     1.000000      0.000000      0.212543   0.000000
25%    23.250000    359.804000    307.372020   0.000000
50%    45.500000   2347.624500    722.545236   0.000000
75%    67.750000   5928.409750   1438.144017   0.000000
max    90.000000  47585.083000  14503.962560   3.140678

In [0]:
# Sometimes you have to supply the column heads.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'
flags = pd.read_csv(flag_data_url, header=None, names=column_headers)
flags.head()

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [0]:
# Let's try another example.
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
# source: https://opendata.dc.gov/datasets/museums-in-dc/data
museums = pd.read_csv(url)
museums.sample(3)

    OBJECTID  ...   MARID
1          2  ...  301103
13        14  ...  284839
22        23  ...  294248

[3 rows x 10 columns]

### Method 2. Read a file that is already in colab.

In [0]:
# So colab comes with some built in files.
cali = pd.read_csv('sample_data/california_housing_test.csv')
cali.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [0]:
# you can also read a json file. Notice the difference in pandas method.
anscombe = pd.read_json('sample_data/anscombe.json')

anscombe.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
snails = pd.read_csv('sample_data/abalone.csv')
snails.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [0]:
# You can also use the manual upload GUI over on the left of your screen.
from google.colab import files
uploaded = files.upload()

Saving abalone.csv to abalone.csv

In [0]:
# open the file

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [0]:
# useful for reading raw data from github.
url='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'
# Source: https://github.com/austinlasseter/dash-virginia-counties/blob/master/resources/acs2017_county_data.csv
virginia = pd.read_csv(url)
virginia.sample(4)

      CountyId         State  ... FamilyWork  Unemployment
757      18121       Indiana  ...        0.7           6.3
2014     38049  North Dakota  ...        0.2           2.2
887      19197          Iowa  ...        0.0           5.8
1361     27095     Minnesota  ...        0.1           6.6

[4 rows x 37 columns]

### Method 5. Read a zip file.

In [0]:
# use the 'bang' for bash shell scripting.
! pwd 
! ls

/content
abalone.csv  sample_data

In [0]:
# the 'wget' command reads content from the web.
# https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-06 02:17:13--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.68.72.83, 52.89.161.10, 34.211.18.146
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.68.72.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  22.05M  1.85MB/s    in 12s

2020-05-06 02:17:26 (1.77 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

In [0]:
# how do you unzip a .zip file in bash?
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# Now you can read that csv file into pandas.
loans = pd.read_csv('LoanStats_2018Q4.csv')

In [0]:
# You can also save back to csv, but remember to skip the index.
cali.to_csv('cali_2.csv', index=False)

In [0]:
# read back in
cali2 = pd.read_csv('cali_2.csv')
cali2.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]