<a href="https://colab.research.google.com/github/JamesPupkies/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_colab_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Five ways to read your data into a colab notebook

[Keyboard shortcuts for colab](https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b)

#### Method 1. Read data directly from a URL.

In [0]:
# this is the simplest way to read in data
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'

   OBJECTID     LENGTH                       NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476       National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404     Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687           Rock Creek Trail  ...  7743.364240   0.0      NaN
3         4   6201.712  Metropolitan Branch Trail  ...  1890.285630   0.0      NaN
4         5  12625.091         Watts Branch Trail  ...  3848.135455   0.0      NaN

[5 rows x 8 columns]

In [0]:
# Sometimes you have to supply the column heads.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

(194, 30)

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [0]:
# Let's try another example.
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
# source: https://opendata.dc.gov/datasets/museums-in-dc/data

    OBJECTID                                    NAME  ... MAR_LATITUDE   MARID
2          3                   SPAGNUOLO ART GALLERY  ...    38.906311  300017
42        43  THE SAINT JOHN PAUL II NATIONAL SHRINE  ...    38.937759  288031

[2 rows x 10 columns]

### Method 2. Read a file that is already in colab.

In [0]:
# So colab comes with some built in files.

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0

[2 rows x 9 columns]

In [0]:
# you can also read a json file. Notice the difference in pandas method.

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
# You can also use the manual upload GUI over on the left of your screen.

In [0]:
# open the file

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [0]:
# useful for reading raw data from github.
url='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'
# Source: https://github.com/austinlasseter/dash-virginia-counties/blob/master/resources/acs2017_county_data.csv

### Method 5. Read a zip file.

In [0]:
# use the 'bang' for bash shell scripting.

In [0]:
# the 'wget' command reads content from the web.
https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
# how do you unzip a .zip file in bash?

In [0]:
# Now you can read that csv file into pandas.

In [0]:
# You can also save back to csv, but remember to skip the index.