<a href="https://colab.research.google.com/github/ehsan2793/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_Data_Types_Warm_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Overview

One of the cornerstones of Exploratory Data Analysis (EDA) is being able to identify variable types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier.  We will use different statistical methods to display and describe each of these different types of data.

In [ ]:
2+2

4

In [ ]:
x = "ehsan"
print(x)

ehsan

## Read the Following

First, data can most easily be classified as categorical or quantitative.

- Categorical data places each observation into one and only one category: hair color, eye color, favorite flavor of ice cream, letter grade in a class, zip code

- Quantitative data measures something: height, weight, income, number of children

In [ ]:
def myname(name):
  print(name)
myname('ehsan')

ehsan

Categorical data can further be classified as ordinal, nominal or an identifier variable.
- Nominal data has no natural ordering: hair color, eye color
- Ordinal data has a natural ordering: letter grades - A, B, C, D, F
- Identifier variables identify each record uniquely and are not analyzed

Quantitative data can further be classified as discrete or continuous.
- Discrete data can be counted in a finite amount of time: Number of individuals riding on a bus
- Continuous data can be measured more precisely: My age is 38.334283948577 years old.

#### Let's import the Titanic.csv dataset and identify the different variable types:

Run the code block below to import and print the top 5 observations from the Titanic dataset.  We'll cover exactly how this works in today's Guided Project.

Then take a look at the Titanic Data Dictionary linked below.

In [ ]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Titanic/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

(887, 8)

   Survived  Pclass  ... Parents/Children_Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

[Titanic Data Dictionary](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/Titanic)

###Use the resources above to answer the following questions about the Titanic dataset:



1. Which variable is the identifier variable?

Answer:


2. Which variables are categorical?  Are they ordinal or nominal?

Answer:


3. Which variables are quantitative?  Are the values continuous or discrete?

Answer: