<a href="https://colab.research.google.com/github/ssbyrne89/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
#  results

In [0]:
#import statements
import pandas as pd
import numpy as np

In [0]:
# 5 ways to read data into a colab notebook

In [0]:
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']

# method 1: directly from the URL

flag_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

In [0]:
flags_df = pd.read_csv(flag_data, header=None, names=column_headers)
flags_df.sample(5)

         name  landmass  zone  area  ...  animate  text  topleft  botright
141     Qatar         5     1    11  ...        0     0    white     brown
132  Pakistan         5     1   804  ...        0     0    white     green
2     Algeria         4     1  2388  ...        0     0    green     white
171      Togo         4     1    57  ...        0     0      red     green
160  St-Lucia         1     4     0  ...        0     0     blue      blue

[5 rows x 30 columns]

In [0]:
#another example of method 1

url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'

bikes_df = pd.read_csv(url)
bikes_df.head(3)

   OBJECTID     LENGTH                    NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476    National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404  Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687        Rock Creek Trail  ...  7743.364240   0.0      NaN

[3 rows x 8 columns]

In [0]:
#another example of method 1

url = 'https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
pd.read_csv(url)

            X          Y  OBJECTID  ... MAR_LONGITUDE MAR_LATITUDE   MARID
0  -77.009038  38.889802         1  ...    -77.009036    38.889794  294394
1  -77.037356  38.905862         2  ...    -77.037353    38.905854  301103
2  -77.070117  38.906318         3  ...    -77.070115    38.906311  300017
3  -77.054431  38.930619         4  ...    -77.054429    38.930611  293230
4  -77.012903  38.888256         5  ...    -77.012901    38.888248  297683
..        ...        ...       ...  ...           ...          ...     ...
79 -76.985179  38.863389        80  ...    -76.985177    38.863382  293207
80 -77.030866  38.908176        81  ...    -77.030863    38.908168  225385
81 -77.025799  38.896590        82  ...    -77.025797    38.896583  239829
82 -77.026201  38.896776        83  ...    -77.026199    38.896768  239374
83 -76.994932  38.905783        84  ...    -76.994930    38.905776  288964

[84 rows x 12 columns]

In [0]:
#method 2: read a file that's already in colab

source_file1 = 'sample_data/california_housing_test.csv'
df = pd.read_csv(source_file1)
df.tail(3)

      longitude  latitude  ...  median_income  median_house_value
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3 rows x 9 columns]

In [0]:
#another example of method 2
#this example uses a json file

source_file2 = 'sample_data/anscombe.json'

ans_df = pd.read_csv(source_file2)
ans_df.head(5)

                                       [
  {"Series":"I"  "X":10.0  "Y":8.04} NaN
                 "X":8.0   "Y":6.95} NaN
                 "X":13.0  "Y":7.58} NaN
                 "X":9.0   "Y":8.81} NaN
                 "X":11.0  "Y":8.33} NaN

In [0]:
#mthod 3: upload file to colab
##manually upload GUI from the computer
## uploaded files get deleted
##once in the cloud files, uploaded files can be accessed
## w/o a source path once in the "content" folder

gdp = pd.read_csv('gdp_data.csv')
gdp.sample(7)

     Unnamed: 0           COUNRY  GDP (BILLIONS) CODE
96           96          Ireland          245.80  IRL
75           75          Germany         3820.00  DEU
74           74          Georgia           16.13  GEO
179         179        Singapore          307.90  SGP
183         183  Solomon Islands            1.16  SLB
112         112             Laos           11.71  LAO
121         121            Macau           51.68  MAC

In [0]:
#another example for method 3

from google.colab import files
uploaded = files.upload()

Saving wine.data to wine.data

In [0]:
'''
once uploaded via

from google.colab import files
uploaded = files.upload()

then, read in the dataset by assigning it to avariable
'''
wines_df = pd.read_csv('wine.data') #don't forget to use quotes for file names
wines_df.sample(7)

#this is more common method

     1  14.23  1.71  2.43  15.6  127  ...   .28  2.29  5.64  1.04  3.92  1065
65   2  13.11  1.01  1.70  15.0   78  ...  0.26  2.28  5.30  1.12  3.18   502
86   2  11.65  1.67  2.62  26.0   88  ...  0.40  1.34  2.60  1.36  3.21   562
120  2  11.56  2.05  3.23  28.5  119  ...  0.47  1.87  6.00  0.93  3.69   465
116  2  12.42  1.61  2.19  22.5  108  ...  0.34  1.61  2.06  1.06  2.96   345
121  2  12.42  4.43  2.73  26.5  102  ...  0.43  1.71  2.08  0.92  3.12   365
56   1  13.29  1.97  2.68  16.8  102  ...  0.31  1.66  6.00  1.07  2.84  1270
168  3  13.40  4.60  2.86  25.0  112  ...  0.27  1.11  8.50  0.67  1.92   630

[7 rows x 14 columns]

In [0]:
# method 4: read a file that's saved on github
## useful for reading in raw data from github

url = 'https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'

va_df = pd.read_csv(url)
va_df.head()

   CountyId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0      1001  Alabama  Autauga County  ...           5.6         0.1           5.2
1      1003  Alabama  Baldwin County  ...           6.3         0.1           5.5
2      1005  Alabama  Barbour County  ...           6.5         0.3          12.4
3      1007  Alabama     Bibb County  ...           6.3         0.3           8.2
4      1009  Alabama   Blount County  ...           4.0         0.1           4.9

[5 rows x 37 columns]

In [0]:
# method 5:read a zip file

# use the 'bang' == !, not python code but lenox shell scripting
! pwd # pwd stands for print working directory

/content

In [0]:
#the 'wget' command reads content from the web

url = 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'

! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-19 06:18:15--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: â€˜LoanStats_2018Q4.csv.zipâ€™

LoanStats_2018Q4.cs     [            <=>     ]  21.72M   415KB/s    in 56s

2020-01-19 06:19:11 (400 KB/s) - â€˜LoanStats_2018Q4.csv.zipâ€™ saved [22776791]

In [0]:
# how do you unzip this file in bash, using the bang?
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
loan_df = pd.read_csv('LoanStats_2018Q4.csv')
loan_df.sample(7)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
NaN NaN 4000  4000  4000   36 months  14.47% 137.63 C C2  Teacher               5 years   MORTGAGE 28000.0  Not Verified    Nov-2018 Current     n NaN NaN vacation           Vacation                637xx MO 31.08 2 Jul-2000 0 6.0  NaN  12 0 9321  32.6% 27 w 2435.95  2435.95  2101.680000  2101.68  1564.05  537.63  0.0 0.00    0.0000   Dec-2019 137.63   Jan-2020 Dec-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 41415  1 3 0 1 20.0 32094  79.0  1 1 6676  60.0  28600  1 0 0 2  3765.0  12879.0 42.0 0 0 183.0 220 3  3  0 43.0 NaN 20.0 6.0 0 3 3 4 7  10 9  17 3 12 0.0 0 0 1 88.9  0.0   0 0 69322  41415  22200  40722  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        6000  6000  6000   36 months   6.46% 183.79 A A1 SECURITY SPECIALIST    2 years   RENT     81548.0  Not Verified    Dec-2018 Current     n NaN NaN debt_consolidation Debt consolidation      206xx MD 10.48 0 Dec-2002 0 NaN  63.0 13 1 6900  52.7% 33 w 4127.32  4127.32  2201.170000  2201.17  1872.68  328.49  0.0 0.00    0.0000   Dec-2019 183.79   Jan-2020 Nov-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 89050  0 9 1 1 11.0 82150  123.0 0 1 5194  111.0 13100  1 6 1 2  7421.0  106.0   98.0 0 0 168.0 192 22 11 0 62.0 NaN 11.0 NaN 0 1 2 1 2  23 4  10 2 12 0.0 0 0 1 100.0 100.0 1 0 79925  89050  5300   66825  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        20000 20000 20000  36 months   8.46% 630.99 A A5 VP                     10+ years MORTGAGE 67000.0  Not Verified    Oct-2018 Current     n NaN NaN debt_consolidation Debt consolidation      327xx FL 17.27 0 Aug-1993 0 50.0 NaN  10 0 12306 27.2% 42 w 12816.75 12816.75 8815.060000  8815.06  7183.25  1631.81 0.0 0.00    0.0000   Dec-2019 630.99   Jan-2020 Nov-2019 0 68.0 1 Individual NaN      NaN   NaN          0 0 194458 0 1 0 0 26.0 27000  NaN   0 5 5533  27.0  45200  0 0 1 7  19446.0 26092.0 31.0 0 0 78.0  302 13 11 6 13.0 NaN 11.0 NaN 1 4 5 5 22 4  8  32 5 10 0.0 0 0 1 95.2  0.0   0 0 238685 39306  37800  35679  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        27000 27000 26975  60 months  13.56% 622.11 C C1 NaN                    NaN       RENT     35000.0  Not Verified    Nov-2018 Current     n NaN NaN debt_consolidation Debt consolidation      891xx NV 26.06 0 Sep-1981 0 NaN  NaN  13 0 17724 36.8% 17 f 22587.55 22566.63 8046.750000  8039.30  4412.45  3634.30 0.0 0.00    0.0000   Dec-2019 622.11   Jan-2020 Nov-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 35396  0 2 0 2 16.0 17672  78.0  2 8 13501 50.0  48200  2 0 2 10 2723    22137.0 42.9 0 0 445.0 130 7  7  0 7.0  NaN 4.0  NaN 0 4 5 8 10 4  11 13 5 13 0.0 0 0 2 100.0 12.5  0 0 70907  35396  38800  22707  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        30000 30000 30000  60 months  17.97% 761.32 D D1 Fingerprint Specialist 6 years   MORTGAGE 80000.0  Source Verified Oct-2018 Charged Off n NaN NaN debt_consolidation Debt consolidation      336xx FL 24.92 0 Dec-2007 3 NaN  NaN  18 0 23734 74%   21 w 0.00     0.00     6375.630000  6375.63  950.30   1303.71 0.0 4121.62 741.8916 Jan-2019 761.32   NaN      Jul-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 59296  0 9 0 3 11.0 35562  72.0  0 5 9269  74.0  32090  0 1 2 8  3294    5120.0  92.0 0 0 81.0  129 15 11 0 15.0 NaN 1.0  NaN 0 5 9 5 5  11 9  10 6 18 NaN 0 0 0 100.0 80.0  0 0 81750  59296  25600  49660  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        25000 25000 25000  60 months  10.47% 536.98 B B2 Controller             6 years   MORTGAGE 135000.0 Not Verified    Oct-2018 Fully Paid  n NaN NaN debt_consolidation Debt consolidation      158xx PA 24.97 0 Aug-1999 1 NaN  NaN  14 0 11929 10.2% 40 f 0.00     0.00     27271.184196 27271.18 25000.00 2271.18 0.0 0.00    0.0000   Sep-2019 21915.92 NaN      Dec-2019 0 NaN  1 Joint App  138000.0 28.37 Not Verified 0 0 347553 4 5 2 3 3.0  145971 84.0  4 4 11383 40.0  116700 1 0 1 7  24825   92771.0 11.4 0 0 171.0 230 3  3  3 3.0  NaN 3.0  NaN 0 2 2 7 23 10 8  27 2 14 0.0 0 0 6 100.0 0.0   0 0 524340 157900 104700 192040 86931.0 Dec-2004 1.0 3.0 8.0 14.6 2.0 14.0 0.0 0.0 NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        12000 12000 12000  36 months  10.47% 389.86 B B2 Registered Nurse       8 years   MORTGAGE 62000.0  Not Verified    Oct-2018 Current     n NaN NaN credit_card        Credit card refinancing 342xx FL 28.01 0 Oct-2012 0 NaN  NaN  6  0 11932 89.7% 9  w 7773.26  7773.26  5444.080000  5444.08  4226.74  1217.34 0.0 0.00    0.0000   Dec-2019 389.86   Jan-2020 Nov-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 72066  0 3 0 2 15.0 60134  51.0  0 1 8605  60.0  13300  0 0 0 3  12011   1368.0  89.7 0 0 70.0  72  14 14 1 14.0 NaN 14.0 NaN 0 3 3 3 3  5  3  3  3 6  0.0 0 0 0 100.0 66.7  0 0 95948  72066  13300  82648  NaN     NaN      NaN NaN NaN NaN  NaN NaN  NaN NaN NaN N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN

In [0]:
### to save a file back to your computer, "save from python to a file"

va_df.to_pickle('states_file.pkl')

#OR

va_df.to_csv('states_file.csv', index=False) # gotta add "index=False"
#that avoids saving an empty where the index column would have been

In [0]:
# if not sure what to do? then copy and paste the last line in an error message
# to stackoverflow

# New Section

In [0]:
'''
MAKING FEATURES: Our Feature Presentation
'''

In [0]:
# we're practicing on an Iowa housing dataset

# we shall read in the file via method 4, from github
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
df.head(7)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000
5   6          50       RL  ...        WD         Normal    143000
6   7          20       RL  ...        WD         Normal    307000

[7 rows x 81 columns]

In [0]:
#now check what all the columns
df.dtypes
#there a lot of columns and gotta change the options in pandas to see them all

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [0]:
pd.set_option('display.max_rows', 100)
df.dtypes
# do this so you can know all the datatypes in each column

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [0]:
# looking at data in individual columns

df[['BedroomAbvGr', 'KitchenAbvGr']].head(7) 
### must use double brackets to call several columns individually

   BedroomAbvGr  KitchenAbvGr
0             3             1
1             3             1
2             3             1
3             3             1
4             4             1
5             1             1
6             3             1

In [0]:
#quick note: another way to call columns >>> the dot method
# however this method is limited compared to bracket method above

df.BedroomAbvGr.head() ### can't call on several columns w/ this method

#be aware that it exists and don't use it

0    3
1    3
2    3
3    3
4    4
Name: BedroomAbvGr, dtype: int64

In [0]:
df['LotFrontage'].head(10)
# why are these classified as floats when they should be integers?

# b/c of the NaN value, or missing data

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [0]:
df['LotFrontage'].value_counts(dropna=False)

#NaN is throwing off the data

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [0]:
type(np.nan)

float

In [0]:
#bottom line: it is important to know the data types in your datam before engineering new features

In [0]:
'''
NOW TIME TO MAKE SOME FEATURES
'''

# Slim down the dataset and consider just a few for this example

small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
# the ".copy()" is a safety measure
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [0]:
# CREATE A TOTAL SQUARE FOOTAGE COLUMN FROM THE ORIGINAL DATASET

small_df['TotalSquareFootage'] = small_df['TotalBsmtSF']+small_df['1stFlrSF']+small_df['2ndFlrSF']

small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [0]:
# CREATE A PRICE PER SQUARE FOOT COLUMN

small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage']

small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854     208500                2566     81.254871
1         1262      1262         0     181500                2524     71.909667
2          920       920       866     223500                2706     82.594235
3          756       961       756     140000                2473     56.611403
4         1145      1145      1053     250000                3343     74.783129

In [0]:
''' now we're working with string columns'''

! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

# same exact thing was done w/ the same data link, but I did it again for repetition

--2020-01-19 07:43:29--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: â€˜LoanStats_2018Q4.csv.zip.1â€™

LoanStats_2018Q4.cs     [             <=>    ]  21.72M   416KB/s    in 56s

2020-01-19 07:44:25 (399 KB/s) - â€˜LoanStats_2018Q4.csv.zip.1â€™ saved [22776791]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [0]:
# Read in the csv

df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape
#funny shape? then check the head

#adjusted from (128400,1) to (128399, 144) after adding "header=1" to read-in  parameter

#but there's still columns of pure "NaN", also add skipfooter=2, engine='python'

(128397, 144)

In [0]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#we can fix the header problem w/ the 'skiprows' parameter

In [0]:
# NOW TO DROP SOME COLUMNS THAT ARE COMPLETELY MISSING VALUES
pd.set_option('display.max_rows', 200)

df.isnull().sum() #lots of missing data

#so sort out the data:

df.isnull().sum().sort_values(ascending=True)
#default order for .sort_values() is ascending
# "COLUMN NAME" AND 0 MEANS GOOD DATA

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

In [0]:
### TIME TO DROP THAT BAD DATA

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [0]:
#S'MORE CLEAN-UP

df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [0]:
## look at specific value w/in a column via the index number in brackets

df['int_rate'][3] # a trailing space makes python misinterpret it as a 'string'

' 12.98%'

In [0]:
type(df['int_rate'][3])
#string column that should be numeric

str

In [0]:
# fix it via the ".strip" method (((EXAMPLE)))
int_rate = ' 12.98%'

In [0]:
# remove non-numerics
int_rate.strip().strip('%')

In [0]:
#NOW "CAST" the string value to a float

float('12.98')

12.98

In [0]:
##AND put it all together
float(int_rate.strip().strip('%'))

12.98

In [0]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
'''
turn this into a function
it shall repeat what we have done above to each cell
'''

def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
#TEST OUT THE FUNCTION
myfunc(int_rate)

12.98

In [0]:
#double check that it works
type(myfunc(int_rate))

float

In [0]:
#TIME TO APPLY IT TO EVERY CELL#
## FOR LOOP TIME
new_list = []

for cell in df['int_rate']:
  new_list.append(myfunc(cell))

In [0]:
#show the first 10 values of the list
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [0]:
#convert that list to a new column
small_df['int_rate_cleaned'] = pd.Series(new_list)
small_df.head()

#pd.Series takes the data and puts it into a new "series" aka a column

   TotalBsmtSF  1stFlrSF  ...  PricePerSqFt  int_rate_cleaned
0          856       856  ...     81.254871             14.47
1         1262      1262  ...     71.909667             10.33
2          920       920  ...     82.594235             15.02
3          756       961  ...     56.611403             12.98
4         1145      1145  ...     74.783129             16.14

[5 rows x 7 columns]

In [0]:
#double check that the converted column is in fact float
small_df.dtypes

TotalBsmtSF             int64
1stFlrSF                int64
2ndFlrSF                int64
SalePrice               int64
TotalSquareFootage      int64
PricePerSqFt          float64
int_rate_cleaned      float64
dtype: object

In [0]:
#now Improve with the .apply function!
small_df['int_rate_cleaned2'] = df['int_rate'].apply(myfunc)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  int_rate_cleaned  int_rate_cleaned2
0          856       856  ...             14.47              14.47
1         1262      1262  ...             10.33              10.33
2          920       920  ...             15.02              15.02
3          756       961  ...             12.98              12.98
4         1145      1145  ...             16.14              16.14

[5 rows x 8 columns]

In [0]:
'''
APPLY the .apply method more!
'''
#look at the first 20 employment titles
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
#how many different unique employment title are there?
len(df['emp_title'].unique())

43890

In [0]:
#how often is emp_title null?
df['emp_title'].isnull().sum()

20942

In [0]:
#examples of cases we would want to clean up
examples = ['owner', 'Supervisor', ' Project Manager', np.nan]

In [0]:
#THE FUNCTION TO CLEAN UP THESE CASES AND INCREASE UNIFORMITY
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

In [0]:
#create the for loop:
for title in examples:
  print(clean_title(title))

Owner
Supervisor
Project Manager
Unknown

In [0]:
# LIST COMPREHENSION: taking the for and combining it with the function to work a list

[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
#now that we're sure the function works as expected, apply it to the column
# this time we'll overwrite the original column
df['emp_title']=df['emp_title'].apply(clean_title)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
len(df['emp_title'].unique())

34899

In [0]:
df['emp_title'].isnull().sum()
# zero b/c all bad data was taken out

0

In [0]:
''' Dates and Time with Pandas'''

df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=140)

In [0]:
# filter out the date columns with a FOR LOOP
for col in df:
  if col.endswith('_d'):
    print(col)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d

In [0]:
# filter out the date columns with a LIST COMPREHENSION
mycols = [col for col in df.columns if col.endswith('_d')]

In [0]:
#look at 'issue_d' more closely
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [0]:
#infer_datetime_format=True
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [0]:
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [0]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
# use the .dt accessor

df=df[mycols].copy()
df['year']=df['issue_d'].dt.year
df.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018

In [0]:
# repeat for the month
df['month']=df['issue_d'].dt.month
df.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018     12
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018     12
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018     12
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12

In [0]:
# look at the dtypes 
df.dtypes[-2:]

year     int64
month    int64
dtype: object

In [0]:
df['last_credit_pull_d']=pd.to_datetime(df['last_credit_pull_d'], infer_datetime_format=True)
df.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN         2019-11-01  2018     12
1 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12
2 2018-12-01     Feb-2019          NaN         2019-11-01  2018     12
3 2018-12-01     Dec-2019     Jan-2020         2019-12-01  2018     12
4 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12

In [0]:
#date arithmetic
df['issue_d'] - df['last_credit_pull_d']

0        -335 days
1        -335 days
2        -335 days
3        -365 days
4        -335 days
            ...
128392    -31 days
128393   -396 days
128394   -396 days
128395   -396 days
128396   -396 days
Length: 128397, dtype: timedelta64[ns]

In [0]:
#new column
df['day_diff'] = (df['last_credit_pull_d']-df['issue_d']).dt.days

df.head()

     issue_d last_pymnt_d next_pymnt_d  ...  year  month  day_diff
0 2018-12-01     Apr-2019          NaN  ...  2018     12     335.0
1 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     335.0
2 2018-12-01     Feb-2019          NaN  ...  2018     12     335.0
3 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     365.0
4 2018-12-01     Dec-2019     Jan-2020  ...  2018     12     335.0

[5 rows x 7 columns]

In [0]:
'''Convert the term column from string to integer.

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

/Make last_/pymnt_d_month and last_pymnt_d_year columns.'''

In [1]:
#Convert the term column from string to integer

df['term']

NameError: ignored

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01