<a href="https://colab.research.google.com/github/FancyFun/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [72]:
### YOUR WORK HERE
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [73]:
numbers = 'symboling:','normalized-losses:','make:','fuel-type:','aspiration:','num-of-doors:','body-style:','drive-wheels:','engine-location:','wheel-base:','length:','width:','height:','curb-weight:','engine-type:','num-of-cylinders:','engine-size:','fuel-system:', 'bore:', 'stroke:', 'compression-ratio:', 'horsepower:', 'peak-rpm:', 'city-mpg:', 'highway-mpg:', 'price:'

cars = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=numbers)

cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling:          205 non-null    int64
 1   normalized-losses:  205 non-null    object
 2   make:               205 non-null    object
 3   fuel-type:          205 non-null    object
 4   aspiration:         205 non-null    object
 5   num-of-doors:       205 non-null    object
 6   body-style:         205 non-null    object
 7   drive-wheels:       205 non-null    object
 8   engine-location:    205 non-null    object
 9   wheel-base:         205 non-null    float64
 10  length:             205 non-null    float64
 11  width:              205 non-null    float64
 12  height:             205 non-null    float64
 13  curb-weight:        205 non-null    int64
 14  engine-type:        205 non-null    object
 15  num-of-cylinders:   205 non-null    object
 16  engine-size:        205 non-null    int64
 17  fuel-system:        205 non-null    object
 18  bore:               205 non-null    object
 19  stroke:             205 non-null    object
 20  compression-ratio:  205 non-null    float64
 21  horsepower:         205 non-null    object
 22  peak-rpm:           205 non-null    object
 23  city-mpg:           205 non-null    int64
 24  highway-mpg:        205 non-null    int64
 25  price:              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [74]:
cars2 = cars.replace('?', np.NaN)

cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling:          205 non-null    int64
 1   normalized-losses:  164 non-null    object
 2   make:               205 non-null    object
 3   fuel-type:          205 non-null    object
 4   aspiration:         205 non-null    object
 5   num-of-doors:       203 non-null    object
 6   body-style:         205 non-null    object
 7   drive-wheels:       205 non-null    object
 8   engine-location:    205 non-null    object
 9   wheel-base:         205 non-null    float64
 10  length:             205 non-null    float64
 11  width:              205 non-null    float64
 12  height:             205 non-null    float64
 13  curb-weight:        205 non-null    int64
 14  engine-type:        205 non-null    object
 15  num-of-cylinders:   205 non-null    object
 16  engine-size:        205 non-null    int64
 17  fuel-system:        205 non-null    object
 18  bore:               201 non-null    object
 19  stroke:             201 non-null    object
 20  compression-ratio:  205 non-null    float64
 21  horsepower:         203 non-null    object
 22  peak-rpm:           203 non-null    object
 23  city-mpg:           205 non-null    int64
 24  highway-mpg:        205 non-null    int64
 25  price:              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [75]:
cars2.head()

   symboling: normalized-losses:        make:  ... city-mpg: highway-mpg: price:
0           3                NaN  alfa-romero  ...        21           27  13495
1           3                NaN  alfa-romero  ...        21           27  16500
2           1                NaN  alfa-romero  ...        19           26  16500
3           2                164         audi  ...        24           30  13950
4           2                164         audi  ...        18           22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [76]:
### YOUR WORK HERE

cars2['make:'].sample(10, random_state=30)

121         plymouth
176           toyota
24             dodge
88        mitsubishi
72     mercedes-benz
103           nissan
26             dodge
20         chevrolet
155           toyota
185       volkswagen
Name: make:, dtype: object

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [77]:
### YOUR WORK HERE

maleen = cars2['highway-mpg:'].sample(10, random_state=30)

maleen.mean()

32.8

In [78]:
cars2.head()

   symboling: normalized-losses:        make:  ... city-mpg: highway-mpg: price:
0           3                NaN  alfa-romero  ...        21           27  13495
1           3                NaN  alfa-romero  ...        21           27  16500
2           1                NaN  alfa-romero  ...        19           26  16500
3           2                164         audi  ...        24           30  13950
4           2                164         audi  ...        18           22  17450

[5 rows x 26 columns]

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [79]:
### YOUR WORK HERE
meen = cars2['highway-mpg:'].sample(100, random_state=30)

meen.mean()

#he's a little off by 5mpg

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

some cars have better fuel efficiency than others therfore the larger the number the more likely to prove him wrong.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [80]:
### YOUR WORK HERE
cols = [
        'Party',
        'handicapped-infants',
        'water-project-cost-sharing',
        'adoption-of-the-budget-resolution',
        'physician-fee-freeze',
        'el-salvador-aid',
        'religious-groups-in-schools',
        'anti-satellite-test-ban',
        'aid-to-nicaraguan-contras',
        'mx-missile',
        'immigration',
        'synfuels-corporation-cutback',
        'education-spending',
        'superfund-right-to-sue',
        'crime',
        'duty-free-exports',
        'export-administration-act-south-africa',
        ]



cong = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=cols)

cong.head()

        Party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [89]:
new = cong.replace({'y':1, 'n':0, '?': np.NaN})

new

          Party  ...  export-administration-act-south-africa
0    republican  ...                                     1.0
1    republican  ...                                     NaN
2      democrat  ...                                     0.0
3      democrat  ...                                     1.0
4      democrat  ...                                     1.0
..          ...  ...                                     ...
430  republican  ...                                     1.0
431    democrat  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     1.0
434  republican  ...                                     0.0

[435 rows x 17 columns]

In [90]:
rep = new[new.Party == 'republican']
dem = new[new.Party == 'democrat']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [101]:
### YOUR WORK HERE
from scipy.stats import ttest_ind, ttest_rel

stats.ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [102]:
stats.ttest_ind(dem['immigration'], rep['immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [103]:
stats.ttest_ind(dem['crime'], rep['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE