<a href="https://colab.research.google.com/github/wheraboots/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-10-01 21:25:38--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.62M   914KB/s    in 24s

2019-10-01 21:26:03 (904 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22667400]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 36 months"," 14.47%","688.13","C","C2","bus driver","4 years","OWN","52000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","681xx","NE","30.65","1","Jun-1979","2","15","","6","0","15048","73%","22","w","15777.74","15777.74","6104.74","6104.74","4222.26","1882.48","0.0","0.0","0.0","Sep-2019","688.13","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","33157","0","2","1","1","8","18109","44","1","2","8628","73","20700","1","1","4","3","5526","5175","73","0","0","141","474","10","8","0","10","15","1","15","0","4","4","11","12","8","4","14","4","6","","0","0","2","95","50","0","0","61699","33157","20700","40999","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 16.14%","609.82","C","C4","Production Manager","5 years","MORTGAGE","45000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","703xx","LA","37.09","0","Sep-2003","0","","","7","0","8901","36.8%","21","w","0.00","0.00","26653.1675796436","26653.17","25000.00","1653.17","0.0","0.0","0.0","Apr-2019","24857.33","","May-2019","0","","1","Individual","","","","0","1303","49524","0","2","1","2","7","40623","82","0","0","7830","67","24200","2","0","1","2","7075","10465","43.7","0","0","161","162","45","7","4","96","","7","","0","2","3","3","5","7","5","10","3","7","0","0","0","1","100","33.3","0","0","73683","49524","18600","49483","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","26500","26500","26500"," 60 months"," 11.31%","580.28","B","B3","Compliance Director","10+ years","MORTGAGE","134000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","747xx","OK","18.91","0","Dec-2006","2","","","17","0","43640","65.4%","37","w","23410.70","23410.70","5197.54","5197.54","3089.30","2108.24","0.0","0.0","0.0","Sep-2019","580.28","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","381100","3","3","2","2","4","64335","46","1","3","10115","58","66700","2","1","7","6","22418","14577","70.4","0","0","114","144","3","3","4","22","","2","","0","8","10","9","10","7","13","26","10","17","0","0","0","4","100","66.7","0","0","430403","107975","49300","88875","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10400","10400","10400"," 36 months"," 12.98%","350.32","B","B5","Program Support Assistant ","10+ years","MORTGAGE","56099","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","800xx","CO","20.92","0","Jul-2013","2","32","67","8","1","1669","9.8%","10","w","8164.57","8164.57","3141.63","3141.63","2235.43","906.20","0.0","0.0","0.0","Sep-2019","350.32","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","39564","4","2","1","2","1","37895","92","3","6","725","36","17000","1","0","4","8","4946","15331","9.8","0","0","65","57","1","1","0","1","","0","32","0","3","3","6","6","3","6","7","3","8","0","0","0","4","90","0","1","0","60709","39564","17000","43709","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 60 months"," 12.98%","796","B","B5","Sr. Vice President -Risk Manager","7 years","MORTGAGE","211646","Source Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","797xx","TX","15.09","0","Sep-1985","0","77","","13","0","55944","74.9%","39","w","0.00","0.00","36266.741551619","36266.74","35000.00","1266.74","0.0","0.0","0.0","Apr-2019","34712.6","","Sep-2019","0","","1","Joint App","272421","15.89","Source Verified","0","0","420931","1","3","1","2","5","26570","51","0","2","24795","65","74700","1","6","1","4","32379","8677","85.5","0","0","152","399","21","5","6","21","77","12","77","0","6","8","6","11","14","9","19","8","13","0","0","0","1","97.4","66.7","0","0","516204","82514","59700","51904","88364","Sep-1985","0","6","19","53.4","2","29","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.56%","622.68","A","A3","Teacher","10+ years","MORTGAGE","100000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","982xx","WA","18.92","0","Feb-1999","0","48","","9","0","25416","29.9%","19","w","0.00","0.00","20215.79243","20215.79","20000.00","215.79","0.0","0.0","0.0","Feb-2019","20228.39","","Feb-2019","0","","1","Joint App","190000","11.75","Not Verified","0","0","515779","1","2","0","1","13","46153","71","1","2","9759","39","85100","2","2","0","5","57309","59684","29.9","0","0","171","238","1","1","5","1","","13","48","0","5","5","5","6","5","5","9","5","9","0","0","0","1","94.7","20","0","0","622183","71569","85100","74833","43287","Aug-1998","0","3","10","29.7","2","7","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13000","13000","13000"," 36 months"," 17.97%","469.79","D","D1","Help Tech Supervisor","10+ years","MORTGAGE","92360","Source Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","300xx","GA","27.44","0","Sep-2006","1","68","","18","0","32020","49.6%","30","w","10370.35","10370.35","4208.64","4208.64","2629.65","1578.99","0.0","0.0","0.0","Sep-2019","469.79","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","131919","1","2","1","3","4","17310","60","0","2","6116","53","64600","1","4","1","5","7760","7140","70.7","0","0","120","147","16","4","2","18","","4","70","0","5","12","6","7","6","15","22","12","18","0","0","0","1","90","66.7","0","0","190803","49330","24400","28861","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 14.47%","282.16","C","C2","Assistant Athletic Director of Marketing","1 year","RENT","67000","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","231xx","VA","28.39","0","Aug-2009","1","","","9","0","10018","50.9%","34","w","0.00","0.00","13140.1266634624","13140.13","12000.00","1140.13","0.0","0.0","0.0","Sep-2019","11169.83","","Sep-2019","0","","1","Individual","","","","0","0","184578","1","4","2","3","5","174560","97","0","1","4615","87","19700","1","1","2","4","20509","9682","50.9","0","0","112","80","23","5","0","23","","5","","0","3","3","5","5","26","5","8","3","9","0","0","0","2","100","0","0","0","183897","184578","19700","164197","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
!tail LoanStats_2018Q4.csv

In [0]:
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100


df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128412, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,bus driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,Sep-2019,688.13,Oct-2019,Sep-2019,0,...,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,...,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,...,7,13,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,...,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,...,14,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
next_pymnt_d                                   18643
il_util                                        20274
emp_title                                      20947
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
annual_inc_joint                              111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_open_act_il                           111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     128244
settlement_date                               128244
settlement_amount                             128244
settlement_status                             128244
settlement_term                               128244
settlement_percentage                         128244
hardship_status                               128343
deferral_term                                 128343
hardship_amount                               128343
hardship_start_date                           128343
hardship_end_date                             128343
payment_plan_start_date                       128343
hardship_length                               128343
hardship_dpd                                  128343
hardship_loan_status                          128343
hardship_reason                               128343
hardship_payoff_balance_amount                128343
hardship_last_payment_amount                  128343
hardship_type                                 128343
orig_projected_additional_accrued_interest    128345
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
dtype: int64

In [0]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [0]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,bus driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,Sep-2019,688.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,...,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,7,13,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,NaN,1,Joint App,272421.0,...,14,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df['int_rate'][:10]

0     14.47%
1     16.14%
2     11.31%
3     12.98%
4     12.98%
5      7.56%
6     17.97%
7     14.47%
8     11.80%
9     17.97%
Name: int_rate, dtype: object

In [0]:
df.dtypes[:10]

loan_amnt            int64
funded_amnt          int64
funded_amnt_inv    float64
term                object
int_rate            object
installment        float64
grade               object
sub_grade           object
emp_title           object
emp_length          object
dtype: object

In [0]:
int_rate = '15.02%'
int_rate

'15.02%'

In [0]:
int_rate.strip()

'15.02%'

In [0]:
int_rate.strip().strip('%')

'15.02'

In [0]:
type(int_rate.strip().strip('%'))

In [0]:
int_rate.strip().strip('%')

'15.02'

In [0]:
float(int_rate.strip().strip('%'))

15.02

In [0]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
def int_rate_to_float(mystring):
  return float(mystring.strip().strip('%'))

int_rate_to_float(int_rate)

15.02

In [0]:
df['int_rate'].apply(int_rate_to_float)[:10]

0    14.47
1    16.14
2    11.31
3    12.98
4    12.98
5     7.56
6    17.97
7    14.47
8    11.80
9    17.97
Name: int_rate, dtype: float64

In [0]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,bus driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,Sep-2019,688.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47
1,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,...,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14
2,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,13,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31
3,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
4,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,NaN,1,Joint App,272421.0,...,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98

In [0]:
df.int_rate[:10]

0     14.47%
1     16.14%
2     11.31%
3     12.98%
4     12.98%
5      7.56%
6     17.97%
7     14.47%
8     11.80%
9     17.97%
Name: int_rate, dtype: object

In [0]:
df['int_rate'][:10]

0     14.47%
1     16.14%
2     11.31%
3     12.98%
4     12.98%
5      7.56%
6     17.97%
7     14.47%
8     11.80%
9     17.97%
Name: int_rate, dtype: object

In [0]:
df.dtypes[:10]

loan_amnt            int64
funded_amnt          int64
funded_amnt_inv    float64
term                object
int_rate            object
installment        float64
grade               object
sub_grade           object
emp_title           object
emp_length          object
dtype: object

In [0]:
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
len(df['emp_title'].value_counts())

43892

In [0]:
df['emp_title'].value_counts().reset_index().head()

              index  emp_title
0           Teacher       2090
1           Manager       1773
2  Registered Nurse        952
3            Driver        924
4                RN        726

In [0]:
df['emp_title'].value_counts().reset_index().shape

(43892, 2)

In [0]:
df['emp_title'].isnull().sum()

20947

In [0]:
import numpy as np

type(np.NaN)

float

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

[clean_title(item) for item in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,Bus Driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,Sep-2019,688.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47
1,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,...,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14
2,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,13,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31
3,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98
4,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,NaN,1,Joint App,272421.0,...,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98

In [0]:
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
len(df['emp_title'].value_counts())

34902

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains("Manager")
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,emp_title_manager
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,Bus Driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,Sep-2019,688.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,False
1,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,...,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,True
2,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31,False
3,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,False
4,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,NaN,1,Joint App,272421.0,...,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,True

In [0]:
condition = (df['emp_title_manager'] == True)

managers = df[df['emp_title_manager'] == True]

print(managers.shape)
managers.head()

(17882, 142)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,emp_title_manager
1,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,...,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,True
4,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,Sep-1985,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,Apr-2019,34712.60,NaN,Sep-2019,0,NaN,1,Joint App,272421.0,...,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,True
8,12000,12000,12000.0,36 months,11.80%,397.43,B,B4,Transportation Manager,10+ years,RENT,79365.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,104xx,NY,29.70,0,Sep-1988,2,25.0,NaN,20,0,4957,27.8%,32,w,9383.91,9383.91,3565.070000,3565.07,2616.09,948.98,0.0,0.0,0.0,Sep-2019,397.43,Oct-2019,Sep-2019,0,35.0,1,Individual,NaN,...,20,11,20,0.0,0,0,7,81.3,0.0,0,0,103047,80734,6700,85247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.80,True
16,12000,12000,12000.0,36 months,16.14%,422.72,C,C4,Sales Account Manager,4 years,RENT,70000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,333xx,FL,18.96,0,Nov-2013,0,NaN,NaN,6,0,13663,61.8%,7,w,9844.05,9844.05,3365.620000,3365.62,2155.95,1209.67,0.0,0.0,0.0,Sep-2019,422.72,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,5,4,6,0.0,0,0,2,100.0,66.7,0,0,56264,34470,18500,34164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,True
18,20400,20400,20400.0,60 months,10.33%,436.76,B,B1,Bakery Manager,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,815xx,CO,5.04,0,Dec-1989,0,NaN,NaN,13,0,6516,9%,27,w,0.00,0.00,20913.760288,20913.76,20400.00,513.76,0.0,0.0,0.0,Apr-2019,20057.80,NaN,Sep-2019,0,NaN,1,Joint App,240000.0,...,15,4,13,0.0,0,0,4,100.0,0.0,0,0,504296,22077,44000,16896,7957.0,Jun-2002,0.0,4.0,9.0,13.3,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,True

In [0]:
(df['emp_title_manager'] == False) & (df['home_ownership']=="OWN")

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14         True
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24         True
25        False
26        False
27         True
28        False
29        False
30        False
31         True
32        False
33        False
34        False
35        False
36        False
37        False
38        False
39        False
40        False
41        False
42        False
43        False
44        False
45        False
46        False
47        False
48        False
49        False
50        False
51        False
52        False
53         True
54        False
55        False
56        False
57        False
58        False
59        False
60        False
61        False
62        False
63        False
64        False
65        False
66        False
67        False
68        False
69        False
70        False
71        False
72        False
73        False
74        False
75        False
76        False
77        False
78        False
79         True
80        False
81        False
82        False
83        False
84        False
85         True
86        False
87        False
88        False
89        False
90        False
91         True
92        False
93        False
94        False
95        False
96        False
97         True
98        False
99        False
100       False
101       False
102       False
103       False
104       False
105        True
106       False
107       False
108       False
109        True
110       False
111       False
112       False
113       False
114       False
115       False
116       False
117       False
118       False
119       False
120       False
121       False
122        True
123       False
124       False
125       False
126       False
127       False
128       False
129        True
130       False
131       False
132        True
133       False
134       False
135       False
136       False
137       False
138       False
139       False
140        True
141       False
142       False
143       False
144       False
145       False
146       False
147       False
148       False
149        True
150       False
151       False
152       False
153       False
154       False
155       False
156       False
157       False
158       False
159       False
160       False
161       False
162       False
163       False
164       False
165       False
166       False
167       False
168       False
169       False
170       False
171       False
172       False
173       False
174       False
175       False
176       False
177       False
178       False
179       False
180       False
181       False
182       False
183       False
184        True
185       False
186       False
187       False
188        True
189       False
190       False
191       False
192       False
193       False
194       False
195       False
196       False
197       False
198       False
199       False
200       False
201       False
202       False
203       False
204       False
205       False
206       False
207       False
208       False
209       False
210       False
211       False
212        True
213       False
214       False
215       False
216       False
217       False
218       False
219       False
220       False
221       False
222       False
223       False
224        True
225       False
226       False
227       False
228       False
229       False
230       False
231       False
232       False
233       False
234       False
235       False
236       False
237       False
238       False
239        True
240       False
241       False
242       False
243       False
244        True
245       False
246       False
247       False
248        True
249       False
250       False
251       False
252       False
253       False
254       False
255       False
256       False
257       False
258       False
259       False
260       False
261       False
262       False
263       False
264       False
265       False
266       False
267       False
268       False
269       False
270       False
271       False
272       False
273       False
274       False
275       False
276       False
277       False
278        True
279       False
280       False
281       False
282       False
283       False
284       False
285       False
286       False
287       False
288       False
289       False
290        True
291       False
292       False
293       False
294        True
295       False
296       False
297       False
298       False
299       False
300       False
301       False
302       False
303       False
304       False
305       False
306       False
307       False
308       False
309        True
310       False
311       False
312       False
313       False
314       False
315       False
316       False
317       False
318       False
319       False
320       False
321       False
322       False
323        True
324       False
325       False
326       False
327       False
328       False
329       False
330       False
331       False
332       False
333       False
334       False
335       False
336       False
337       False
338       False
339       False
340       False
341        True
342       False
343       False
344       False
345       False
346       False
347       False
348        True
349       False
350       False
351       False
352       False
353       False
354       False
355       False
356       False
357       False
358       False
359       False
360       False
361       False
362       False
363       False
364       False
365       False
366       False
367       False
368        True
369       False
370       False
371       False
372       False
373       False
374       False
375       False
376       False
377       False
378       False
379       False
380       False
381       False
382        True
383        True
384       False
385       False
386       False
387       False
388       False
389       False
390       False
391       False
392       False
393       False
394       False
395       False
396       False
397       False
398       False
399       False
400       False
401       False
402       False
403        True
404       False
405       False
406       False
407       False
408       False
409       False
410       False
411       False
412       False
413       False
414       False
415       False
416       False
417       False
418       False
419       False
420       False
421       False
422       False
423       False
424        True
425       False
426       False
427       False
428        True
429       False
430       False
431       False
432       False
433       False
434       False
435       False
436       False
437       False
438        True
439       False
440       False
441       False
442       False
443       False
444       False
445       False
446       False
447       False
448       False
449        True
450       False
451       False
452       False
453       False
454       False
455       False
456       False
457       False
458       False
459       False
460       False
461       False
462        True
463       False
464       False
465       False
466       False
467       False
468       False
469       False
470       False
471       False
472       False
473       False
474        True
475        True
476       False
477       False
478       False
479       False
480       False
481       False
482       False
483        True
484       False
485       False
486        True
487       False
488       False
489       False
490       False
491       False
492       False
493       False
494       False
495       False
496       False
497       False
498       False
          ...
127913    False
127914    False
127915    False
127916    False
127917    False
127918    False
127919    False
127920    False
127921    False
127922     True
127923    False
127924    False
127925    False
127926    False
127927     True
127928    False
127929    False
127930    False
127931    False
127932    False
127933    False
127934    False
127935     True
127936    False
127937    False
127938    False
127939     True
127940    False
127941    False
127942    False
127943    False
127944    False
127945    False
127946    False
127947    False
127948    False
127949    False
127950    False
127951    False
127952    False
127953     True
127954    False
127955    False
127956    False
127957    False
127958     True
127959    False
127960    False
127961     True
127962    False
127963    False
127964    False
127965    False
127966    False
127967    False
127968    False
127969    False
127970    False
127971    False
127972    False
127973    False
127974    False
127975    False
127976    False
127977    False
127978    False
127979    False
127980    False
127981    False
127982    False
127983    False
127984    False
127985    False
127986    False
127987    False
127988    False
127989    False
127990    False
127991    False
127992    False
127993    False
127994    False
127995    False
127996    False
127997    False
127998    False
127999    False
128000    False
128001    False
128002    False
128003    False
128004    False
128005    False
128006     True
128007    False
128008    False
128009    False
128010    False
128011    False
128012    False
128013    False
128014    False
128015    False
128016    False
128017    False
128018    False
128019     True
128020    False
128021     True
128022    False
128023    False
128024     True
128025    False
128026    False
128027    False
128028    False
128029    False
128030    False
128031    False
128032    False
128033    False
128034    False
128035    False
128036    False
128037    False
128038    False
128039    False
128040    False
128041    False
128042    False
128043    False
128044    False
128045    False
128046    False
128047     True
128048    False
128049    False
128050    False
128051    False
128052    False
128053    False
128054    False
128055    False
128056    False
128057    False
128058    False
128059    False
128060    False
128061    False
128062    False
128063    False
128064    False
128065    False
128066    False
128067    False
128068    False
128069    False
128070     True
128071    False
128072    False
128073    False
128074    False
128075     True
128076    False
128077    False
128078     True
128079    False
128080    False
128081    False
128082    False
128083     True
128084    False
128085    False
128086    False
128087    False
128088    False
128089    False
128090    False
128091    False
128092    False
128093    False
128094    False
128095    False
128096    False
128097    False
128098    False
128099    False
128100    False
128101    False
128102    False
128103    False
128104    False
128105    False
128106    False
128107    False
128108    False
128109    False
128110     True
128111    False
128112     True
128113    False
128114    False
128115    False
128116    False
128117    False
128118    False
128119    False
128120    False
128121    False
128122    False
128123    False
128124    False
128125    False
128126     True
128127    False
128128    False
128129    False
128130    False
128131    False
128132     True
128133    False
128134    False
128135    False
128136    False
128137    False
128138    False
128139     True
128140    False
128141    False
128142    False
128143    False
128144    False
128145    False
128146    False
128147    False
128148    False
128149    False
128150    False
128151    False
128152    False
128153    False
128154    False
128155    False
128156    False
128157    False
128158    False
128159    False
128160    False
128161    False
128162    False
128163    False
128164    False
128165    False
128166    False
128167    False
128168    False
128169    False
128170    False
128171    False
128172     True
128173    False
128174     True
128175    False
128176    False
128177    False
128178     True
128179    False
128180    False
128181    False
128182    False
128183    False
128184    False
128185    False
128186    False
128187    False
128188    False
128189    False
128190    False
128191    False
128192    False
128193     True
128194    False
128195     True
128196    False
128197    False
128198    False
128199     True
128200    False
128201    False
128202    False
128203    False
128204    False
128205    False
128206    False
128207    False
128208    False
128209    False
128210    False
128211    False
128212    False
128213    False
128214    False
128215    False
128216    False
128217     True
128218    False
128219    False
128220    False
128221    False
128222    False
128223    False
128224    False
128225    False
128226    False
128227    False
128228    False
128229    False
128230     True
128231    False
128232    False
128233    False
128234    False
128235    False
128236    False
128237    False
128238    False
128239     True
128240    False
128241    False
128242    False
128243    False
128244    False
128245    False
128246    False
128247    False
128248    False
128249    False
128250    False
128251    False
128252    False
128253     True
128254    False
128255    False
128256    False
128257     True
128258    False
128259    False
128260    False
128261    False
128262    False
128263    False
128264    False
128265    False
128266    False
128267    False
128268    False
128269    False
128270    False
128271    False
128272    False
128273     True
128274     True
128275    False
128276    False
128277    False
128278     True
128279    False
128280    False
128281    False
128282    False
128283    False
128284    False
128285    False
128286    False
128287    False
128288    False
128289    False
128290    False
128291    False
128292    False
128293    False
128294    False
128295    False
128296    False
128297    False
128298    False
128299    False
128300    False
128301    False
128302    False
128303    False
128304    False
128305    False
128306    False
128307    False
128308    False
128309    False
128310    False
128311    False
128312    False
128313    False
128314    False
128315    False
128316    False
128317    False
128318    False
128319    False
128320    False
128321    False
128322    False
128323    False
128324    False
128325    False
128326    False
128327    False
128328    False
128329    False
128330    False
128331     True
128332    False
128333    False
128334    False
128335    False
128336    False
128337    False
128338    False
128339    False
128340    False
128341    False
128342     True
128343    False
128344     True
128345    False
128346    False
128347    False
128348    False
128349    False
128350    False
128351    False
128352    False
128353     True
128354    False
128355    False
128356    False
128357    False
128358     True
128359    False
128360    False
128361    False
128362    False
128363    False
128364    False
128365    False
128366    False
128367    False
128368    False
128369    False
128370    False
128371     True
128372    False
128373    False
128374    False
128375    False
128376    False
128377    False
128378    False
128379     True
128380    False
128381     True
128382    False
128383    False
128384    False
128385    False
128386    False
128387    False
128388    False
128389    False
128390    False
128391    False
128392    False
128393    False
128394    False
128395    False
128396    False
128397    False
128398    False
128399    False
128400    False
128401     True
128402    False
128403     True
128404    False
128405    False
128406    False
128407    False
128408    False
128409    False
128410    False
128411    False
Length: 128412, dtype: bool

In [0]:
plebians = df[(df['emp_title_manager'] == False) & (df['home_ownership']=="MORTGAGE")]
print(plebians.shape)
plebians.head()

(53930, 142)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,...,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_float,emp_title_manager
2,26500,26500,26500.0,60 months,11.31%,580.28,B,B3,Compliance Director,10+ years,MORTGAGE,134000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,Dec-2006,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,Sep-2019,580.28,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31,False
3,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,Sep-2019,350.32,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,False
5,20000,20000,20000.0,36 months,7.56%,622.68,A,A3,Teacher,10+ years,MORTGAGE,100000.0,Not Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,982xx,WA,18.92,0,Feb-1999,0,48.0,NaN,9,0,25416,29.9%,19,w,0.00,0.00,20215.792430,20215.79,20000.00,215.79,0.0,0.0,0.0,Feb-2019,20228.39,NaN,Feb-2019,0,NaN,1,Joint App,190000.0,...,9,5,9,0.0,0,0,1,94.7,20.0,0,0,622183,71569,85100,74833,43287.0,Aug-1998,0.0,3.0,10.0,29.7,2.0,7.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,7.56,False
6,13000,13000,13000.0,36 months,17.97%,469.79,D,D1,Help Tech Supervisor,10+ years,MORTGAGE,92360.0,Source Verified,Dec-2018,Current,n,home_improvement,Home improvement,300xx,GA,27.44,0,Sep-2006,1,68.0,NaN,18,0,32020,49.6%,30,w,10370.35,10370.35,4208.640000,4208.64,2629.65,1578.99,0.0,0.0,0.0,Sep-2019,469.79,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,...,22,12,18,0.0,0,0,1,90.0,66.7,0,0,190803,49330,24400,28861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,17.97,False
11,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,201xx,VA,33.17,0,Sep-2011,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Jul-2019,0,NaN,1,Individual,NaN,...,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.72,False

In [0]:
managers['int_rate_float'].mean()

In [0]:
plebians['int_rate_float'].mean()

In [0]:
import seaborn as sns

sns.kdeplot(plebians['int_rate_float'])
sns.kdeplot(managers['int_rate_float']);

In [0]:
sns.distplot(plebians['int_rate_float'])
sns.distplot(managers['int_rate_float']);

In [0]:
list(df.columns)

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df.dtypes[:15]

loan_amnt                int64
funded_amnt              int64
funded_amnt_inv        float64
term                    object
int_rate                object
installment            float64
grade                   object
sub_grade               object
emp_title               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
dtype: object

In [0]:
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df.head()

In [0]:
df['issue_d'][:10]

In [0]:
df.dtypes[:15]

loan_amnt                int64
funded_amnt              int64
funded_amnt_inv        float64
term                    object
int_rate                object
installment            float64
grade                   object
sub_grade               object
emp_title               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
dtype: object

In [0]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [0]:
df['issue_d'].dt.year

AttributeError: ignored

In [0]:
df['issue_year'] = df["issue_d"].dt.year

In [0]:
df['issue_month'] = df["issue_d"].dt.month

In [0]:
df.head()

In [0]:
df['earliest_cr_line'].head()

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df.head

In [0]:
df['days_from_earliest_credit_to_issue'].describe()

In [0]:
def str_to_int(mystring):
  return int(mystring.strip().strip('months'))
df['term'].apply(str_to_int)

0         36
1         60
2         60
3         36
4         60
5         36
6         36
7         60
8         36
9         60
10        60
11        36
12        36
13        36
14        36
15        36
16        36
17        36
18        60
19        36
20        60
21        36
22        60
23        36
24        60
25        60
26        60
27        36
28        36
29        60
30        36
31        60
32        36
33        60
34        36
35        36
36        36
37        36
38        36
39        36
40        60
41        60
42        36
43        36
44        36
45        36
46        36
47        60
48        36
49        60
50        36
51        60
52        36
53        36
54        60
55        60
56        36
57        36
58        36
59        36
60        36
61        60
62        60
63        36
64        36
65        36
66        60
67        60
68        60
69        36
70        60
71        36
72        36
73        60
74        60
75        60
76        60
77        60
78        36
79        36
80        36
81        36
82        36
83        36
84        60
85        36
86        36
87        36
88        60
89        36
90        36
91        36
92        36
93        60
94        36
95        36
96        60
97        60
98        36
99        36
100       60
101       36
102       36
103       36
104       60
105       60
106       60
107       36
108       36
109       36
110       60
111       36
112       36
113       60
114       60
115       36
116       36
117       60
118       36
119       36
120       60
121       60
122       36
123       36
124       60
125       36
126       60
127       60
128       36
129       36
130       36
131       36
132       36
133       60
134       36
135       36
136       60
137       60
138       60
139       36
140       60
141       36
142       60
143       36
144       60
145       36
146       36
147       36
148       36
149       36
150       60
151       36
152       60
153       60
154       36
155       36
156       60
157       60
158       36
159       60
160       36
161       36
162       36
163       36
164       60
165       36
166       36
167       36
168       60
169       36
170       36
171       36
172       36
173       60
174       60
175       36
176       36
177       36
178       36
179       36
180       60
181       60
182       60
183       36
184       36
185       60
186       60
187       60
188       60
189       60
190       36
191       36
192       36
193       36
194       60
195       36
196       36
197       36
198       36
199       60
200       36
201       36
202       36
203       36
204       60
205       36
206       36
207       36
208       36
209       36
210       36
211       36
212       60
213       36
214       36
215       36
216       36
217       60
218       36
219       36
220       36
221       36
222       36
223       36
224       60
225       36
226       36
227       36
228       60
229       60
230       36
231       36
232       36
233       36
234       36
235       60
236       36
237       36
238       36
239       36
240       60
241       60
242       36
243       36
244       36
245       36
246       36
247       36
248       36
249       36
250       36
251       36
252       60
253       36
254       36
255       36
256       36
257       36
258       36
259       36
260       36
261       36
262       60
263       36
264       36
265       36
266       36
267       36
268       60
269       36
270       36
271       36
272       36
273       36
274       36
275       36
276       36
277       60
278       36
279       36
280       60
281       36
282       36
283       36
284       36
285       60
286       60
287       36
288       36
289       60
290       36
291       36
292       36
293       36
294       36
295       36
296       36
297       36
298       36
299       60
300       36
301       36
302       36
303       36
304       36
305       36
306       36
307       36
308       60
309       36
310       60
311       36
312       36
313       36
314       36
315       36
316       36
317       60
318       36
319       36
320       60
321       36
322       36
323       36
324       36
325       60
326       60
327       60
328       36
329       60
330       60
331       60
332       36
333       60
334       60
335       36
336       36
337       36
338       60
339       60
340       36
341       36
342       60
343       60
344       60
345       36
346       60
347       36
348       36
349       60
350       60
351       36
352       36
353       36
354       60
355       36
356       60
357       36
358       36
359       36
360       60
361       36
362       36
363       60
364       36
365       36
366       36
367       60
368       36
369       36
370       36
371       60
372       36
373       60
374       60
375       36
376       60
377       36
378       60
379       36
380       60
381       60
382       36
383       36
384       36
385       60
386       60
387       36
388       36
389       36
390       36
391       36
392       60
393       36
394       36
395       36
396       60
397       36
398       36
399       60
400       60
401       60
402       60
403       36
404       36
405       36
406       36
407       36
408       36
409       36
410       36
411       36
412       36
413       36
414       36
415       36
416       36
417       60
418       36
419       60
420       60
421       60
422       36
423       36
424       36
425       36
426       60
427       36
428       60
429       36
430       36
431       36
432       36
433       36
434       60
435       60
436       60
437       36
438       60
439       36
440       60
441       36
442       60
443       36
444       36
445       36
446       60
447       60
448       36
449       36
450       36
451       60
452       36
453       36
454       36
455       36
456       36
457       60
458       36
459       60
460       36
461       36
462       36
463       60
464       36
465       60
466       36
467       60
468       60
469       60
470       36
471       60
472       60
473       36
474       36
475       36
476       36
477       60
478       36
479       36
480       60
481       60
482       36
483       36
484       36
485       36
486       36
487       36
488       60
489       36
490       60
491       36
492       60
493       36
494       60
495       36
496       36
497       60
498       60
          ..
127913    60
127914    36
127915    36
127916    60
127917    60
127918    60
127919    36
127920    36
127921    60
127922    36
127923    60
127924    36
127925    36
127926    36
127927    36
127928    60
127929    60
127930    36
127931    60
127932    36
127933    36
127934    60
127935    60
127936    36
127937    36
127938    36
127939    36
127940    36
127941    60
127942    60
127943    60
127944    60
127945    60
127946    36
127947    36
127948    36
127949    36
127950    36
127951    60
127952    36
127953    36
127954    60
127955    36
127956    36
127957    36
127958    36
127959    36
127960    36
127961    36
127962    36
127963    60
127964    36
127965    36
127966    36
127967    36
127968    60
127969    36
127970    36
127971    36
127972    36
127973    60
127974    60
127975    36
127976    60
127977    60
127978    36
127979    36
127980    36
127981    60
127982    60
127983    36
127984    36
127985    36
127986    36
127987    60
127988    36
127989    36
127990    36
127991    36
127992    36
127993    36
127994    60
127995    60
127996    60
127997    36
127998    60
127999    60
128000    36
128001    36
128002    36
128003    60
128004    36
128005    36
128006    60
128007    36
128008    36
128009    60
128010    60
128011    36
128012    36
128013    60
128014    36
128015    36
128016    36
128017    36
128018    36
128019    36
128020    36
128021    36
128022    60
128023    36
128024    36
128025    36
128026    36
128027    60
128028    36
128029    36
128030    60
128031    36
128032    36
128033    60
128034    36
128035    60
128036    36
128037    36
128038    60
128039    60
128040    36
128041    36
128042    36
128043    36
128044    36
128045    60
128046    36
128047    36
128048    60
128049    60
128050    60
128051    36
128052    36
128053    60
128054    36
128055    36
128056    36
128057    36
128058    36
128059    60
128060    36
128061    36
128062    36
128063    60
128064    60
128065    36
128066    60
128067    36
128068    60
128069    36
128070    60
128071    36
128072    36
128073    60
128074    36
128075    36
128076    36
128077    36
128078    36
128079    36
128080    36
128081    60
128082    36
128083    36
128084    60
128085    36
128086    60
128087    36
128088    60
128089    60
128090    36
128091    36
128092    36
128093    36
128094    36
128095    36
128096    36
128097    36
128098    36
128099    36
128100    60
128101    36
128102    60
128103    36
128104    36
128105    36
128106    36
128107    36
128108    36
128109    36
128110    36
128111    36
128112    60
128113    36
128114    36
128115    60
128116    36
128117    36
128118    36
128119    60
128120    36
128121    60
128122    36
128123    60
128124    36
128125    60
128126    36
128127    36
128128    60
128129    36
128130    36
128131    36
128132    36
128133    60
128134    60
128135    36
128136    36
128137    36
128138    36
128139    36
128140    36
128141    36
128142    36
128143    36
128144    36
128145    36
128146    36
128147    36
128148    36
128149    36
128150    36
128151    36
128152    36
128153    36
128154    60
128155    36
128156    36
128157    36
128158    36
128159    36
128160    36
128161    36
128162    60
128163    36
128164    36
128165    36
128166    60
128167    36
128168    36
128169    36
128170    36
128171    36
128172    36
128173    60
128174    36
128175    36
128176    60
128177    36
128178    36
128179    36
128180    36
128181    36
128182    36
128183    60
128184    36
128185    36
128186    36
128187    36
128188    60
128189    60
128190    60
128191    36
128192    36
128193    36
128194    36
128195    60
128196    36
128197    36
128198    36
128199    60
128200    60
128201    36
128202    36
128203    60
128204    36
128205    36
128206    36
128207    36
128208    36
128209    36
128210    36
128211    36
128212    60
128213    36
128214    60
128215    36
128216    36
128217    36
128218    36
128219    36
128220    36
128221    36
128222    36
128223    36
128224    36
128225    36
128226    36
128227    36
128228    60
128229    36
128230    60
128231    36
128232    36
128233    36
128234    60
128235    36
128236    36
128237    36
128238    36
128239    36
128240    36
128241    36
128242    36
128243    60
128244    36
128245    36
128246    36
128247    36
128248    36
128249    36
128250    60
128251    60
128252    36
128253    36
128254    60
128255    36
128256    36
128257    36
128258    60
128259    36
128260    36
128261    36
128262    36
128263    36
128264    60
128265    36
128266    60
128267    36
128268    36
128269    36
128270    36
128271    60
128272    36
128273    36
128274    36
128275    36
128276    36
128277    36
128278    36
128279    60
128280    36
128281    36
128282    36
128283    36
128284    36
128285    36
128286    36
128287    60
128288    36
128289    36
128290    60
128291    36
128292    36
128293    36
128294    36
128295    36
128296    60
128297    60
128298    36
128299    60
128300    36
128301    60
128302    36
128303    60
128304    36
128305    36
128306    36
128307    36
128308    36
128309    36
128310    36
128311    36
128312    36
128313    36
128314    36
128315    36
128316    36
128317    36
128318    60
128319    36
128320    36
128321    36
128322    60
128323    60
128324    36
128325    60
128326    36
128327    36
128328    36
128329    36
128330    60
128331    60
128332    36
128333    36
128334    36
128335    36
128336    60
128337    36
128338    36
128339    36
128340    36
128341    60
128342    36
128343    36
128344    60
128345    36
128346    60
128347    36
128348    60
128349    36
128350    36
128351    60
128352    36
128353    36
128354    36
128355    36
128356    36
128357    36
128358    36
128359    36
128360    60
128361    36
128362    36
128363    60
128364    36
128365    36
128366    36
128367    36
128368    60
128369    36
128370    60
128371    36
128372    36
128373    36
128374    60
128375    36
128376    36
128377    60
128378    60
128379    36
128380    60
128381    36
128382    36
128383    36
128384    36
128385    60
128386    36
128387    60
128388    36
128389    36
128390    36
128391    36
128392    36
128393    36
128394    36
128395    36
128396    60
128397    60
128398    60
128399    36
128400    60
128401    36
128402    60
128403    36
128404    60
128405    36
128406    36
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [0]:
def loan_status(st):
  if st is ("Fully paid"):
    return 1
  elif st is ("Current"):
    return 1
  else:
    return 0
status = 0
loan_status(status)
df['loan_status_is_great'] = loan_status(status)

df['loan_status_is_great']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
30        0
31        0
32        0
33        0
34        0
35        0
36        0
37        0
38        0
39        0
40        0
41        0
42        0
43        0
44        0
45        0
46        0
47        0
48        0
49        0
50        0
51        0
52        0
53        0
54        0
55        0
56        0
57        0
58        0
59        0
60        0
61        0
62        0
63        0
64        0
65        0
66        0
67        0
68        0
69        0
70        0
71        0
72        0
73        0
74        0
75        0
76        0
77        0
78        0
79        0
80        0
81        0
82        0
83        0
84        0
85        0
86        0
87        0
88        0
89        0
90        0
91        0
92        0
93        0
94        0
95        0
96        0
97        0
98        0
99        0
100       0
101       0
102       0
103       0
104       0
105       0
106       0
107       0
108       0
109       0
110       0
111       0
112       0
113       0
114       0
115       0
116       0
117       0
118       0
119       0
120       0
121       0
122       0
123       0
124       0
125       0
126       0
127       0
128       0
129       0
130       0
131       0
132       0
133       0
134       0
135       0
136       0
137       0
138       0
139       0
140       0
141       0
142       0
143       0
144       0
145       0
146       0
147       0
148       0
149       0
150       0
151       0
152       0
153       0
154       0
155       0
156       0
157       0
158       0
159       0
160       0
161       0
162       0
163       0
164       0
165       0
166       0
167       0
168       0
169       0
170       0
171       0
172       0
173       0
174       0
175       0
176       0
177       0
178       0
179       0
180       0
181       0
182       0
183       0
184       0
185       0
186       0
187       0
188       0
189       0
190       0
191       0
192       0
193       0
194       0
195       0
196       0
197       0
198       0
199       0
200       0
201       0
202       0
203       0
204       0
205       0
206       0
207       0
208       0
209       0
210       0
211       0
212       0
213       0
214       0
215       0
216       0
217       0
218       0
219       0
220       0
221       0
222       0
223       0
224       0
225       0
226       0
227       0
228       0
229       0
230       0
231       0
232       0
233       0
234       0
235       0
236       0
237       0
238       0
239       0
240       0
241       0
242       0
243       0
244       0
245       0
246       0
247       0
248       0
249       0
250       0
251       0
252       0
253       0
254       0
255       0
256       0
257       0
258       0
259       0
260       0
261       0
262       0
263       0
264       0
265       0
266       0
267       0
268       0
269       0
270       0
271       0
272       0
273       0
274       0
275       0
276       0
277       0
278       0
279       0
280       0
281       0
282       0
283       0
284       0
285       0
286       0
287       0
288       0
289       0
290       0
291       0
292       0
293       0
294       0
295       0
296       0
297       0
298       0
299       0
300       0
301       0
302       0
303       0
304       0
305       0
306       0
307       0
308       0
309       0
310       0
311       0
312       0
313       0
314       0
315       0
316       0
317       0
318       0
319       0
320       0
321       0
322       0
323       0
324       0
325       0
326       0
327       0
328       0
329       0
330       0
331       0
332       0
333       0
334       0
335       0
336       0
337       0
338       0
339       0
340       0
341       0
342       0
343       0
344       0
345       0
346       0
347       0
348       0
349       0
350       0
351       0
352       0
353       0
354       0
355       0
356       0
357       0
358       0
359       0
360       0
361       0
362       0
363       0
364       0
365       0
366       0
367       0
368       0
369       0
370       0
371       0
372       0
373       0
374       0
375       0
376       0
377       0
378       0
379       0
380       0
381       0
382       0
383       0
384       0
385       0
386       0
387       0
388       0
389       0
390       0
391       0
392       0
393       0
394       0
395       0
396       0
397       0
398       0
399       0
400       0
401       0
402       0
403       0
404       0
405       0
406       0
407       0
408       0
409       0
410       0
411       0
412       0
413       0
414       0
415       0
416       0
417       0
418       0
419       0
420       0
421       0
422       0
423       0
424       0
425       0
426       0
427       0
428       0
429       0
430       0
431       0
432       0
433       0
434       0
435       0
436       0
437       0
438       0
439       0
440       0
441       0
442       0
443       0
444       0
445       0
446       0
447       0
448       0
449       0
450       0
451       0
452       0
453       0
454       0
455       0
456       0
457       0
458       0
459       0
460       0
461       0
462       0
463       0
464       0
465       0
466       0
467       0
468       0
469       0
470       0
471       0
472       0
473       0
474       0
475       0
476       0
477       0
478       0
479       0
480       0
481       0
482       0
483       0
484       0
485       0
486       0
487       0
488       0
489       0
490       0
491       0
492       0
493       0
494       0
495       0
496       0
497       0
498       0
         ..
127913    0
127914    0
127915    0
127916    0
127917    0
127918    0
127919    0
127920    0
127921    0
127922    0
127923    0
127924    0
127925    0
127926    0
127927    0
127928    0
127929    0
127930    0
127931    0
127932    0
127933    0
127934    0
127935    0
127936    0
127937    0
127938    0
127939    0
127940    0
127941    0
127942    0
127943    0
127944    0
127945    0
127946    0
127947    0
127948    0
127949    0
127950    0
127951    0
127952    0
127953    0
127954    0
127955    0
127956    0
127957    0
127958    0
127959    0
127960    0
127961    0
127962    0
127963    0
127964    0
127965    0
127966    0
127967    0
127968    0
127969    0
127970    0
127971    0
127972    0
127973    0
127974    0
127975    0
127976    0
127977    0
127978    0
127979    0
127980    0
127981    0
127982    0
127983    0
127984    0
127985    0
127986    0
127987    0
127988    0
127989    0
127990    0
127991    0
127992    0
127993    0
127994    0
127995    0
127996    0
127997    0
127998    0
127999    0
128000    0
128001    0
128002    0
128003    0
128004    0
128005    0
128006    0
128007    0
128008    0
128009    0
128010    0
128011    0
128012    0
128013    0
128014    0
128015    0
128016    0
128017    0
128018    0
128019    0
128020    0
128021    0
128022    0
128023    0
128024    0
128025    0
128026    0
128027    0
128028    0
128029    0
128030    0
128031    0
128032    0
128033    0
128034    0
128035    0
128036    0
128037    0
128038    0
128039    0
128040    0
128041    0
128042    0
128043    0
128044    0
128045    0
128046    0
128047    0
128048    0
128049    0
128050    0
128051    0
128052    0
128053    0
128054    0
128055    0
128056    0
128057    0
128058    0
128059    0
128060    0
128061    0
128062    0
128063    0
128064    0
128065    0
128066    0
128067    0
128068    0
128069    0
128070    0
128071    0
128072    0
128073    0
128074    0
128075    0
128076    0
128077    0
128078    0
128079    0
128080    0
128081    0
128082    0
128083    0
128084    0
128085    0
128086    0
128087    0
128088    0
128089    0
128090    0
128091    0
128092    0
128093    0
128094    0
128095    0
128096    0
128097    0
128098    0
128099    0
128100    0
128101    0
128102    0
128103    0
128104    0
128105    0
128106    0
128107    0
128108    0
128109    0
128110    0
128111    0
128112    0
128113    0
128114    0
128115    0
128116    0
128117    0
128118    0
128119    0
128120    0
128121    0
128122    0
128123    0
128124    0
128125    0
128126    0
128127    0
128128    0
128129    0
128130    0
128131    0
128132    0
128133    0
128134    0
128135    0
128136    0
128137    0
128138    0
128139    0
128140    0
128141    0
128142    0
128143    0
128144    0
128145    0
128146    0
128147    0
128148    0
128149    0
128150    0
128151    0
128152    0
128153    0
128154    0
128155    0
128156    0
128157    0
128158    0
128159    0
128160    0
128161    0
128162    0
128163    0
128164    0
128165    0
128166    0
128167    0
128168    0
128169    0
128170    0
128171    0
128172    0
128173    0
128174    0
128175    0
128176    0
128177    0
128178    0
128179    0
128180    0
128181    0
128182    0
128183    0
128184    0
128185    0
128186    0
128187    0
128188    0
128189    0
128190    0
128191    0
128192    0
128193    0
128194    0
128195    0
128196    0
128197    0
128198    0
128199    0
128200    0
128201    0
128202    0
128203    0
128204    0
128205    0
128206    0
128207    0
128208    0
128209    0
128210    0
128211    0
128212    0
128213    0
128214    0
128215    0
128216    0
128217    0
128218    0
128219    0
128220    0
128221    0
128222    0
128223    0
128224    0
128225    0
128226    0
128227    0
128228    0
128229    0
128230    0
128231    0
128232    0
128233    0
128234    0
128235    0
128236    0
128237    0
128238    0
128239    0
128240    0
128241    0
128242    0
128243    0
128244    0
128245    0
128246    0
128247    0
128248    0
128249    0
128250    0
128251    0
128252    0
128253    0
128254    0
128255    0
128256    0
128257    0
128258    0
128259    0
128260    0
128261    0
128262    0
128263    0
128264    0
128265    0
128266    0
128267    0
128268    0
128269    0
128270    0
128271    0
128272    0
128273    0
128274    0
128275    0
128276    0
128277    0
128278    0
128279    0
128280    0
128281    0
128282    0
128283    0
128284    0
128285    0
128286    0
128287    0
128288    0
128289    0
128290    0
128291    0
128292    0
128293    0
128294    0
128295    0
128296    0
128297    0
128298    0
128299    0
128300    0
128301    0
128302    0
128303    0
128304    0
128305    0
128306    0
128307    0
128308    0
128309    0
128310    0
128311    0
128312    0
128313    0
128314    0
128315    0
128316    0
128317    0
128318    0
128319    0
128320    0
128321    0
128322    0
128323    0
128324    0
128325    0
128326    0
128327    0
128328    0
128329    0
128330    0
128331    0
128332    0
128333    0
128334    0
128335    0
128336    0
128337    0
128338    0
128339    0
128340    0
128341    0
128342    0
128343    0
128344    0
128345    0
128346    0
128347    0
128348    0
128349    0
128350    0
128351    0
128352    0
128353    0
128354    0
128355    0
128356    0
128357    0
128358    0
128359    0
128360    0
128361    0
128362    0
128363    0
128364    0
128365    0
128366    0
128367    0
128368    0
128369    0
128370    0
128371    0
128372    0
128373    0
128374    0
128375    0
128376    0
128377    0
128378    0
128379    0
128380    0
128381    0
128382    0
128383    0
128384    0
128385    0
128386    0
128387    0
128388    0
128389    0
128390    0
128391    0
128392    0
128393    0
128394    0
128395    0
128396    0
128397    0
128398    0
128399    0
128400    0
128401    0
128402    0
128403    0
128404    0
128405    0
128406    0
128407    0
128408    0
128409    0
128410    0
128411    0
Name: loan_status_is_great, Length: 128412, dtype: int64

In [0]:
df['last_pymnt_d_month'] ='last payment(month) here'

df['last_pymnt_d_year'] = 'last payment(year) here'

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01