<a href="https://colab.research.google.com/github/rgiuffre90/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-08-06 00:28:23--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.9.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.9.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  40.8MB/s    in 5.1s

2020-08-06 00:28:29 (38.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [5]:
##### YOUR CODE HERE #####

In [6]:
import pandas as pd

In [7]:
orders = pd.read_csv('orders.csv')

print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [8]:
products = pd.read_csv('products.csv')

print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [9]:
order_products__prior = pd.read_csv('order_products__prior.csv')

print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
merge_one = pd.merge(order_products__prior, orders, how='inner', on='order_id')

merge_one.head()

   order_id  product_id  ...  order_hour_of_day  days_since_prior_order
0         2       33120  ...                  9                     8.0
1         2       28985  ...                  9                     8.0
2         2        9327  ...                  9                     8.0
3         2       45918  ...                  9                     8.0
4         2       30035  ...                  9                     8.0

[5 rows x 10 columns]

In [11]:
order_product_info = pd.merge(merge_one, products, how='inner', on='product_id')

order_product_info.head()

   order_id  product_id  ...  aisle_id  department_id
0         2       33120  ...        86             16
1        26       33120  ...        86             16
2       120       33120  ...        86             16
3       327       33120  ...        86             16
4       390       33120  ...        86             16

[5 rows x 13 columns]

In [12]:
order_product_info['product_name'].value_counts().head(10)

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

In [13]:
# I used the colums for orders, products and order_products__prior
# this provided me with the data needed for total number of orders, the product IDs of the items ordered, and the names of those products so they can be sorted.
# After merging the three data sets, I was able to do a value count of the top 10 items as explained in the question above. The total number ordered of each product is listed above.

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [24]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [25]:
# table2 -> tidy
table2 = table2.reset_index()

table2

        index  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [26]:
tidy = table2.melt(id_vars='index', value_vars=['John Smith','Jane Doe','Mary Johnson'])


tidy

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [ ]:
# tidy -> table2

In [27]:
wide = tidy.pivot_table(index='index', columns='variable', values='value')

wide

variable    Jane Doe  John Smith  Mary Johnson
index
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [59]:
flights = sns.load_dataset('flights.')

NameError: ignored

In [ ]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####

In [44]:
order_times = pd.crosstab(order_product_info['product_name'], order_product_info['order_hour_of_day']).head(25)

In [50]:
order_times

order_hour_of_day                                0   1   2   ...   21   22   23
product_name                                                 ...
#2 Coffee Filters                                 3   4   4  ...   16    9    8
#2 Cone White Coffee Filters                      0   0   0  ...    0    0    0
#2 Mechanical Pencils                             0   0   0  ...    0    1    0
#4 Natural Brown Coffee Filters                   3   0   0  ...    5    3    1
& Go! Hazelnut Spread + Pretzel Sticks            0   0   0  ...    6    1    0
'Swingtop' Premium Lager                          0   0   0  ...    0    0    0
(70% Juice!) Mountain Raspberry Juice Squeeze     1   0   0  ...    0    0    1
+Energy Black Cherry Vegetable & Fruit Juice      0   0   0  ...    0    0    0
.5\" Waterproof Tape                              1   1   0  ...    0    0    0
0 Calorie Acai Raspberry Water Beverage           1   0   0  ...    3    1    0
0 Calorie Fuji Apple Pear Water Beverage          0   0   0  ...    4    1    0
0 Calorie Strawberry Dragonfruit Water Beverage   1   0   0  ...    2    3    0
0% Fat Black Cherry Greek Yogurt y                1   1   0  ...    8    4    0
0% Fat Blueberry Greek Yogurt                     4   2   2  ...   10   12    7
0% Fat Free Organic Milk                         25  10   4  ...  111   64   47
0% Fat Greek Yogurt Black Cherry on the Bottom    4   0   0  ...    4    4    1
0% Fat Greek Yogurt Vanilla                       0   0   0  ...    1    1    0
0% Fat Organic Greek Vanilla Yogurt               7   8   4  ...   50   34   17
0% Fat Peach Greek Yogurt                         0   1   0  ...    1    2    1
0% Fat Strawberry Greek Yogurt                    4   1   3  ...    8   12    4
0% Fat Superfruits Greek Yogurt                   5   6   1  ...   15   21   12
0% Fat Vanilla Greek Yogurt                       0   0   1  ...    0    2    1
0% Greek Strained Yogurt                         48  20  11  ...  204  149  121
0% Greek Yogurt Black Cherry on the Bottom        6   3   2  ...   29   22   11
0% Greek, Blueberry on the Bottom Yogurt         15   4   7  ...   44   40   18

[25 rows x 24 columns]

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####