<a href="https://colab.research.google.com/github/tbbcoach/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_111_EDA_Assignment_AG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Lambda School Data Science - Unit 1 Sprint 1 Module 1

## Exploratory Data Analysis

### Module Learning Objectives


- Load a CSV dataset from a URL using `pandas.read_csv`
- Load a CSV dataset from a local file using `pandas.read_csv
- Use basic Pandas functions for Exploratory Data Analysis-EDA
- Describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

### Notebook points: 12

## Autograded Module Projects

Welcome to the first Module Project of Unit 1! You will complete a project (sometimes also referred to as an assignment) after the Guided Project for each Module. There will be four Module Projects per Sprint and each project is designed to provide you with an opportunity to practice what you learned in the Canvas Warm-up material and the Guided Project with your Instructors.

Throughout Unit 1, the Module Projects and the Sprint Challenges are *autograded*. You will complete your work in a Jupyter/Python notebook (the files that end with `.ipynb`) and then upload your completed notebook to Canvas and submit for grading. This autograding process will check your answers and provide more information about the errors in your notebook. You'll receive a score when the testing is complete.

So, let's get started! If you are reading this notebook, then you have the correct autograded version.

## Introduction

For this module, we learned how to use some of the most common tools for exploring our data. We'll continue to practice our `pandas` skills with a new dataset. 

## Dataset Description

Explore the University of California - Irvine Adult Dataset

**Task 1** - Load a dataset via its URL

* Create a Python list named `column_headers` with the following items: `'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income'`.  Lists have the form `listname = ['element 1', 'element 2', element 3']`
* Load the file from the URL provided below using the `column_headers` list you created to name your columns: set the `pd.read_csv()` to `column_headers` using `names =`.  
* Name the DataFrame `adult`

In [1]:
# Task 1
import pandas as pd
import numpy as np

# URL for the dataset
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

# YOUR CODE HERE
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                  'occupation', 'relationship', 'race', 'sex', 'capitial-gain', 'capital-loss',
                  'hours-per-week', 'native-country', 'income']
adult=pd.read_csv(data_url, names = column_headers)
# Print out your DataFrame
adult.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

**Task 1 Test**

In [ ]:
# Task 1 - Test

# These tests are for you to check your work before submitting
assert isinstance(column_headers, list), 'Have you created a list of header names?'
assert len(column_headers) == 15, 'Did you include the correct number of items in the column_headers list?'
assert isinstance(adult, pd.DataFrame), 'Have you created a DataFrame named adult?'

# These tests will be completed when you submit your notebook for autograding

**Task 2** - Look at the first and last rows of the DataFrame

* Assign the first **ten (10)** rows of the `adult` DataFrame to `adult_head`
* Assign the last **ten (10)** rows of the `adult` DataFrame to `adult_tail`

In [2]:
# Task 2

# YOUR CODE HERE
adult_head = adult.head(10)
adult_tail = adult.tail(10)

# Optional: print out adult_head and adult_tail
print(adult_head)
print(adult_tail)

   age          workclass  fnlwgt  ... hours-per-week  native-country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K
5   37            Private  284582  ...             40   United-States   <=50K
6   49            Private  160187  ...             16         Jamaica   <=50K
7   52   Self-emp-not-inc  209642  ...             45   United-States    >50K
8   31            Private   45781  ...             50   United-States    >50K
9   42            Private  159449  ...             40   United-States    >50K

[10 rows x 15 columns]
       age      workclass  fnlwgt  ... hours-per-week  native-country  income
32551   32        Private   34066  ...             40   United-States   <=50K
32552   43        Private   84661  ...             45   United-States   <=50K
32553   32        Private  116138  ...             11          Taiwan   <=50K
32554   53        Private  321865  ...             40   United-States    >50K
32555   22        Private  310152  ...             40   United-States   <=50K
32556   27        Private  257302  ...             38   United-States   <=50K
32557   40        Private  154374  ...             40   United-States    >50K
32558   58        Private  151910  ...             40   United-States   <=50K
32559   22        Private  201490  ...             20   United-States   <=50K
32560   52   Self-emp-inc  287927  ...             40   United-States    >50K

[10 rows x 15 columns]

**Task 2 Test**

In [3]:
# Task 2 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_head, pd.DataFrame), 'Have you created a DataFrame named adult_head?'
assert isinstance(adult_tail, pd.DataFrame), 'Have you created a DataFrame named adult_tail?'

# These tests will be completed when you submit your notebook for autograding

**Task 3** - Variable data types

For your `adult` DataFrame, determine the data types for the variables.

* Count the number of `int64` variable types and assign to `number_int64` (your value should be an integer)
* Count the number of `object` variable types and assign to `number_object` (your value should be an integer)

There are different ways to find the data types of the columns in a DataFrame. All you need to do for this task is to count the number of each data type and assign to the corresponding variable.

In [10]:
# Task 3

# YOUR CODE HERE
adult.info()

number_int64 = 6
number_object = 9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capitial-gain   32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**Task 3 Test**

In [11]:
# Task 3 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 4** - DataFrame dimensions

* Find the dimensions of your DataFrame and assign result to the variable `adult_dimension`. Your variable should be a *tuple* and the row dimension should be listed first.

Hint: A tuple looks like this: (1, 2) - a tuple is a collection which is ordered and unchangeable. You can use the function `type(your_variable)` to print the variable type.

Hint 2: The `shape` method returns a tuple - convenient!

In [13]:
# Task 4

# YOUR CODE HERE
adult_dimension = adult.shape

# Print out the shape
print(adult_dimension)

(32561, 15)

**Task 4 Test**

In [14]:
# Task 4 - Test

assert isinstance(adult_dimension, tuple), 'Have you created a tuple named adult_dimension?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 5** - Missing values

Are there any missing values in the dataset? Let's check!

* Check for missing values using `.isnull().sum()`
* Count the number of missing values and assign the value to the variable `adult_missing`. Your variable should be an integer.

In [15]:
# Task 5

# YOUR CODE HERE
adult.isnull().sum()
adult_missing = 0

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capitial-gain     0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

**Task 5 Test**

In [16]:
# Task 5 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 6** - Viewing DataFrame statistics

Let's look at some of the *summary statistics* of our dataset. We can use the .describe() function in order to see the summary statistics of the numeric columns.

Look at the statistics for the `adult` DataFrame and then complete the following two tasks:

* Find the value for the mean `age` and assign it to the variable `mean_age` (your value should be a float and defined to two decimal places)
* Find the standard deviation (std) for the `hours-per-week` variable and assign it to `std_hpw` (your value should be a float and defined to two decimal places)

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame in the next module.

In [18]:
# Task 6

# YOUR CODE HERE
adult.describe()

mean_age = 38.58
std_hpw = 12.35

**Task 6 Test**

In [19]:
# Task 6 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 7** - Summary statistics for non-numeric columns

We have some columns in this dataset that are non-numeric or object columns. This is usually a string object. Let's use the `describe()` function again but include the argument `exclude='number'` to exclude the numeric columns.

Using the results of `describe(exclude='number')`, complete the following two tasks:

* Find the number of unique `education` values and assign it to `unique_edu` (your value should be an integer)
* Find the number of times the most frequent observation for `income` occurs and assign it to `freq_income` (your value should be an integer) *(Note: this is not the income value itself, just how many times it occurs)*

In [29]:
# Task 7

# YOUR CODE HERE
adult.describe(exclude='number')
adult['income'].value_counts()
freq_income=24720

In [ ]:
adult.describe(exclude='number')
adult['income'].value_counts()

**Task 7 Test**

In [ ]:
# Task 7 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 8** - Finding value counts

Let's look more specifically at the `relationship` column and perform a count of the number of observations for each category. We can see how many categories we have by using the `.unique()` method on the column. Then, we can use `.value_counts()` to count the number of observations in each category.

* View the unique values in the `relationship` column with `.unique()`
* View the number of observations for each value with `.value_counts()`
* Find the counts for `Other-relative` and assign to the variable `adult_other_rel`

In [44]:
# Task 8

# YOUR CODE HERE
adult['relationship'].unique()
adult['relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

**Task 8 Test**

In [ ]:
# Task 8 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 9** - Create a Series

A column of a DataFrame is a pandas Series. Using the `adult` DataFrame, create a Series from the `occupation` column.

* Create a Series from the `occupation` column and name it `adult_occup`

In [49]:
# Task 9

# YOUR CODE HERE
adult_occup = adult['occupation'].unique()

[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

**Task 9 Test**

In [51]:
# Task 9 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_occup, pd.Series), 'Have you created the correct Series?'

# Hidden tests - you will see the results when you submit to Canvas

AssertionError: ignored

**Task 10** - Practice with a new dataset

Let's use some of what we've learned so far to load in a new dataset and answer some questions. For now, we're going to read in the data from the website where it is stored. But, at the end of this project, you can review the instructions for uploading a file to Google Colab,

* Use [this link (right click to copy)](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) as the URL and assign it to the variable `data_url2`
* Read in the data into a DataFrame called `nascar`; the CSV already includes a header

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

In [52]:
# Task 10

# YOUR CODE HERE
data_url2='https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv'
nascar = pd.read_csv(data_url2)

**Task 10 Test**

In [53]:
# Task 10 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar, pd.DataFrame), 'Have you created the nascar DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Look at the header

Now, let's look at the data. We'll use the `.head()` method to view the first rows of the DataFrame

* Assign the output from `.head()` to a DataFrame called `nascar_head` (use the default values of the method)

In [55]:
# Task 11

# YOUR CODE HERE
nascar_head = nascar.head()

print(nascar_head)

   serRace  year  yearRace  finish  ...  prize  carsRace    carMake        driver
0        1  1975         1       1  ...  12035        35    Matador  BobbyAllison
1        1  1975         1       2  ...   8135        35    Mercury  DavidPearson
2        1  1975         1       3  ...   6535        35  Chevrolet   CecilGordon
3        1  1975         1       4  ...   5035        35      Dodge    DaveMarcis
4        1  1975         1       5  ...   3835        35       Ford   ElmoLangley

[5 rows x 10 columns]

**Task 11 Test**

In [56]:
# Task 11 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar_head, pd.DataFrame), 'Have you created the nascar_head DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Dataset description and variable types

Using your `nascar` DataFrame, answer the following questions. Remember - you can use methods like `describe()` and `info()` to print out information about the variable types in your DataFrame. Remember, you can use `describe(exclude='number')` to view non-numeric variable types.

You can view more information about the data [here](http://users.stat.ufl.edu/~winner/data/nascard.txt).

Select the letter indicating which one of the following statements about the features in `nascar` is incorrect?  For example, if statement B is incorrect, you'll type your answer in the code block as `answer = 'B'`


A: Each entry for `driver` is a text string

B: `carMake` is an identifer variable


C: `carsRace` is a quantitative, discrete variable


D: `prize` is a quantitative, continuous variable

In [59]:
# Task 12

# Ignore the YOUR CODE HERE for this cell
# YOUR CODE HERE
answer = 'C'

In [60]:
# Task 12 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Extra Practice!!**

Now we're going to practice loading a dataset that you have saved on your computer. Since we're working in a notebook on Google Colab, you'll need to upload your file to the notebook runtime in order to read in the data.

* Use [this link](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) to download your dataset as a csv file to your computer. 
* Upload to Google Colab one of two ways:
    * using `from google.colab import files` then `uploaded = files.upload()`; read in the file with pd.read_csv(filename)
    * using the file upload feature in the left side panel of the Colab notebook; read in the file with pd.read_csv(filename)

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

**DELETE or COMMENT OUT your Colab code**

In [ ]:
# Extra Practice

## DELETE OR COMMENT OUT YOUR COLAB CODE BEFORE SUBMITTING THE NOTEBOOK