<a href="https://colab.research.google.com/github/perryschwartz/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_Coding_Challenge_10_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Good Evening! Welcome to your first Python code challenge. 
## Use your Googfu skills to help you find a solution.

### 1. Write Python code that creates a random string using 'a', 'e', 'i', 'o', 'u'. Using each character only once. 
HINT: Lookup the .shuffle method in the random lib

In [0]:
import random
char_list = ['a','e','i','o','u']

for i in char_list

import random
char_list = ['a','e','i','o','u']
random.shuffle(char_list)
print(''.join(char_list))

NameError: ignored

In [0]:
char_list = 'a e i o u'.split()
shuffle(char_list)

NameError: ignored

###2.  Write Python code to calculate number of days between two dates

In [0]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

### 3. Write a Python function to get the difference between a given number and 17, if the number is greater than 17 return double the difference.

In [0]:
def difference(n):
    result=0
    # your code here
    return result
print(difference(22))
print(difference(14))

0
0

### Stretch Goals:

### 4. Write Python code to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.
HINT:  you'll need to use the python's input function

In [0]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
  print("This is an odd number.")
else:
  print("This is an even number.")
# your code here

### 5. Write Python function to display your details like name, age, address in three different lines.

In [0]:
def personal_details():
  # your code here
  return
  
personal_details()

In [0]:
def personal_details():
  name, age = "Perry", 30
  address = "Los Angeles, CA"
  print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))"

personal_details()

SyntaxError: ignored