<a href="https://colab.research.google.com/github/mellowriot/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_colab_intro_lecture_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Five ways to read your data into a colab notebook

[Keyboard shortcuts for colab](https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b)

In [0]:
# import statements
import pandas as pd
import numpy as np

#### Method 1. Read data directly from a URL.

In [0]:
# Example from Tuesday's class.
# Sometimes you have to supply the column heads.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

In [0]:
flags_df = pd.read_csv(flag_data_url, header=None, names=column_headers)
flags_df.sample(5)

                name  landmass  zone  area  ...  animate  text  topleft  botright
13           Bahrain         5     1     1  ...        0     0    white       red
160         St-Lucia         1     4     0  ...        0     0     blue      blue
62             Gabon         4     2   268  ...        0     0    green      blue
173  Trinidad-Tobago         2     4     5  ...        0     0    white     white
101    Liechtenstein         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [0]:
# Here is another example that doesn't require the column heads.
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'

In [0]:
bikes_df = pd.read_csv(url)
bikes_df.head(3)

   OBJECTID     LENGTH                    NAME  ... Shape_Length MILES  ROUTEID
0         1    827.476    National Mall Trails  ...   252.214952   0.0      NaN
1         2  19225.404  Capital Crescent Trail  ...  5859.914940   0.0      NaN
2         3  25404.687        Rock Creek Trail  ...  7743.364240   0.0      NaN

[3 rows x 8 columns]

In [0]:
# Yet another example.
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
# source: https://opendata.dc.gov/datasets/museums-in-dc/data
pd.read_csv(url)

            X          Y  OBJECTID  ... MAR_LONGITUDE MAR_LATITUDE   MARID
0  -77.009038  38.889802         1  ...    -77.009036    38.889794  294394
1  -77.037356  38.905862         2  ...    -77.037353    38.905854  301103
2  -77.070117  38.906318         3  ...    -77.070115    38.906311  300017
3  -77.054431  38.930619         4  ...    -77.054429    38.930611  293230
4  -77.012903  38.888256         5  ...    -77.012901    38.888248  297683
..        ...        ...       ...  ...           ...          ...     ...
79 -76.985179  38.863389        80  ...    -76.985177    38.863382  293207
80 -77.030866  38.908176        81  ...    -77.030863    38.908168  225385
81 -77.025799  38.896590        82  ...    -77.025797    38.896583  239829
82 -77.026201  38.896776        83  ...    -77.026199    38.896768  239374
83 -76.994932  38.905783        84  ...    -76.994930    38.905776  288964

[84 rows x 12 columns]

### Method 2. Read a file that is already in colab.

In [0]:
# So colab comes with some built in files.
source_file1 = 'sample_data/california_housing_train.csv'

In [0]:
df = pd.read_csv(source_file1)
df.tail(3)

       longitude  latitude  ...  median_income  median_house_value
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[3 rows x 9 columns]

In [0]:
# you can also read a json file. Notice the difference in pandas method.
source_file2 ='sample_data/anscombe.json'

In [0]:
ans_df=pd.read_json(source_file2)
ans_df.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [0]:
# Learn how to navigate your server

In [0]:
# What's the parent dir?

In [0]:
# List the contents of that folder

In [0]:
# Use that to make a list of files.

In [0]:
# Now you can read that into colab using pandas

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
# You can use the manual upload GUI over on the left of your screen.

In [0]:
snails_df=pd.read_csv('abalone.csv')
snails_df.sample(5)

     Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
1985   M   0.760     0.605  ...          0.4915         0.646     13
4090   M   0.615     0.475  ...          0.2815         0.370     11
2149   M   0.270     0.195  ...          0.0180         0.036      7
2911   F   0.580     0.440  ...          0.1955         0.195     11
811    F   0.490     0.365  ...          0.1315         0.205     21

[5 rows x 9 columns]

In [0]:
# You can also do this in a cell.
from google.colab import files
uploaded = files.upload()

Saving wines.pkl to wines.pkl

In [0]:
# Now read in the dataset.
wines_df = pd.read_pickle('wines.pkl')
wines_df.sample(4)

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  type
846             6.4              0.64         0.21  ...      9.8        5     1
4254            6.8              0.19         0.23  ...     10.1        5     0
297             7.1              0.63         0.06  ...      9.6        5     1
1236            7.8              0.55         0.00  ...      9.4        6     1

[4 rows x 13 columns]

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [0]:
# useful for reading raw data from github.
url='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'

In [0]:
va_df=pd.read_csv(url)
va_df.head(4)

   CountyId    State          County  ...  SelfEmployed  FamilyWork  Unemployment
0      1001  Alabama  Autauga County  ...           5.6         0.1           5.2
1      1003  Alabama  Baldwin County  ...           6.3         0.1           5.5
2      1005  Alabama  Barbour County  ...           6.5         0.3          12.4
3      1007  Alabama     Bibb County  ...           6.3         0.3           8.2

[4 rows x 37 columns]

### Method 5. Read a zip file.

In [0]:
# use the 'bang' for bash shell scripting.
! pwd

/content

In [0]:
# the 'wget' command reads content from the web.
url = 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-17 03:16:12--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: â€˜LoanStats_2018Q4.csv.zipâ€™

LoanStats_2018Q4.cs     [         <=>        ]  21.72M   434KB/s    in 51s

2020-01-17 03:17:04 (433 KB/s) - â€˜LoanStats_2018Q4.csv.zipâ€™ saved [22776791]

In [0]:
# how do you unzip a .zip file in bash?
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# Now you can read that csv file into pandas.
loan_df = pd.read_csv('LoanStats_2018Q4.csv')
loan_df.sample(4)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
NaN NaN 20000 20000 20000  36 months  12.73% 671.29 B B5 Waste Water Operator       < 1 year MORTGAGE 32256.0  Verified        Oct-2018 Fully Paid n NaN NaN debt_consolidation Debt consolidation      484xx MI 22.21 0 Sep-2007 0 44.0 NaN 9  0 6532  81.7% 18 f 0.00     0.00     21481.910498 21481.91 20000.00 1481.91 0.0 0.0 0.0 Jun-2019 16881.89 NaN      Jun-2019 0 44.0 1 Joint App  67910.4  13.99 Verified     0 0 106154 0 3 0 2 18.0  8576  41.0 0 0 1842 53.0 8000  2 6 1 3  13269.0 158.0   92.1 0 0 133.0 117 30  18  1 47.0  NaN  11.0 NaN  3 1 3  2 2  11 5  6  3  9  0.0 0 0 0 82.4  100.0 0 0 122234 15108 2000  20800 11159.0 Oct-2001 0.0 0.0 6.0  73.6 3.0 5.0 0.0 0.0 42.0 N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        15000 15000 15000  60 months  12.98% 341.15 B B5 NaN                        1 year   RENT     20000.0  Not Verified    Nov-2018 Current    n NaN NaN debt_consolidation Debt consolidation      100xx NY 18.67 0 Jul-2003 0 26.0 NaN 2  0 6781  96.9% 4  w 12517.20 12517.20 4440.360000  4440.36  2482.80  1957.56 0.0 0.0 0.0 Dec-2019 341.15   Jan-2020 Nov-2019 0 NaN  1 Joint App  230000.0 7.93  Not Verified 0 0 8870   0 1 0 0 148.0 2089  16.0 0 0 6781 44.0 7000  0 0 0 0  4435    219.0   96.9 0 0 184.0 165 141 141 0 165.0 26.0 NaN  26.0 0 1 1  1 1  2  1  2  1  2  0.0 0 0 0 75.0  100.0 0 0 20274  8870  7000  13274 16204.0 Dec-2003 0.0 0.0 10.0 79.9 6.0 9.0 0.0 0.0 4.0  N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        8250  8250  8250   36 months  14.47% 283.86 C C2 Poker Dual Rate Supervisor < 1 year RENT     42000.0  Source Verified Nov-2018 Fully Paid n NaN NaN credit_card        Credit card refinancing 662xx KS 12.57 0 Aug-2001 0 45.0 NaN 10 0 13029 94.4% 14 f 0.00     0.00     9244.443510  9244.44  8250.00  994.44  0.0 0.0 0.0 Oct-2019 6412.47  NaN      Nov-2019 0 49.0 1 Individual NaN      NaN   NaN          0 0 73114  0 1 0 0 36.0  60085 NaN  1 2 1962 94.0 13800 0 0 0 2  7311    565.0   95.0 0 0 207.0 107 12  12  0 12.0  NaN  NaN  NaN  0 8 9  8 8  5  9  9  9  10 0.0 0 0 1 71.4  100.0 0 0 68991  73114 11200 55191 NaN     NaN      NaN NaN NaN  NaN  NaN NaN NaN NaN NaN  N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN
        6600  6600  6600   36 months  19.92% 245.02 D D3 Markting Director          5 years  OWN      100000.0 Source Verified Dec-2018 Current    n NaN NaN vacation           Vacation                784xx TX 18.21 0 Sep-2001 1 58.0 NaN 18 0 23809 49.5% 40 w 4654.81  4654.81  3063.630000  3063.63  1945.19  1118.44 0.0 0.0 0.0 Dec-2019 245.02   Jan-2020 Nov-2019 0 NaN  1 Individual NaN      NaN   NaN          0 0 63841  5 3 3 4 4.0   40032 94.0 4 8 6001 70.0 48100 1 6 2 12 3547.0  14723.0 57.2 0 0 148.0 207 1   1   0 6.0   58.0 1.0  58.0 0 7 11 9 16 12 15 28 11 18 0.0 0 0 7 100.0 33.3  0 0 90814  63841 34400 42714 NaN     NaN      NaN NaN NaN  NaN  NaN NaN NaN NaN NaN  N NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN N NaN NaN NaN NaN NaN                                                NaN

In [0]:
## Footnote: You can also save files to csv (or other formats like pickle)
va_df.to_pickle('states_file.pkl')

In [0]:
# You can also save to csv, but remember to skip the index.
va_none.to_csv('states_file.csv', index=False)

NameError: ignored