<a href="https://colab.research.google.com/github/evitts1989/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Corey_Evitts_LS_DS_212_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
# converting interest level to a number
def interest_level_to_numeric(x):
  if x == 'low':
    return 1
  if x == 'medium':
    return 2
  if x == 'high':
    return 3

In [5]:
df['interest_level_num'] = df['interest_level'].apply(interest_level_to_numeric)
df.head()

   bathrooms  bedrooms  ... common_outdoor_space interest_level_num
0        1.5         3  ...                    0                  2
1        1.0         2  ...                    0                  1
2        1.0         1  ...                    0                  3
3        1.0         1  ...                    0                  1
4        1.0         4  ...                    0                  1

[5 rows x 35 columns]

In [0]:
# creating new feature length of description
df['description_length'] = df['description'].str.len()
df['description_length'].fillna(0, inplace=True)

In [7]:
df['description_length'].isnull().sum()

0

In [8]:
# creating new feature of ratio of bedrooms to bathrooms
df['total_rooms'] = df['bedrooms'] + df['bathrooms']
df.head()

   bathrooms  bedrooms  ... description_length total_rooms
0        1.5         3  ...              588.0         4.5
1        1.0         2  ...                8.0         3.0
2        1.0         1  ...              691.0         2.0
3        1.0         1  ...              492.0         2.0
4        1.0         4  ...              479.0         5.0

[5 rows x 37 columns]

In [0]:
# creating a new feature 'total perks' by adding each perk together
df['total_perks'] = (df['elevator'] + df['cats_allowed'] + df['hardwood_floors'] +
                     df['dogs_allowed'] + df['doorman'] + df['dishwasher'] + 
                     df['no_fee'] + df['laundry_in_building'] + 
                     df['fitness_center'] + df['pre-war'] + df['laundry_in_unit'] + 
                     df['roof_deck'] + df['outdoor_space'] + df['dining_room'] + 
                     df['high_speed_internet'] + df['balcony'] + df['swimming_pool'] + 
                     df['new_construction'] + df['terrace'] + df['exclusive'] + 
                     df['loft'] + df['garden_patio'] + df['wheelchair_access'])

In [10]:
df.head()

   bathrooms  bedrooms  ... total_rooms total_perks
0        1.5         3  ...         4.5           0
1        1.0         2  ...         3.0           5
2        1.0         1  ...         2.0           3
3        1.0         1  ...         2.0           2
4        1.0         4  ...         5.0           1

[5 rows x 38 columns]

In [0]:
# splitting training data again from months april and may with new features
train = df[df['created'] < '2016-06-01 00:00:00']

In [0]:
# splitting test data again from the month of june with new features
test = df[df['created'] >= '2016-06-01 00:00:00']

In [13]:
# average price of NYC apartments in april and may
train['price'].mean()

3575.604007034292

In [0]:
# assigning y target vectors
target = 'price'
y_train = train[target]
y_test = test[target]

In [15]:
# calculating mean baseline
print('Mean Baseline (using 0 features)')
guess = y_train.mean()
print(guess)

Mean Baseline (using 0 features)
3575.604007034292

In [0]:
# train error
from sklearn.metrics import mean_absolute_error
y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train error (April and May): {mae:.2f} dollars')

Train error (April and May): 1201.88 dollars

In [0]:
# test error
y_pred = [guess] * len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error (June) {mae:.2f} dollars')

In [0]:
import plotly.express as px
px.scatter_3d(
    train,
    x = 'total_rooms',
    y = 'bathrooms',
    z = 'price',
    title = 'NYC Apartments April and May 2016'
)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [0]:
# creating a new feature 'total perks' by adding each perk together
#df['total_perks'] = (df['elevator'] + df['cats_allowed'] + df['hardwood_floors'] +
                     #df['dogs_allowed'] + df['doorman'] + df['dishwasher'] + 
                     #df['no_fee'] + df['laundry_in_building'] + 
                     #df['fitness_center'] + df['pre-war'] + df['laundry_in_unit'] + 
                     #df['roof_deck'] + df['outdoor_space'] + df['dining_room'] + 
                     #df['high_speed_internet'] + df['balcony'] + df['swimming_pool'] + 
                     #df['new_construction'] + df['terrace'] + df['exclusive'] + 
                     #df['loft'] + df['garden_patio'] + df['wheelchair_access'])

In [0]:
# defining features for multiple regression
features = ['total_rooms', 'interest_level_num', 'elevator', 'longitude',
            'hardwood_floors', 'doorman', 'bathrooms', 'laundry_in_unit',]

#features = ['total_rooms', 'interest_level_num', 'longitude', 'bathrooms', 'elevator',
            #'cats_allowed', 'hardwood_floors', 'dogs_allowed', 'doorman',
            #'dishwasher', 'no_fee', 'laundry_in_building', 'fitness_center',
            #'pre-war', 'laundry_in_unit', 'roof_deck', 'outdoor_space',
            #'dining_room', 'high_speed_internet', 'balcony', 'swimming_pool',
            #'new_construction', 'terrace', 'exclusive', 'loft', 'garden_patio',
            #'wheelchair_access']

X_train = train[features]
X_test = test[features]

In [0]:
# fitting the model
model.fit(X_train, y_train)

In [0]:
# calculating error on training data
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train error: {mae:.2f} dollars')

In [0]:
# calculating error on testing data
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test error: {mae:.2f} dollars')

In [0]:
# getting the model's coefficients
model.coef_

In [0]:
# getting the model's intercept
model.intercept_

In [0]:
# print regression metrics 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

In [0]:
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('R^2:', r2)