<a href="https://colab.research.google.com/github/kvinne-anc/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/CovidDataSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

! wget 'https://www.kaggle.com/howsmyflattening/covid19-challenges/download/qjg6ZfVIx7nfqlNahTDV%2Fversions%2FZr6BoIV1GsRaFO0rqXRc%2Ffiles%2Finternational_mortality.csv?datasetVersionNumber=54'

--2020-05-07 00:47:00--  https://www.kaggle.com/howsmyflattening/covid19-challenges/download/qjg6ZfVIx7nfqlNahTDV%2Fversions%2FZr6BoIV1GsRaFO0rqXRc%2Ffiles%2Finternational_mortality.csv?datasetVersionNumber=54
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /account/login?returnUrl=%2Fhowsmyflattening%2Fcovid19-challenges%2Fversion%2F54 [following]
--2020-05-07 00:47:00--  https://www.kaggle.com/account/login?returnUrl=%2Fhowsmyflattening%2Fcovid19-challenges%2Fversion%2F54
Reusing existing connection to www.kaggle.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘qjg6ZfVIx7nfqlNahTDV%2Fversions%2FZr6BoIV1GsRaFO0rqXRc%2Ffiles%2Finternational_mortality.csv?datasetVersionNumber=54’

qjg6ZfVIx7nfqlNahTD     [ <=>                ]   8.75K  --.-KB/s    in 0s

2020-05-07 00:47:00 (26.5 MB/s) - ‘qjg6ZfVIx7nfqlNahTDV%2Fversions%2FZr6BoIV1GsRaFO0rqXRc%2Ffiles%2Finternational_mortality.csv?datasetVersionNumber=54’ saved [8956]

In [18]:
death = pd.read_csv('/content/international_mortality.csv')
death.head()

   id        date         country  deaths
0   1  2020-01-22           Italy       0
1   2  2020-01-22    Korea, South       0
2   3  2020-01-22           Spain       0
3   4  2020-01-22  United Kingdom       0
4   5  2020-01-22          France       0

In [17]:
locke = pd.read_csv('/content/countryLockdowndates.csv')
locke.head()

  Country/Region  ...                                          Reference
0    Afghanistan  ...  https://www.thestatesman.com/world/afghan-govt...
1        Albania  ...  https://en.wikipedia.org/wiki/2020_coronavirus...
2        Algeria  ...  https://www.garda.com/crisis24/news-alerts/325...
3        Andorra  ...  https://en.wikipedia.org/wiki/2020_coronavirus...
4         Angola  ...  https://en.wikipedia.org/wiki/2020_coronavirus...

[5 rows x 5 columns]