<a href="https://colab.research.google.com/github/eduardopadilla3/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/EP__LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

In [0]:
##### Begin Working Here #####
import pandas as pd

In [2]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-03 08:34:42--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.163.140.110, 52.89.160.109, 44.228.179.66
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.163.140.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  22.10M  1.87MB/s    in 12s

2020-06-03 08:34:55 (1.81 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [3]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [5]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.isnull().sum().sort_values()

inq_fi                           2
mo_sin_old_rev_tl_op             2
delinq_amnt                      2
chargeoff_within_12_mths         2
acc_open_past_24mths             2
                             ...
settlement_percentage       127563
id                          128412
desc                        128414
url                         128414
member_id                   128414
Length: 144, dtype: int64

In [6]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.isnull().sum().sort_values()

inq_fi                           0
mo_sin_old_rev_tl_op             0
delinq_amnt                      0
chargeoff_within_12_mths         0
acc_open_past_24mths             0
                             ...
settlement_percentage       127561
desc                        128412
url                         128412
member_id                   128412
id                          128412
Length: 144, dtype: int64

In [0]:
df = df.drop(['desc', 'url', 'member_id', 'id'], axis=1)

In [10]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      16000        16000  ...                    NaN             NaN
2       8425         8425  ...                    NaN             NaN
3      10000        10000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
df.dtypes

loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
term                      object
int_rate                  object
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 140, dtype: object

In [0]:
df['int_rate'].head(10)

0     14.47%
1     14.47%
2     27.27%
3     12.98%
4     26.31%
5     17.97%
6     11.80%
7     10.72%
8     16.14%
9     12.98%
Name: int_rate, dtype: object

In [0]:
df['int_rate'][3]

' 12.98%'

In [0]:
#fixing one string
int_rate = ' 12.98%'

In [0]:
int_rate.strip()

'12.98%'

In [0]:
int_rate.strip('%')

' 12.98'

In [0]:
int_rate.strip().strip('%')

'12.98'

In [0]:
type(int_rate.strip().strip('%'))

str

In [0]:
#value to float
float(int_rate.strip().strip('%'))

12.98

In [0]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
#write actual function
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
int_rate_to_float(int_rate)

12.98

In [0]:
type(int_rate_to_float(int_rate))

float

In [0]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      20000        20000  ...              NaN            14.47
1      16000        16000  ...              NaN            14.47
2       8425         8425  ...              NaN            27.27
3      10000        10000  ...              NaN            12.98
4      30000        30000  ...              NaN            26.31

[5 rows x 141 columns]

In [0]:
#using .apply()
int_rates = [' 16.57%', ' 16.52%', ' 16.58%', ' 16.41%', ' 15.47%']

[int_rate_to_float(item) for item in int_rates]

[16.57, 16.52, 16.58, 16.41, 15.47]

In [0]:
df['int_rate'].values

array([' 14.47%', ' 14.47%', ' 27.27%', ..., ' 13.56%', ' 11.06%',
       ' 16.91%'], dtype=object)

In [0]:

df['int_rate'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      20000        20000  ...              NaN            14.47
1      16000        16000  ...              NaN            14.47
2       8425         8425  ...              NaN            27.27
3      10000        10000  ...              NaN            12.98
4      30000        30000  ...              NaN            26.31

[5 rows x 141 columns]

In [0]:
#top 20 employment titles
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
df['emp_title'].nunique()

43892

In [0]:
df['emp_title'].isnull().sum()

20947

In [0]:
#examples of clean up
import numpy as np

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [0]:
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_emp_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      20000        20000  ...                    NaN              NaN
1      16000        16000  ...                    NaN              NaN
2       8425         8425  ...                    NaN              NaN
3      10000        10000  ...                    NaN              NaN
4      30000        30000  ...                    NaN              NaN

[5 rows x 140 columns]

In [0]:
#check progress
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
df['emp_title'].nunique()

34902

In [0]:
df['emp_title'].isnull().sum()

0

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [0]:
df['issue_d'].tail()

128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, dtype: object

In [0]:
#change to date time object
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [0]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [0]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [0]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [0]:
#new columns for month and year
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year  issue_month
0      20000        20000  ...        2018           12
1      16000        16000  ...        2018           12
2       8425         8425  ...        2018           12
3      10000        10000  ...        2018           12
4      30000        30000  ...        2018           12

[5 rows x 142 columns]

In [0]:
df.dtypes

loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
term                       int64
int_rate                  object
                          ...
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
issue_year                 int64
issue_month                int64
Length: 142, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['earliest_cr_line'].head()

0   1979-06-01
1   2001-11-01
2   1997-10-01
3   2007-05-01
4   2007-10-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['length_of_credit_history'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

df.head()

   loan_amnt  funded_amnt  ...  issue_month  length_of_credit_history
0      20000        20000  ...           12                 39.528767
1      16000        16000  ...           12                 17.093151
2       8425         8425  ...           12                 21.180822
3      10000        10000  ...           12                 11.594521
4      30000        30000  ...           12                 11.175342

[5 rows x 143 columns]

# **CLEANING UP TERM COLUMN:**

In [0]:
df['term'].head()

0    36.0
1    36.0
2    36.0
3    60.0
4    60.0
Name: term, dtype: float64

In [0]:
df['term'][3]

60.0

In [0]:
#function
def term_to_integer(cell_contents):
  return float(cell_contents.strip().strip('months'))

In [0]:
#apply function and replace term column

df['term'] = df['term'].apply(term_to_integer)

In [0]:
import numpy as np
df['term'] = df['term'].apply(np.int64)

In [0]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      20000        20000  ...                    NaN              NaN
1      16000        16000  ...                    NaN              NaN
2       8425         8425  ...                    NaN              NaN
3      10000        10000  ...                    NaN              NaN
4      30000        30000  ...                    NaN              NaN

[5 rows x 140 columns]

# **CREATE loan_status_is_great COLUMN:**

In [0]:
df['loan_status_is_great'] = df.loan_status.map( lambda x: '1' if df['loan_status'].any == 'Current' or df['loan_status'].any == 'Fully Paid'  else '0')

In [18]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month loan_status_is_great
0      20000        20000  ...                 2.0                    0
1      16000        16000  ...                 5.0                    0
2       8425         8425  ...                 2.0                    0
3      10000        10000  ...                 5.0                    0
4      30000        30000  ...                 4.0                    0

[5 rows x 143 columns]

In [0]:
loan_status_assigner(df.loan_status)

0

In [0]:
df[loan_status_is_great] = df['loan_status'].apply(loan_status_assigner(self))

NameError: ignored

# **last_pymnt_d_month and last_pymnt_d_year columns:**

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [13]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      16000        16000  ...                    NaN             NaN
2       8425         8425  ...                    NaN             NaN
3      10000        10000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [14]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_year last_pymnt_d_month
0      20000        20000  ...             2020.0                2.0
1      16000        16000  ...             2020.0                5.0
2       8425         8425  ...             2019.0                2.0
3      10000        10000  ...             2020.0                5.0
4      30000        30000  ...             2019.0                4.0

[5 rows x 142 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01