<a href="https://colab.research.google.com/github/hmead15/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/HM_Assignment_LS_DS_19_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [219]:
import pandas as pd
import numpy as np

In [220]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-08-04 22:15:04--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.245.103.170, 52.42.71.195, 52.32.28.252, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.245.103.170|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [               <=>  ]  22.26M  6.57MB/s    in 4.1s

2020-08-04 22:15:08 (5.47 MB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [23339743]

In [223]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [224]:
df = pd.read_csv('LoanStats_2018Q4.csv',header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [225]:
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
#Convert the term column from string to integer.

In [229]:
def term_to_int(cell_contents):
  return int(cell_contents.strip().strip(' months'))

In [230]:
df.term.apply(term_to_int)

0         36
1         36
2         36
3         60
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [233]:
#Make a column named loan_status_is_great. 
#It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
#Else it should contain the integer 0.

def rate_loan_status(cell_contents):
  if cell_contents == "Current" or cell_contents == "Fully Paid":
    return 1
  else: return 0

df['loan_status_is_great']=df['loan_status'].apply(rate_loan_status)
df['loan_status_is_great']

0         0
1         1
2         1
3         1
4         1
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status_is_great, Length: 128412, dtype: int64

In [234]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.
df['last_pymnt_d'] = df['last_pymnt_d'].dropna()
df['last_pymnt_d'] = pd.DatetimeIndex(df['last_pymnt_d'])

In [235]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [236]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].fillna(-1)
df['last_pymnt_d_year'] = df['last_pymnt_d_year'].fillna(-1)

#for afterwards:
#df['last_pymnt_d_month'] = df['last_pymnt_d_month'].replace('-1', np.nan)
#df['last_pymnt_d_year'] = df['last_pymnt_d_year'].replace('-1', np.nan)

In [239]:
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].astype(int)
df['last_pymnt_d_year'] = df['last_pymnt_d_year'].astype(int)

In [240]:
import calendar
df['last_pymnt_d_month'] = df['last_pymnt_d_month'].apply(lambda x: calendar.month_abbr[x])

In [243]:
df['last_pymnt_d_month']

0       Feb
1       Jul
2       Jul
3       Apr
4       Jul
       ...
1995    Jul
1996    Jul
1997    Jul
1998    Feb
1999    Jul
Name: last_pymnt_d_month, Length: 2000, dtype: object

In [242]:
df['last_pymnt_d_year']

0         2020
1         2020
2         2019
3         2019
4         2020
          ...
128407    2018
128408    2020
128409    2020
128410    2020
128411    2020
Name: last_pymnt_d_year, Length: 128412, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [214]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [215]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [216]:
# %cd instacart_2017_05_01