<a href="https://colab.research.google.com/github/urenajose/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Jose_Urena_DSpt8_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-07-15 00:32:18--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.204.5
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.204.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  47.1MB/s    in 4.6s

2020-07-15 00:32:23 (42.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [7]:
##### YOUR CODE HERE #####
order_product_prior = pd.read_csv("/content/instacart_2017_05_01/order_products__prior.csv")
order_product_train = pd.read_csv("/content/instacart_2017_05_01/order_products__train.csv")
orders = pd.read_csv("/content/instacart_2017_05_01/orders.csv")
products = pd.read_csv("/content/instacart_2017_05_01/products.csv")

In [8]:
display(order_product_prior.head());display(order_product_train.head());display(orders.head());display(products.head())
display(order_product_prior.shape);display(order_product_train.shape);display(orders.shape);display(products.shape)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

(32434489, 4)

(1384617, 4)

(3421083, 7)

(49688, 4)

In [9]:
#Creating a subset df to identify which products_id are need it, to filter order_product_prior & train.
products_selected = ["Banana",
"Bag of Organic Bananas",
"Organic Strawberries",
"Organic Baby Spinach",
"Organic Hass Avocado",
"Organic Avocado",
"Large Lemon",
"Strawberries",
"Limes",
"Organic Whole Milk"]

products_id_subset = products.loc[products['product_name'].isin(products_selected)]
products_id_subset = products_id_subset[["product_id", "product_name"]] #only selecting the (2) columns that I need
print(products_id_subset)
product_id_subset_list = products_id_subset["product_id"].tolist()
display(product_id_subset_list) #create list to pass it to order_product_prior & train to create a filter down version of each.

       product_id            product_name
13175       13176  Bag of Organic Bananas
16796       16797            Strawberries
21136       21137    Organic Strawberries
21902       21903    Organic Baby Spinach
24851       24852                  Banana
26208       26209                   Limes
27844       27845      Organic Whole Milk
47208       47209    Organic Hass Avocado
47625       47626             Large Lemon
47765       47766         Organic Avocado

[13176, 16797, 21137, 21903, 24852, 26209, 27845, 47209, 47626, 47766]

In [10]:
order_product_prior_1 = order_product_prior[["order_id", "product_id"]]
print("Before", order_product_prior_1.shape)
order_product_prior_1 = order_product_prior_1.loc[order_product_prior_1['product_id'].isin(product_id_subset_list)].copy()
print("After", order_product_prior_1.shape)

Before (32434489, 2)
After (2323158, 2)

In [11]:
order_product_train_1 = order_product_train[["order_id", "product_id"]]
print("Before", order_product_train_1.shape)
order_product_train_1 = order_product_train_1.loc[order_product_train_1['product_id'].isin(product_id_subset_list)].copy()
print("After", order_product_train_1.shape)

Before (1384617, 2)
After (95156, 2)

In [12]:
order_product_merge = pd.concat([order_product_train_1, order_product_train_1]) #concat the (2) order_product df to (1)
print(order_product_merge.shape)

(190312, 2)

In [13]:
order_product_master = pd.merge(order_product_merge, products_id_subset, left_on = "product_id", right_on = "product_id")

In [16]:
print(order_product_master.shape)
print("\n order_product_master", order_product_master.shape)
print("\n ",order_product_master.head(5),order_product_master.tail(5))
print("\n Counts of the top 10 most frequently ordered products: \n \n", order_product_master["product_name"].value_counts())

(190312, 3)

 order_product_master (190312, 3)

     order_id  product_id            product_name
0         1       13176  Bag of Organic Bananas
1        98       13176  Bag of Organic Bananas
2       170       13176  Bag of Organic Bananas
3      1077       13176  Bag of Organic Bananas
4      1325       13176  Bag of Organic Bananas         order_id  product_id     product_name
190307   3419827       47766  Organic Avocado
190308   3420232       47766  Organic Avocado
190309   3420257       47766  Organic Avocado
190310   3420578       47766  Organic Avocado
190311   3420857       47766  Organic Avocado

 Counts of the top 10 most frequently ordered products:

 Banana                    37452
Bag of Organic Bananas    30960
Organic Strawberries      21788
Organic Baby Spinach      19568
Large Lemon               16270
Organic Avocado           14818
Organic Hass Avocado      14586
Strawberries              12988
Limes                     12066
Organic Whole Milk         9816
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [17]:


table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb']);

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [18]:
# table2 -> tidy
pd.melt?
full_names =['John Smith', 'Jane Doe', 'Mary Johnson']
treatment_names =['treatmenta', 'treatmentb']
table3 = table2.reset_index()
print(table3)
table3 = pd.melt(table3, id_vars="index", value_vars=full_names,value_name="treatment_value", var_name="Full_name")
table3 = table3.rename(columns={"index": "treatment_type"})
print(table3)
table3["treatment_type"] = table3["treatment_type"].str.replace("treatment","")
print("\n ", table3)

        index  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0
  treatment_type     Full_name  treatment_value
0     treatmenta    John Smith              NaN
1     treatmentb    John Smith              2.0
2     treatmenta      Jane Doe             16.0
3     treatmentb      Jane Doe             11.0
4     treatmenta  Mary Johnson              3.0
5     treatmentb  Mary Johnson              1.0

    treatment_type     Full_name  treatment_value
0              a    John Smith              NaN
1              b    John Smith              2.0
2              a      Jane Doe             16.0
3              b      Jane Doe             11.0
4              a  Mary Johnson              3.0
5              b  Mary Johnson              1.0

In [19]:
# tidy -> table2
pivot_table2 = table3.pivot_table(values='treatment_value',columns="Full_name",index="treatment_type")
pivot_table2

Full_name       Jane Doe  John Smith  Mary Johnson
treatment_type
a                   16.0         NaN           3.0
b                   11.0         2.0           1.0

In [20]:
flights = sns.load_dataset('flights')

In [21]:
# Flights Pivot Table
print(flights)
flights_pivot = flights.pivot_table(values='passengers',index="year",columns="month")
print(flights_pivot)

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]
month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [40]:
##### concat (2) order_product_x df & merge product_name from product_id #####
order_product_train_2 = order_product_train[["order_id", "product_id"]]
order_product_prior_2 = order_product_train[["order_id", "product_id"]]
order_product = pd.concat([order_product_train_2,order_product_prior_2])
order_product_wnames= pd.merge(order_prouct , products[["product_id","product_name"]], left_on ="product_id", right_on="product_id")
print(order_product_wnames.shape)

(2769234, 3)

In [41]:
orders_times = orders[["order_id","order_hour_of_day"]]
print(orders_times.head())

   order_id  order_hour_of_day
0   2539329                  8
1   2398795                  7
2    473747                 12
3   2254736                  7
4    431534                 15

In [42]:
orders_hours_of_day = pd.merge(order_product_wnames,orders_times,left_on="order_id",right_on="order_id")
print(orders_hours_of_day.shape)

(2769234, 4)

In [43]:
count_of_product_ordered  = orders_hours_of_day["product_name"].value_counts()
count_of_product_ordered = count_of_product_ordered.reset_index()
count_of_product_ordered = count_of_product_ordered.rename(columns={"index": "product_name","product_name":"amount_order"})
print(count_of_product_ordered.head())
copo_filter = count_of_product_ordered.loc[count_of_product_ordered["amount_order"] >= 2900] #variable: count_of_product_ordered filtered by amount product ordered 
print(copo_filter)
copo_filter['top_product'] = "top"

             product_name  amount_order
0                  Banana         37452
1  Bag of Organic Bananas         30960
2    Organic Strawberries         21788
3    Organic Baby Spinach         19568
4             Large Lemon         16270
                                      product_name  amount_order
0                                           Banana         37452
1                           Bag of Organic Bananas         30960
2                             Organic Strawberries         21788
3                             Organic Baby Spinach         19568
4                                      Large Lemon         16270
..                                             ...           ...
86                                 Red Raspberries          2986
87                                Clementines, Bag          2956
88                               Pure Irish Butter          2952
89                                       Red Onion          2936
90  Unsweetened Original Almond Breeze Almond Milk          2930

[91 rows x 2 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [44]:
print("\n ",copo_filter.shape)
import copy
print("\n ",copo_filter.head(100))

  (91, 3)

                                        product_name  amount_order top_product
0                                           Banana         37452         top
1                           Bag of Organic Bananas         30960         top
2                             Organic Strawberries         21788         top
3                             Organic Baby Spinach         19568         top
4                                      Large Lemon         16270         top
..                                             ...           ...         ...
86                                 Red Raspberries          2986         top
87                                Clementines, Bag          2956         top
88                               Pure Irish Butter          2952         top
89                                       Red Onion          2936         top
90  Unsweetened Original Almond Breeze Almond Milk          2930         top

[91 rows x 3 columns]

In [45]:
orders_top_products = pd.merge(orders_hours_of_day,copo_filter[["product_name","top_product"]],on="product_name", how="right")
print(orders_top_products["top_product"].isnull().sum())
print(orders_top_products["order_hour_of_day"].dtypes) #was getting a error wanted to check the column type
orders_top_products1 = copy.deepcopy(orders_top_products[(orders_top_products["order_hour_of_day"].isin([0,18,19,20,21,22,23,24,1])) & (orders_top_products["top_product"] == "top")])
print("\n ",orders_top_products1.shape,"\n",orders_top_products1)
orders_top_products1["product_name"].value_counts().head(100)

0
int64

  (116038, 5)
         order_id  product_id    product_name  order_hour_of_day top_product
10         74103       49683  Cucumber Kirby                 20         top
11         74103       49683  Cucumber Kirby                 20         top
12         92892       49683  Cucumber Kirby                 19         top
13         92892       49683  Cucumber Kirby                 19         top
22        400091       49683  Cucumber Kirby                 18         top
...          ...         ...             ...                ...         ...
603167   3337473         196            Soda                 21         top
603200   3396656         196            Soda                 19         top
603201   3396656         196            Soda                 19         top
603206   3408411         196            Soda                 21         top
603207   3408411         196            Soda                 21         top

[116038 rows x 5 columns]

Banana                                            7448
Bag of Organic Bananas                            6130
Organic Strawberries                              4372
Organic Baby Spinach                              3736
Large Lemon                                       3000
                                                  ...
Pure Irish Butter                                  566
Clementines, Bag                                   564
Unsweetened Original Almond Breeze Almond Milk     562
Red Onion                                          532
Soda                                               414
Name: product_name, Length: 91, dtype: int64

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####