<a href="https://colab.research.google.com/github/cdixson-ds/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd

#read in the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [0]:
#Look at features

print(df.shape)
df.head()

In [0]:
#Look at data types, display more than the default/truncated amount

pd.set_option('display.max_rows', 200)

df.dtypes

In [0]:
#Look at the first ten rows of the 'BedroomAbvGr' column
#Note that these are integers

df['BedroomAbvGr'].head(10)

In [0]:
#Look at first ten rows of 'LotFrontage' column

df['LotFrontage'].head(10)

In [0]:
# 'LotFrontage' originally held integer values but they were cast as floats

df['LotFrontage'].value_counts(dropna=False)

In [0]:
#NaN is the most common value in this column

df['LotFrontage'].value_counts(dropna=False)

In [0]:
#NaN datatype is float, which is why the integers in this column were converted
#to float in order to preserve the same datatype throughout the column

import numpy as np
type(np.NaN)

In [0]:
#Make New Features, make a smaller dataframe with a few specific column headers
#by passing a list of column headers inside of the square brackets

small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

small_df

In [0]:
#Add up all the square footage to get a single square footage column for 
#entire dataset

small_df['TotalSquareFootage'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']
small_df.head()

In [0]:
#Make 'PricePerSqFt' column by dividing price per square footage

small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage']

small_df.head()

In [0]:
#Load new dataset

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
!unzip LoanStats_2018Q4.csv.zip

In [0]:
!head LoanStats_2018Q4.csv

In [0]:
#NaN values, '%', spaces may cause trouble when reading in file

!tail LoanStats_2018Q4.csv

In [0]:
#Read in csv

df = pd.read_csv('LoanStats_2018Q4.csv')
print(df.shape)
df.head()

In [0]:
#Fix header issue by using 'skiprows' parameter

df = pd.read_csv('LoanStats_2018Q4.csv', header=1)
print(df.shape)
df.head()

In [0]:
#Sum null values by column and sort from least to greatest

pd.set_option('display.max_rows', 200)

df.isnull().sum().sort_values()

In [0]:
#Address extra NaNs by skipping the footer

df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

In [0]:
df.isnull().sum().sort_values()

In [0]:
#drop colomns that are 100% empty, check values against the shape of the dataset (look at url, member_id, id, desc)
 
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [0]:
df.head()

In [0]:
#look at 'int_rate' column
df['int_rate'].head(10)

In [0]:
#Build a function to fix 'int_rate' column by fixing one string at a time
#Need to fix the leading space and the '%' character

int_rate = ' 14.17%'

In [0]:
#Handle leading space
int_rate.strip()

In [0]:
#Remove the '%' character
int_rate.strip('%')

In [0]:
#Chain to remove both at once
int_rate.strip().strip('%')

In [0]:
#Check type
type(int_rate.strip().strip('%'))

In [0]:
#cast string value as float

float(int_rate.strip().strip('%'))

In [0]:
#Check type again
type(float(int_rate.strip().strip('%')))

In [0]:
#Put together function that can do the above to any string passed through it

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
#Test function

int_rate_to_float(int_rate)

In [0]:
#Test data type
type(int_rate_to_float(int_rate))

In [0]:
#Apply to cell column using a for loop. This method is slower

new_list = []
for cell in df['int_rate']:
  new_list.append(int_rate_to_float(cell))

df['int_rate_cleaned'] = pd.Series(new_list)

In [0]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

df.head()

In [0]:
# Look at the datatypes of the last 5 columns
df.dtypes[-5:]

In [0]:
#Modify and Create columns using .apply()

# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False)[:20]

In [0]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

In [0]:
[]# How often is the employment_title null?
df['emp_title'].isnull().sum()

In [0]:
# Create some examples that represent the cases that we want to clean up

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [0]:
# Write a function to clean up these use cases and increase uniformity.

def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"
  
for title in examples:
  print(clean_title(title))

In [0]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.

[clean_title(example) for example in examples]

In [0]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

In [0]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

In [0]:
# How many different unique employment titles are there currently?
len(df['emp_title'].value_counts())

In [0]:
# How often is the employment_title null (NaN)?
df['emp_title'].isnull().sum()

In [0]:
#Convert the term column from string to integer.

df['term'].head(10)

In [0]:
#look at specific value

df['term'][3]

In [0]:
#stip leading space, trailing space and 'months'

term = ' 36 months'

term.strip().strip(' months')

In [0]:
#cast as an integer

int(term.strip().strip(' months'))

In [0]:
#Check data type

type(int(term.strip().strip(' months')))

In [0]:
#Write function

def term_to_int(cell_contents):
  return int(term.strip().strip(' months'))

In [0]:
#Test function

term_to_int(term)

In [0]:
#Apply solution to each cell

#df['term_to_int'] = df['term'].apply(term_to_int)

df['term'] = df['term'].apply(term_to_int)

df.head()

In [0]:
#Make a column named loan_status_is_great. It should contain the 
#integer 1 if loan_status is "Current" or "Fully Paid." 
# Else it should contain the integer 0.

def loan_status_is_great(loan_status):
  if ('loan_status' == "Current"):
    return int(1)
  elif('loan_status' =="Fully Paid"):
    return int(1)
  else:
    return int(0)

df['loan_status'] = df['loan_status'].apply(loan_status_is_great)

df.head()

In [0]:
df.tail()

In [0]:
#Need to use datetime

[col for col in df if col.endswith('_d')]

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

In [0]:
df['issue_d'].iloc[0]

In [0]:
df['issue_d'].head().values

In [0]:
df['issue_d'].dt.year

In [0]:
df['issue_d'].dt.month

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

In [0]:
#Need to change from earliest to latest

df['earliest_cr_line'].head()

df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['issue_d'] - df['earliest_cr_line']

df['issue_d'] - df['earliest_cr_line']

df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

df.head()

df['days_from_earliest_credit_to_issue'].describe()

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.

new_df['last_pymnt_d_month']=

new_df['last_pymnt_d_year']=

new_df.head()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01