<a href="https://colab.research.google.com/github/lucaanescu/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_113_Join_and_Reshape_Data_Assignment_AG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Lambda School Data Science - Unit 1 Sprint 1 Module 3

## Join and Reshape Data 

### Module Learning Objectives

* Concatenate data using the pandas concat method
* Merge data using pandas merge
* Define the concept of tidy data and describe the format
* Tidy data

### Helpful Resources

* [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
* Python Data Science Handbook
    * [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
    * [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
    * [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
    * [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables

## Introduction

In this Module Project, we're going to focus on manipulating data: loading multiple datasets from different locations, concatenating, merging, and even the fancy pandas `groupby` method.

## Dataset Description

You can view the CSV files [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/Instacart_small), before you load them into your notebook.

**Task 1** - Load CSV files

We're going to look at the Instacart data and load the files as we need them. The Pandas and numpy import statements have been provided for you as well as the URL for the dataset.

* Using the provided URL (`data_url1`) load the product CSV file into a DataFrame called `product_names`.
* Print the top five records (or rows) of `product_names`.

In [3]:
# Task 1

# Imports 
import pandas as pd
import numpy as np

# Dataset URL
data_url1 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/product_names_sm.csv'
# YOUR CODE HERE
product_names = pd.read_csv(data_url1)

# View the DataFrame
product_names.head()

   product_id  ... department_id
0       45676  ...            11
1       35408  ...            16
2       37442  ...            16
3       41599  ...            11
4       21994  ...            11

[5 rows x 4 columns]

In [4]:
# Task 1 - Test

assert isinstance(product_names, pd.DataFrame), 'Have you created a DataFrame named `product_names`?'
assert len(product_names) == 25000

**Task 2** - DataFrame concatenation

Next, we're going to load two additional CSV files. The URLs have been provided so your task is to load the files into the appropriately named DataFrames and then to concatenate them into one DataFrame.

* Load the CSV file at `data_url2` into a DataFrame called `order_products_prior`.
* Load the CSV file at `data_url3` into a DataFrame called `order_products_train`.
* Concatenate `order_products_prior` and `order_products_train` into one DataFrame called `order_products`.

In [5]:
# Task 2

# Dataset URLs
data_url2 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/order_products_prior_sm.csv'
data_url3 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/order_products_train_sm.csv'

# YOUR CODE HERE
order_products_prior = pd.read_csv(data_url2)
order_products_train = pd.read_csv(data_url3)

order_products = pd.concat([order_products_prior, order_products_train])

# Print the head to view your results
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0   1696715       34969                 11          0
1   2077308       16641                 16          0
2    303457       46881                  6          0
3    514151       31766                  9          0
4   2099209        7908                 10          1

In [6]:
# Task 2 - Test

assert isinstance(order_products, pd.DataFrame), 'Have you created a DataFrame named `order_products`?'
assert len(order_products) == 50000

**Task 3** - Top five (5) products

We're going to create a list of the top five products - we've already determined what the top five are so now it's your turn to put these items in a list.

* Create a list called `five_products` with the following items: "Bag of Organic Bananas", "Organic Baby Spinach", "Organic Avocado", "Large Lemon", "Limes"

*Note: Make sure to create the list with exact spelling as shown above!*

In [7]:
# Task 3

# Top 5 products: five_products

# YOUR CODE HERE
five_products = ['Bag of Organic Bananas', 'Organic Baby Spinach', 'Organic Avocado', 'Large Lemon', 'Limes']

In [8]:
# Task 3 - Test

assert isinstance(five_products, list), 'Have you created the five_products list?'
assert len(five_products) == 5, "Make sure you created the list correctly"

# No hidden tests for this task

**Task 4** - DataFrame subset using merge

Create a subset of the `product_names` dataset that includes just the top **five** most ordered products. The `five_products` list has been converted to a DataFrame with the name `five`. Your task is to merge these DataFrames.

* Merge `product_names` and `five` so the resulting DataFrame only includes the 5 most ordered products.  Name that DataFrame `top_products`.

In [9]:
# Task 4

# Convert five_products to a DataFrame called five
five = pd.DataFrame(five_products, columns =['product_name']) 

# Create a subset of product_names with only the top 5 products.  
# Use your merge statement to include only the top 5 products

# YOUR CODE HERE

top_products = pd.merge(product_names, five, how = 'inner', sort = 'product_name')


# Print your DataFrame to view the merge results
top_products.head()

   product_id            product_name  aisle_id  department_id
0       13176  Bag of Organic Bananas        24              4
1       47626             Large Lemon        24              4
2       26209                   Limes        24              4
3       47766         Organic Avocado        24              4
4       21903    Organic Baby Spinach       123              4

In [98]:
# Task 4 - Test
assert isinstance(top_products, pd.DataFrame), 'Have you created a DataFrame named `top_products`?'

**Task 5** - More DataFrame merging

Now we're going to merge the first DataFrame we created (`order_products`) with the one we just made above (`top_products`). This will result in a DataFrame with only the top five most ordered products.

* Merge `order_products` and `top_products` and name the resulting DataFrame `final`.
* Print the top 20 rows of `final` to view your result.

In [10]:
# Task 5

# Merge order_products and top_products 

# YOUR CODE HERE
final = pd.merge( top_products, order_products, how = 'inner', on = 'product_id')
final = final.drop(['reordered', 'department_id'], axis = 1)

# Print your final DataFrame
final.head(20)

    product_id            product_name  aisle_id  order_id  add_to_cart_order
0        13176  Bag of Organic Bananas        24   3313641                  1
1        13176  Bag of Organic Bananas        24   2658883                  1
2        13176  Bag of Organic Bananas        24   2840135                  3
3        13176  Bag of Organic Bananas        24    749245                  3
4        13176  Bag of Organic Bananas        24   1168631                  6
5        13176  Bag of Organic Bananas        24    228506                  8
6        13176  Bag of Organic Bananas        24   1847986                  1
7        13176  Bag of Organic Bananas        24    370042                 15
8        13176  Bag of Organic Bananas        24   1717967                  9
9        13176  Bag of Organic Bananas        24   1359847                 14
10       13176  Bag of Organic Bananas        24   2163145                  1
11       13176  Bag of Organic Bananas        24   1725486                  2
12       13176  Bag of Organic Bananas        24    527267                  1
13       13176  Bag of Organic Bananas        24   3123041                  4
14       13176  Bag of Organic Bananas        24    391136                  3
15       13176  Bag of Organic Bananas        24   1948023                  5
16       13176  Bag of Organic Bananas        24    969602                  1
17       13176  Bag of Organic Bananas        24   1181758                  1
18       13176  Bag of Organic Bananas        24    917842                 15
19       13176  Bag of Organic Bananas        24   1340675                  1

In [11]:
# Task 5 - Test

assert isinstance(final, pd.DataFrame), 'Have you created a DataFrame named `final`?'

**Task 6** - Top five products - value counts

Note that every record in `final` is a single instance in which someone ordered one of the top five products.  Your task is to calcluate the number of times each product was ordered.

* Calculate the **number of times** each product was ordered using `value_counts()`. Name the result `food_frequency`.
* Assign the most frequently ordered food to the variable `top_item` (your variable should be a string; make sure to use the exact formatting returned above).

In [16]:
# Task 6

# Determine the number of times each product was ordered

# YOUR CODE HERE
food_frequency = final.value_counts(['add_to_cart_order'])
top_item = final.value_counts()

# View your results
food_frequency.head()

product_id  product_name            aisle_id  order_id  add_to_cart_order
47766       Organic Avocado         24        3416878   1                    1
21903       Organic Baby Spinach    123       556390    1                    1
13176       Bag of Organic Bananas  24        3333997   4                    1
                                              3338527   1                    1
                                              3357352   1                    1
                                                                            ..
26209       Limes                   24        3400713   7                    1
                                              3410402   2                    1
47626       Large Lemon             24        21563     9                    1
                                              22978     4                    1
13176       Bag of Organic Bananas  24        11481     1                    1
Length: 1670, dtype: int64

In [17]:
# Task 6 - Test
assert food_frequency.shape == (5,), 'Check to make sure you merged correctly'

AssertionError: ignored

**Task 7** - Using `groupby()` and `mean()`

In this next step, we're going to import one last CSV file and look at the time of day an order was made. Some of the code has been provided for you - your task is to complete the merging and look at the mean time of the top five orders.

**Completed for you**
* Imported `orders_sm.csv` as the DataFrame `orders`.
* Merged `orders` and `final` into a DataFrame called `final_times` that only includes the top five foods.

**Your tasks**
* Use the `groupby()` and `mean()` functions to calculate the mean time each product was ordered (`order_hour_of_day`).
* Name the results of your calculation `mean_hours`.

In [21]:
# Task 7

# COMPLETED FOR YOU
# Import orders.csv and name the DataFrame orders
data_url4 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/orders_sm.csv'
orders = pd.read_csv(data_url4)
# Merge orders and final into the DataFrame final_time
final_time = pd.merge(orders, final, on='order_id', how='right')

# Use groupby() and mean() to calculate the mean time each product was ordered

# YOUR CODE HERE
order_hour_of_day = final_time.groupby(by='product_name')
mean_hours = order_hour_of_day.mean()

# View your results
mean_hours.head()

                            order_id  ...  add_to_cart_order
product_name                          ...
Bag of Organic Bananas  1.678524e+06  ...           4.875223
Large Lemon             1.769667e+06  ...           7.844523
Limes                   1.661978e+06  ...           8.543147
Organic Avocado         1.655642e+06  ...           5.973978
Organic Baby Spinach    1.674265e+06  ...           7.711111

[5 rows x 9 columns]

In [22]:
# Task 7 - Test
assert mean_hours.shape == (5,), 'Check to make sure you merged correctly'

AssertionError: ignored

**Task 8** - Mean order time

Using the results from above, determine the mean order time for two of the top five items: "Limes" and "Organic Baby Spinach"

* Find the mean order time for "Limes" and assign it to the variable `time_limes`. Your answer should be a float defined to one decimal place.
* Find the mean order time for "Organic Baby Spinach" and assign it to the variable `time_spinach`. You answer should be a float defined to one decimal place.

In [34]:
# Task 8

# YOUR CODE HERE
time_l = pd.Series.order_hour_of_day['product_name']
time_s = pd.Series.order_hour_of_day['product_name']

time_limes = time_l.loc['Limes']
time_spinach = time_s.loc['Limes']

AttributeError: ignored

**Task 8 Test**

In [ ]:
# Task 8 - Test