<a href="https://colab.research.google.com/github/Sk8rSqurl/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_113_Join_and_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)
- [Hadley Wickham's famous paper](http://vita.had.co.nz/papers/tidy-data.html) on Tidy Data

**Always start with imports**

In [0]:
# These will be your typical imports for just about any pandas project.

## Part 1: Simple Examples

### 1.1 Concatenate
Concatenate sticks dataframes together, either on top of each other, or next to each other.

First, let's create two dataframes, `df1` and `df2`.

In [0]:
# Create df1

In [0]:
# Create df2

In [0]:
# Next, let's stick the dataframes on top of each other using `concat`.
# `axis=0` indicates a row operation. Note that 'axis=0' is the default and doesn't have to be specified.

In [0]:
# Finally, let's stick the dataframes next to each other using `concat`. 
# Here, `axis=1` indicates a column operation.

### 1.2 Merge

Merging joins two datasets together based on a common key.

In [0]:
# stock names
{'Symbol': ['AMZN', 'MSFT', 'FB', 'AAPL', 'GOOGL'], 'Name': ['Amazon', 'Microsoft', 'Facebook', 'Apple', 'Google']}

{'Name': ['Amazon', 'Microsoft', 'Facebook', 'Apple', 'Google'],
 'Symbol': ['AMZN', 'MSFT', 'FB', 'AAPL', 'GOOGL']}

In [0]:
# stock prices.
{'Symbol': ['AAPL', 'MSFT', 'GOOGL', 'FB', 'AMZN'], 'OpenPrice': [217.51, 96.54, 501.3, 51.45, 1703.34]}

{'OpenPrice': [217.51, 96.54, 501.3, 51.45, 1703.34],
 'Symbol': ['AAPL', 'MSFT', 'GOOGL', 'FB', 'AMZN']}

In [0]:
# Merge these dataframes.

In [0]:
# Create a 3rd dataset of weekly highs
{'Symbol': ['FB', 'AMZN', 'AAPL', 'MSFT', 'NFLX'], '52wkHigh': [60.79, 2050.49, 233.47, 110.11, 303.22]}

{'52wkHigh': [60.79, 2050.49, 233.47, 110.11, 303.22],
 'Symbol': ['FB', 'AMZN', 'AAPL', 'MSFT', 'NFLX']}

The 'on' parameter indicates a specific column that is contained in both dataframes. We use it to look up and copy information from the two df's into a combined df.

In [0]:
# Now merge that with the named stocks.

The 'how' parameter indicates what the portion of the selected dataframes to keep after the merge takes place.  
https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/

In [0]:
# This is code to display a `.png` inside of a jupyter notebook.
from IPython.display import display, Image
url = 'https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2017/03/join-types-merge-names.jpg'
venn_diagram = Image(url=url, width=600)
display(venn_diagram)

### 1.3 Reshape: `melt` and `pivot_table`

Why reshape data?

**Some libraries prefer data in different formats**



> For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).  
[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets)    
This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

Data science is often about putting square pegs in round holes. Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

**Hadley Wickham: 'wide' format vs. 'tidy' format**  
From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
# Let's create a simple table.

index=['John Smith', 'Jane Doe', 'Mary Johnson']
columns=['treatmenta', 'treatmentb']

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild.   
The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
# This is an example of 'wide' format:

"There are many ways to structure the same underlying data.   
Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
# Exactly the same information can be displayed by transposing the table. 
# (this is also another form of 'wide' format)

Table 3 is an example of 'tidy' format. It reorganises Table 1  to make the values, variables and obserations more clear.

Table 3 is the 'tidy' version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

**Table 1 --> Tidy**

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
# First, get the column names as a list.

In [0]:
# Now get the index values as another list.

In [0]:
# For table 1, convert the index into a column using the `reset_index` method.

In [0]:
# Convert the table from 'wide' to 'tidy' format using the `melt` method.

In [0]:
# rename the columns

In [0]:
# shorten the `trt` values

**Table 2 --> Tidy**

In [0]:
##### LEAVE BLANK --an assignment exercise #####

**Tidy --> Table 1**

The `pivot_table` function is the inverse of `melt`.

In [0]:
# Let's do it all in reverse.

**Tidy --> Table 2**

In [0]:
##### LEAVE BLANK --an assignment exercise #####

**Seaborn example**

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
# Plot this using seaborn

## Part 2: More complex examples

### 2.1 Concatenating time-series datasets from Chicago

In [0]:
# Here's some data about Chicago bikesharing.
source_path='https://raw.githubusercontent.com/austinlasseter/pandas_visualization/master/data/Divvy_Trips_dataset/'
q1_path=source_path + 'Divvy_Trips_2015-Q1.csv'
q2_path=source_path + 'Divvy_Trips_2015-Q2.csv'
q3_path=source_path + 'Divvy_Trips_2015-Q3.csv'
q4_path=source_path + 'Divvy_Trips_2015-Q4.csv'

In [0]:
# Let's take a look at the first quarter.

In [0]:
# how about the second quarter?

In [0]:
# Do they have exactly the same columns?

In [0]:
# Let's define a function to check if they're REALLY equal.

In [0]:
# Now we're sure they're equal, let's concatenate them.

In [0]:
# Confirm that did what we wanted it to.

In [0]:
# Now add quarters 3 and 4, as well.

### 2.2 Merging datasets about counties
Original sources:  
https://www.kaggle.com/muonneutrino/us-census-demographic-data/download  
https://www.ers.usda.gov/data-products/rural-urban-continuum-codes/

In [0]:
# Get some population data about counties from the Census Bureau
source1='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'

In [0]:
# Read that into Pandas, and check out 5 rows.

In [0]:
# What are all the columns?

In [0]:
# Let's restrict that to just a few columns, for a simple analysis about commute times

In [0]:
# What's the average commute in the USA?

In [0]:
# Now let's augment that with some outside data from USDA.
source2='https://github.com/austinlasseter/dash-virginia-counties/blob/master/resources/ruralurbancodes2013.xls?raw=true'

In [0]:
# Take a look at that new data.

In [0]:
# What are those RUCC codes all about?

In [0]:
# Let's shrink that USDA data to just the columns we need.

In [0]:
# Let's merge that with our census data about commute times.

In [0]:
# Is there any difference in commutes by rural-urban designation?

In [0]:
# Display that using the Pandas plotting function.

## Part 3. Real-word Examples

### 3.1. Instacart  Dataset: `pd.concat` and `pd.merge`

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
# bash command: get a compressed file in 'tarball' format (this is similar to a .zip file)
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-11-03 16:28:27--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.92.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.92.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  45.1MB/s    in 4.8s

2019-11-03 16:28:32 (41.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
# bash command: de-compress the tarball file (similar to `unzip`)
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
# bash command: navigate into the new folder.
# Percent sign == "magic" command which changes the underlying state (i.e., new current working directory).

In [0]:
# bash command: list the contents of that folder.

**Goal: Reproduce this example**

The first two orders for user id 1:

In [0]:
# This is code to display a `.png` inside of a jupyter notebook.
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)
display(example)

#### Load data

Here's a list of all six CSV filenames

In [0]:
# List the contents of the cwd.

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
# Read in the aisles dataset. Do we need anything from here? No, we don't.

In [0]:
# Read in the departments dataset. Do we need anything from here? Nope.

In [0]:
# How about order_products? We need everything from this table except for reordered.

In [0]:
# How is this differen from the previous one? Same as above.
# This file indicates a user's most recent order.
# the suffix '__train' vs '__prior' indicates it's been split for machine learning (train-test split)
# Given a user's order history, can you predict what they'll order next.

In [0]:
# How is this one different? Does it have anything we need?
# We need most of these columns, except 'days_since_prior_order' and 'eval_set'

In [0]:
# And products? We need 'product_name' and 'product_id'

In [0]:
display(example)

#### Filtering: Get a subset of orders

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
# let's look at the `orders` dataframe.

In [0]:
# let's filter this dataframe to just the columns we need.
cols=['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']

In [0]:
# Now let's filter it to only certain rows. This will result in a series of boolean values.

In [0]:
# Apply that condition to the orders dataframe.

In [0]:
# a more complicated condition.

In [0]:
# Turn that filtered dataframe into its own dataframe.

#### Concatenate order_products__prior and order_products__train

In [0]:
# check out their shape.

In [0]:
# concatenate them together

In [0]:
# Get a subset of `order_products` -- slim down this large dataset to only what I need (only 2 orders).

In [0]:
# Make a selection of columns

In [0]:
# Use the .loc method to filter rows and columns in a single blow.

#### Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
# Both of these subsets are now quite small

In [0]:
# what is their common key ('unique identifier')?

In [0]:
# merge the two df's on the common key.
# the 'on' parameter indicates a specific column that is contained in both dataframes.
# we use it to look up and copy information from the two df's into a combined df.

Merge with columns from `products`

In [0]:
# Merge with columns from products using `pd.merge`

In [0]:
# are we there yet?
display(example)

### 3.2 Instacart Dataset: `melt` and `pivot_tables`

**Goal: Reproduce part of this example**

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
# This is code to display a `.png` file inside of a jupyter notebook.
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
red_green = Image(url=url, width=600)

display(red_green)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

In [0]:
# Read back in the datasets in their original form (no filters).

####Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
# We only want the first two products.
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

In [0]:
# Subset the products dataframe to only those two.

In [0]:
# I need to associate the hour of the day with a specific product.
# There's no common key between the `products` and `orders` df's to merge them.
# But `order_products` allows me to join them (aka, the `join` table.)

In [0]:
# Subset all of that one more time.

#### 4 ways to reshape and plot

**1. value_counts**

In [0]:
# How many orders included cream, in total and at each hour of the day?

In [0]:
# Display that as percents rather than counts

In [0]:
# Display that in a plot using Panda's built-in graphics library

In [0]:
# Display products both together.

**2. crosstab**

In [0]:
# You can get the same result using the `pd.crosstab` method
# But it generates a legend and requires fewer steps

**3. Pivot Table**

In [0]:
# and again, but with the `pd.pivot_table` method

**4. melt**

In [0]:
# Finally, what if we want to reshape the table?
# First, let's display it in `wide` format.

In [0]:
# Now let's convert from wide to tidy format.
columns={
     'order_hour_of_day': 'Hour of Day Ordered', 
     'product_name': 'Product', 
     'value': 'Percent of Orders by Product'
 }