<a href="https://colab.research.google.com/github/kylerhellyer/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Practice Loading and Exploring DatasetsÂ¶
This assignment is purposely open-ended. You will be asked to load datasets from the UC-Irvine Machine Learning Repository.

Even though you maybe using different datasets than your fellow classmates, try and be supportive and assist each other in the challenges that you are facing. You will only deepend your understanding of these topics as you work to assist one another. Many popular UCI datasets face similar data loading challenges.

Remember that the UCI datasets do not necessarily have a file type of .csv so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally or using the !curl shell command -or in some other way before you try and read it in as a dataframe. This will help you catch what would otherwise be unforseen problems.

Feel free to embellish this notebook with additional markdown cells,code cells, comments, graphs, etc. Whatever you think helps adequately address the questions.

In [0]:
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data')
df.shape
df.head

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
import seaborn as sns

In [0]:
headers = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
           'num_doors', 'body_style', 'drive_wheels', 'engine_location',
           'wheel_base', 'length', 'width', 'height', 'curb_weight',
           'engine_type', 'num_cylinders', 'engine_size', 'fuel_system',
           'bore', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm',
           'city_mpg', 'highway_mpg', 'price']

df_raw = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data',
                     header=None, names=headers, na_values="?" )

models = ['toyota','nissan','mazda', 'honda', 'mitsubishi', 'subaru', 'volkswagen', 'volvo']

df = df_raw[df_raw.make.isin(models)].copy()

pd.crosstab(df.make, df.body_style)

body_style  convertible  hardtop  hatchback  sedan  wagon
make
honda                 0        0          7      5      1
mazda                 0        0         10      7      0
mitsubishi            0        0          9      4      0
nissan                0        1          5      9      3
subaru                0        0          3      5      4
toyota                1        3         14     10      4
volkswagen            1        0          1      9      1
volvo                 0        0          0      8      3

In [0]:
import matplotlib.pyplot as plt