<a href="https://colab.research.google.com/github/Lucas-Petrus/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Lucas_Petrus_copy_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## load a csv from the following url:

#### https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/

In [0]:
# A good practice is to keep your import statements to the top of your
# notebooks

import pandas as pd

In [0]:
# One thing you should begin practicing early is commenting your code!

# Another good practice is to use descriptive variable names

url = ""


df =

In [0]:
# now print the first 5 rows of the data you just loaded

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [0]:
# and the last 7

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
4169  M  0.550  0.430  0.130  0.8395  0.3155  0.1955  0.2405  10
4170  M  0.560  0.430  0.155  0.8675  0.4000  0.1720  0.2290   8
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

In [0]:
# how many rows are in the dataset?

4176

In [0]:
# how many columns

9

In [0]:
# what is the shape of the dataset

(4176, 9)

### From the data directory load the iris dataset

In [11]:

column_headers = [
    "sepal-length", "sepal-width", "petal-length", "petal_width", "class"
]

df = 

# and print out the first 5 rows
df.head()

SyntaxError: ignored

## Make a basic graph using either of the above data sources when you're finished post the graph in the ds17 channel on slack

In [0]:
import pandas as pd

In [0]:
mpg = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data')

In [0]:
column_headers = ['mpg' 'cylinders' 'displacement' 'horsepower' 'weight' 'acceleration' 'model year' 'origin' 'car name']

In [14]:
mpg = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', names=column_headers);
print(mpg)

    mpgcylindersdisplacementhorsepowerweightaccelerationmodel yearorigincar name
0    18.0   8   307.0      130.0      3504.      12...
1    15.0   8   350.0      165.0      3693.      11...
2    18.0   8   318.0      150.0      3436.      11...
3    16.0   8   304.0      150.0      3433.      12...
4    17.0   8   302.0      140.0      3449.      10...
..                                                 ...
393  27.0   4   140.0      86.00      2790.      15...
394  44.0   4   97.00      52.00      2130.      24...
395  32.0   4   135.0      84.00      2295.      11...
396  28.0   4   120.0      79.00      2625.      18...
397  31.0   4   119.0      82.00      2720.      19...

[398 rows x 1 columns]

## Save a copy of your notebook to GitHub and submit a pull request to this repository