<a href="https://colab.research.google.com/github/masonnystrom/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mason_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
# LendingClub Data Set for Q4 of 2018

! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-19 19:09:23--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.72M   837KB/s    in 27s

2020-01-19 19:09:51 (828 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [0]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# Read into CSV
loan_data = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(1460, 81)

In [0]:
loan_data.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
loan_data.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [0]:
loan_data['term'].head()

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

In [0]:
loan_data['term'][4]
# Preceding space and string

' 60 months'

In [0]:
# clean the data, find the NaN values
pd.set_option('display.max_rows', 200)
loan_data.isnull().sum().sort_values(ascending=False)

id                                            128397
desc                                          128397
member_id                                     128397
url                                           128397
orig_projected_additional_accrued_interest    128191
hardship_type                                 128164
hardship_last_payment_amount                  128164
hardship_payoff_balance_amount                128164
hardship_reason                               128164
hardship_loan_status                          128164
hardship_dpd                                  128164
hardship_length                               128164
payment_plan_start_date                       128164
hardship_end_date                             128164
hardship_start_date                           128164
hardship_amount                               128164
deferral_term                                 128164
hardship_status                               128164
settlement_percentage                         127946
settlement_term                               127946
settlement_status                             127946
settlement_amount                             127946
settlement_date                               127946
debt_settlement_flag_date                     127946
sec_app_mths_since_last_major_derog           123245
verification_status_joint                     113553
mths_since_last_record                        112950
sec_app_revol_util                            111877
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
dti_joint                                     111619
annual_inc_joint                              111619
sec_app_open_act_il                           111619
revol_bal_joint                               111619
sec_app_earliest_cr_line                      111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_open_acc                              111619
mths_since_recent_bc_dlq                      103232
mths_since_last_major_derog                    99223
mths_since_recent_revol_delinq                 91620
mths_since_last_delinq                         72190
next_pymnt_d                                   26736
emp_title                                      20942
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11701
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
# address the extra Nans in each column by skipping the footer  and dropping some columns
loan_data_cleaned = loan_data.drop(['id', 'desc', 'member_id', 'url'], axis=1)

In [0]:
loan_data_cleaned.isnull().sum().sort_values(ascending=False)

orig_projected_additional_accrued_interest    128191
hardship_payoff_balance_amount                128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_status                               128164
hardship_reason                               128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
debt_settlement_flag_date                     127946
settlement_status                             127946
settlement_date                               127946
settlement_amount                             127946
settlement_percentage                         127946
settlement_term                               127946
sec_app_mths_since_last_major_derog           123245
verification_status_joint                     113553
mths_since_last_record                        112950
sec_app_revol_util                            111877
annual_inc_joint                              111619
sec_app_open_acc                              111619
dti_joint                                     111619
revol_bal_joint                               111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_earliest_cr_line                      111619
sec_app_open_act_il                           111619
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
mths_since_recent_bc_dlq                      103232
mths_since_last_major_derog                    99223
mths_since_recent_revol_delinq                 91620
mths_since_last_delinq                         72190
next_pymnt_d                                   26736
emp_title                                      20942
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11701
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
out_prncp                                          0
total_acc                                          0
initial_list_status                                0
last_pymnt_amnt                                    0
total_rec_int                                      0
total_rec_prncp                                    0
collection_recovery_fee                            0
recoveries                                         0
total_rec_late_fee                                 0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
term_cleaned_actual                                0
issue_d                                            0
revol_bal                                          0
verification_status                                0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
home_ownership                                     0
annual_inc                                         0
loan_status                                        0
pub_rec                                            0
pymnt_plan                                         0
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
open_acc                                           0
collections_12_mths_ex_med                         0
acc_open_past_24mths                               0
policy_code                                        0
num_tl_90g_dpd_24m                                 0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_30dpd                                       0
num_tl_op_past_12m                                 0
num_accts_ever_120_pd                              0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
hardship_flag                                      0
debt_settlement_flag                               0
num_actv_bc_tl                                     0
mort_acc                                           0
application_type                                   0
open_rv_24m                                        0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
max_bal_bc                                         0
mo_sin_rcnt_tl                                     0
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
term_cleaned                                       0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
loan_amnt                                          0
dtype: int64

#Term

In [0]:
# Clean up the term column
loan_data_cleaned['term'].head(10)

0     36 months
1     36 months
2     36 months
3     36 months
4     60 months
5     36 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

In [0]:
type(loan_data_cleaned['term'][4])

str

In [0]:
term.strip()

'36 months'

In [0]:
term.strip(' months')

'36'

In [0]:
#remove both with one
term.strip().strip(' months')

'36'

In [0]:
# convert to float
float('36')

36.0

In [0]:
float(term.strip().strip(' months'))

36.0

In [0]:
type(float(term.strip().strip(' months')))

float

In [0]:
# Function converts strings to integers
def make_integer(cell_contents):
  return(float(cell_contents.strip().strip(' months')))

In [0]:
make_integer(term)

36.0

In [0]:
# check that it worked
type(make_integer(term))

float

In [0]:
# Apply make_integer function to the entire columnn
new_list = []

In [0]:
# create for loop
for cell in loan_data_cleaned['term']:
  new_list.append(make_integer(cell))

In [0]:
new_list[:10]

[36.0, 36.0, 36.0, 36.0, 60.0, 36.0, 60.0, 36.0, 36.0, 60.0]

In [0]:
loan_data_cleaned['term_cleaned'] = pd.Series(new_list)
loan_data_cleaned.head(7)

   loan_amnt  funded_amnt  ...  term_cleaned term_cleaned_actual
0       6000         6000  ...          36.0                36.0
1      24000        24000  ...          36.0                36.0
2      30000        30000  ...          36.0                36.0
3       8000         8000  ...          36.0                36.0
4      22400        22400  ...          60.0                36.0
5       5000         5000  ...          36.0                36.0
6      27000        27000  ...          60.0                36.0

[7 rows x 142 columns]

In [0]:
loan_data_cleaned.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
term_cleaned                                  float64
term_cleaned_actual                           float64
dtype: object

In [0]:
loan_data_cleaned['term_cleaned_actual'] = loan_data_cleaned['term'].apply(make_integer)
loan_data_cleaned.head()

   loan_amnt  funded_amnt  ...  term_cleaned term_cleaned_actual
0       6000         6000  ...          36.0                36.0
1      24000        24000  ...          36.0                36.0
2      30000        30000  ...          36.0                36.0
3       8000         8000  ...          36.0                36.0
4      22400        22400  ...          60.0                60.0

[5 rows x 142 columns]

#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
loan_data_cleaned['loan_status'].head(10)

0    Charged Off
1        Current
2     Fully Paid
3        Current
4        Current
5        Current
6        Current
7        Current
8        Current
9        Current
Name: loan_status, dtype: object

In [0]:
loan_data_cleaned['loan_status'].isnull().sum()
# Data looking Clean

0

In [0]:
# test on examples
examples = ['Current', 'Fully Paid', 'Charged Off', 'something']

In [0]:
# Fuction for loan_status_is_great to measure loans that are 'current' or 'fully paid 
# with a 1, everything else 0 

def loan_status_function(status):
  if status == 'Fully Paid':
    return 1
  if status == 'Current':
    return 1
  else:
    return 0

In [0]:
# for loop
for status in examples:
  print(loan_status_function(status))

1
1
0
0

In [0]:
loan_data_cleaned['loan_status_is_great'] = loan_data_cleaned['loan_status'].apply(loan_status_function)
loan_data_cleaned.head()

   loan_amnt  funded_amnt  ...  term_cleaned_actual loan_status_is_great
0       6000         6000  ...                 36.0                    0
1      24000        24000  ...                 36.0                    1
2      30000        30000  ...                 36.0                    1
3       8000         8000  ...                 36.0                    1
4      22400        22400  ...                 60.0                    1

[5 rows x 143 columns]

#Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
loan_data_cleaned.head()

   loan_amnt  funded_amnt  ...  term_cleaned_actual loan_status_is_great
0       6000         6000  ...                 36.0                    1
1      24000        24000  ...                 36.0                    1
2      30000        30000  ...                 36.0                    1
3       8000         8000  ...                 36.0                    1
4      22400        22400  ...                 60.0                    1

[5 rows x 143 columns]

In [0]:
#Find date columns
for columns in loan_data_cleaned:
  if columns.endswith('_d'):
    print(columns)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d

In [0]:
loan_data_cleaned['last_pymnt_d'].head()

0    Apr-2019
1    Dec-2019
2    Feb-2019
3    Dec-2019
4    Dec-2019
Name: last_pymnt_d, dtype: object

In [0]:
loan_data_cleaned['last_pymnt_d'][:10]

0    Apr-2019
1    Dec-2019
2    Feb-2019
3    Dec-2019
4    Dec-2019
5    Dec-2019
6    Dec-2019
7    Dec-2019
8    Dec-2019
9    Dec-2019
Name: last_pymnt_d, dtype: object

Because this string format month-year is a common date format, we can just let pandas detect this format and translate it to the appropriate datetime object.

In [0]:
# as a list comprehension 
date_columns = [columns for columns in loan_data_cleaned if columns.endswith('_d')]

In [0]:
# infer_datetime_format = True
loan_data_cleaned['last_pymnt_d'] = pd.to_datetime(loan_data_cleaned['last_pymnt_d'], infer_datetime_format=True)

In [0]:
loan_data_cleaned[date_columns].head()

    issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0  Dec-2018   2019-04-01          NaN           Nov-2019
1  Dec-2018   2019-12-01     Jan-2020           Nov-2019
2  Dec-2018   2019-02-01          NaN           Nov-2019
3  Dec-2018   2019-12-01     Jan-2020           Dec-2019
4  Dec-2018   2019-12-01     Jan-2020           Nov-2019

In [0]:
# now we can see that the issued_d column has changed to hold datetime objects. 
# Next we can look at the cells specifically to see what datetime object looks like
loan_data_cleaned['last_pymnt_d'].iloc[11]

Timestamp('2019-12-01 00:00:00')

In [0]:
loan_data_cleaned['last_pymnt_d'].head().values

array(['2019-04-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
loan_data_cleaned=loan_data_cleaned[date_columns].copy()
loan_data_cleaned['last_pymnt_d_year'] = loan_data_cleaned['last_pymnt_d'].dt.year
loan_data_cleaned.head()

    issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  last_pymnt_d_year
0  Dec-2018   2019-04-01          NaN           Nov-2019             2019.0
1  Dec-2018   2019-12-01     Jan-2020           Nov-2019             2019.0
2  Dec-2018   2019-02-01          NaN           Nov-2019             2019.0
3  Dec-2018   2019-12-01     Jan-2020           Dec-2019             2019.0
4  Dec-2018   2019-12-01     Jan-2020           Nov-2019             2019.0

In [0]:
loan_data_cleaned['last_pymnt_d_month'] = loan_data_cleaned['last_pymnt_d'].dt.month 
loan_data_cleaned.head()

    issue_d last_pymnt_d  ... last_pymnt_d_year last_pymnt_d_month
0  Dec-2018   2019-04-01  ...            2019.0                4.0
1  Dec-2018   2019-12-01  ...            2019.0               12.0
2  Dec-2018   2019-02-01  ...            2019.0                2.0
3  Dec-2018   2019-12-01  ...            2019.0               12.0
4  Dec-2018   2019-12-01  ...            2019.0               12.0

[5 rows x 6 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

#Instacart