<a href="https://colab.research.google.com/github/gomlfx/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mike_Smith_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
#beginning of replicating all code from the video

In [0]:
# import statements
import pandas as pd
import numpy as np

#### Method 1. Read data directly from a URL.

In [4]:
# Example from Tuesday's class.
# Sometimes you have to supply the column heads.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

flags = pd.read_csv(flag_data_url, header=None, names=column_headers)
print(flags.shape)
flags.head()

(194, 30)

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [5]:
# Here is another example that doesn't require the column heads.
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'
bike_trails=pd.read_csv(url)
bike_trails.sample(5)

    OBJECTID    LENGTH  ...     MILES ROUTEID
28        29   274.330  ...  0.000000     NaN
78        79     0.000  ...  0.000000    EAST
62        63  2053.375  ...  0.492263     NaN
75        76     0.000  ...  0.000000    EAST
37        38  2134.539  ...  0.000000     NaN

[5 rows x 8 columns]

In [6]:
# Yet another example.
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
# source: https://opendata.dc.gov/datasets/museums-in-dc/data
df = pd.read_csv(url)
df.tail(3)

            X          Y  OBJECTID  ... MAR_LONGITUDE MAR_LATITUDE   MARID
81 -77.025799  38.896590        82  ...    -77.025797    38.896583  239829
82 -77.026201  38.896776        83  ...    -77.026199    38.896768  239374
83 -76.994932  38.905783        84  ...    -76.994930    38.905776  288964

[3 rows x 12 columns]

### Method 2. Read a file that is already in colab.

In [7]:
# So colab comes with some built in files.
source_file1 = 'sample_data/california_housing_train.csv'
cali = pd.read_csv(source_file1)
cali.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [8]:
# you can also read a json file. Notice the difference in pandas method.
source_file2 ='sample_data/anscombe.json'
anscombe_df=pd.read_json(source_file2)
anscombe_df.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [9]:
# Learn how to navigate your server 
from pathlib import Path
import os

#what's my current directory
! pwd
! ls

#do that in python
home = Path.cwd()
print(home)

/content
sample_data
/content

In [10]:
# What's the parent dir?
home.parent
#what's the child dir
data_dir = Path.joinpath(home, 'sample_data')
data_dir

PosixPath('/content/sample_data')

In [11]:
# List the contents of that folder
myfiles = os.listdir(data_dir)
myfiles[4]

'california_housing_test.csv'

In [0]:
# Use that to make a list of files.
myfiles = os.listdir(data_dir)

In [13]:
# Now you can read that into colab using pandas
file_path = Path.joinpath(data_dir, myfiles[4])
print(file_path)
cali2 = pd.read_csv(file_path)
cali2.sample(3)

/content/sample_data/california_housing_test.csv

      longitude  latitude  ...  median_income  median_house_value
549     -118.58     34.21  ...         4.0313            299300.0
2773    -121.39     38.61  ...         2.4632            156900.0
2442    -118.22     33.92  ...         3.4539            125000.0

[3 rows x 9 columns]

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
# You can also use the manual upload GUI over on the left of your screen.

In [15]:
# You can also do this in a cell.
from google.colab import files
uploaded = files.upload()

In [18]:
# Now read in the dataset.
flags = pd.read_csv('flag.data')
flags.tail(4)

FileNotFoundError: ignored

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [19]:
# useful for reading raw data from github. THIS IS THE GO TO METHOD.
#url='https://raw.githubusercontent.com/austinlasseter/dash-virginia-counties/master/resources/acs2017_county_data.csv'
url = 'https://raw.githubusercontent.com/gomlfx/colab_intro/master/data/titanic.csv'
titanic_df=pd.read_csv(url)
titanic_df.head()

   Unnamed: 0  Survived  Pclass     Sex   Age     Fare     Embarked
0           0         0       3    male  22.0   7.2500  Southampton
1           1         1       1  female  38.0  71.2833    Cherbourg
2           2         1       3  female  26.0   7.9250  Southampton
3           3         1       1  female  35.0  53.1000  Southampton
4           4         0       3    male  35.0   8.0500  Southampton

In [20]:
burritos=pd.read_csv('https://raw.githubusercontent.com/gomlfx/colab_intro/master/data/chipotle.tsv', sep='\t')
burritos.sample(4)

      order_id  ...  item_price
1421       576  ...      $9.39
2145       864  ...      $1.50
710        292  ...      $8.49
1002       412  ...      $1.50

[4 rows x 5 columns]

### Method 5. Read a zip file.

In [21]:
# use the 'bang' for bash shell scripting.
! pwd #working dir, shell, not in python

/content

In [22]:
# the 'wget' command reads content from the web.
#url = 'https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip'
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-03 20:22:06--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: LoanStats_2018Q4.csv.zip

LoanStats_2018Q4.cs     [          <=>       ]  21.66M  1.85MB/s    in 12s

2019-11-03 20:22:19 (1.83 MB/s) - LoanStats_2018Q4.csv.zip saved [22709125]

In [23]:
# how do you unzip a .zip file in bash?
! unzip LoanStats_2018Q4.csv.zip
! ls

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv
LoanStats_2018Q4.csv  LoanStats_2018Q4.csv.zip	sample_data

In [33]:
# Now you can read that csv file into pandas.
loans = pd.read_csv('LoanStats_2018Q4.csv.zip')
loans.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title         emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       35000     35000       35000            36 months  14.47%  1204.23     C     C2        Staff Physician   8 years    MORTGAGE       360000     Verified            Dec-2018 Fully Paid  n          NaN NaN  credit_card        Credit card refinancing 336xx    FL         19.9  0           Apr-1995         1              NaN                    NaN                    24       0       57259     43.2%      51        w                   0.00      0.00          38187.0468373662 38187.05        35000.00        3187.05       0.0                0.0        0.0                     Aug-2019     29882.16        NaN          Sep-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            828060      0           6           1           2           9                  112027       29      4           8           19118      36       132400           3      2           5            11                   34503       67341          46      0                        0           173                284                  8                     8              3        8                    NaN                      0                     NaN                            0                     11             11              13          20        23        16            24            11                  24       0                0            0                  5                  100            30.8             0                    0         1222051         169286            124600         258401                     NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              5000      5000        5000             36 months  22.35%  191.86      D     D5        Director of Sales 10+ years  MORTGAGE       72000      Source Verified     Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation      333xx    FL         20.12 0           Mar-2010         0              NaN                    NaN                    13       0       11720     47.1%      26        f                   0.00      0.00          5615.9776735688  5615.98         5000.00         615.98        0.0                0.0        0.0                     Jul-2019     4474.13         NaN          Aug-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              534          189279      0           1           0           1           18                 22698        NaN     0           0           4056       47       24900            1      0           1            2                    14560       8163           55.1    0                        0           105                90                   29                    8              5        40                   NaN                      9                     NaN                            0                     6              11              6           8         4         11            17            11                  13       0                0            0                  1                  100            50               0                    0         218686          34418             18200          37786                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              10000     10000       10000            60 months  23.40%  284.21      E     E1        NaN               < 1 year   RENT           55000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      902xx    CA         13.51 0           Apr-2007         0              44                     88                     9        1       11859     53.9%      11        w                   9025.41   9025.41       2822.6           2822.60         974.59          1848.01       0.0                0.0        0.0                     Oct-2019     284.21          Nov-2019     Oct-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            21235       0           1           0           1           20                 9376         76      0           3           3122       62       22000            1      0           0            4                    2359        1119           89.3    0                        0           140                140                  13                    13             0        13                   NaN                      15                    44                             0                     4              7               4           5         2         8             9             7                   9        0                0            0                  0                  90.9           100              1                    0         34386           21235             10500          12386                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              17100     17100       17100            36 months  18.94%  626.3       D     D2        Receptionist      10+ years  RENT           38000      Verified            Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      150xx    PA         38.09 0           Mar-1998         1              47                     NaN                    14       0       15323     53%        21        w                   13271.86  13271.86      6236.01          6236.01         3828.14         2407.87       0.0                0.0        0.0                     Oct-2019     626.3           Nov-2019     Oct-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            43351       1           2           1           1           10                 28028        67      1           5           7533       53       29170            0      0           2            6                    3096        4150           77      0                        0           125                230                  5                     5              2        5                    NaN                      5                     NaN                            0                     4              12              5           5         5         12            14            9                   14       NaN              0            0                  2                  95             75               0                    0         70954           43351             16600          41784                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
## Footnote: You can also save files to csv (or other formats like pickle)
cali.to_pickle('new_cali_file.pkl')

In [26]:
df=pd.read_pickle('new_cali_file.pkl')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [0]:
# You can also save to csv, but remember to skip the index.
cali.to_csv('new_cali2.csv', index=False)

In [0]:
#End's video dictation

In [0]:
#Convert term column from string to integer.

In [0]:
##### Begin Working Here #####
#beginning of replicating all code from the video
import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q14.csv.zip
!ls
loans = pd.read_csv('LoanStats_2018Q4.csv.zip', skiprows=1, skipfooter=2, engine='python')
df = loans

In [0]:
df.head(1)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN

[1 rows x 144 columns]

In [0]:
df['term'].dtype

dtype('O')

In [0]:
df.loc[0,'term']

' 36 months'

In [0]:
#we need python method to remove string elements. Here we use .strip

In [0]:
term0=df.loc[0,'term']
print(term0) #can't see the leading space to remove.
term0 #calling it reveals the leading space to remove.

 36 months

' 36 months'

In [0]:
#get rid of both, use a chained method.
term0.strip().strip(' months')

'36'

In [0]:
#now we convert from string to float
float(term0.strip().strip(' months'))

36.0

In [0]:
#confirm we did it, by checking dtype
print(type(term0.strip().strip(' months')))
print(type(float(term0.strip().strip(' months'))))

<class 'str'>
<class 'float'>

In [0]:
#define a function to remove ' months' from strings and convert to floats.
def term_2_float(mystring):
  return float(mystring.strip().strip(' months'))

In [0]:
#test the above function
term_2_float(term0)

36.0

In [0]:
#apply above function to the 'term' column.
df['term_float']=df['term'].apply(term_2_float)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'term_float'],
      dtype='object', length=145)

In [0]:
df[['term', 'term_float']].head()

         term  term_float
0   36 months        36.0
1   36 months        36.0
2   60 months        60.0
3   36 months        36.0
4   36 months        36.0

In [0]:
#confirm that we can now employ math on newly created column
df['term_double']=df['term_float']*3
df[['term','term_float', 'term_double']].sample(7)

              term  term_float  term_double
65711    36 months        36.0        108.0
124198   36 months        36.0        108.0
72713    36 months        36.0        108.0
6888     60 months        60.0        180.0
91680    36 months        36.0        108.0
123236   36 months        36.0        108.0
71479    36 months        36.0        108.0

In [0]:
#Make a column named loan_status_is_great. 
#It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
#Else it should contain the integer 0.

In [0]:
def lsg(row):
  if (row['loan_status'] =="Current") or (row['loan_status']=="Fully Paid"):
    val=1
  else:
    val=0
  return val

In [62]:
df['loan_status_is_great']=df.apply(lsg, axis=1)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'int1_term',
       'loan_status_is_great', 'last_pymnt_d_clean', 'last_pymnt_d_month',
       'last_pymnt_d_year'],
      dtype='object', length=149)

In [63]:
df['loan_status_is_great'].sample(6)

82823    1
93322    1
10182    1
15228    1
47947    1
61897    1
Name: loan_status_is_great, dtype: int64

In [67]:
#compare old and new
df[['loan_status_is_great', 'loan_status']].sample(6)

        loan_status_is_great  loan_status
65121                      1      Current
107652                     1      Current
14787                      1      Current
46103                      1      Current
83573                      0  Charged Off
25194                      1      Current

In [0]:
#make last_pymnt_d_month and last_pymnt_d_year columns 
#convert from string to numeric
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Data columns (total 147 columns):
id                                            float64
member_id                                     float64
loan_amnt                                     int64
funded_amnt                                   int64
funded_amnt_inv                               float64
term                                          object
int_rate                                      object
installment                                   float64
grade                                         object
sub_grade                                     object
emp_title                                     object
emp_length                                    object
home_ownership                                object
annual_inc                                    float64
verification_status                           object
issue_d                                       object
loan_status                                   object
pymnt_plan                                    object
url                                           float64
desc                                          float64
purpose                                       object
title                                         object
zip_code                                      object
addr_state                                    object
dti                                           float64
delinq_2yrs                                   int64
earliest_cr_line                              object
inq_last_6mths                                int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      int64
pub_rec                                       int64
revol_bal                                     int64
revol_util                                    object
total_acc                                     int64
initial_list_status                           object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                  object
last_pymnt_amnt                               float64
next_pymnt_d                                  object
last_credit_pull_d                            object
collections_12_mths_ex_med                    int64
mths_since_last_major_derog                   float64
policy_code                                   int64
application_type                              object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                     object
acc_now_delinq                                int64
tot_coll_amt                                  int64
tot_cur_bal                                   int64
open_acc_6m                                   int64
open_act_il                                   int64
open_il_12m                                   int64
open_il_24m                                   int64
mths_since_rcnt_il                            float64
total_bal_il                                  int64
il_util                                       float64
open_rv_12m                                   int64
open_rv_24m                                   int64
max_bal_bc                                    int64
all_util                                      float64
total_rev_hi_lim                              int64
inq_fi                                        int64
total_cu_tl                                   int64
inq_last_12m                                  int64
acc_open_past_24mths                          int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      int64
delinq_amnt                                   int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          int64
mo_sin_rcnt_rev_tl_op                         int64
mo_sin_rcnt_tl                                int64
mort_acc                                      int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         int64
num_actv_bc_tl                                int64
num_actv_rev_tl                               int64
num_bc_sats                                   int64
num_bc_tl                                     int64
num_il_tl                                     int64
num_op_rev_tl                                 int64
num_rev_accts                                 int64
num_rev_tl_bal_gt_0                           int64
num_sats                                      int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  int64
num_tl_90g_dpd_24m                            int64
num_tl_op_past_12m                            int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          int64
tax_liens                                     int64
tot_hi_cred_lim                               int64
total_bal_ex_mort                             int64
total_bc_limit                                int64
total_il_high_credit_limit                    int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                      object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                 object
hardship_type                                 object
hardship_reason                               object
hardship_status                               object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           object
hardship_end_date                             object
payment_plan_start_date                       object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                          object
debt_settlement_flag_date                     object
settlement_status                             object
settlement_date                               object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
term_float                                    float64
term_double                                   float64
loan_status_is_great                          int64
dtypes: float64(59), int64(52), object(36)
memory usage: 144.0+ MB

In [0]:
#which columns are dates?
for col in df.columns:
  if(col.endswith('_d')) or (col.endswith('_date')):
    print(col)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d
hardship_start_date
hardship_end_date
payment_plan_start_date
debt_settlement_flag_date
settlement_date

In [0]:
#try list comprehension next time

In [0]:
#sample check dtype
df['issue_d'].dtype

dtype('O')

In [0]:
#work w/ a sample to convert string to float
df.loc[0:10, 'issue_d']

0     Dec-2018
1     Dec-2018
2     Dec-2018
3     Dec-2018
4     Dec-2018
5     Dec-2018
6     Dec-2018
7     Dec-2018
8     Dec-2018
9     Dec-2018
10    Dec-2018
Name: issue_d, dtype: object

In [0]:
#convert
df['issue_d_clean']=pd.to_datetime(df['issue_d'], infer_datetime_format=True)

#contrast
df[['issue_d','issue_d_clean']].sample(6)

        issue_d issue_d_clean
58584  Nov-2018    2018-11-01
75096  Nov-2018    2018-11-01
35004  Dec-2018    2018-12-01
34976  Dec-2018    2018-12-01
11412  Dec-2018    2018-12-01
48782  Nov-2018    2018-11-01

In [0]:
df['issue_d_clean'].dtype

dtype('<M8[ns]')

In [0]:
#now we create last_pymnt_d_year column
df['last_pymnt_d_year']=df['issue_d_clean'].dt.year
#contrast
df[['issue_d_clean', 'last_pymnt_d_year']].sample(6)

       issue_d_clean  last_pymnt_d_year
12280     2018-12-01               2018
79972     2018-11-01               2018
104823    2018-10-01               2018
60881     2018-11-01               2018
80397     2018-11-01               2018
39684     2018-12-01               2018

In [0]:
#now last_pymnt_d_month column
df['last_pymnt_d_month']=df['issue_d_clean'].dt.month
#contrast
df[['issue_d_clean', 'last_pymnt_d_month']].sample(6)

      issue_d_clean  last_pymnt_d_month
92682    2018-10-01                  10
49748    2018-11-01                  11
49636    2018-11-01                  11
96773    2018-10-01                  10
10539    2018-12-01                  12
5935     2018-12-01                  12

In [0]:
#pandas can tell us which day that was
df['weekday']=df['issue_d_clean'].dt.weekday
#contrast
df[['issue_d_clean', 'weekday']].sample(6)

      issue_d_clean  weekday
12859    2018-12-01        5
7621     2018-12-01        5
96332    2018-10-01        0
93952    2018-10-01        0
11827    2018-12-01        5
24935    2018-12-01        5

In [0]:
#Stretch Goals

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!