<a href="https://colab.research.google.com/github/gomlfx/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mike_Smith%2C_Coding_Challenge_10_31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Good Evening! Welcome to your first Python code challenge. 
## Use your Googfu skills to help you find a solution.

### 1. Write Python code that creates a random string using 'a', 'e', 'i', 'o', 'u'. Using each character only once. 
HINT: Lookup the .shuffle method in the random lib

In [2]:
import random
char_list = ['a','e','i','o','u']
random.shuffle(char_list)
print(''.join(char_list))

oauei

###2.  Write Python code to calculate number of days between two dates

In [3]:
from datetime import date
# your code here
f_date = date(2019,10,31)
l_date = date(2020,10,31)
delta = l_date - f_date
print(delta.days)

366

### 3. Write a Python function to get the difference between a given number and 17, if the number is greater than 17 return double the difference.

In [4]:
def difference(n):
    if n <= 17:
      return 17 - n 
    else:
      return (n - 17) * 2
    
    #result=0
    # your code here
    #return result
print(difference(22))
print(difference(14))

10
3

### Stretch Goals:

### 4. Write Python code to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.
HINT:  you'll need to use the python's input function

In [5]:
num = int(input("Enter a number: "))
# your code here
mod = num % 2
if mod > 0:
  print("This is an odd number.")
else:
  print("This is an even number.")

Enter a number: 23
This is an odd number.

### 5. Write Python function to display your details like 

1.   List item
2.   List item

name, age, address in three different lines.

In [7]:
def personal_details():
  # your code here
  name, age = "Simon", 19
  address = "Bangalore, Karnataka, India"
  print("Name: {}\nAge:  {}\nAddress: {}".format(name, age, address))
  
personal_details()

Name: Simon
Age:  19
Address: Bangalore, Karnataka, India