<a href="https://colab.research.google.com/github/gomlfx/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mike_Smith_DataFramesPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Managing DataFrames

Below the there is code to read in two data frames on Heart health from the UCI repository. Your challenge is to clean and manipulate them using the functions you have learned over the last week and a half. 

Try to push yourself not to use google on this challenge for as long as possible. This helps to lock in what you've learned and show you that more is sticking than you might think.

In [0]:
import pandas as pd

In [0]:
headers=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']

Cleveland=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data', names=headers)
Hungarian=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data', names=headers)

### Summary Statistics
Get summary statistics for each DataFrame, and in markdown below write anything you notice about what is in the data

In [0]:
print(Cleveland.shape)
pd.set_option('display.max_columns', None)
print(Cleveland.head())

print(Hungarian.shape)
pd.set_option('display.max_columns', None)
print(Hungarian.head())

(303, 14)
    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1  67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2  67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3  37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4  41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4

   slope   ca thal  num
0    3.0  0.0  6.0    0
1    2.0  3.0  3.0    2
2    2.0  2.0  7.0    1
3    3.0  0.0  3.0    0
4    1.0  0.0  3.0    0
(294, 14)
   age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0   28    1   2      130  132   0       2     185     0      0.0     ?  ?
1   29    1   2      120  243   0       0     160     0      0.0     ?  ?
2   29    1   2      140    ?   0       0     170     0      0.0     ?  ?
3   30    0   1      170  237   0       1     170     0      0.0     ?  ?
4   31    0   2      100  219   0       1     150     0      0.0     ?  ?

  thal  num
0    ?    0
1    ?    0
2    ?    0
3    6    0
4    ?    0

### Cleaning

Write a function that takes in a dataframe and cleans any missing values. Missing values should be filled with the mean of the column that they are in for that DataFrame. Apply this function to both DataFrames.

In [0]:
import numpy as np
print('Cleveland')
print(Cleveland.isnull().sum())
print('Replaced missing values with the mean')
Cleveland1 = Cleveland.replace(0, np.NaN)
Cleveland1.fillna(Cleveland1.mean(), inplace=True)
print(Cleveland1.isnull().sum())

print('Hungarian')
print(Hungarian.isnull().sum())
print('Replaced missing values with the mean')
Hungarian1 = Hungarian.replace(0, np.NaN)
Hungarian1.fillna(Hungarian1.mean(), inplace=True)
print(Hungarian1.isnull().sum())

Cleveland
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64
Replaced missing values with the mean
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64
Hungarian
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64
Replaced missing values with the mean
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

### Joining

Join the two DataFrames into one giant DataFrame. Put the Clevland data on top.

In [0]:
df1 = pd.concat([Cleveland1, Hungarian1], axis=0)
df1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145,233,1,2,150,1,2.300000,3,0.0,6.0,2.043165
1,67.0,1.0,4.0,160,286,1,2,108,1,1.500000,2,3.0,3.0,2.000000
2,67.0,1.0,4.0,120,229,1,2,129,1,2.600000,2,2.0,7.0,1.000000
3,37.0,1.0,3.0,130,250,1,1.97368,187,1,3.500000,3,0.0,3.0,2.043165
4,41.0,1.0,2.0,130,204,1,2,172,1,1.400000,1,0.0,3.0,2.043165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,52.0,1.0,4.0,160,331,0,0,94,1,2.500000,?,?,?,1.000000
290,54.0,1.0,3.0,130,294,0,1,100,1,1.640952,2,?,?,1.000000
291,56.0,1.0,4.0,155,342,1,0,150,1,3.000000,2,?,?,1.000000
292,58.0,1.0,2.0,180,393,0,0,110,1,1.000000,2,?,7,1.000000
293,65.0,1.0,4.0,130,275,0,1,115,1,1.000000,2,?,?,1.000000

In [0]:
df1.dtypes

age         float64
sex         float64
cp          float64
trestbps     object
chol         object
fbs          object
restecg      object
thalach      object
exang        object
oldpeak     float64
slope        object
ca           object
thal         object
num         float64
dtype: object

In [0]:
import pandas as pd
df1["chol"] = df1.chol.cnovert_objects(convert_numeric=True)

AttributeError: ignored

### Filtering
Filter the new giant DataFrame so you only have the observations with the highest 25% of cholesterol.

In [0]:
df1[].max()

TypeError: ignored

### Crosstabs
Find categorical data in the new DataFrame and create a crosstab of those features

# Tidy Data
For this section we are going to use a toy dataset on flights data in the seaborn library.

In [0]:
import seaborn as sns
flights=sns.load_dataset('flights')

Is this data in wide or long format? Answer in markdown. Transform it into the other format (if its in long transform it to wide, if its wide transform it to long) using pivot or melt.