<a href="https://colab.research.google.com/github/msnyd/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-sprint1-DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-03 20:02:56--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.69M   905KB/s    in 25s

2019-12-03 20:03:21 (893 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
pd.set_option('display.max_rows', 200)


df.isnull().sum().sort_values()

In [0]:

#it seems the columns were already dropped from when we did it in the lecture
#df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

1. CLEANING THE TERM COLUMN

In [0]:
df['term'].head(10)

0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
5     36 months
6     36 months
7     60 months
8     36 months
9     60 months
Name: term, dtype: object

In [0]:
df['term'].tail(10)

128402     60 months
128403     36 months
128404     60 months
128405     36 months
128406     36 months
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, dtype: object

In [0]:
str_term = ' 60 months'
str_term.strip()

'60 months'

In [0]:
str_term.strip('months')

' 60 '

In [0]:
str_term.strip('months').strip()

'60'

In [0]:
#making a function to clean the column

def delete_months_from_term(term_column):
  return int(term_column.strip('months').strip())

In [0]:
delete_months_from_term(str_term)

60

In [0]:
df['term'] = df['term'].apply(delete_months_from_term)

df['term'].head()

In [0]:
df['term'].head()

0    36
1    60
2    60
3    36
4    60
Name: term, dtype: int64

2. LOAN STATUS IS GREAT!

---

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
df['loan_status'].head

<bound method NDFrame.head of 0             Current
1          Fully Paid
2             Current
3             Current
4          Fully Paid
             ...
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object>

In [0]:
df['loan_status'].isnull().sum()

0

In [0]:
df['loan_status'].value_counts()

Current               100571
Fully Paid             19545
Charged Off             4433
Late (31-120 days)      2662
In Grace Period          730
Late (16-30 days)        467
Default                    4
Name: loan_status, dtype: int64

In [0]:
#making a function to decide if a loan is great or not

In [0]:
def make_loans_great_again(loan_status):
  if loan_status == 'Fully Paid':
    return 1
  if loan_status == 'Current':
    return 1
  else:
    return 0

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(make_loans_great_again)

df['loan_status_is_great'].value_counts()

1    120116
0      8296
Name: loan_status_is_great, dtype: int64

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
df['last_pymnt_d'].head()

0    Nov-2019
1    Apr-2019
2    Oct-2019
3    Oct-2019
4    Apr-2019
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d'].isnull().sum()

159

In [0]:
df['last_pymnt_d_month'] = pd.to_datetime(df['last_pymnt_d'], errors='coerce')
df['last_pymnt_d_year'] = pd.to_datetime(df['last_pymnt_d'], errors='coerce')

0        2019-11-01
1        2019-04-01
2        2019-10-01
3        2019-10-01
4        2019-04-01
            ...
128407   2018-12-01
128408   2019-11-01
128409   2019-11-01
128410   2019-11-01
128411   2019-11-01
Name: last_pymnt_d_month, Length: 128412, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'].dt.month

0         11.0
1          4.0
2         10.0
3         10.0
4          4.0
          ...
128407    12.0
128408    11.0
128409    11.0
128410    11.0
128411    11.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

In [0]:
df['last_pymnt_d_year'].dt.year

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_pymnt_d_year, Length: 128412, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [117]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-12-03 22:40:02--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.129.85
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.129.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  70.8MB/s    in 2.8s

2019-12-03 22:40:05 (70.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [118]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now

In [119]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01

In [121]:
df = pd.read_csv('instacart_2017_05_01/aisles.csv')

FileNotFoundError: ignored