<a href="https://colab.research.google.com/github/mudesir/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Mudesir_DS_Unit1_Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

State of Connecticut Accidental Drug Related Deaths 2012-2018

In [0]:
import pandas as pd
df = pd.read_csv('https://data.ct.gov/api/views/rybz-nyjw/rows.csv?accessType=DOWNLOAD')
print(df.shape)
df.head()

(5105, 41)

        ID  ...                InjuryCityGeo
0  14-0273  ...  CT\n(41.575155, -72.738288)
1  13-0102  ...  CT\n(41.575155, -72.738288)
2  16-0165  ...                          NaN
3  16-0208  ...                          NaN
4  13-0052  ...  CT\n(41.575155, -72.738288)

[5 rows x 41 columns]

In [0]:
df.isnull().sum()

ID                        0
Date                      2
DateType                  2
Age                       3
Sex                       6
Race                     13
ResidenceCity           173
ResidenceCounty         797
ResidenceState         1549
DeathCity                 5
DeathCounty            1100
Location                 24
LocationifOther        4515
DescriptionofInjury     780
InjuryPlace              66
InjuryCity             1756
InjuryCounty           2741
InjuryState            3681
COD                       0
OtherSignifican        4936
Heroin                 2576
Cocaine                3584
Fentanyl               2873
FentanylAnalogue       4716
Oxycodone              4498
Oxymorphone            4997
Ethanol                3858
Hydrocodone            4987
Benzodiazepine         3762
Methadone              4631
Amphet                 4946
Tramad                 4975
Morphine_NotHeroin     5063
Hydromorphone          5080
Other                  4670
OpiateNOS              5017
AnyOpioid              2639
MannerofDeath            10
DeathCityGeo              0
ResidenceCityGeo         93
InjuryCityGeo            78
dtype: int64