<a href="https://colab.research.google.com/github/nouretienne/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Nour_Etienne_Day_3_ds9_warmup_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Practice

In [0]:
# Read a csv file from a specified source and print the first 5 rows
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

print(diamonds.shape)
diamonds.head()

(53940, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [0]:
# Engineer a new feature named 'quality_color' using 'cut' and 'color', don't overthink it

In [0]:
# Rename two of the columns

In [0]:
# Drop the 'carat' column from the dataframe

In [0]:
# Use the 'carat' column to sort the dataframe, ascending

In [0]:
# Find diamonds where x (length) > 5, y (width) > 5, and z (depth) > 5

In [0]:
# Filter the dataframe to display only diamonds that are 'premium' or 'ideal'

In [0]:
# STRETCH
# Choose an appropriate visualization to plot 2 continuous variables on the x and y axis

In [0]:
# Apply a seaborn pairplot and explore relationships
# What does this visualization say about our features?
# https://seaborn.pydata.org/generated/seaborn.pairplot.html