<a href="https://colab.research.google.com/github/nouretienne/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Nour_Etienne_Day_3_ds9_warmup_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Practice

In [1]:
# Read a csv file from a specified source and print the first 5 rows
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

print(diamonds.shape)
diamonds.head()

(53940, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
# Engineer a new feature named 'quality_color' using 'cut' and 'color', don't overthink it
diamonds['quality_color'] = diamonds['color'] + ' ' + diamonds['cut']
diamonds.head()

   carat      cut color clarity  depth  ...  price     x     y     z  quality_color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43        E Ideal
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      E Premium
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31         E Good
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      I Premium
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75         J Good

[5 rows x 11 columns]

In [9]:
# Rename two of the columns
diamonds.rename(columns = {'x': 'width', 'y': 'length'})
diamonds.head()

   carat      cut color clarity  depth  ...  price     x     y     z  quality_color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43        E Ideal
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      E Premium
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31         E Good
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      I Premium
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75         J Good

[5 rows x 11 columns]

In [14]:
# Drop the 'carat' column from the dataframe
diamonds_drop = diamonds.drop(columns = ['carat'])
diamonds_drop.head()

       cut color clarity  depth  table  price     x     y     z quality_color
0    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43       E Ideal
1  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31     E Premium
2     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31        E Good
3  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63     I Premium
4     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75        J Good

In [17]:
# Use the 'carat' column to sort the dataframe, ascending
diamonds_ascending = diamonds.sort_values('carat', ascending = True)
diamonds_ascending.head()

       carat      cut color clarity  ...     x     y     z  quality_color
31593    0.2  Premium     E     VS2  ...  3.81  3.78  2.32      E Premium
31597    0.2    Ideal     D     VS2  ...  3.81  3.77  2.33        D Ideal
31596    0.2  Premium     F     VS2  ...  3.73  3.71  2.33      F Premium
31595    0.2    Ideal     E     VS2  ...  3.86  3.84  2.30        E Ideal
31594    0.2  Premium     E     VS2  ...  3.84  3.80  2.28      E Premium

[5 rows x 11 columns]

In [27]:
# Find diamonds where x (length) > 5, y (width) > 5, and z (depth) > 5
diamonds[diamonds['x']>5 , diamonds['y'] > 5 , diamonds['z'] >5];

TypeError: ignored

In [0]:
# Filter the dataframe to display only diamonds that are 'premium' or 'ideal'

In [0]:
# STRETCH
# Choose an appropriate visualization to plot 2 continuous variables on the x and y axis

In [0]:
# Apply a seaborn pairplot and explore relationships
# What does this visualization say about our features?
# https://seaborn.pydata.org/generated/seaborn.pairplot.html