<a href="https://colab.research.google.com/github/chamonregina/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Regina_Chatmon_Stretch_Goals_for_LS_DS_112_Make_Features_Assignment_ipynbgc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [7]:
 !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-11-30 06:34:50--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.106.230
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.106.230|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  50.2MB/s    in 3.7s

2019-11-30 06:34:54 (52.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [8]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [9]:
 %cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
import pandas as pd

In [30]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [52]:
### An example of dataframe filtering

### Create a condition
condition = (order_products__prior['reordered'] <= 1)

### Pass that condition into the square brackets 
### that we use to access portions of a dataframe
### only the rows where that condition evaluates to *TRUE*
### will be retained in the dataframe
order_products_prior_subset = order_products__prior[condition]

### Look at the subsetted dataframe
order_products_prior_subset.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [57]:
###Filtered order_products_prior
condition = ((order_products__prior['order_id'] <= 2 ) & (order_products__prior['reordered'] <= 1))

order_products__prior_subset = order_products__prior[condition]


print(order_products__prior_subset.shape)
order_products__prior_subset.head()

(9, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [70]:
###filtered Order_products_train
condition = ((order_products__train['order_id'] <= 1 ) & (order_products__train['reordered'] <= 1))

order_products__train_subset = order_products__train[condition]



print(order_products__train_subset.shape)
order_products__train_subset.head()

(8, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [103]:
###Merged Subsets
orders_and_products = pd.merge(order_products__prior_subset, order_products__train_subset, on='reordered', how='inner')

orders_and_products.head(11)

,order_id_x,product_id_x,add_to_cart_order_x,reordered,order_id_y,product_id_y,add_to_cart_order_y
0,2,33120,1,1,1,49302,1
1,2,33120,1,1,1,11109,2
2,2,33120,1,1,1,43633,5
3,2,33120,1,1,1,22035,8
4,2,28985,2,1,1,49302,1
5,2,28985,2,1,1,11109,2
6,2,28985,2,1,1,43633,5
7,2,28985,2,1,1,22035,8
8,2,45918,4,1,1,49302,1
9,2,45918,4,1,1,11109,2
10,2,45918,4,1,1,43633,5

In [104]:
###Removed unwanted columns 

orders_and_products = orders_and_products.drop(['add_to_cart_order_x', 'add_to_cart_order_y'], axis='columns')
orders_and_products.head()

   order_id_x  product_id_x  reordered  order_id_y  product_id_y
0           2         33120          1           1         49302
1           2         33120          1           1         11109
2           2         33120          1           1         43633
3           2         33120          1           1         22035
4           2         28985          1           1         49302

In [105]:
###Renamed 'reordered column "Reordered_Once and set as boolean"
reordered_products['Reordered_Once'] = reordered_products['reordered'].astype(bool)
reordered_products.head()

,order_id_x,product_id_x,reordered,order_id_y,product_id_y,Reordered_Once
0,2,33120,1,1,49302,True
1,2,33120,1,1,11109,True
2,2,33120,1,1,43633,True
3,2,33120,1,1,22035,True
4,2,28985,1,1,49302,True