<a href="https://colab.research.google.com/github/jacobpad/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Split_1_column_into_2_and_download_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Split_1_column_into_2_and_download_csv

In [15]:
import pandas as pd

url = 'https://raw.githubusercontent.com/jacobpad/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/master/data/Split_1_column_into_2_and_download_csv.csv'
col_names = ['Name','Position']
df=pd.read_csv(url,header=None,names=col_names)
df

                      Name  Position
0   Shaquille Harrison, PG       NaN
1         Vince Carter, SG       NaN
2         Dwayne Bacon, SG       NaN
3        Dillon Brooks, SG       NaN
4        Royce O'Neale, SF       NaN
..                     ...       ...
75     Carmelo Anthony, PF       NaN
76          Jabari Bird, G       NaN
77            Ben Moore, F       NaN
78       James Nunnally, G       NaN
79    Kevin Porter Jr., SG       NaN

[80 rows x 2 columns]

In [2]:
df = df['Name'].str.split(', ', expand=True)
df

                     0   1
0   Shaquille Harrison  PG
1         Vince Carter  SG
2         Dwayne Bacon  SG
3        Dillon Brooks  SG
4        Royce O'Neale  SF
..                 ...  ..
75     Carmelo Anthony  PF
76         Jabari Bird   G
77           Ben Moore   F
78      James Nunnally   G
79    Kevin Porter Jr.  SG

[80 rows x 2 columns]

In [3]:
df[0][2]

'Dwayne Bacon'

In [4]:
df[1][0]

'PG'

In [10]:
df.columns = col_names
df

                  Name Position
0   Shaquille Harrison       PG
1         Vince Carter       SG
2         Dwayne Bacon       SG
3        Dillon Brooks       SG
4        Royce O'Neale       SF
..                 ...      ...
75     Carmelo Anthony       PF
76         Jabari Bird        G
77           Ben Moore        F
78      James Nunnally        G
79    Kevin Porter Jr.       SG

[80 rows x 2 columns]

In [0]:
import pandas as pd

df = pd.DataFrame(df)

# Convert to CSV
df.to_csv('df.csv', index=False)

In [0]:
# And download
from google.colab import files
files.download('df.csv')