<a href="https://colab.research.google.com/github/gitHasty-0321/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/STEVEN_HASTINGS_DSPT5__LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

## Your goals:

### 1. Load and clean the data (or determine the best method to drop observations when running tests)

In [0]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import style
from scipy.stats import ttest_1samp, ttest_ind
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data',
                 header=None,
                 names=['party','handicapped-infants',
                        'water-project',
                        'budget',
                        'physician-fee-freeze',
                        'el-salvador-aid','religious-groups',
                        'anti-satellite-test-ban','aid-to-nicaragua',
                        'mx-missile','immigration',
                        'corp-cutback','education',
                        'right-to-sue','crime',
                        'duty-free',
                        'south-africa'])

df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
df.isnull().sum()

party                        0
handicapped-infants         12
water-project               48
budget                      11
physician-fee-freeze        11
el-salvador-aid             15
religious-groups            11
anti-satellite-test-ban     14
aid-to-nicaragua            15
mx-missile                  22
immigration                  7
corp-cutback                21
education                   31
right-to-sue                25
crime                       17
duty-free                   28
south-africa               104
dtype: int64

In [0]:
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

                                                               Capital Schism

In [0]:
dem = df[df.party == 'democrat']
rep = df[df.party == 'republican']

### 2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [0]:
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
?ttest_1samp

In [97]:
ttest_1samp(dem['anti-satellite-test-ban'], 0.95, nan_policy='omit')

Ttest_1sampResult(statistic=-6.809237525447769, pvalue=6.86048625605641e-11)

In [94]:
ttest_1samp(dem['budget'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-5.702205846437985, pvalue=3.217258173105712e-08)

In [0]:
dem['handicapped-infants'].mean()

0.6046511627906976

In [95]:
ttest_1samp(dem['handicapped-infants'], 0.05, nan_policy='omit')

Ttest_1sampResult(statistic=18.186277364791845, pvalue=4.530473612756374e-48)

In [0]:
 ttest_1samp(dem['immigration'], 0.25, nan_policy='omit')

Ttest_1sampResult(statistic=7.181717746874787, pvalue=7.123508517255532e-12)

In [0]:
ttest_1samp(dem['immigration'], 0.5, nan_policy='omit')

Ttest_1sampResult(statistic=-0.9246846884388146, pvalue=0.35598081794452796)

### 3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [102]:
ttest_1samp(rep['crime'], 0.90, nan_policy='omit')

Ttest_1sampResult(statistic=7.611006908441055, pvalue=2.2102746745229037e-12)

In [0]:
df.columns

Index(['party', 'handicapped-infants', 'water-project', 'budget',
       'physician-fee-freeze', 'el-salvador-aid', 'religious-groups',
       'anti-satellite-test-ban', 'aid-to-nicaragua', 'mx-missile',
       'immigration', 'corp-cutback', 'education', 'right-to-sue', 'crime',
       'duty-free', 'south-africa'],
      dtype='object')

In [75]:
ttest_1samp(rep['duty-free'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=3.9091802389817065, pvalue=0.00013809783981978333)

In [78]:
ttest_1samp(rep['physician-fee-freeze'], 0.05, nan_policy='omit')

Ttest_1sampResult(statistic=109.75991996477971, pvalue=1.993660303707788e-155)

In [0]:
?ttest_ind

In [0]:
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

### 4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [104]:
ttest_ind(rep['water-project'], dem['water-project'] ,nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

# Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
def perform_bernoulli_trials(n, p):
    """Perform n Bernoulli trials with success probability p
    and return number of successes."""
 # Initialize number of successes: n_success
    n_success = 0

 # Perform trials
    for i in range(n):
        random_number = np.random.random()
        
 # Choose random number between zero and one: random_number
         

 # If less than p, it's a success so add one to n_success
        if random_number < p:
            n_success += 1

    return n_success