<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Sun_11_10_6pm_Copy_of_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####
import pandas as pd

!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz
%cd instacart_2017_05_01

print('\n')
# First, write down which columns you need and which dataframes have them.
'''
To calculate how many times was each ordered, one will need 
1) Total # of a) Organic and b) Conventional of the item was ordered, if applicable
By cross-checking through the:
2) Orders (order_products__prior.csv) and their corresponding
  a) Ordered Products (order_products__train.csv)

 A. COLUMNS NEEDED:
    1) product_name in  
       a) products.csv # DATAFRAME 1
    
    2) product_id   &  
    3) order_id     or/&
    4) order_number in  #PROLLY NOT USE THIS 
       a) orders.csv   # DATAFRAME 2
'''

products_df = pd.read_csv('products.csv', index_col ="product_name") # index_col = "product_name" limits the return to be ONLY THAT 1 COL bc 
                                                                     # df.loc NEEDS 1 COL; 
                                                                     # index_col is supposedly the col to use as the row label *SEE LINKS/nts BELOW

banana_Row = products_df.loc['Banana'] # have df.loc rtn the product_id in the fcn we write later

print(banana_Row)  # from banana_row (which is a DICTIONARY), df.loc RTNS ALL THE FIELDS OF THAT ROW(s) where 'Banana' was loc8d: "product_id" = 24852, "aisle_id" = 24, "department_id" = 4
                   # we are identifying which rows in product_name col contains 'bananas' in the entire row

'''
selected_prod_id = banana_Row['product_id'] # Supposedly, i don't need to filter out the rtn fields for JUST the Product_id
print(selected_prod_id)

products_df.columns
products_df.index.value_counts()
products_df.head(99999)

* Indices/Index Labels:
1) from wikipedia:
A database index is a data structure that improves the speed of data retrieval operations on a database table at the cost of additional writes and storage space to maintain the index data structure. Indexes are used to quickly locate data without having to search every row in a database table every time a database table is accessed. Indexes can be created using one or more columns of a database table, providing the basis for both rapid random lookups and efficient access of ordered records.

An index is a copy of selected columns of data from a table that can be searched very efficiently that also includes a low-level disk block address or direct link to the complete row of data it was copied from. 

2) from https://towardsdatascience.com/pandas-index-explained-b131beaf6f7b:
Index is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.

3) from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html:

index_col: int, str, sequence of int / str, or False, default None
Column(s) to use as the row labels of the DataFrame, either given as string name or column index. If a sequence of int / str is given, a MultiIndex is used.

Note: index_col=False can be used to force pandas to not use the first column as the index, e.g. when you have a malformed file with delimiters at the end of each line.
'''

--2019-11-11 01:41:48--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.170.45
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.170.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  68.4MB/s    in 2.9s

2019-11-11 01:41:51 (68.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv
/content/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01


product_id       24852
aisle_id            24
department_id        4
Name: Banana, dtype: int64

"\nselected_prod_id = banana_Row['product_id'] # Supposedly, i don't need to filter out the rtn fields for JUST the Product_id\nprint(selected_prod_id)\n\nproducts_df.columns\nproducts_df.index.value_counts()\nproducts_df.head(99999)\n\n* Indices/Index Labels:\n1) from wikipedia:\nA database index is a data structure that improves the speed of data retrieval operations on a database table at the cost of additional writes and storage space to maintain the index data structure. Indexes are used to quickly locate data without having to search every row in a database table every time a database table is accessed. Indexes can be created using one or more columns of a database table, providing the basis for both rapid random lookups and efficient access of ordered records.\n\nAn index is a copy of selected columns of data from a table that can be searched very efficiently that also includes a low-level disk block address or direct link to the complete row of data it was copied from. \n\n2) from https://towardsdatascience.com/pandas-index-explained-b131beaf6f7b:\nIndex is like an address, that’s how any data point across the dataframe or series can be accessed. Rows and columns both have indexes, rows indices are called as index and for columns its general column names.\n\n3) from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html:\n\nindex_col: int, str, sequence of int / str, or False, default None\nColumn(s) to use as the row labels of the DataFrame, either given as string name or column index. If a sequence of int / str is given, a MultiIndex is used.\n\nNote: index_col=False can be used to force pandas to not use the first column as the index, e.g. when you have a malformed file with delimiters at the end of each line.\n"

In [0]:
import pandas as pd

orders_df = pd.read_csv('orders.csv')
orders_df.columns  # gona want 'order_number' or 'order id' columns
orders_df.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
import pandas as pd

'''
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz
%cd instacart_2017_05_01
'''

order_products_df= pd.read_csv('order_products__train.csv')
order_products_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
# Next, merge these into a single dataframe
import pandas as pd

!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz
%cd instacart_2017_05_01

products_df = pd.read_csv('products.csv')
order_products_df =pd.read_csv('order_products__prior.csv')

# The 'on' parameter indicates a specific column that is contained in both dataframes. We use it to look up and copy information from the two df's into a combined df.
merged_prodsAndorders_df = pd.merge(products_df, order_products_df, on='product_id', how= 'inner' ) 

# The 'how' parameter indicates what the portion of the selected dataframes to keep after the merge takes place.
merged_prodsAndorders_df  # call

#order_products_df.head()

--2019-11-11 01:42:09--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.186.13
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.186.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  64.8MB/s    in 3.0s

2019-11-11 01:42:12 (64.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv
/content/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01

          product_id                product_name  ...  add_to_cart_order  reordered
0                  1  Chocolate Sandwich Cookies  ...                  7          0
1                  1  Chocolate Sandwich Cookies  ...                  3          1
2                  1  Chocolate Sandwich Cookies  ...                  4          1
3                  1  Chocolate Sandwich Cookies  ...                  2          0
4                  1  Chocolate Sandwich Cookies  ...                 30          0
...              ...                         ...  ...                ...        ...
32434484       49688      Fresh Foaming Cleanser  ...                  3          0
32434485       49688      Fresh Foaming Cleanser  ...                 20          0
32434486       49688      Fresh Foaming Cleanser  ...                  5          1
32434487       49688      Fresh Foaming Cleanser  ...                 10          0
32434488       49688      Fresh Foaming Cleanser  ...                  5          0

[32434489 rows x 7 columns]

In [0]:
# Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

products_df = pd.read_csv('products.csv', index_col='product_name')

# def a list of top 10 items to process:
prod_list=['Banana',
'Bag of Organic Bananas',
'Organic Strawberries',
'Organic Baby Spinach',
'Organic Hass Avocado',
'Organic Avocado',
'Large Lemon',
'Strawberries',
'Limes',
'Organic Whole Milk']

#print(products_df)

def counts_top_10(merged_prodsAndorders_df, prod_list):
  for product in prod_list:  #only use i for loop indices, which are usually ints 
    # get product_id:
    item_prod_id = products_df.loc[product]['product_id'] # .loc rtns whole ROW; we only want product_id col
    
    #print(item_prod_id) # to debug
    
    # use product_id to calculate total # of purchases of that product
    # 1) list the add_to_cart_order totals by subsetting Merged_prodsAndOrders df by product ids for each list item
    list_item_subset_df = merged_prodsAndorders_df[merged_prodsAndorders_df['product_id'] == item_prod_id] 
    
    #print(list_item_subset_df) # as a code check

    # add row fields of 'add_to_cart_order' to total purchases for each list item
    # 1) subset list item totals via inner looping
    total_purchases_of_product = 0
    for singleRow in list_item_subset_df:
      total_purchases_of_product += singleRow['add_to_cart_order']
    print(product + ': ' + str(total_purchases_of_product) )


    
         
counts_top_10(merged_prodsAndorders_df, prod_list)

product_id

TypeError: ignored

In [0]:
merged_prodsAndorders_df.head()

In [0]:
# New more concise solution with Pierre:
# add col names
# use sort()
merged_prodsAndorders_df[''].sort_values(by='add_to_cart', ascending=False) #starts with highest # and subsequent rows decrease; can also put "descending=True"

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####