<a href="https://colab.research.google.com/github/TemsyToto/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/TemsyChen_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [70]:
### YOUR WORK HERE
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', header=None)

In [71]:
df

     0    1            2       3      4     5   ...    20   21    22  23  24     25
0     3    ?  alfa-romero     gas    std   two  ...   9.0  111  5000  21  27  13495
1     3    ?  alfa-romero     gas    std   two  ...   9.0  111  5000  21  27  16500
2     1    ?  alfa-romero     gas    std   two  ...   9.0  154  5000  19  26  16500
3     2  164         audi     gas    std  four  ...  10.0  102  5500  24  30  13950
4     2  164         audi     gas    std  four  ...   8.0  115  5500  18  22  17450
..   ..  ...          ...     ...    ...   ...  ...   ...  ...   ...  ..  ..    ...
200  -1   95        volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
201  -1   95        volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
202  -1   95        volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
203  -1   95        volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
204  -1   95        volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[205 rows x 26 columns]

In [72]:
#Rename the columns

df = df.rename(columns={0:'symboling',1:'normalized losses',2:'make',3:'fuel type',4:'aspiration',5:'# of doors',6:'body style',7:'drive wheels',8:'engine location',9:'wheel base',
                        10:'length',11:'width',12:'height',13:'curb weight',14:'engine type',15:'# of cylinders',16:'engine size',17:'fuel system',18:'bore',19:'stroke',
                        20:'compression ratio',21:'horsepower',22:'peak rpm',23:'city mpg',24:'highway mpg',25:'price'})
df

     symboling normalized losses         make  ... city mpg highway mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [73]:
#check how many question marks there are 

df['normalized losses'].value_counts(dropna=False)

?      41
161    11
91      8
150     7
128     6
134     6
104     6
168     5
65      5
103     5
85      5
95      5
94      5
74      5
102     5
122     4
118     4
93      4
106     4
148     4
137     3
101     3
154     3
83      3
125     3
115     3
192     2
89      2
129     2
119     2
87      2
194     2
110     2
81      2
108     2
197     2
145     2
153     2
158     2
188     2
164     2
113     2
121     1
231     1
78      1
98      1
107     1
186     1
90      1
77      1
256     1
142     1
Name: normalized losses, dtype: int64

In [74]:
#replace the ? with NaN

import numpy as np

df['normalized losses'] = df['normalized losses'].replace( "?",  np.NaN)

# df['normalized losses'].value_counts()
df.isnull().sum()

symboling             0
normalized losses    41
make                  0
fuel type             0
aspiration            0
# of doors            0
body style            0
drive wheels          0
engine location       0
wheel base            0
length                0
width                 0
height                0
curb weight           0
engine type           0
# of cylinders        0
engine size           0
fuel system           0
bore                  0
stroke                0
compression ratio     0
horsepower            0
peak rpm              0
city mpg              0
highway mpg           0
price                 0
dtype: int64

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [75]:
### YOUR WORK HERE
sample = df.sample(n=10, random_state=30)
sample

     symboling normalized losses           make  ... city mpg highway mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056
103          0               108         nissan  ...       19          25  13499
26           1               148          dodge  ...       31          38   7609
20           0                81      chevrolet  ...       38          43   6575
155          0                91         toyota  ...       27          32   8778
185          2                94     volkswagen  ...       27          34   8195

[10 rows x 26 columns]

In [76]:
#find the mean of the highway mpg

sample_mean = sample['highway mpg'].mean()
sample_mean

32.8

In [77]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 121 to 185
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          10 non-null     int64
 1   normalized losses  10 non-null     object
 2   make               10 non-null     object
 3   fuel type          10 non-null     object
 4   aspiration         10 non-null     object
 5   # of doors         10 non-null     object
 6   body style         10 non-null     object
 7   drive wheels       10 non-null     object
 8   engine location    10 non-null     object
 9   wheel base         10 non-null     float64
 10  length             10 non-null     float64
 11  width              10 non-null     float64
 12  height             10 non-null     float64
 13  curb weight        10 non-null     int64
 14  engine type        10 non-null     object
 15  # of cylinders     10 non-null     object
 16  engine size        10 non-null     int64
 17  fuel system        10 non-null     object
 18  bore               10 non-null     object
 19  stroke             10 non-null     object
 20  compression ratio  10 non-null     float64
 21  horsepower         10 non-null     object
 22  peak rpm           10 non-null     object
 23  city mpg           10 non-null     int64
 24  highway mpg        10 non-null     int64
 25  price              10 non-null     object
dtypes: float64(5), int64(5), object(16)
memory usage: 2.1+ KB

In [92]:
#The mean of the population highway mpg

df_mean = df['highway mpg'].mean()
df_mean

30.75121951219512

In [93]:
#Now do the t-test

from scipy import stats

stats.ttest_1samp(a= sample['highway mpg'], popmean= df_mean)

#Answer: p-value is .4, so I fail to reject the null, which means the sample highway mpg is reflective of the population highway mpg

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [95]:
### YOUR WORK HERE

stats.ttest_1samp(a= sample['highway mpg'], popmean= 35)

#p-value is .36, I fail to reject the null, which means his cars typically have a fuel effiency of 35 mpg, like the general population.

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [97]:
### YOUR WORK HERE

sample_100 = df.sample(n=100, random_state=30)
sample_100

     symboling normalized losses  ...  price highway mpg2
121          1               154  ...   6692           38
176         -1                65  ...  10898           32
24           1               148  ...   6229           38
88          -1               137  ...   9279           30
72           3               142  ...  35056           18
..         ...               ...  ...    ...          ...
189          3               NaN  ...  11595           29
192          0               NaN  ...  13845           38
171          2               134  ...  11549           30
203         -1                95  ...  22470           27
47           0               145  ...  32250           19

[100 rows x 27 columns]

In [99]:
#t-test on the salesman's claim against a larger sample mean

stats.ttest_1samp(a= sample_100['highway mpg'], popmean= 35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

### **The p-value is nearly 0, I reject the null, the salesman's claim that his cars have 35 mpg is not reflective of the general population. -Temsy**

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [102]:
### YOUR WORK HERE
#read the file, noticed the column header was a data row, so entered header as none

votes = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header= None)
votes

             0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0    republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1    republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2      democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3      democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4      democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y
..          ... .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
430  republican  n  n  y  y  y  y  n  n  y  y  n  y  y  y  n  y
431    democrat  n  n  y  n  n  n  y  y  y  y  n  n  n  n  n  y
432  republican  n  ?  n  y  y  y  n  n  n  n  y  y  y  y  n  y
433  republican  n  n  n  y  y  y  ?  ?  ?  ?  n  y  y  y  n  y
434  republican  n  y  n  y  y  y  n  n  n  y  n  y  y  y  ?  n

[435 rows x 17 columns]

In [103]:
#rename the columns

votes = votes.rename(columns={0:'class name',1:'handicapped infants',2:'water project cost sharing',3:'adoption of budget res',4:'physician fee freeze',
                              5:'el salvador aid',6:'religious groups in schools',7:'anti satellite test ban',8:'aid to nicaraguan contras',9:'mx missile',
                              10:'immigration',11:'synfuels corporation cutback',12:'education spending',13:'superfund right to sue',14:'crime',15:'duty free exports',
                              16:'export admin act south africa'})
votes

     class name  ... export admin act south africa
0    republican  ...                             y
1    republican  ...                             ?
2      democrat  ...                             n
3      democrat  ...                             y
4      democrat  ...                             y
..          ...  ...                           ...
430  republican  ...                             y
431    democrat  ...                             y
432  republican  ...                             y
433  republican  ...                             y
434  republican  ...                             n

[435 rows x 17 columns]

In [104]:
#replace the ? with NaN, n with 0, and y with 1

votes_clean = votes.replace("?",  np.NaN).replace('n', 0).replace('y', 1)
votes_clean

     class name  ...  export admin act south africa
0    republican  ...                            1.0
1    republican  ...                            NaN
2      democrat  ...                            0.0
3      democrat  ...                            1.0
4      democrat  ...                            1.0
..          ...  ...                            ...
430  republican  ...                            1.0
431    democrat  ...                            1.0
432  republican  ...                            1.0
433  republican  ...                            1.0
434  republican  ...                            0.0

[435 rows x 17 columns]

In [112]:
#create two new dataframes, one republican, one democrat

condition1 = (votes_clean['class name'] == 'republican')
republican = votes_clean[condition1]

condition2 = (votes_clean['class name'] == 'democrat')
democrat = votes_clean[condition2]

    class name  ...  export admin act south africa
2     democrat  ...                            0.0
3     democrat  ...                            1.0
4     democrat  ...                            1.0
5     democrat  ...                            1.0
6     democrat  ...                            1.0
..         ...  ...                            ...
425   democrat  ...                            NaN
426   democrat  ...                            1.0
428   democrat  ...                            1.0
429   democrat  ...                            1.0
431   democrat  ...                            1.0

[267 rows x 17 columns]

In [113]:
republican

     class name  ...  export admin act south africa
0    republican  ...                            1.0
1    republican  ...                            NaN
7    republican  ...                            1.0
8    republican  ...                            1.0
10   republican  ...                            0.0
..          ...  ...                            ...
427  republican  ...                            1.0
430  republican  ...                            1.0
432  republican  ...                            1.0
433  republican  ...                            1.0
434  republican  ...                            0.0

[168 rows x 17 columns]

In [114]:
democrat

    class name  ...  export admin act south africa
2     democrat  ...                            0.0
3     democrat  ...                            1.0
4     democrat  ...                            1.0
5     democrat  ...                            1.0
6     democrat  ...                            1.0
..         ...  ...                            ...
425   democrat  ...                            NaN
426   democrat  ...                            1.0
428   democrat  ...                            1.0
429   democrat  ...                            1.0
431   democrat  ...                            1.0

[267 rows x 17 columns]


### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [126]:
### YOUR WORK HERE

#Null hypothesis: "handicapped infants" is an issue that democrats vote the same as republicans
#Alternative hypothesis: this is an issue where dems vote differently than reps.

print("2 sample t-test:", stats.ttest_ind(democrat['handicapped infants'], republican['handicapped infants'], nan_policy='omit'))
print("Dem vote mean:", democrat['handicapped infants'].mean())
print("Rep vote mean:", republican['handicapped infants'].mean())

#Result: Dems supported this issue more than Reps, with a p-value less than 0.01
#So I reject the null hypothesis, they do not vote the same on this issue.

2 sample t-test: Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)
Dem vote mean: 0.6046511627906976
Rep vote mean: 0.18787878787878787

In [128]:
#Null hypothesis: "religious groups in schools" is an issue that democrats vote the same as republicans
#Alternative hypothesis: this is an issue where dems vote differently than reps.
print("2 sample t-test:", stats.ttest_ind(democrat['religious groups in schools'], republican['religious groups in schools'], nan_policy='omit'))
print("Dem vote mean:", democrat['religious groups in schools'].mean())
print("Rep vote mean:", republican['religious groups in schools'].mean())

#Result: Reps supported this issue more than Dems, with a p-value less than 0.01

2 sample t-test: Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)
Dem vote mean: 0.47674418604651164
Rep vote mean: 0.8975903614457831

In [130]:
#Null hypothesis: "water project cost sharing" is an issue that democrats vote the same as republicans
#Alternative hypothesis: this is an issue where dems vote differently than reps.

print("2 sample t-test:", stats.ttest_ind(democrat['water project cost sharing'], republican['water project cost sharing'], nan_policy='omit'))
print("Dem vote mean:", democrat['water project cost sharing'].mean())
print("Rep vote mean:", republican['water project cost sharing'].mean())

#Result: Reps and Dems vote so similarly on this, there is a p-value .93, so I fail to reject the null.

2 sample t-test: Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)
Dem vote mean: 0.502092050209205
Rep vote mean: 0.5067567567567568

In [140]:
#A way to find the mean of every column quickly

print("Dem Votes:\n", democrat.mean(),"\n")
print("Rep Votes:\n", republican.mean())

Dem Votes:
 handicapped infants              0.604651
water project cost sharing       0.502092
adoption of budget res           0.888462
physician fee freeze             0.054054
el salvador aid                  0.215686
religious groups in schools      0.476744
anti satellite test ban          0.772201
aid to nicaraguan contras        0.828897
mx missile                       0.758065
immigration                      0.471483
synfuels corporation cutback     0.505882
education spending               0.144578
superfund right to sue           0.289683
crime                            0.350195
duty free exports                0.637450
export admin act south africa    0.935135
dtype: float64

Rep Votes:
 handicapped infants              0.187879
water project cost sharing       0.506757
adoption of budget res           0.134146
physician fee freeze             0.987879
el salvador aid                  0.951515
religious groups in schools      0.897590
anti satellite test ban          0.240741
aid to nicaraguan contras        0.152866
mx missile                       0.115152
immigration                      0.557576
synfuels corporation cutback     0.132075
education spending               0.870968
superfund right to sue           0.860759
crime                            0.981366
duty free exports                0.089744
export admin act south africa    0.657534
dtype: float64

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [154]:
### YOUR WORK HERE
columns = ['handicapped infants','water project cost sharing','adoption of budget res','physician fee freeze',
                              'el salvador aid','religious groups in schools','anti satellite test ban','aid to nicaraguan contras','mx missile',
                              'immigration','synfuels corporation cutback','education spending','superfund right to sue','crime','duty free exports',
                              'export admin act south africa']

for x in columns:
  print(stats.ttest_ind(democrat[x], republican[x], nan_policy='omit'))

Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)
Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)
Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)
Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)
Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)
Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443867e-31)
Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)
Ttest_indResult(statistic=16.437503268542994, pvalue=5.03079265310811e-47)
Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)
Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)
Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)
Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672758e-34)
Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)
Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174347365e-32)
Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672226e-11)



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [90]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [91]:
### YOUR WORK HERE