<a href="https://colab.research.google.com/github/tranitapalmer/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Tranita_Palmer_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
import pandas as pd
import numpy as np

In [18]:
### YOUR WORK 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

mycols = ['symboling', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
 ' wheel-base', ' length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm',
 'city-mpg', 'highway-mpg', 'price']

df = pd.read_csv(url, names=mycols)
df.head()

                  symboling aspiration  ... highway-mpg  price
3 ?   alfa-romero       gas        std  ...          27  13495
      alfa-romero       gas        std  ...          27  16500
1 ?   alfa-romero       gas        std  ...          26  16500
2 164 audi              gas        std  ...          30  13950
      audi              gas        std  ...          22  17450

[5 rows x 23 columns]

In [20]:
df.isnull().sum()

symboling            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
 wheel-base          0
 length              0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [21]:
### YOUR WORK HERE
df.sample(30)

                     symboling aspiration  ... highway-mpg  price
-1 93  mercedes-benz    diesel      turbo  ...          25  31600
 0 85  subaru              gas        std  ...          29   8013
   106 nissan              gas        std  ...          34   8949
   ?   isuzu               gas        std  ...          43      ?
 1 148 dodge               gas        std  ...          38   6692
-1 93  mercedes-benz    diesel      turbo  ...          25  25552
 1 128 nissan              gas        std  ...          37   6649
 0 ?   bmw                 gas        std  ...          22  30760
 1 168 toyota              gas        std  ...          29   9538
 3 150 mazda               gas        std  ...          23  15645
 0 ?   bmw                 gas        std  ...          22  41315
-1 65  toyota              gas        std  ...          32  10898
   95  volvo               gas        std  ...          28  16845
 1 118 dodge               gas      turbo  ...          30   7957
-1 95  volvo            diesel      turbo  ...          27  22470
 0 ?   mazda            diesel        std  ...          39  18344
   192 bmw                 gas        std  ...          29  16925
   89  subaru              gas        std  ...          32   7463
 3 ?   mitsubishi          gas      turbo  ...          24  14869
       porsche             gas        std  ...          25  34028
 1 154 plymouth            gas        std  ...          38   6229
-1 65  toyota           diesel      turbo  ...          33  10698
 0 91  toyota           diesel        std  ...          47   7788
 2 ?   isuzu               gas        std  ...          29  11048
 1 87  toyota              gas        std  ...          38   6338
 0 89  subaru              gas        std  ...          31  10198
 2 134 toyota              gas        std  ...          30   9989
 3 186 porsche             gas        std  ...          27  22018
 0 118 mazda               gas        std  ...          27  18280
 3 194 nissan              gas      turbo  ...          23  19699

[30 rows x 23 columns]

In [22]:
df.mean()

 wheel-base            98.756585
 length               174.049268
width                  65.907805
height                 53.724878
curb-weight          2555.565854
engine-size           126.907317
compression-ratio      10.142537
city-mpg               25.219512
highway-mpg            30.751220
dtype: float64

In [23]:
df['highway-mpg'].mean()

30.75121951219512

**Is your sample reflective of the population value in regards to highway-mpg? Find the mean for highway-mpg for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?**

After comparing the sample mean of the whole dataset with the value of highway-mpg both values are different.

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [24]:
### YOUR WORK HERE
df.sample(10)

                  symboling aspiration  ... highway-mpg  price
 0 161 peugot        diesel      turbo  ...          33  16900
 2 168 nissan           gas        std  ...          37   8249
 3 153 mitsubishi       gas        std  ...          32   8499
-1 65  toyota           gas        std  ...          32  10898
 0 161 peugot        diesel      turbo  ...          33  17950
 3 ?   mitsubishi       gas      turbo  ...          24  14489
-1 65  toyota           gas        std  ...          32   9988
 3 ?   mitsubishi       gas      turbo  ...          24  12629
-1 74  volvo            gas      turbo  ...          22  18950
 0 ?   isuzu            gas        std  ...          43      ?

[10 rows x 23 columns]

**The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.**

His claim seems to be false, not to many cars that was sold had the fuel efficiency of about 35 miles per gallon.

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [25]:
### YOUR WORK HERE
df.sample(100)

                   symboling aspiration  ... highway-mpg  price
 1 119 plymouth          gas      turbo  ...          30   7957
   ?   alfa-romero       gas        std  ...          26  16500
 0 ?   mazda          diesel        std  ...          42  10795
 2 83  subaru            gas        std  ...          36   5118
 1 118 dodge             gas        std  ...          41   5572
...                      ...        ...  ...         ...    ...
       dodge             gas      turbo  ...          30   7957
 3 153 mitsubishi        gas        std  ...          32   8499
   ?   mitsubishi        gas      turbo  ...          24  12629
-1 65  toyota         diesel      turbo  ...          33  10698
 0 161 peugot            gas        std  ...          24  15580

[100 rows x 23 columns]

**Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of 30, what would you conclude when sampling 100 cars?**

When sampling 100 cars I conclude that the saleman claim was correct.

**Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?**

One test have more samples to look through giving it more chance to make his claim correct.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [0]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
np.random.seed()

In [27]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

mycols = ['Party', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
 'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', ' immigration', 'synfuels-corporation-cutback', ' education-spending',
 'superfund-right-to-sue', ' crime', 'duty-free-exports', 'export-administration-act-south-africa']

df = pd.read_csv(url, names=mycols)
df.head()

        Party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [28]:
df.isnull().sum()

Party                                     0
handicapped-infants                       0
water-project-cost-sharing                0
adoption-of-the-budget-resolution         0
physician-fee-freeze                      0
el-salvador-aid                           0
religious-groups-in-schools               0
anti-satellite-test-ban                   0
aid-to-nicaraguan-contras                 0
mx-missile                                0
 immigration                              0
synfuels-corporation-cutback              0
 education-spending                       0
superfund-right-to-sue                    0
 crime                                    0
duty-free-exports                         0
export-administration-act-south-africa    0
dtype: int64

In [29]:
df = df.replace({'y': 1, 'n': 0, '?':np.NaN})

df.head()

        Party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [32]:
df.isnull().sum()

Party                                       0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
 immigration                                7
synfuels-corporation-cutback               21
 education-spending                        31
superfund-right-to-sue                     25
 crime                                     17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Party                                   435 non-null    object
 1   handicapped-infants                     423 non-null    float64
 2   water-project-cost-sharing              387 non-null    float64
 3   adoption-of-the-budget-resolution       424 non-null    float64
 4   physician-fee-freeze                    424 non-null    float64
 5   el-salvador-aid                         420 non-null    float64
 6   religious-groups-in-schools             424 non-null    float64
 7   anti-satellite-test-ban                 421 non-null    float64
 8   aid-to-nicaraguan-contras               420 non-null    float64
 9   mx-missile                              413 non-null    float64
 10   immigration                            428 non-null    float64
 11  synfuels-corporation-cutback            414 non-null    float64
 12   education-spending                     404 non-null    float64
 13  superfund-right-to-sue                  410 non-null    float64
 14   crime                                  418 non-null    float64
 15  duty-free-exports                       407 non-null    float64
 16  export-administration-act-south-africa  331 non-null    float64
dtypes: float64(16), object(1)
memory usage: 57.9+ KB

In [34]:
df['Party'].value_counts()

democrat      267
republican    168
Name: Party, dtype: int64

In [39]:
republican = stats.norm.rvs(loc=5, scale=10,size=100)
democrat = stats.norm.rvs(loc=5, scale=20, size=100)
stats.ttest_ind(republican, democrat)

Ttest_indResult(statistic=-0.6859427658124028, pvalue=0.4935516000502346)

In [42]:
df = pd.DataFrame({
        "democrat": [
            'Party', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
 'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', ' immigration', 'synfuels-corporation-cutback', ' education-spending',
 'superfund-right-to-sue', ' crime', 'duty-free-exports', 'export-administration-act-south-africa',
        ],
        "republican": [
            'Party', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
 'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', ' immigration', 'synfuels-corporation-cutback', ' education-spending',
 'superfund-right-to-sue', ' crime', 'duty-free-exports', 'export-administration-act-south-africa'
        ],})
df.head()

                            democrat                         republican
0                              Party                              Party
1                handicapped-infants                handicapped-infants
2         water-project-cost-sharing         water-project-cost-sharing
3  adoption-of-the-budget-resolution  adoption-of-the-budget-resolution
4               physician-fee-freeze               physician-fee-freeze

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
np.random.seed()

In [78]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-06-09 14:03:51--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-06-09 14:03:51 (278 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [79]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('house-votes-84.data', names=column_headers)



print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [80]:
df = df.replace({'y': 1, 'n': 0, '?':np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [81]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [82]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).

In [84]:
sample = df['budget'].dropna()

stats.ttest_1samp(sample, .01)

Ttest_1sampResult(statistic=24.597581943902497, pvalue=1.360478738533399e-83)

In [85]:
stats.ttest_1samp(df['budget'], .01, nan_policy='omit')

Ttest_1sampResult(statistic=24.597581943902497, pvalue=1.3604787385336368e-83)

Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).

In [86]:
sample = df['physician-fee-freeze'].dropna()

stats.ttest_1samp(sample, .01)

Ttest_1sampResult(statistic=16.993321314545586, pvalue=9.631275400451478e-50)

In [88]:
stats.ttest_1samp(df['physician-fee-freeze'], .01, nan_policy='omit')

Ttest_1sampResult(statistic=16.993321314545586, pvalue=9.631275400452939e-50)

Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

In [0]:
dem = df[df['party'] == 'democrat']
rep = df[df['party'] == 'republican']

In [90]:
stats.ttest_ind(rep['physician-fee-freeze'], dem['budget'], nan_policy='omit')

Ttest_indResult(statistic=3.9003532192372585, pvalue=0.00011169390560264186)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE