<a href="https://colab.research.google.com/github/danielburch/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [49]:
# Let's look at our data set
print(df.info())
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
 34  total_rooms           48817 non-null  float64
 35  cats_and_dogs         48817 non-null  int64
dtypes: float64(4), int64(27), object(5)
memory usage: 15.0+ MB
None

       bathrooms  bedrooms  ... total_rooms cats_and_dogs
49347        1.0         2  ...         3.0             0
49348        1.0         1  ...         2.0             1
49349        1.0         1  ...         2.0             1
49350        1.0         0  ...         1.0             1
49351        1.0         2  ...         3.0             0

[5 rows x 36 columns]

In [36]:
# I'll assign Price as our target
y = df['price']

y.shape

(48817,)

In [37]:
# I'll put the rest of the features into a dataframe.
# Also, I'll need to drop our target from the dataframe

X = df.drop('price', axis = 1)
X.shape

(48817, 35)

In [38]:
#Setting training data to April & May 2016. Setting testing data from June 2016

X_train = X[X['created'] < '2016-06-01']
y_train = y[y.index.isin(X_train.index)]

X_test = X[X['created'] >= '2016-06-01']
y_test = y[y.index.isin(X_test.index)]

print(X_train.shape)
print(X_test.shape)

(31844, 35)
(16973, 35)

In [13]:
#Feature Creation - total number of rooms

df['total_rooms'] = df['bathrooms'] + df['bedrooms']

df.head()

   bathrooms  bedrooms  ... common_outdoor_space total_rooms
0        1.5         3  ...                    0         4.5
1        1.0         2  ...                    0         3.0
2        1.0         1  ...                    0         2.0
3        1.0         1  ...                    0         2.0
4        1.0         4  ...                    0         5.0

[5 rows x 35 columns]

In [27]:
#Feature Creation - Dogs and cats

df['cats_and_dogs'] = df['dogs_allowed'] + df['cats_allowed']

df['cats_and_dogs']= df['cats_and_dogs'].replace({2: 1, 1: 0})

df.head()

   bathrooms  bedrooms  ... total_rooms cats_and_dogs
0        1.5         3  ...         4.5             0
1        1.0         2  ...         3.0             1
2        1.0         1  ...         2.0             0
3        1.0         1  ...         2.0             0
4        1.0         4  ...         5.0             0

[5 rows x 36 columns]

# **Linear Regression - 2 Features**

In [32]:
# Lets see if we can improve our accuracy from a simple mean() baseline
#Baseline for April & May 2016
mean_y = y_train.mean()

print(f'Baseline mean (April & May 2016 Rent): ${mean_y:.2f}')

Baseline mean (April & May 2016 Rent): $3575.60

In [31]:
# Lets see how much error is in our baseline train data
# Train Error
from sklearn.metrics import mean_absolute_error

y_pred = [y_train.mean()] * len(y_train)

mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error (April & May 2016 Rent): ${mae:.2f}')

Train Error (April & May 2016 Rent): $1201.88

In [33]:
# Lets see how much error is in our baseline test data
# Test Error

y_pred = [y_train.mean()] * len(y_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error (From June 2016): ${mae:.2f}')

Test Error (From June 2016): $1197.71

In [34]:
# 1. Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

In [35]:
# 2. Instantiate this class
two_model = LinearRegression()

In [39]:
# 3. Set our 2 features
features = ['cats_and_dogs','total_rooms']

In [44]:
#4. Fit our model
two_model.fit(X_train[features], y_train)
mae = mean_absolute_error(y_train,two_model.predict(X_train[features]))

print(f'Training Error: ${mae:.2f}')

Training Error: $887.62

In [45]:
#5. Apply our model to the test data

mae = mean_absolute_error(y_test,two_model.predict(X_test[features]))

print(f'Testing Error: ${mae:.2f}')

Testimng Error: $904.91

In [48]:
#Coefficient and intercept
print (two_model.intercept_)
two_model.coef_

1270.554417894814

array([210.35009138, 809.42392942])

# **Beat Brian's Train Error**

In [53]:
df.describe()

          bathrooms      bedrooms  ...   total_rooms  cats_and_dogs
count  48817.000000  48817.000000  ...  48817.000000   48817.000000
mean       1.201794      1.537149  ...      2.738943       0.446894
std        0.470711      1.106087  ...      1.410930       0.497177
min        0.000000      0.000000  ...      0.000000       0.000000
25%        1.000000      1.000000  ...      2.000000       0.000000
50%        1.000000      1.000000  ...      2.000000       0.000000
75%        1.000000      2.000000  ...      4.000000       1.000000
max       10.000000      8.000000  ...     12.000000       1.000000

[8 rows x 31 columns]