<a href="https://colab.research.google.com/github/sberniz/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-ridge-regression/LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
#Dataset Subset 
df_subset = df[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') & ((df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000))]
print(df_subset['BUILDING_CLASS_CATEGORY'].value_counts()) #CHeck if only one category was choosen
print((df_subset['SALE_PRICE'] > 2000000).sum().any()) #check for any 'true value for grater than 2 million
print((df_subset['SALE_PRICE'] < 100000).sum().any()) #check for values less than 100,000

01 ONE FAMILY DWELLINGS    3151
Name: BUILDING_CLASS_CATEGORY, dtype: int64
False
False

In [6]:
#Date condition train/test split
#Convert SALE_DATE column to DATE TIME to datetime
df_subset['SALE_DATE'] = pd.to_datetime(df_subset['SALE_DATE'],infer_datetime_format=True)
train = df_subset[(df_subset['SALE_DATE'] > '2019-01-01') & (df_subset['SALE_DATE'] < '2019-04-01')]
test = df_subset[(df_subset['SALE_DATE'] >='2019-04-01') & (df_subset['SALE_DATE'] <= '2019-04-30')]
X_train = train.drop('SALE_PRICE',axis=1)
y_train = train['SALE_PRICE']
X_test = test.drop('SALE_PRICE',axis=1)
y_test = test['SALE_PRICE']
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2505, 20)
(2505,)
(644, 20)
(644,)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
#import all libraries 
from category_encoders import OneHotEncoder
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV
#from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.feature_selection import SelectKBest

In [9]:
df_subset.describe(exclude='number')

       BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE            SALE_DATE
count     3151         3151  ...                           3151                 3151
unique       5            7  ...                             11                   91
top          4        OTHER  ...                             A1  2019-01-31 00:00:00
freq      1580         2959  ...                           1186                   78
first      NaN          NaN  ...                            NaN  2019-01-01 00:00:00
last       NaN          NaN  ...                            NaN  2019-04-30 00:00:00

[6 rows x 10 columns]

In [15]:
df_subset['NEIGHBORHOOD'].value_counts()
df_subset['BUILDING_CLASS_AT_PRESENT'].value_counts()
df_subset['BUILDING_CLASS_AT_TIME_OF_SALE'].value_counts()

A1    1186
A5     985
A2     493
A9     239
A0      85
S1      48
A3      43
A8      40
A4      16
A6      15
S0       1
Name: BUILDING_CLASS_AT_TIME_OF_SALE, dtype: int64

In [56]:
X_train

      BOROUGH NEIGHBORHOOD  ... BUILDING_CLASS_AT_TIME_OF_SALE  SALE_DATE
78          2        OTHER  ...                             A1 2019-01-02
108         3        OTHER  ...                             A1 2019-01-02
111         3        OTHER  ...                             A5 2019-01-02
120         3        OTHER  ...                             A1 2019-01-02
121         3        OTHER  ...                             A1 2019-01-02
...       ...          ...  ...                            ...        ...
18129       5        OTHER  ...                             A2 2019-03-29
18130       5        OTHER  ...                             A5 2019-03-29
18132       5        OTHER  ...                             A1 2019-03-29
18134       5        OTHER  ...                             A2 2019-03-29
18147       4        OTHER  ...                             A0 2019-03-30

[2505 rows x 20 columns]

In [85]:
#Features one HOt encoding with adding back to dataframe 
features = ['NEIGHBORHOOD','BUILDING_CLASS_AT_PRESENT','BUILDING_CLASS_AT_TIME_OF_SALE']
encode = OneHotEncoder(use_cat_names = True)
X_train2 = X_train
#X_train2
X_train2 = encode.fit_transform(X_train2[features])
X_train3 = pd.concat([X_train,X_train2],axis=1)
X_train3
X_test2 = encode.transform(X_test[features])
X_test2.head()
X_test3 = pd.concat([X_test,X_test2],axis=1)
X_test3

      BOROUGH  ... BUILDING_CLASS_AT_TIME_OF_SALE_S0
18235       2  ...                                 0
18239       2  ...                                 0
18244       3  ...                                 0
18280       3  ...                                 0
18285       3  ...                                 0
...       ...  ...                               ...
23029       4  ...                                 0
23031       4  ...                                 0
23032       4  ...                                 0
23033       4  ...                                 0
23035       4  ...                                 0

[644 rows x 51 columns]

In [88]:
#Just select numbers for regression
X_train3 = X_train3.select_dtypes(include='number')
X_test3 = X_test3.select_dtypes(include='number')

In [100]:
X_train4 = X_train3.dropna(axis=1)
X_train4
X_test4 = X_test3.dropna(axis=1)

In [110]:
X_train4.head(10)

     BLOCK  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
78    4210  ...                                  0
108   5212  ...                                  0
111   7930  ...                                  0
120   6806  ...                                  0
121   6761  ...                                  0
132   7378  ...                                  0
137   2882  ...                                  0
141   7407  ...                                  0
150  10918  ...                                  0
155  13962  ...                                  0

[10 rows x 40 columns]

In [103]:
#Feature selection with select best 
selector = SelectKBest(k=15)
X_train_selected = selector.fit_transform(X_train4,y_train)
X_test_selected = selector.transform(X_test4)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [ 8 27 28 39] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: divide by zero encountered in true_divide
  f = msb / msw
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [120]:
names = X_train4.columns
selected_mask = selector.get_support()
names[selected_mask]

Index(['LOT', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'GROSS_SQUARE_FEET',
       'YEAR_BUILT', 'NEIGHBORHOOD_FOREST HILLS', 'NEIGHBORHOOD_BOROUGH PARK',
       'NEIGHBORHOOD_ASTORIA', 'BUILDING_CLASS_AT_PRESENT_A3',
       'BUILDING_CLASS_AT_PRESENT_A6', 'BUILDING_CLASS_AT_PRESENT_S0',
       'BUILDING_CLASS_AT_PRESENT_B3', 'BUILDING_CLASS_AT_TIME_OF_SALE_A3',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A6',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S0'],
      dtype='object')

In [126]:
#Ridge Regression  normalize and fit
ridger = Ridge(normalize=True)
ridger.fit(X_train_selected,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [130]:
#Ridge predict and mae for the Test set
y_pred = ridger.predict(X_test_selected)
y_pred
mae = mean_absolute_error(y_test,y_pred)
print(mae)

187561.02318604648

In [131]:
#using scaler
from sklearn.preprocessing import StandardScaler

In [148]:
scalar = StandardScaler()
scale1 = scalar.fit_transform(X_train_selected,y_train)
ridger2 = Ridge()
ridger2.fit(X_train_selected,y_train)
y_pred2 = ridger2.predict(X_train_selected)
mean_absolute_error(y_train,y_pred2)

184628.55714690033

In [147]:
y_test_pred = ridger2.predict(X_test_selected)
mean_absolute_error(y_test,y_test_pred)

177839.31963750912

In [162]:
y_pred_base = y_train.mean()
y_pred_base
r2_score(y_test,y_pred)
r2_score(y_test,y_test_pred)

0.28309015146009986