Lambda School Data Science

*Unit 1, Sprint 1, Module 4*

---

# ASSIGNMENT

### 1) Replicate the lesson code. I recommend that you [do not copy-paste](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit).

Get caught up to where we got our example in class and then try and take things further. How close to "pixel perfect" can you make the lecture graph?

Once you have something that you're proud of, share your graph in the cohort channel and move on to the second exercise.

### 2) Reproduce another example from [FiveThityEight's shared data repository](https://data.fivethirtyeight.com/).

**WARNING**: There are a lot of very custom graphs and tables at the above link. I **highly** recommend not trying to reproduce any that look like a table of values or something really different from the graph types that we are already familiar with. Search through the posts until you find a graph type that you are more or less familiar with: histogram, bar chart, stacked bar chart, line chart, [seaborn relplot](https://seaborn.pydata.org/generated/seaborn.relplot.html), etc. Recreating some of the graphics that 538 uses would be a lot easier in Adobe photoshop/illustrator than with matplotlib. 

- If you put in some time to find a graph that looks "easy" to replicate you'll probably find that it's not as easy as you thought. 

- If you start with a graph that looks hard to replicate you'll probably run up against a brick wall and be disappointed with your afternoon.

In [0]:
# import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# read in the data from 538's github repo
df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/inconvenient-sequel/ratings.csv')

In [3]:
# quick previous of data frame
df.head()

                    timestamp  respondents  ... 9_pct 10_pct
0  2017-07-17 12:28:32.785639          402  ...   5.0   33.6
1  2017-07-17 12:28:33.025600           78  ...   3.8   62.8
2  2017-07-17 12:28:33.273919            4  ...   0.0   25.0
3  2017-07-17 12:28:33.495325            4  ...   0.0   25.0
4  2017-07-17 12:28:33.722849          130  ...   4.6   49.2

[5 rows x 27 columns]

In [0]:
# covert timestamps strings to datetime objects
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [0]:
# set timstamp column as the unique index identifier
df.set_index('timestamp', inplace=True)

In [12]:
# preview index change to timestamp column
df.head()

                            respondents        category  ... 9_pct  10_pct
timestamp                                                ...
2017-07-17 12:28:32.785639          402           Males  ...   5.0    33.6
2017-07-17 12:28:33.025600           78         Females  ...   3.8    62.8
2017-07-17 12:28:33.273919            4   Aged under 18  ...   0.0    25.0
2017-07-17 12:28:33.495325            4  Males under 18  ...   0.0    25.0
2017-07-17 12:28:33.722849          130      Aged 18-29  ...   4.6    49.2

[5 rows x 26 columns]

In [14]:
# create a new data frame of only the last day of the datafram
lastday = df['2017-08-29']
lastday.head()

                            respondents          category  ... 9_pct  10_pct
timestamp                                                  ...
2017-08-29 00:00:02.248882         1682             Males  ...   4.9    30.9
2017-08-29 00:00:02.499363          257           Females  ...  10.1    51.0
2017-08-29 00:00:02.727204           15     Aged under 18  ...   0.0    40.0
2017-08-29 00:00:03.024270           13    Males under 18  ...   0.0    46.2
2017-08-29 00:00:03.248207            2  Females under 18  ...   0.0     0.0

[5 rows x 26 columns]

In [0]:
# grab only the IMDb values from the category column because
# these are the values that we want for our graph

lastday_filtered = lastday[lastday['category']=='IMDb users']

In [17]:
# double check to make sure that our dataframe was filtered correctly
lastday_filtered.tail()

                            respondents    category  ... 9_pct  10_pct
timestamp                                            ...
2017-08-29 22:30:06.423181         2662  IMDb users  ...   5.5    33.7
2017-08-29 22:40:06.233659         2662  IMDb users  ...   5.5    33.7
2017-08-29 22:50:06.592571         2662  IMDb users  ...   5.5    33.7
2017-08-29 23:00:05.829558         2662  IMDb users  ...   5.5    33.7
2017-08-29 23:10:06.218251         2662  IMDb users  ...   5.5    33.7

[5 rows x 26 columns]

In [0]:
#  grab the very last line (most recent timestamp) of IMDb user ratings

# STRETCH OPTIONS

### 1) Reproduce one of the following using the matplotlib or seaborn libraries:

- [thanksgiving-2015](https://fivethirtyeight.com/features/heres-what-your-part-of-america-eats-on-thanksgiving/) 
- [candy-power-ranking](https://fivethirtyeight.com/features/the-ultimate-halloween-candy-power-ranking/) 
- or another example of your choice!

### 2) Make more charts!

Choose a chart you want to make, from [Visual Vocabulary - Vega Edition](http://ft.com/vocabulary).

Find the chart in an example gallery of a Python data visualization library:
- [Seaborn](http://seaborn.pydata.org/examples/index.html)
- [Altair](https://altair-viz.github.io/gallery/index.html)
- [Matplotlib](https://matplotlib.org/gallery.html)
- [Pandas](https://pandas.pydata.org/pandas-docs/stable/visualization.html)

Reproduce the chart. [Optionally, try the "Ben Franklin Method."](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) If you want, experiment and make changes.

Take notes. Consider sharing your work with your cohort!

In [0]:
# More Work Here