<a href="https://colab.research.google.com/github/danielburch/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
#Let's explore our data
print(df.info())
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB
None

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [9]:
# Clean up date column
df['Date']= pd.to_datetime(df['Date'])

In [10]:
# I'll assign Great as our target and other columns will be our features 

y = df['Great']

X = df.drop('Great', axis = 1)


print(X.shape)
print(y.shape)

(421, 58)
(421,)

Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [11]:
#Setting training data to <2017. Setting validating data = 2017. And >=2018 for test

X_train = X[X['Date'] < '01/01/2017'].drop(columns=['Date'], axis=1)
y_train = y[y.index.isin(X_train.index)].drop(columns=['Date'], axis=1)

X_val = X[(X['Date'] >= '01/01/2017') & (X['Date'] < '01/01/2018') ].drop(columns=['Date'], axis=1)
y_val = y[y.index.isin(X_val.index)].drop(columns=['Date'], axis=1)

X_test = X[X['Date'] >= '01/01/2018'].drop(columns=['Date'], axis=1)
y_test = y[y.index.isin(X_test.index)].drop(columns=['Date'], axis=1)

print(X.shape)
print(X_train.shape)
print(X_val.shape)

(421, 58)
(298, 57)
(85, 57)

In [12]:
# Check that feature matrices have same number of obersevations as labels
assert X_train.shape[0] == len(y_train)
assert X_val.shape[0] == len(y_val)

In [13]:
print(X_train.tail())

        Burrito  Yelp  Google Chips  Cost  ...  Bacon  Sushi  Avocado  Corn  Zucchini
296  California   4.0     4.3   NaN  5.65  ...    NaN    NaN      NaN   NaN       NaN
297       Other   NaN     NaN   NaN  5.49  ...    NaN    NaN      NaN   NaN       NaN
298  California   3.5     3.7   NaN  7.75  ...    NaN    NaN      NaN   NaN       NaN
299       Asada   NaN     NaN   NaN  7.75  ...    NaN    NaN      NaN   NaN       NaN
300       Other   4.5     4.6   NaN  6.99  ...    NaN    NaN      NaN   NaN       NaN

[5 rows x 57 columns]

In [14]:
#Baseline - 59% False is Majority
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [15]:
# Import classes
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder 
# Note that this ^ comes from `category_encoders`, not `sklearn`
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [16]:
# Instantiate pipeline with steps
log_model = Pipeline([
                      ('ohe', OneHotEncoder()),
                      ('imputer', SimpleImputer()),
                      ('classifier', LogisticRegression())

])

In [17]:
# Fit model on training data. Drop datetime
log_model.fit(X_train, y_train);

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [18]:
# Check accuracy on test set
print('Training Accuracy:', log_model.score(X_train, y_train))
print('Validation Accuracy:', log_model.score(X_val, y_val))

Training Accuracy: 0.9093959731543624
Validation Accuracy: 0.8117647058823529