# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

We'll be working with the Loans data (which we will continue to use during the guided project).  To access the Lones dataset, run next code block without changing anything:

In [1]:
import pandas as pd


loans_data = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/LendingClub/LoanStats_2018Q4_sm.csv'
loans = pd.read_csv(loans_data)

print(loans.shape)
loans.head()

(30000, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

For this warm-up assignment, we are going to determine the length of credit history for the individuals in the Loans dataset we just imported.

To do this, we are going to need two date values: `issue_d` and `earliest_cr_line`.

Lets look at the string format of the `issue_d` column

In [2]:
#Print the header of issue_d
loans['issue_d'].head()

0    Dec-2018
1    Oct-2018
2    Oct-2018
3    Nov-2018
4    Dec-2018
Name: issue_d, dtype: object

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [3]:
#Print the first observation of issue_d using loans['issue_d'][0]
loans['issue_d'][0]

'Dec-2018'

Now let's apply the pd.to_datetime function to `issue_d`.  Python is very good at figuring out dates.

In [5]:
#Print issue_d as a datetime value using pd.to_datetime(loans['issue_d'], infer='True')

pd.to_datetime(loans['issue_d'], infer_datetime_format = 'True')

0       2018-12-01
1       2018-10-01
2       2018-10-01
3       2018-11-01
4       2018-12-01
           ...
29995   2018-12-01
29996   2018-10-01
29997   2018-10-01
29998   2018-10-01
29999   2018-12-01
Name: issue_d, Length: 30000, dtype: datetime64[ns]

What do you notice about how Python handles the day of the month?

Assign the values of `issue_d` in the datetime format to a new variable in `loans` called `issue_date`.

In [7]:
#Create issue_date
loans['issue_date'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [8]:
#Print the year of issue_date using loans['issue_date'].dt.year

loans['issue_date'].dt.year

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
29995    2018
29996    2018
29997    2018
29998    2018
29999    2018
Name: issue_date, Length: 30000, dtype: int64

In [9]:
#Print the month using loans['issue_d'].dt.month
loans['issue_date'].dt.month

0        12
1        10
2        10
3        11
4        12
         ..
29995    12
29996    10
29997    10
29998    10
29999    12
Name: issue_date, Length: 30000, dtype: int64

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe.  Name the year variable `issue_year` and the month variable `issue_month`. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [11]:
#Create issue_year and issue_month.  Print the header of loans and scroll right to see the columns added to the dataset.

loans['issue_year'] = loans['issue_date'].dt.year
loans['issue_month'] = loans['issue_date'].dt.month

Now let's look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

In [13]:
#Print the date of the earliest credit line using loans['earliest_cr_line']
loans['earliest_cr_line']

0        Oct-1998
1        Sep-2015
2        Jun-2003
3        Feb-2005
4        Feb-2008
           ...
29995    Jan-2000
29996    Sep-1985
29997    Dec-2007
29998    Apr-2008
29999    Apr-1991
Name: earliest_cr_line, Length: 30000, dtype: object

Convert `earliest_cr_line` to a datetime format using pd.to_datetime and assign the result to the column `earliest_credit`.

In [15]:
#Created the earliest credit column.
loans['earliest_credit'] = pd.to_datetime(loans['earliest_cr_line'], infer_datetime_format=True)

Determine the length of credit history in days by subtracting `earliest_credit` from `issue_date`.  Save the result as `credit_length_days`.

In [20]:
#Calculate the length of credit history using (loans['issue_date'] - loans['earliest_credit']).dt.days
  
loans['credit_length_days'] = (loans['issue_date'] - loans['earliest_credit']).dt.days

loans['credit_length_days']

0         7366
1         1126
2         5601
3         5021
4         3956
         ...
29995     6909
29996    12083
29997     3957
29998     3835
29999    10106
Name: credit_length_days, Length: 30000, dtype: int64

Divide the credit length in days by 365.25 (don't forget leap year!) and save the result as `credit_length_years`.

In [21]:
loans['credit_length_years'] = loans['credit_length_days']/365.25

Use the .max() function to determine the longest credit history in years.

In [23]:
max = loans['credit_length_years'].max()

print('The longest credit length is %s years' % max)

The longest credit length is 68.91444216290212 years