<a href="https://colab.research.google.com/github/dmhliu/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Dave_Liu_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [2]:
import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-05-05 21:57:50--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.68.72.83, 52.89.161.10, 34.211.18.146
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.68.72.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [          <=>       ]  22.05M  1.77MB/s    in 12s

2020-05-05 21:58:02 (1.84 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23121687]

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [3]:
!tail -n +2 LoanStats_2018Q4.csv > foo.csv   # I was playing around with the shell commands, and its prety cool. Pretty sure that using pandas is better most cases..
!head -n -2 foo.csv > foo2.csv              # however as i think about it I can definitely see where when working with local datasets there's no reason not to use
!tail foo2.csv                              # shell commands and tools that one is familiar with. but of course, the downside to that appoach when working collaboratively 
                                            # is that the process is OS dependant.

"","","22000","22000","22000"," 60 months","  7.84%","444.4","A","A4","Owner","10+ years","MORTGAGE","55000","Not Verified","Oct-2018","Current","n","","","other","Other","982xx","WA","2.18","0","Apr-1987","0","","","8","0","6310","14.3%","21","w","16612.59","16612.59","7545.22","7545.22","5387.41","2157.81","0.0","0.0","0.0","May-2020","0.0","Jul-2020","Apr-2020","0","","1","Individual","","","","0","0","159636","0","0","0","0","33","0","","0","3","5436","14","44200","0","0","0","3","19955","31090","16.9","0","0","128","376","17","17","2","17","","23","","0","2","2","5","9","7","7","12","2","8","0","0","0","0","100","20","0","0","204200","6310","37400","0","","","","","","","","","","","","Y","CVD19SKIP","INCOMECURT","ACTIVE","2","0","Apr-2020","Jun-2020","Apr-2020","2","0","ACTIVE","217.07","16717.51","444.4","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 16.14%","176.14","C","C4","Oncology Medical Assistant","3 years","MORTGAGE","46400","Source Verified","Oct-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","338xx","FL","16.85","0","Nov-2003","0","29","","10","0","6722","62.2%","18","w","0.00","0.00","5436.0267199262","5436.03","5000.00","436.03","0.0","0.0","0.0","Apr-2019","4550.84","","Jun-2019","0","30","1","Individual","","","","0","0","140818","0","1","1","1","10","13257","89","1","5","1287","78","10800","2","4","5","6","14082","114","96.2","0","0","120","178","10","10","1","15","29","10","29","3","3","5","3","4","3","8","14","5","10","0","0","0","2","72.2","100","0","0","161585","19979","3000","14875","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3082.01","3082.01","3413.23","3413.23","2517.99","895.24","0.0","0.0","0.0","Apr-2020","190.21","May-2020","Apr-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","5557.25","5557.25","6233.34","6233.34","4442.75","1790.59","0.0","0.0","0.0","Apr-2020","346.76","May-2020","Apr-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2751.79","2751.79","3053.17","3053.17","2248.21","804.96","0.0","0.0","0.0","Apr-2020","169.83","May-2020","Apr-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5411.74","5276.45","5882.88","5735.81","4588.26","1294.62","0.0","0.0","0.0","Apr-2020","327.68","May-2020","Apr-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5626.39","5626.39","6400.05","6400.05","4373.61","2026.44","0.0","0.0","0.0","Apr-2020","356.08","May-2020","Apr-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
df = pd.read_csv('foo2.csv')

In [5]:
df.tail()     #just making sure we got rid of the last two lines

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#- - Convert the `term` column from string to integer.
df['term_int'] = df.term.str.extract(r'(\d+)')  #prefer to use regex when possilble. testing by adding column first
df.drop(labels='term_int', axis=1 )             #get rid of the test column
df['term'] = df.term.str.extract(r'(\d+)')      #replace term  with the modified data

In [0]:
#- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
df.loan_status.value_counts   
def check(status):            #heres the simple function that we can use to generate the column values
  return 1 if (status == 'Current')  or (status == 'Fully Paid') else 0
df['loan_status_is_great'] = df.loan_status.apply(check)                  #append column 
# df.head()

In [8]:
# Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.
#df.last_pymnt_d.value_counts(dropna=False) # just checking for nulls
pd.DatetimeIndex(df.last_pymnt_d).month

Float64Index([ 8.0,  7.0,  4.0,  4.0,  4.0,  4.0,  4.0,  2.0,  4.0,  4.0,
              ...
               4.0,  4.0,  5.0,  4.0,  4.0, 12.0,  4.0,  4.0,  4.0,  4.0],
             dtype='float64', name='last_pymnt_d', length=128412)

In [0]:
import datetime
#pd.DatetimeIndex(df.last_pymnt_d).year 
pd.to_datetime(df.last_pymnt_d, infer_datetime_format=True, errors='coerce').dt.year #this extracts the year, but due to the misisng data, the type is float,
#which is annoying but im not sure IRL that i would want to change nan to zero, since this might affect some aggregate values.would have to think about the end goal
#so im leaving it as floats and if it needs to be cast to int for display purposes we could to that later

df['last_pymnt_d_year'] = pd.to_datetime(df.last_pymnt_d, infer_datetime_format=True, errors='coerce').dt.year
df['last_pymnt_d_month'] = pd.DatetimeIndex(df.last_pymnt_d).month                   #a different way

In [10]:
df.head()

   id  member_id  ...  last_pymnt_d_year  last_pymnt_d_month
0 NaN        NaN  ...             2019.0                 8.0
1 NaN        NaN  ...             2019.0                 7.0
2 NaN        NaN  ...             2020.0                 4.0
3 NaN        NaN  ...             2020.0                 4.0
4 NaN        NaN  ...             2020.0                 4.0

[5 rows x 148 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

In [11]:
df.revol_util.values #inspect the column

array(['43.2%', '47.1%', '53.9%', ..., '27.3%', '13.1%', '30.8%'],
      dtype=object)

In [12]:
df['test']=df.revol_util.str.rstrip('%')   # not sure whats faster but it seemed cleaner to use the series functionality vs apply 
#df['test']= df.astype({'test': float})
#df.revol_util.plot(kind='hist')
df = df.astype({'test': float})            #operate on a test column 
df = df.drop('test', axis=1)
df['revol_util']=df.revol_util.str.rstrip('%')  # do it
df= df.astype({'revol_util': float})
df.dtypes  #ok its a float now.m

id                      float64
member_id               float64
loan_amnt                 int64
funded_amnt               int64
funded_amnt_inv         float64
                         ...
settlement_term         float64
term_int                 object
loan_status_is_great      int64
last_pymnt_d_year       float64
last_pymnt_d_month      float64
Length: 148, dtype: object

In [31]:
df.emp_title.value_counts()

Teacher                             2090
Manager                             1773
Registered Nurse                     952
Driver                               924
RN                                   726
                                    ...
Assistant plant manager                1
Campus Administrative Assistant        1
Credit and Asset Review Examiner       1
Police sargeant                        1
Trust Manager                          1
Name: emp_title, Length: 43892, dtype: int64

In [36]:
df.emp_title.str.strip().value_counts()   #looks like there was lots of lead /trail whitespace.

Teacher                            2267
Manager                            2022
Registered Nurse                   1054
Driver                             1016
Supervisor                          970
                                   ...
Campus Administrative Assistant       1
JELC Planner/SME                      1
Paint/touch up/decal                  1
Dean, Instructional Support           1
Principal Project Manager             1
Name: emp_title, Length: 40597, dtype: int64

In [37]:
pd.set_option('display.max_rows', 200)
df.emp_title.str.strip().str.lower().value_counts().head(100)  #and making all lowe helps as well

teacher                            2557
manager                            2395
registered nurse                   1418
driver                             1258
supervisor                         1160
truck driver                        920
rn                                  834
office manager                      805
sales                               803
general manager                     791
project manager                     720
owner                               625
director                            523
operations manager                  518
sales manager                       500
police officer                      440
nurse                               425
technician                          420
engineer                            412
administrative assistant            409
store manager                       398
mechanic                            391
assistant manager                   383
server                              357
account manager                     355
vice president                      352
accountant                          335
foreman                             302
electrician                         302
president                           293
machine operator                    284
customer service                    283
executive assistant                 278
operator                            267
branch manager                      267
attorney                            264
maintenance                         254
paralegal                           249
superintendent                      248
bartender                           237
program manager                     226
software engineer                   221
cashier                             215
analyst                             214
medical assistant                   212
machinist                           209
cook                                200
cna                                 196
sales associate                     191
controller                          187
service manager                     186
lpn                                 185
clerk                               184
laborer                             183
director of operations              179
nurse practitioner                  176
executive director                  174
security officer                    172
administrator                       171
business analyst                    169
account executive                   168
social worker                       165
secretary                           164
carpenter                           162
bookkeeper                          161
welder                              159
custodian                           157
district manager                    157
principal                           153
ceo                                 151
case manager                        150
receptionist                        149
production manager                  149
professor                           140
consultant                          140
sales representative                140
property manager                    136
correctional officer                135
legal assistant                     131
customer service representative     131
chef                                129
physician                           129
loan officer                        128
associate                           127
finance manager                     125
it manager                          123
flight attendant                    123
dental hygienist                    120
dental assistant                    120
pharmacist                          119
financial advisor                   119
financial analyst                   116
bus driver                          116
accounting manager                  115
caregiver                           114
dispatcher                          112
sales rep                           112
delivery driver                     111
firefighter                         108
software developer                  108
Name: emp_title, dtype: int64