<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
import pandas as pd
import numpy as np

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-09-29 19:18:57--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.148.13.215, 44.239.121.150, 54.244.115.45
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.148.13.215|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [               <=>  ]  22.28M  6.57MB/s    in 4.1s

2020-09-29 19:19:02 (5.48 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [23360898]

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [2]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
df['term'].head()

0     36 months
1     60 months
2     60 months
3     60 months
4     36 months
Name: term, dtype: object

In [4]:
string = '36 months'

def str_to_int(string):
  return int(string.strip().strip('months'))

In [5]:
# Testing if function works
str_to_int(string)
print(str_to_int(string))

36

In [6]:
df['term'].apply(str_to_int)

0         36
1         60
2         60
3         60
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [7]:
print(df['loan_status'].head())

def loan_status_to_int(status):
  for status in df['loan_status']:
    if status == "Current" or "Fully Paid":
      return 1
    else:
      return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_status_to_int)

df['loan_status_is_great'].head()

0     Fully Paid
1        Current
2        Current
3        Current
4    Charged Off
Name: loan_status, dtype: object

0    1
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [40]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.
df['last_pymnt_d_month'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.month
df['last_pymnt_d_year'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.year


print(df.head())

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                 1.0             2020.0
1 NaN        NaN  ...                 8.0             2020.0
2 NaN        NaN  ...                 8.0             2020.0
3 NaN        NaN  ...                 8.0             2020.0
4 NaN        NaN  ...                 9.0             2019.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [42]:
def str_to_flt(object):
  for object in df['revol_util']:
    return float(object.strip().strip('%'))

df['revol_util_cleaned'] = df['revol_util'].apply(str_to_flt)  

df.head()

   id  member_id  ...  last_pymnt_d_year  revol_util_cleaned
0 NaN        NaN  ...             2020.0                66.8
1 NaN        NaN  ...             2020.0                66.8
2 NaN        NaN  ...             2020.0                66.8
3 NaN        NaN  ...             2020.0                66.8
4 NaN        NaN  ...             2019.0                66.8

[5 rows x 148 columns]

In [79]:
top_20 = df.emp_title.value_counts().head(20).reset_index()

#print(top_20)

def not_top_20(string):
  for string in df.emp_title:
    if string != top_20['index'].all():
      return 'Other'

df['emp_title_cleaned'] = df['emp_title'].apply(not_top_20)

display(df.emp_title_cleaned)

0         Other
1         Other
2         Other
3         Other
4         Other
          ...
128407    Other
128408    Other
128409    Other
128410    Other
128411    Other
Name: emp_title_cleaned, Length: 128412, dtype: object

You can uncomment and run the cells below to re-download and extract the Instacart data

In [9]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [10]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [11]:
# %cd instacart_2017_05_01