<a href="https://colab.research.google.com/github/IshGish/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/DS9_W1D2_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2019-10-01 19:53:10--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [               <=>  ]  21.62M   905KB/s    in 25s

2019-10-01 19:53:36 (874 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22667400]

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [0]:
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

# Data cleaning
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)
print(df.shape)

(128412, 140)

In [0]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_payment_year,last_pymnt_d_year
0,20000,20000,20000.0,36,0.1447,688.13,C,C2,bus driver,4,OWN,52000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,1979-06-01,2,15.0,NaN,6,0,15048,73%,22,w,15777.74,15777.74,6104.740000,6104.74,4222.26,1882.48,0.0,0.0,0.0,2019-09-01,688.13,2019-10-01,2019-09-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,33157,0,2,1,1,8.0,18109,44.0,1,2,8628,73.0,20700,1,1,4,3,5526.0,5175.0,73.0,0,0,141.0,474,10,8,0,10.0,15.0,1.0,15.0,0,4,4,11,12,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0,2019.0
1,25000,25000,25000.0,60,0.1614,609.82,C,C4,Production Manager,5,MORTGAGE,45000.0,Not Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,2003-09-01,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,2019-04-01,24857.33,NaT,2019-05-01,0,NaN,1,Individual,NaN,NaN,NaN,0,1303,49524,0,2,1,2,7.0,40623,82.0,0,0,7830,67.0,24200,2,0,1,2,7075.0,10465.0,43.7,0,0,161.0,162,45,7,4,96.0,NaN,7.0,NaN,0,2,3,3,5,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0,2019.0,2019.0
2,26500,26500,26500.0,60,0.1131,580.28,B,B3,Compliance Director,10,MORTGAGE,134000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,747xx,OK,18.91,0,2006-12-01,2,NaN,NaN,17,0,43640,65.4%,37,w,23410.70,23410.70,5197.540000,5197.54,3089.30,2108.24,0.0,0.0,0.0,2019-09-01,580.28,2019-10-01,2019-09-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,381100,3,3,2,2,4.0,64335,46.0,1,3,10115,58.0,66700,2,1,7,6,22418.0,14577.0,70.4,0,0,114.0,144,3,3,4,22.0,NaN,2.0,NaN,0,8,10,9,10,7,13,26,10,17,0.0,0,0,4,100.0,66.7,0,0,430403,107975,49300,88875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0,2019.0
3,10400,10400,10400.0,36,0.1298,350.32,B,B5,Program Support Assistant,10,MORTGAGE,56099.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,2013-07-01,2,32.0,67.0,8,1,1669,9.8%,10,w,8164.57,8164.57,3141.630000,3141.63,2235.43,906.20,0.0,0.0,0.0,2019-09-01,350.32,2019-10-01,2019-09-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39564,4,2,1,2,1.0,37895,92.0,3,6,725,36.0,17000,1,0,4,8,4946.0,15331.0,9.8,0,0,65.0,57,1,1,0,1.0,NaN,0.0,32.0,0,3,3,6,6,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0,2019.0
4,35000,35000,35000.0,60,0.1298,796.00,B,B5,Sr. Vice President -Risk Manager,7,MORTGAGE,211646.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,1985-09-01,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.0,0.0,2019-04-01,34712.60,NaT,2019-09-01,0,NaN,1,Joint App,272421.0,15.89,Source Verified,0,0,420931,1,3,1,2,5.0,26570,51.0,0,2,24795,65.0,74700,1,6,1,4,32379.0,8677.0,85.5,0,0,152.0,399,21,5,6,21.0,77.0,12.0,77.0,0,6,8,6,11,14,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0,2019.0,2019.0

In [0]:
df.tail()

In [0]:
df.dtypes[:20]

# Things that need to be fixed:
# term - str to int
# int_rate - str to float
# emp_length - str to int
# issue_d - str to date
# earliest_cr_line - str to date

loan_amnt                int64
funded_amnt              int64
funded_amnt_inv        float64
term                    object
int_rate                object
installment            float64
grade                   object
sub_grade               object
emp_title               object
emp_length              object
home_ownership          object
annual_inc             float64
verification_status     object
issue_d                 object
loan_status             object
pymnt_plan              object
purpose                 object
title                   object
zip_code                object
addr_state              object
dtype: object

### term conversion

In [0]:
df['term'] = df['term'].apply(lambda x: int(x.strip().strip(' months')))

# I'm using Lambda here because I don't want to make single-use functions for
# each individual column.

### int_rate conversion

In [0]:
df['int_rate'] = df['int_rate'].apply(lambda x: float(x.strip().strip('%'))/100)

### emp_length conversion

In [0]:
df['emp_length'] = df['emp_length'].fillna('0')
df['emp_length'] = df['emp_length'].apply(lambda x: int(x.strip(' years').strip('+').strip('< ')))

# This one was definitely more complicated by the Nan's, which I didn't notice
# until I accidentally printed out the column longer than I'd intended. Plus,
# they all need to be the same type so that they can be manipulated without
# making errors, then be converted back into integers.

### Date conversion for:
issue_d, last_pymnt_d, next_pymnt_d, and last_credit_pull_d, earliest_cr_line conversion

In [0]:
list_of_columns = ['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'earliest_cr_line']

for column in list_of_columns:
  df[column] = pd.to_datetime(df[column], infer_datetime_format=True)

# Decided to just go through all of the dates in one go instead of by hand
# since they're all the same anyway.

print(df.dtypes['issue_d'],
      df.dtypes['last_pymnt_d'],
      df.dtypes['next_pymnt_d'],
      df.dtypes['last_credit_pull_d'],
      df.dtypes['earliest_cr_line'])

datetime64[ns] datetime64[ns] datetime64[ns] datetime64[ns] datetime64[ns]

### Column Addition
Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
df['loan_status_is_great'] = df['loan_status']
position = -1

list_of_things = []

for status in df['loan_status']:
  position += 1

  if (status == "Current") or (status == "Fully Paid"):
    list_of_things.append(1)
  else:
    list_of_things.append(0)

df['loan_status_is_great'] = list_of_things

print(df['loan_status'][20000:20010])
print(df['loan_status_is_great'][20000:20010])

# This one was a pain. I'd thought I could just overwrite any of the values
# like elsewhere in Python, but it's very finicy about it and I was having
# trouble finding out why. It's making a temporary copy that works only
# inside the for loop, so instead I made a list which overwrites the entire
# column.

20000        Current
20001        Current
20002        Current
20003        Current
20004     Fully Paid
20005        Current
20006    Charged Off
20007     Fully Paid
20008        Current
20009        Current
Name: loan_status, dtype: object
20000    1
20001    1
20002    1
20003    1
20004    1
20005    1
20006    0
20007    1
20008    1
20009    1
Name: loan_status_is_great, dtype: int64

### Further column additions
Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df['last_pymnt_d_year'], df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.year, df['last_pymnt_d'].dt.month

print(df['last_pymnt_d_month'][:10],
      df['last_pymnt_d_year'][:10])

0    9.0
1    4.0
2    9.0
3    9.0
4    4.0
5    2.0
6    9.0
7    9.0
8    9.0
9    9.0
Name: last_pymnt_d_month, dtype: float64 0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
5    2019.0
6    2019.0
7    2019.0
8    2019.0
9    2019.0
Name: last_pymnt_d_year, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# Data cleaning
df['revol_util'] = df['revol_util'].apply(lambda x: float(str(x).strip('%'))/100)

In [0]:
# Got the average of 'revol_util' and filled all NaN with that.

average = df['revol_util'].value_counts().mean()
df['revol_util'] = df.fillna(average)['revol_util']

print(df['revol_util'].value_counts().mean(), average)

119.45302325581396 119.45302325581396

In [0]:
df['revol_util'][:10]

0    0.00730
1    0.00368
2    0.00654
3    0.00098
4    0.00749
5    0.00299
6    0.00496
7    0.00509
8    0.00278
9    0.00407
Name: revol_util, dtype: float64

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01