<a href="https://colab.research.google.com/github/HKang42/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Harrison_Kang_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
from google.colab import files

uploaded = files.upload()

# file downloaded from  "https://files.slack.com/files-pri/T4JUEB3ME-FTV8UBD2L/download/loanstats_2017q1_2.csv"

In [5]:
import pandas as pd

df = pd.read_csv('LoanStats_2017Q1 2.csv', skiprows=1, skipfooter=2, error_bad_lines=False)

df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
Skipping line 50108: unexpected end of data. Error could possibly be due to parsing errors in the skipped footer rows (the skipfooter keyword is only applied after Python's csv library has parsed all rows).

   id  ...  sec_app_mths_since_last_major_derog
0 NaN  ...                                  NaN
1 NaN  ...                                  NaN
2 NaN  ...                                  NaN
3 NaN  ...                                  NaN
4 NaN  ...                                  NaN

[5 rows x 122 columns]

**Convert the term column from string to integer.**

In [7]:
#check for null values

print( "Number of null values is: " + str( df['term'].isnull().sum() ))

#check what the values look like

print( "\nValue counts are: \n" + str(df['term'].value_counts() ))

Number of null values is: 0

Value counts are:
 36 months    37388
 60 months    12715
Name: term, dtype: int64

In [0]:
# write function to convert from string to int

def month_stripper(month):
  int_month = month.strip('months').strip()
  return int(int_month)

In [0]:
# apply strip function to database

df['term'] = df['term'].apply(month_stripper)

In [10]:
# check if we succeeded

df['term'].value_counts()

36    37388
60    12715
Name: term, dtype: int64

**Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.**

In [11]:
#check for null values

print( "Number of null values is: " + str( df['loan_status'].isnull().sum() ))

#check what the values look like

print( "\nValue counts are: \n" + str(df['loan_status'].value_counts() ))

Number of null values is: 0

Value counts are:
Current               34186
Issued                15071
Fully Paid              700
In Grace Period         110
Late (16-30 days)        33
Late (31-120 days)        3
Name: loan_status, dtype: int64

In [0]:
# write function to check loan status and return either 1 (for current or fully paid loans) or 0 (any other case)

def loan_checker(status):
  if status == "Current" or status == "Fully Paid":
    return 1
  
  else:
    return 0

In [0]:
# Apply function to database

df['loan_status_is_great'] = df['loan_status'].apply(loan_checker)

In [28]:
# check if we succeeded

df['loan_status_is_great'].value_counts()

1    34886
0    15217
Name: loan_status_is_great, dtype: int64

**Make last_pymnt_d_month and last_pymnt_d_year columns.**

In [42]:
df['last_pymnt_d'].head(10)

0         NaN
1         NaN
2         NaN
3         NaN
4    Apr-2017
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
Name: last_pymnt_d, dtype: object

In [39]:
#check for null values

print( "Number of null values is: " + str( df['last_pymnt_d'].isnull().sum() ))

#check what the values look like

print( "\nValue counts are: \n" + str(df['last_pymnt_d'].value_counts() ))

Number of null values is: 17062

Value counts are:
Apr-2017    22969
Mar-2017    10063
Feb-2017        9
Name: last_pymnt_d, dtype: int64

the pd.to_datetime() function can handle NaN values so we're probably fine leaving them as is

In [0]:
def last_month(date):
  month = pd.to_datetime( date ).month
  return month

def last_year(date):
  year = pd.to_datetime( date ).year
  return year

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].apply(last_month)

df['last_pymnt_d_year'] = df['last_pymnt_d'].apply(last_year)

In [68]:
# Check values

print("Month\n")
print( df['last_pymnt_d_month'].value_counts())

print("\n\nYear\n")
print( df['last_pymnt_d_year'].value_counts())

Month

4.0    22969
3.0    10063
2.0        9
Name: last_pymnt_d_month, dtype: int64


Year

2017.0    33041
Name: last_pymnt_d_year, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

**There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.**

In [76]:
df['int_rate'].value_counts(dropna = False)

 12.74%    4609
 11.49%    4293
 14.99%    3341
 15.99%    3296
  8.24%    3265
 13.49%    3196
 13.99%    2969
 11.44%    2785
 11.39%    2457
 16.99%    2406
 10.49%    2320
  5.32%    2160
  7.99%    1893
 18.99%    1457
  7.49%    1424
  6.99%    1345
 17.99%    1253
  7.24%    1240
 22.74%     847
 19.99%     696
 23.99%     646
 25.49%     428
 28.69%     384
 26.24%     355
 24.74%     251
 29.49%     155
 29.99%     122
 30.49%     113
 30.74%      94
 21.49%      70
 30.79%      64
 30.84%      56
 30.89%      43
 30.99%      41
 30.94%      28
  6.00%       1
Name: int_rate, dtype: int64

There don't seem to be any NaN values. But I'll try to handle such cases anyways

In [0]:
# define function for converting string to float.

def interest_float(rate):
  if type(rate) == float:
    return rate

  else: 
    float_rate = float( rate.strip("%").strip())
    return float_rate

In [0]:
# apply the function

df['int_rate'] = df['int_rate'].apply(interest_float)

In [91]:
# Check values

df['int_rate'].dtypes

df['int_rate'].head()

0     7.49
1    14.99
2    11.39
3    10.49
4     7.24
Name: int_rate, dtype: float64

**Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.**

In [0]:
"""
We know there are a lot of incorrectly labeled titles (Owner and owner or Registered nurse and RN)



Use value counts to get a list of titles and their associated counts

Combine titles where appropriate
 - convert all titles to lower case and combine
 - strip titles and combine
 - manually check top 20 for any remaining duplicates (e.g. registered nurse and RN) and combine


Write function that:
 - takes the dataframe and a list as arguments
 - checks if the dataframe entry is in the list
 - If the check is True, then pass
 - Else, return "other"

Use the apply function to create the new column using our function
"""

In [127]:
jobs = df['emp_title'].value_counts().index

print (jobs)

type(jobs)

Index(['Teacher', 'Manager', 'Owner', 'Driver', 'RN', 'Registered Nurse',
       'Sales', 'Supervisor', 'Project Manager', 'owner',
       ...
       'Manager Technical Audit ', 'Senior Principal Consultant',
       'Safety Dept.Tour Spervisor', 'Mooring Manager',
       'Financial Sales Representative', 'die-cutter', 'Car Maintaince ',
       'Appeal Board Specialist', 'Lead Officer', 'RN Case Manager '],
      dtype='object', length=20587)

pandas.core.indexes.base.Index

In [0]:
# get the index of the value counts series and convert it to a list

jobs = list( df['emp_title'].value_counts().index )

In [135]:
jobs[0:20]

['Teacher',
 'Manager',
 'Owner',
 'Driver',
 'RN',
 'Registered Nurse',
 'Sales',
 'Supervisor',
 'Project Manager',
 'owner',
 'Office Manager',
 'Director',
 'General Manager',
 'President',
 'Operations Manager',
 'teacher',
 'manager',
 'Attorney',
 'Engineer',
 'Vice President']