# Indexing, Loops and a Function

# Indexing
We've spent some time going over datatypes and variable objects. However, we may be interested in doing more than just reassigning objects. Run the following code cells.

In [ ]:
#Here is a list of multiple string objects

list_of_names = ["Diana", "Carlos", "Theresa", "Yun"]

In [ ]:
#With list indexing, you can select items by using [] at the end of a list object. 
list_of_names[1]

'Carlos'

In [ ]:
#Now You Try. Select the third name on the list (Remember Python is a 0-indexed language)

In [ ]:
#Moreso, you can use indexing to navigate deeper into particular objects. 
list_of_names[1][0]


#note that the output is the first letter of Carlos' name.

'C'

In [ ]:
#Indexing allows you to select multiple objects, either in a list or in a string

list_of_names[:2]
#The [:2] will select the first two objects in the list.

['Diana', 'Carlos']

In [ ]:
#You can also filter even further, since you've created a list with two objects. 
list_of_names[:2][1]

'Carlos'

In [ ]:
#challenge
new_list = ['Ramires', 'Kevin', 'Ariana', list_of_names, 'Martin']

#from this list, use indexing to output the name 'Diana'
new_list

['Ramires', 'Kevin', 'Ariana', ['Diana', 'Carlos', 'Theresa', 'Yun'], 'Martin']

## For Loops
Sometimes, you'll need to iterate through every object in a collection of values.

In [ ]:
numbers_list = [2, 4, 6, 8, 10]

In [ ]:
#to iterate in python, we use what's called a 'for loop'

for i in numbers_list:  #the letter i, in this case, serves as a placeholder for every variable in the list
  print(i * 2)          #see how every single i is being multiplied by 2

4
8
12
16
20

In [ ]:
#What this means, is that you can now convert all the values in a list to their individual datatype:

type(list_of_names)

list

In [ ]:
for i in list_of_names:
  print(i, type(i))

Diana <class 'str'>
Carlos <class 'str'>
Theresa <class 'str'>
Yun <class 'str'>

In [ ]:
#so you can now use methods that are applicable only to strings to the whole list

for i in list_of_names:
  print(i.lower())      #.lower is a string method that lowercases all the letters in a string.

diana
carlos
theresa
yun

## Functions

Sometimes, you want to be able to build an object that will perform a task in multiple instances. This is the core of creating basic programs in Python.

In [ ]:
def adds_three(x):
  '''
    Adds three to any number
  '''
  return x + 3

In [ ]:
adds_three(3)

6

#### The syntax for a function is a little more complex, but note that you start by using the letters 'def' to start a function and a () to include arguments or parameters.

In [ ]:
def adds_anna(x):
  '''
  takes a list and adds the letters -anna 
  '''
  new_list = []
  for i in x:
    new_list.append(i + 'anna')
  return new_list

In [ ]:
adds_anna(list_of_names)

['Dianaanna', 'Carlosanna', 'Theresaanna', 'Yunanna']

#### Practice

In [ ]:
# Create a function that takes any number and subtracts 5.


#Create a loop that divides all numbers in a list by 2.