<a href="https://colab.research.google.com/github/jasimrashid/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

## **Replicating Lesson Code**

In [0]:
##### Begin Working Here #####

import pandas as pd

#pandas display options
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

### Amex Iowa Housing Dataset

In [0]:
# Ames Iowa Housing Dataset
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [0]:
print(df.shape)
print(df.dtypes)
print(df.head(10))

In [0]:
df['BedroomAbvGr']

In [0]:
df['LotFrontage']

In [0]:
df['LotFrontage'].value_counts(dropna=False)

In [0]:
import numpy as np
type(np.NaN)

In [0]:
# Make new column

In [0]:
df_small = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy()
df_small.head()

In [0]:
df_small['TotalSquareFootage'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF']

df_small.head()

### Lending Club Loan Dataset

In [13]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-04-07 19:41:58--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 34.214.150.56, 52.27.155.37, 54.212.130.102
Connecting to resources.lendingclub.com (resources.lendingclub.com)|34.214.150.56|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.77M  1.85MB/s    in 12s

2020-04-07 19:42:11 (1.80 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22826918]

In [14]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

In [17]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3235.65","3235.65","3223.02","3223.02","2364.35","858.67","0.0","0.0","0.0","Mar-2020","190.21","Apr-2020","Mar-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","5831.03","5831.03","5886.58","5886.58","4168.97","1717.61","0.0","0.0","0.0","Mar-2020","346.76","Apr-2020","Mar-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2888.98","2888.98","2883.34","2883.34","2111.02","772.32","0.0","0.0","0.0","Mar-2020","169.83","Apr-2020","Mar-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5687.01","5544.84","5555.2","5416.32","4312.99","1242.21","0.0","0.0","0.0","Mar-2020","327.68","Apr-2020","Mar-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5899.34","5899.34","6043.97","6043.97","4100.66","1943.31","0.0","0.0","0.0","Mar-2020","356.08","Apr-2020","Mar-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [144]:
df = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [139]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,35000,35000,35000.0,36 months,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,Dec-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,Aug-2019,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,5000,5000,5000.0,36 months,22.35%,191.86,D,D5,Director of Sales,10+ years,MORTGAGE,72000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,Jul-2019,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10000,10000,10000.0,60 months,23.40%,284.21,E,E1,NaN,< 1 year,RENT,55000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,Mar-2020,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,17100,17100,17100.0,36 months,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,Mar-2020,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4000,4000,4000.0,36 months,10.72%,130.43,B,B2,Extrusion assistant,10+ years,MORTGAGE,56000.0,Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,Mar-2020,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.tail()

In [0]:
df.isnull().sum().sort_values()

In [0]:
df = df.drop(['url','member_id','id','desc'],axis=1)

In [93]:
df['int_rate'].head(10)

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
5     11.31%
6     11.31%
7     11.80%
8     11.80%
9     18.94%
Name: int_rate, dtype: object

In [38]:
df['int_rate'][6]

' 11.31%'

In [42]:
int_rate = ' 15.77%'
int_rate.strip().strip('%')

'15.77'

In [0]:
def int_rate_to_float(dirty_int_rate):
  return float(dirty_int_rate.strip().strip('%'))

In [0]:
int_rate_to_float(int_rate)

In [46]:
df['int_rate'].head()

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
Name: int_rate, dtype: object

In [0]:
int_rates = [' 14.47%',' 15.47%',' 16.47%',' 17.47%',' 18.47%']

In [0]:
clean_int_rates=[]
for int_rate in int_rates:
  clean_int_rates.append(int_rate_to_float(int_rate))

clean_int_rates = pd.Series(clean_int_rates)

In [0]:
clean_int_rates

In [0]:
df['int_rate_cleaned'] = df['int_rate'].apply(int_rate_to_float)

In [96]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [97]:
df['emp_title'].nunique()

43892

In [98]:
len(df['emp_title'].value_counts())

43892

In [99]:
df['emp_title'].isnull().sum()

20947

In [0]:
import numpy as np
examples = ['owner', 'Supervisor', ' Project Manager',np.NaN]

In [101]:
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

for example in examples:
  print(clean_emp_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'].apply(clean_emp_title).head

In [102]:
df['emp_title'].apply(clean_emp_title).nunique()

34902

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

In [104]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned
0,35000,35000,35000.0,36 months,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,Aug-2019,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47
1,5000,5000,5000.0,36 months,22.35%,191.86,D,D5,Director Of Sales,10+ years,MORTGAGE,72000.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,Jul-2019,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,22.35
2,10000,10000,10000.0,60 months,23.40%,284.21,E,E1,Unknown,< 1 year,RENT,55000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,Mar-2020,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,23.40
3,17100,17100,17100.0,36 months,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,Mar-2020,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,18.94
4,4000,4000,4000.0,36 months,10.72%,130.43,B,B2,Extrusion Assistant,10+ years,MORTGAGE,56000.0,Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,Mar-2020,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.72

In [183]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [184]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [185]:
df['issue_d'].value_counts()

Oct-2018    46305
Nov-2018    41973
Dec-2018    40134
Name: issue_d, dtype: int64

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
df

In [190]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [191]:
df['issue_d'].head()[0]

Timestamp('2018-12-01 00:00:00')

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [194]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year,issue_year,issue_month
0,35000,35000,35000.0,36,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,2019-08-01,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,8.0,2019.0,2018,12
1,5000,5000,5000.0,36,22.35%,191.86,D,D5,Director of Sales,10+ years,MORTGAGE,72000.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,2019-07-01,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019.0,2018,12
2,10000,10000,10000.0,60,23.40%,284.21,E,E1,NaN,< 1 year,RENT,55000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,2020-03-01,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0,2018,12
3,17100,17100,17100.0,36,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,2020-03-01,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0,2018,12
4,4000,4000,4000.0,36,10.72%,130.43,B,B2,Extrusion assistant,10+ years,MORTGAGE,56000.0,Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,2020-03-01,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0,2018,12

In [195]:
df.dtypes[-5:]

loan_status_is_great      int64
last_pymnt_d_month      float64
last_pymnt_d_year       float64
issue_year                int64
issue_month               int64
dtype: object

TypeError: ignored

## **Convert term from string to integer**

In [189]:
df.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,35000,35000,35000.0,36,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,2019-08-01,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,8.0,2019.0
1,5000,5000,5000.0,36,22.35%,191.86,D,D5,Director of Sales,10+ years,MORTGAGE,72000.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,2019-07-01,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0,2019.0
2,10000,10000,10000.0,60,23.40%,284.21,E,E1,NaN,< 1 year,RENT,55000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,2020-03-01,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
3,17100,17100,17100.0,36,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,2020-03-01,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
4,4000,4000,4000.0,36,10.72%,130.43,B,B2,Extrusion assistant,10+ years,MORTGAGE,56000.0,Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,2020-03-01,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
5,10475,10475,10475.0,36,11.31%,344.48,B,B3,Teacher,6 years,RENT,66150.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,786xx,TX,7.40,0,Jun-1991,0,28.0,NaN,10,0,10499,40.2%,17,w,6535.06,6535.06,5157.330000,5157.33,3939.94,1217.39,0.0,0.0,0.0,2020-03-01,344.48,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,10499,1,0,0,0,84.0,0,NaN,3,5,3841,40.0,26100,2,1,5,5,1312.0,14847.0,36.8,0,0,88.0,330,3,3,2,7.0,NaN,1.0,28.0,0,5,8,7,8,2,10,13,8,10,0.0,0,0,3,88.2,60.0,0,0,26100,10499,23500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
6,7500,7500,7500.0,36,11.31%,246.65,B,B3,Supervisor,7 years,MORTGAGE,40500.0,Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,604xx,IL,31.61,0,Sep-1996,1,NaN,NaN,23,0,14218,16.3%,33,w,4862.42,4862.42,3508.340000,3508.34,2637.58,855.76,15.0,0.0,0.0,2020-03-01,1016.60,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,123779,3,2,1,1,12.0,8096,29.0,3,6,2972,19.0,87000,0,0,2,7,5626.0,21078.0,23.9,0,0,59.0,267,1,1,1,6.0,NaN,6.0,NaN,0,4,6,7,10,2,20,30,6,23,0.0,0,0,4,100.0,0.0,0,0,221569,22314,27700,28409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
7,3600,3600,3600.0,36,11.80%,119.23,B,B4,Analyst,5 years,MORTGAGE,50000.0,Source Verified,2018-12-01,Fully Paid,n,other,Other,427xx,KY,16.11,0,Jan-2002,2,NaN,NaN,10,0,5865,17.4%,17,w,0.00,0.00,4004.169644,4004.17,3600.00,404.17,0.0,0.0,0.0,2020-02-01,2678.48,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,243415,3,3,1,2,3.0,68184,95.0,1,3,0,53.0,33700,2,1,10,6,24342.0,17300.0,0.0,0,0,203.0,198,4,3,1,18.0,NaN,3.0,NaN,1,0,1,4,6,6,6,10,1,10,0.0,0,0,3,93.8,0.0,0,0,272629,74049,17300,68929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2020.0
8,22000,22000,22000.0,60,11.80%,487.16,B,B4,Corporate Communications Strategist,10+ years,MORTGAGE,155000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,462xx,IN,28.56,0,Sep-1984,0,NaN,NaN,15,0,23390,44.7%,33,w,17645.37,17645.37,7285.770000,7285.77,4354.63,2931.14,0.0,0.0,0.0,2020-03-01,487.16,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,420664,1,5,1,1,5.0,145487,33.0,0,2,12917,39.0,52300,0,3,0,3,28044.0,1883.0,87.3,0,0,125.0,411,16,5,3,158.0,NaN,16.0,NaN,0,1,4,3,8,10,8,20,4,15,0.0,0,0,1,100.0,33.3,0,0,540220,168877,14800,172175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0
9,10450,10450,10450.0,36,18.94%,382.74,D,D2,Project Manager,10+ years,MORTGAGE,70000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,371xx,TN,27.38,0,Jul-2007,0,NaN,NaN,11,0,34628,87%,24,w,7067.27,7067.27,5352.870000,5352.87,3382.73,1970.14,0.0,0.0,0.0,2020-03-01,382.74,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,410636,0,1,0,0,26.0,6660,38.0,0,2,4447,72.0,39800,0,8,1,3,37331.0,0.0,102.0,0,0,137.0,122,16,7,1,21.0,NaN,9.0,NaN,0,3,9,3,5,7,9,15,9,11,0.0,0,0,1,100.0,100.0,0,0,429450,41288,11800,17500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,2020.0

In [135]:
df['term'].value_counts(dropna=False)

NaN     128407
36.0         4
60.0         1
Name: term, dtype: int64

In [0]:
import numpy as np

examples = [' 36 months', ' 60 months', '36 months','60 months']

In [0]:
# term = ' 36 months'
# float(term.strip().strip(' months'))

def term_to_integer(term):
  if isinstance(term, str):
    return int(term.strip().strip(' months'))
  else:
    return "Unknown"

# for example in examples:
#   print(term_to_integer(example))

In [151]:
print(df['term'])

0         36
1         36
2         60
3         36
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [0]:
df['term'].apply(term_to_integer).head()

In [0]:
df['term'] = df['term'].apply(term_to_integer)

In [154]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,35000,35000,35000.0,36,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,Aug-2019,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,5000,5000,5000.0,36,22.35%,191.86,D,D5,Director of Sales,10+ years,MORTGAGE,72000.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,Jul-2019,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,60,23.40%,284.21,E,E1,NaN,< 1 year,RENT,55000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,Mar-2020,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,17100,17100,17100.0,36,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,Mar-2020,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4000,4000,4000.0,36,10.72%,130.43,B,B2,Extrusion assistant,10+ years,MORTGAGE,56000.0,Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,Mar-2020,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

##**Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0**

In [156]:
df['loan_status'].value_counts(dropna=False)

Current               89058
Fully Paid            26966
Charged Off            7668
Late (31-120 days)     2206
In Grace Period        1844
Late (16-30 days)       609
Default                  61
Name: loan_status, dtype: int64

In [0]:
def loan_status_is_great(loan_status):
  if loan_status in ['Current', 'Fully Paid']:
    return 1
  else:
    return 0

In [0]:
import numpy as np
examples = ['Current','Fully Paid','Charged Off']

In [0]:
for example in examples:
  print(loan_status_is_great(example))

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_status_is_great)

In [0]:
df['loan_status_is_great'].value_counts(dropna=False)

In [169]:
df.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,35000,35000,35000.0,36,14.47%,1204.23,C,C2,Staff Physician,8 years,MORTGAGE,360000.0,Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,336xx,FL,19.90,0,Apr-1995,1,NaN,NaN,24,0,57259,43.2%,51,w,0.00,0.00,38187.046837,38187.05,35000.00,3187.05,0.0,0.0,0.0,Aug-2019,29882.16,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,828060,0,6,1,2,9.0,112027,29.0,4,8,19118,36.0,132400,3,2,5,11,34503.0,67341.0,46.0,0,0,173.0,284,8,8,3,8.0,NaN,0.0,NaN,0,11,11,13,20,23,16,24,11,24,0.0,0,0,5,100.0,30.8,0,0,1222051,169286,124600,258401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,5000,5000,5000.0,36,22.35%,191.86,D,D5,Director of Sales,10+ years,MORTGAGE,72000.0,Source Verified,Dec-2018,Fully Paid,n,debt_consolidation,Debt consolidation,333xx,FL,20.12,0,Mar-2010,0,NaN,NaN,13,0,11720,47.1%,26,f,0.00,0.00,5615.977674,5615.98,5000.00,615.98,0.0,0.0,0.0,Jul-2019,4474.13,NaN,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,534,189279,0,1,0,1,18.0,22698,NaN,0,0,4056,47.0,24900,1,0,1,2,14560.0,8163.0,55.1,0,0,105.0,90,29,8,5,40.0,NaN,9.0,NaN,0,6,11,6,8,4,11,17,11,13,0.0,0,0,1,100.0,50.0,0,0,218686,34418,18200,37786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,10000,10000,10000.0,60,23.40%,284.21,E,E1,NaN,< 1 year,RENT,55000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,902xx,CA,13.51,0,Apr-2007,0,44.0,88.0,9,1,11859,53.9%,11,w,8462.43,8462.43,4243.650000,4243.65,1537.57,2706.08,0.0,0.0,0.0,Mar-2020,284.21,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,21235,0,1,0,1,20.0,9376,76.0,0,3,3122,62.0,22000,1,0,0,4,2359.0,1119.0,89.3,0,0,140.0,140,13,13,0,13.0,NaN,15.0,44.0,0,4,7,4,5,2,8,9,7,9,0.0,0,0,0,90.9,100.0,1,0,34386,21235,10500,12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
3,17100,17100,17100.0,36,18.94%,626.30,D,D2,Receptionist,10+ years,RENT,38000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,150xx,PA,38.09,0,Mar-1998,1,47.0,NaN,14,0,15323,53%,21,w,11120.22,11120.22,9367.510000,9367.51,5979.78,3387.73,0.0,0.0,0.0,Mar-2020,626.30,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,43351,1,2,1,1,10.0,28028,67.0,1,5,7533,53.0,29170,0,0,2,6,3096.0,4150.0,77.0,0,0,125.0,230,5,5,2,5.0,NaN,5.0,NaN,0,4,12,5,5,5,12,14,9,14,NaN,0,0,2,95.0,75.0,0,0,70954,43351,16600,41784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,4000,4000,4000.0,36,10.72%,130.43,B,B2,Extrusion assistant,10+ years,MORTGAGE,56000.0,Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,301xx,GA,31.03,0,Sep-2006,0,NaN,NaN,7,0,4518,28.6%,11,w,2487.19,2487.19,1943.360000,1943.36,1512.81,430.55,0.0,0.0,0.0,Mar-2020,130.43,Apr-2020,Mar-2020,1,NaN,1,Individual,NaN,NaN,NaN,0,136,192983,0,2,0,2,14.0,66857,NaN,0,3,1608,29.0,15800,3,0,0,5,27569.0,7835.0,36.3,0,0,147.0,29,22,14,1,22.0,NaN,17.0,NaN,0,3,4,3,3,6,4,4,4,7,0.0,0,0,0,100.0,0.0,0,0,221310,71375,12300,77865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
5,10475,10475,10475.0,36,11.31%,344.48,B,B3,Teacher,6 years,RENT,66150.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,786xx,TX,7.40,0,Jun-1991,0,28.0,NaN,10,0,10499,40.2%,17,w,6535.06,6535.06,5157.330000,5157.33,3939.94,1217.39,0.0,0.0,0.0,Mar-2020,344.48,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,10499,1,0,0,0,84.0,0,NaN,3,5,3841,40.0,26100,2,1,5,5,1312.0,14847.0,36.8,0,0,88.0,330,3,3,2,7.0,NaN,1.0,28.0,0,5,8,7,8,2,10,13,8,10,0.0,0,0,3,88.2,60.0,0,0,26100,10499,23500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
6,7500,7500,7500.0,36,11.31%,246.65,B,B3,Supervisor,7 years,MORTGAGE,40500.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,604xx,IL,31.61,0,Sep-1996,1,NaN,NaN,23,0,14218,16.3%,33,w,4862.42,4862.42,3508.340000,3508.34,2637.58,855.76,15.0,0.0,0.0,Mar-2020,1016.60,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,123779,3,2,1,1,12.0,8096,29.0,3,6,2972,19.0,87000,0,0,2,7,5626.0,21078.0,23.9,0,0,59.0,267,1,1,1,6.0,NaN,6.0,NaN,0,4,6,7,10,2,20,30,6,23,0.0,0,0,4,100.0,0.0,0,0,221569,22314,27700,28409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
7,3600,3600,3600.0,36,11.80%,119.23,B,B4,Analyst,5 years,MORTGAGE,50000.0,Source Verified,Dec-2018,Fully Paid,n,other,Other,427xx,KY,16.11,0,Jan-2002,2,NaN,NaN,10,0,5865,17.4%,17,w,0.00,0.00,4004.169644,4004.17,3600.00,404.17,0.0,0.0,0.0,Feb-2020,2678.48,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,243415,3,3,1,2,3.0,68184,95.0,1,3,0,53.0,33700,2,1,10,6,24342.0,17300.0,0.0,0,0,203.0,198,4,3,1,18.0,NaN,3.0,NaN,1,0,1,4,6,6,6,10,1,10,0.0,0,0,3,93.8,0.0,0,0,272629,74049,17300,68929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
8,22000,22000,22000.0,60,11.80%,487.16,B,B4,Corporate Communications Strategist,10+ years,MORTGAGE,155000.0,Source Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,462xx,IN,28.56,0,Sep-1984,0,NaN,NaN,15,0,23390,44.7%,33,w,17645.37,17645.37,7285.770000,7285.77,4354.63,2931.14,0.0,0.0,0.0,Mar-2020,487.16,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,420664,1,5,1,1,5.0,145487,33.0,0,2,12917,39.0,52300,0,3,0,3,28044.0,1883.0,87.3,0,0,125.0,411,16,5,3,158.0,NaN,16.0,NaN,0,1,4,3,8,10,8,20,4,15,0.0,0,0,1,100.0,33.3,0,0,540220,168877,14800,172175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
9,10450,10450,10450.0,36,18.94%,382.74,D,D2,Project Manager,10+ years,MORTGAGE,70000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,371xx,TN,27.38,0,Jul-2007,0,NaN,NaN,11,0,34628,87%,24,w,7067.27,7067.27,5352.870000,5352.87,3382.73,1970.14,0.0,0.0,0.0,Mar-2020,382.74,Apr-2020,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,410636,0,1,0,0,26.0,6660,38.0,0,2,4447,72.0,39800,0,8,1,3,37331.0,0.0,102.0,0,0,137.0,122,16,7,1,21.0,NaN,9.0,NaN,0,3,9,3,5,7,9,15,9,11,0.0,0,0,1,100.0,100.0,0,0,429450,41288,11800,17500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1

## **Make last_pymnt_d_month and last_pymnt_d_year columns**

In [170]:
df['last_pymnt_d'].value_counts(dropna=False)

Mar-2020    91525
Feb-2020     3230
Jul-2019     3146
Dec-2019     2763
Sep-2019     2755
Oct-2019     2722
Aug-2019     2716
May-2019     2547
Nov-2019     2394
Jan-2020     2384
Apr-2019     2356
Jun-2019     2288
Mar-2019     1984
Feb-2019     1915
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
NaN           159
Name: last_pymnt_d, dtype: int64

In [171]:
df['last_pymnt_d'].head()

0    Aug-2019
1    Jul-2019
2    Mar-2020
3    Mar-2020
4    Mar-2020
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

In [173]:
df['last_pymnt_d'].head()

0   2019-08-01
1   2019-07-01
2   2020-03-01
3   2020-03-01
4   2020-03-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [182]:
df[['last_pymnt_d','last_pymnt_d_year','last_pymnt_d_month']]

       last_pymnt_d  last_pymnt_d_year  last_pymnt_d_month
0        2019-08-01             2019.0                 8.0
1        2019-07-01             2019.0                 7.0
2        2020-03-01             2020.0                 3.0
3        2020-03-01             2020.0                 3.0
4        2020-03-01             2020.0                 3.0
...             ...                ...                 ...
128407   2018-12-01             2018.0                12.0
128408   2020-03-01             2020.0                 3.0
128409   2020-03-01             2020.0                 3.0
128410   2020-03-01             2020.0                 3.0
128411   2020-03-01             2020.0                 3.0

[128412 rows x 3 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

### Lending Club Options

### Instacart Options

You can uncomment and run the cells below to re-download and extract the Instacart data

In [199]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-04-07 22:39:25--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.206.37
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.206.37|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  46.7MB/s    in 4.7s

2020-04-07 22:39:30 (42.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [200]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [201]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [204]:
!head products.csv

product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13
3,Robust Golden Unsweetened Oolong Tea,94,7
4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1
5,Green Chile Anytime Sauce,5,13
6,Dry Nose Oil,11,11
7,Pure Coconut Water With Orange,98,7
8,Cut Russet Potatoes Steam N' Mash,116,1
9,Light Strawberry Blueberry Yogurt,120,16

In [0]:
import pandas as pd
df = pd.read_csv('products.csv')

In [207]:
len(df['product_name'])

49688

In [208]:
df['product_name'].nunique()

49688

Feature Engineering: Can you choose one feature from bulleted lists


*   Choosing product features