<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
# reading in the dataset 
source_url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'
iowa = pd.read_csv(source_url)

In [4]:
# random 5 rows to check give data a quick glance 
iowa.sample(5)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
994    995          20       RL  ...        WD         Normal    337500
762    763          60       FV  ...       Con         Normal    215200
149    150          50       RM  ...        WD         Normal    115000
1235  1236          70       RL  ...        WD         Normal    138887
799    800          50       RL  ...        WD         Normal    175000

[5 rows x 81 columns]

In [5]:
# Checking the rows and columns of the data
iowa.shape

(1460, 81)

In [6]:
# getting descriptive stats on two columns 
iowa[['YearBuilt', 'MSSubClass']].describe()

         YearBuilt   MSSubClass
count  1460.000000  1460.000000
mean   1971.267808    56.897260
std      30.202904    42.300571
min    1872.000000    20.000000
25%    1954.000000    20.000000
50%    1973.000000    50.000000
75%    2000.000000    70.000000
max    2010.000000   190.000000

In [7]:
# setting so that all rows show not truncated 
pd.set_option('display.max_rows', 100)
# Checking the data type of the first 4 columns 
iowa.dtypes[:4]

Id               int64
MSSubClass       int64
MSZoning        object
LotFrontage    float64
dtype: object

In [8]:
#Looking at the data type in BedroomAbvGr
#should be an integer from look in sample of data  
iowa['BedroomAbvGr'].dtype

dtype('int64')

In [9]:
# Calling column with the dot method (limited functionality)
#Users of this should be publicly shamed =) 
iowa.Fireplaces.sample(4)

1341    0
136     1
700     1
1355    1
Name: Fireplaces, dtype: int64

In [10]:
#calling with brackets method
#Same results but much more functionality 
iowa['Fireplaces'].sample(4)

697    0
622    0
24     1
448    1
Name: Fireplaces, dtype: int64

In [11]:
# example of functionality 
# dot method can't take cloumns with spaces in between name
# dot method can't select two different columns  
iowa[['Fire Places','BedroomAbvGr']].sample(4)

      Fireplaces  BedroomAbvGr
158            1             3
1325           0             2
1064           1             3
300            2             2

In [14]:
# checking to see if dtype matches what we see in LotFrontage 
# we see it was coded as a float when it should be an integer 
iowa['LotFrontage'].head()

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64

In [15]:
# checking to see the most common occurance in data 
# Will help determine why the data was casted to a float 
iowa['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [16]:
# NaN is the most common dtype
# loading in nan from numpy so we can explore it 
import numpy as np
np.nan

nan

In [17]:
# Checking what dtype nan is for more insight into the problem 
# we find that nan is a float so all the data in the column is a float 
# dataframes try to keep all the same dtypes in a cloumn 
type(np.nan)

float

In [18]:
#checking to see how much of the data in LotFrontage is missing 
iowa['LotFrontage'].isnull().sum()

259

In [19]:
#compairing this to how many rows are in the whole dataframe 
#always good to ensure we're not deleting too much data from the set 
iowa.shape

(1460, 81)

In [0]:
# dropping the missing values from the dataframe 
iowa['LotFrontage'].dropna(inplace=True)

In [21]:
#Checking to ensure it was actually dropped 
iowa['LotFrontage'].isnull().sum()

0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01