<a href="https://colab.research.google.com/github/mkhalil7625/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [7]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-05-10 17:58:54--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 50.112.20.251, 52.26.240.115, 54.71.0.232
Connecting to resources.lendingclub.com (resources.lendingclub.com)|50.112.20.251|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [     <=>            ]  22.05M  1.64MB/s    in 13s

2020-05-10 17:59:08 (1.63 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [8]:
loans = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
loans.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#Convert the term column from string to integer.
#xamine term
loans['term'].head()

0     60 months
1     36 months
2     36 months
3     60 months
4     60 months
Name: term, dtype: object

In [0]:
loans['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [0]:
#test the function
int(loans['term'][0].strip(' months'))
print(type(int(loans['term'][0].strip(' months'))))

<class 'int'>

In [0]:
#create teh function for stripping the str and to cast/convert to int
def myfunc(my_input_value):
    return int(my_input_value.strip(' months'))

In [0]:
loans['term'] = loans['term'].apply(myfunc)
loans['term'].head()

0    60
1    36
2    36
3    60
4    60
Name: term, dtype: int64

In [0]:
#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
#examine the data
loans['loan_status'].value_counts()

Current               88581
Fully Paid            28378
Charged Off            8016
Late (31-120 days)     2055
In Grace Period         732
Late (16-30 days)       327
Default                 323
Name: loan_status, dtype: int64

In [0]:
loans['loan_status_is_great']= np.where(np.logical_or(loans['loan_status'] == 'Current', loans['loan_status']=='Fully Paid'),1,0)
loans['loan_status_is_great'].value_counts()

1    116959
0     11453
Name: loan_status_is_great, dtype: int64

In [0]:
#test sample data
loans[['loan_status','loan_status_is_great']].sample(10)

               loan_status  loan_status_is_great
49892              Current                     1
57135              Current                     1
15704              Current                     1
49806              Current                     1
29040           Fully Paid                     1
24097              Current                     1
28189   Late (31-120 days)                     0
99599              Current                     1
36335              Current                     1
107873             Current                     1

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns
loans['last_pymnt_d'].head()

0    May-2019
1    Mar-2020
2    Feb-2019
3    Oct-2019
4    Mar-2020
Name: last_pymnt_d, dtype: object

In [0]:
#convert to date/time format
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'],infer_datetime_format=True,)
loans['last_pymnt_d'].head()

0   2019-05-01
1   2020-03-01
2   2019-02-01
3   2019-10-01
4   2020-03-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month

In [0]:
loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year

In [0]:
loans[['last_pymnt_d','last_pymnt_d_month','last_pymnt_d_year']].sample(10)
#the year and month columns were converted to float numbers

       last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
114920   2020-04-01                 4.0             2020.0
111390   2019-10-01                10.0             2019.0
84812    2020-05-01                 5.0             2020.0
56086    2020-04-01                 4.0             2020.0
108840   2020-04-01                 4.0             2020.0
109584   2020-05-01                 5.0             2020.0
60771    2019-08-01                 8.0             2019.0
32429    2020-04-01                 4.0             2020.0
73111    2020-04-01                 4.0             2020.0
127005   2019-07-01                 7.0             2019.0

In [0]:
print(loans['last_pymnt_d'].dtype)

datetime64[ns]

In [0]:
#test to see if there are null values that converts my last code back to float
loans['last_pymnt_d_year'].isnull().sum()

159

In [0]:
loans.dropna(subset=['last_pymnt_d'], inplace=True)

In [0]:
loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month

In [0]:
loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year

In [0]:
loans[['last_pymnt_d','last_pymnt_d_month','last_pymnt_d_year']].sample(10)
#sucess

       last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
91613    2020-04-01                   4               2020
62163    2020-04-01                   4               2020
68355    2020-04-01                   4               2020
27855    2020-04-01                   4               2020
57020    2020-04-01                   4               2020
36020    2020-06-01                   6               2020
33303    2020-04-01                   4               2020
102427   2020-04-01                   4               2020
117246   2020-04-01                   4               2020
68065    2020-04-01                   4               2020

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [9]:
#There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.revol_util
loans['revol_util'].head()

0    58.5%
1    41.6%
2    15.3%
3    45.7%
4    10.7%
Name: revol_util, dtype: object

In [10]:
loans['revol_util'][1]

'41.6%'

In [16]:
type(loans['revol_util'][1])

str

In [18]:
loans['revol_util'].isnull().sum()

156

In [0]:
loans.dropna(subset=['revol_util'], inplace=True)

In [0]:
#def the strip function
def myfunc2(my_input_value):
    return float(my_input_value.strip('%'))

In [22]:
loans['revol_util'] = loans['revol_util'].apply(myfunc2)
loans['revol_util'].head()

0    58.5
1    41.6
2    15.3
3    45.7
4    10.7
Name: revol_util, dtype: float64

In [0]:
#Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.

In [35]:
condition = loans['emp_title'].value_counts().head(20).index.tolist()
type(condition)

list

In [0]:
#loans['emp_title'] = np.where(loans['emp_title'] in condition,loans['emp_title'].item(),'Other')

In [0]:
#from Stackoverflow
for ix in loans.index:
    row = loans.loc[ix]
    if row['emp_title'] not in condition:
         loans.loc[ix,['emp_title']] = 'Other'

In [45]:
loans['emp_title'].value_counts().head(20)

Other                 115563
Teacher                 2082
Manager                 1773
Registered Nurse         952
Driver                   924
RN                       726
Supervisor               696
Sales                    580
Project Manager          526
General Manager          522
Office Manager           521
Owner                    420
Director                 402
Truck Driver             387
Operations Manager       387
Nurse                    326
Engineer                 325
Sales Manager            304
manager                  301
Supervisor               270
Name: emp_title, dtype: int64

In [1]:
 !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-10 17:51:02--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.250.54
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.250.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  76.1MB/s    in 2.6s

2020-05-10 17:51:05 (76.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
 !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
 %cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
order_products_train = pd.read_csv("order_products__train.csv")
order_products_prior = pd.read_csv("order_products__prior.csv")
orders = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")
aisles = pd.read_csv("aisles.csv")
departments = pd.read_csv("departments.csv")

In [0]:
orders = pd.read_csv('products.csv')
orders.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
orders = pd.read_csv('order_products__train.csv')
orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
orders