<a href="https://colab.research.google.com/github/danielbrioli/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Make Features 

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# [Objective](#feature-engineering) - The Purpose of Feature Engineering

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [0]:
import pandas as pd

In [0]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

### Specific Columns hold specific kinds of data

In [7]:
pd.set_option('display.max_rows', 500)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

Some columns hold integer values like the `BedroomAbvGr` which stands for "Bedrooms Above Grade." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/ryanleeallred/datasets/blob/master/Ames%20Housing%20Data/data_description.txt).

In [4]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!

df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

Some columns hold float values like the `LotFrontage` column.

In [5]:
# Look at the first ten rows of the `BedroomAbvGr` column.
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [9]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: What's the most common `LotFrontage` value for this column?

In [10]:
# NaN is the most common value in this column. What is a NaN

import numpy as np

type(np.NaN)

float

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes seanse to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember, that Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [11]:
import numpy as np

# What is the datatype of NaN?

# did that above

df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice1`

In [13]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets

slimdf = df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy() # use copy() to create a copy of a df instead of a view

slimdf.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

### Syntax for creating new columns

When making a new column on a dataframe, we have to use the square bracket syntax of accessing a column. We can't use "dot syntax" here.

In [14]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset

# Using bracket syntax to make a new 'TotalSquareFootage' column

slimdf['TotalSF'] = slimdf['TotalBsmtSF'] + slimdf['1stFlrSF'] + slimdf['2ndFlrSF']

slimdf.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [15]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage

slimdf['PricePerSqFt'] = slimdf['SalePrice'] / slimdf['TotalSF']

slimdf.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

Ok, we have made two new columns on our small dataset.

- What does a **high** `PricePerSqFt` say about a home that the square footage and price alone don't capture as directly?

- What does a **low** `PricePerSqFt` say about a home that the square footage and price alone don't directly capture?

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective](#work-with-strings) Work with Strings with Pandas

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

The `!wget` shell command being used here does exactly the same thing that your browser does when you type a URL in the address. It makes a request or "gets" the file at that address. However, in our case the file isn't a webpage, it's a compressed CSV file. 

Try copying and pasting the URL from below into your browser, did it start an automatic download? Any URLs like this that start automatic downloads when navigated to can be used along with the `!wget` command to bring files directly into your notebook's memory.

### Load a new dataset

In [17]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-02-11 17:58:12--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=7868913961538644102 [following]
--2020-02-11 17:58:12--  https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=7868913961538644102
Resolving static.lendingclub.com (static.lendingclub.com)... 13.224.15.29
Connecting to static.lendingclub.com (static.lendingclub.com)|13.224.15.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15677 (15K) [text/html]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs 100%[===================>]  15.31K  --.-KB/s    in 0s

2020-02-11 17:58:12 (240 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [15677/15677]

We need to use the `!unzip` command to extract the csv from the zipped folder.

In [18]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of LoanStats_2018Q4.csv.zip or
        LoanStats_2018Q4.csv.zip.zip, and cannot find LoanStats_2018Q4.csv.zip.ZIP, period.

We can also use bash/shell commands to look at the raw file using the `!head` and `!tail` commands

As we look at the raw file itself, do you see anything that might cause us trouble as we read in the CSV file to a dataframe?

In [20]:
# Read in the CSV

import pandas as pd

df = pd.read_csv("LoanStats.csv", skiprows=1, skipfooter=2)
print(df.shape)
print(df.head())
print(df.isnull().sum().sort_values())

df = df.drop(['url','member_id','desc','id'],axis=1) #axis=1 tells it to drop columns and not rows

print(df.shape)
print(df.head())
print(df.isnull().sum().sort_values())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

(96779, 122)
   id  ...  sec_app_mths_since_last_major_derog
0 NaN  ...                                  NaN
1 NaN  ...                                  NaN
2 NaN  ...                                  NaN
3 NaN  ...                                  NaN
4 NaN  ...                                  NaN

[5 rows x 122 columns]
open_il_6m                                 0
delinq_amnt                                0
chargeoff_within_12_mths                   0
avg_cur_bal                                0
acc_open_past_24mths                       0
inq_last_12m                               0
total_cu_tl                                0
inq_fi                                     0
total_rev_hi_lim                           0
max_bal_bc                                 0
open_rv_24m                                0
open_rv_12m                                0
total_bal_il                               0
open_il_24m                                0
open_il_12m                                0
open_acc_6m                                0
tot_coll_amt                               0
acc_now_delinq                             0
application_type                           0
policy_code                                0
mo_sin_old_rev_tl_op                       0
mo_sin_rcnt_rev_tl_op                      0
mo_sin_rcnt_tl                             0
mort_acc                                   0
total_il_high_credit_limit                 0
total_bc_limit                             0
total_bal_ex_mort                          0
tot_hi_cred_lim                            0
tax_liens                                  0
pub_rec_bankruptcies                       0
pct_tl_nvr_dlq                             0
num_tl_op_past_12m                         0
num_tl_90g_dpd_24m                         0
collections_12_mths_ex_med                 0
num_tl_30dpd                               0
num_rev_tl_bal_gt_0                        0
num_rev_accts                              0
num_op_rev_tl                              0
num_il_tl                                  0
num_bc_tl                                  0
num_bc_sats                                0
num_actv_rev_tl                            0
num_actv_bc_tl                             0
num_accts_ever_120_pd                      0
num_sats                                   0
last_pymnt_amnt                            0
tot_cur_bal                                0
dti                                        0
pymnt_plan                                 0
revol_bal                                  0
pub_rec                                    0
open_acc                                   0
sub_grade                                  0
home_ownership                             0
inq_last_6mths                             0
earliest_cr_line                           0
delinq_2yrs                                0
annual_inc                                 0
verification_status                        0
addr_state                                 0
title                                      0
issue_d                                    0
loan_status                                0
total_acc                                  0
initial_list_status                        0
purpose                                    0
out_prncp                                  0
recoveries                                 0
total_rec_late_fee                         0
funded_amnt                                0
funded_amnt_inv                            0
term                                       0
grade                                      0
collection_recovery_fee                    0
total_rec_int                              0
int_rate                                   0
total_pymnt_inv                            0
total_pymnt                                0
out_prncp_inv                              0
installment                                0
total_rec_prncp                            0
loan_amnt                                  0
zip_code                                   1
all_util                                   3
last_credit_pull_d                         5
revol_util                                51
mths_since_recent_bc                     945
bc_open_to_buy                           985
percent_bc_gt_75                         987
bc_util                                 1028
next_pymnt_d                            2251
mths_since_rcnt_il                      2596
mo_sin_old_il_acct                      2596
num_tl_120dpd_2m                        4706
emp_length                              6792
emp_title                               6892
mths_since_recent_inq                  11314
il_util                                12998
last_pymnt_d                           17122
mths_since_last_delinq                 46293
mths_since_recent_revol_delinq         62320
mths_since_last_major_derog            69688
mths_since_recent_bc_dlq               72987
mths_since_last_record                 77674
verification_status_joint              92372
dti_joint                              92372
annual_inc_joint                       92372
sec_app_mort_acc                       95754
sec_app_inq_last_6mths                 95754
sec_app_earliest_cr_line               95754
revol_bal_joint                        95754
sec_app_num_rev_accts                  95754
sec_app_open_acc                       95754
sec_app_collections_12_mths_ex_med     95754
sec_app_open_il_6m                     95754
sec_app_chargeoff_within_12_mths       95754
sec_app_revol_util                     95760
sec_app_mths_since_last_major_derog    96423
url                                    96779
member_id                              96779
desc                                   96779
id                                     96779
dtype: int64
(96779, 118)
   loan_amnt  ...  sec_app_mths_since_last_major_derog
0       3600  ...                                  NaN
1      15000  ...                                  NaN
2       8400  ...                                  NaN
3       4000  ...                                  NaN
4       6000  ...                                  NaN

[5 rows x 118 columns]
loan_amnt                                  0
mo_sin_old_rev_tl_op                       0
delinq_amnt                                0
chargeoff_within_12_mths                   0
avg_cur_bal                                0
acc_open_past_24mths                       0
inq_last_12m                               0
total_cu_tl                                0
inq_fi                                     0
total_rev_hi_lim                           0
max_bal_bc                                 0
open_rv_24m                                0
open_rv_12m                                0
total_bal_il                               0
open_il_12m                                0
open_il_6m                                 0
open_acc_6m                                0
tot_cur_bal                                0
tot_coll_amt                               0
acc_now_delinq                             0
mo_sin_rcnt_rev_tl_op                      0
application_type                           0
mo_sin_rcnt_tl                             0
num_accts_ever_120_pd                      0
total_il_high_credit_limit                 0
total_bc_limit                             0
total_bal_ex_mort                          0
tot_hi_cred_lim                            0
tax_liens                                  0
pub_rec_bankruptcies                       0
pct_tl_nvr_dlq                             0
num_tl_op_past_12m                         0
num_tl_90g_dpd_24m                         0
num_tl_30dpd                               0
num_sats                                   0
num_rev_tl_bal_gt_0                        0
num_rev_accts                              0
num_op_rev_tl                              0
num_il_tl                                  0
num_bc_tl                                  0
num_bc_sats                                0
num_actv_rev_tl                            0
num_actv_bc_tl                             0
mort_acc                                   0
policy_code                                0
open_il_24m                                0
out_prncp                                  0
addr_state                                 0
initial_list_status                        0
total_acc                                  0
purpose                                    0
revol_bal                                  0
pub_rec                                    0
title                                      0
grade                                      0
open_acc                                   0
installment                                0
loan_status                                0
pymnt_plan                                 0
inq_last_6mths                             0
earliest_cr_line                           0
sub_grade                                  0
out_prncp_inv                              0
total_pymnt                                0
total_pymnt_inv                            0
dti                                        0
home_ownership                             0
funded_amnt                                0
funded_amnt_inv                            0
term                                       0
last_pymnt_amnt                            0
annual_inc                                 0
collection_recovery_fee                    0
recoveries                                 0
total_rec_late_fee                         0
total_rec_int                              0
int_rate                                   0
verification_status                        0
total_rec_prncp                            0
issue_d                                    0
delinq_2yrs                                0
collections_12_mths_ex_med                 0
zip_code                                   1
all_util                                   3
last_credit_pull_d                         5
revol_util                                51
mths_since_recent_bc                     945
bc_open_to_buy                           985
percent_bc_gt_75                         987
bc_util                                 1028
next_pymnt_d                            2251
mo_sin_old_il_acct                      2596
mths_since_rcnt_il                      2596
num_tl_120dpd_2m                        4706
emp_length                              6792
emp_title                               6892
mths_since_recent_inq                  11314
il_util                                12998
last_pymnt_d                           17122
mths_since_last_delinq                 46293
mths_since_recent_revol_delinq         62320
mths_since_last_major_derog            69688
mths_since_recent_bc_dlq               72987
mths_since_last_record                 77674
verification_status_joint              92372
dti_joint                              92372
annual_inc_joint                       92372
sec_app_collections_12_mths_ex_med     95754
revol_bal_joint                        95754
sec_app_earliest_cr_line               95754
sec_app_inq_last_6mths                 95754
sec_app_mort_acc                       95754
sec_app_open_acc                       95754
sec_app_open_il_6m                     95754
sec_app_num_rev_accts                  95754
sec_app_chargeoff_within_12_mths       95754
sec_app_revol_util                     95760
sec_app_mths_since_last_major_derog    96423
dtype: int64

The extra rows at the top and bottom of the file have done two things:

1) The top row has made it so that the entire dataset is being interpreted as column headers

2) The bottom two rows have been read into the 'id' column and are causing every column to have at least two `NaN` values in it.

In [0]:
# We can fix the header problem by using the 'skiprows' parameter

Lets look at the NaN values of each column so that you can see the problem that the extra rows at the bottom of the file are creating for us

In [0]:
# Sum null values by column and sort from least to greatest

In [0]:
# Address the extra NaNs in each column by skipping the footer as well.

For good measure, we'll also drop some columns that are made up completely of NaN values.

Why might LendingClub have included columns in their dataset that are 100% blank?

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically want to represent don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column

In [22]:
# Look at the first 10 values of the int_rate column

print(df['int_rate'].head(10))
print(df['int_rate'][:10])

0      7.49%
1     14.99%
2     11.39%
3     10.49%
4      7.24%
5     15.99%
6     14.99%
7      8.24%
8      7.99%
9      5.32%
Name: int_rate, dtype: object
0      7.49%
1     14.99%
2     11.39%
3     10.49%
4      7.24%
5     15.99%
6     14.99%
7      8.24%
8      7.99%
9      5.32%
Name: int_rate, dtype: object

In [24]:
# Look at a specific value from the int_rate column
print(df['int_rate'][0]) #note the leading space
print(df['int_rate'].describe()) #note the missing numerical data information

  7.49%
count       96779
unique         36
top        12.74%
freq         8718
Name: int_rate, dtype: object

Problems that we need to address with this column:

- String column that should be numeric
- Percent Sign `%` included with the number
- Leading space at the beginning of the string

However, we're not going to try and write exactly the right code to fix this column in one go. We're going to methodically build up to the code that will help us address these problems.

In [0]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them

int_rate = ' 10.5%' #create string variable to test

In [26]:
int_rate.strip() #remove leading and trailing spaces if no characters were added to the () aka removes white space

'10.5%'

In [27]:
int_rate.strip('%') #removes percent sign

' 10.5'

In [28]:
int_rate.strip().strip('%') # removes both

'10.5'

In [0]:
# "Cast" the string value to a float

In [32]:
#int_rate = float(int_rate.strip().strip('%'))
print(int_rate) #is now a float, top commented line no longer works on a float so I have commented it out for now

10.5

In [0]:
new_int_rate = []
for cell in df['int_rate']:
  new_int_rate.append(float(cell.strip().strip('%'))) # this can be done as a for loop but it's overly verbose

print(new_int_rate)

### Write a function to make our solution reusable!

In [0]:
# Write a function that can do what we have written above to any 
# string that is passsed to it.

def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [35]:
# Test out our function by calling it on our example

int_rate = ' 10.5%'
int_rate_to_float(int_rate)

10.5

In [0]:
# is the data type correct?

### Apply our solution to every cell in a column

In [37]:
# just making a new column to store the float results from old int rate column
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float) #apply applies the function to each column in the dataframe

df.head()

   loan_amnt  funded_amnt  ...  sec_app_mths_since_last_major_derog int_rate_float
0       3600         3600  ...                                  NaN           7.49
1      15000        15000  ...                                  NaN          14.99
2       8400         8400  ...                                  NaN          11.39
3       4000         4000  ...                                  NaN          10.49
4       6000         6000  ...                                  NaN           7.24

[5 rows x 119 columns]

In [0]:
# What type of data is held in our new column?

# Look at the datatypes of the last 5 columns

## Challenge

We can create a new column with our cleaned values or overwrite the original, whatever we think best suits our needs. On your assignment you will take the same approach in trying to methodically build up the complexity of your code until you have a few lines that will work for any cell in a column. At that point you'll contain all of that functionality in a reusable function block and then use the `.apply()` function to... well... apply those changes to an entire column.

# [Objective](#pandas-apply) Modify and Create Columns using `.apply()`

## Overview

We're already seen one example of using the `.apply()` function to clean up a column. Lets see if we can do it again, but this time on a slightly more complicated use case.

Remember, the goal here is to write a function that will work correctly on any **individual** cell of a specific column. Then we can reuse that function on those individual cells of a dataframe column via the `.apply()` function.

Lets clean up the emp_title "Employment Title" column!

## Follow Along

First we'll try and diagnose how bad the problem is and what improvements we might be able to make.

In [38]:
# Look at the top 20 employment titles

df['emp_title'].value_counts(dropna=False).head(20)

NaN                   6892
Teacher               1813
Manager               1620
Owner                 1398
Driver                 756
Registered Nurse       728
RN                     724
Sales                  682
Supervisor             595
Project Manager        542
owner                  479
General Manager        469
Director               462
Office Manager         448
President              414
Operations Manager     317
teacher                316
Engineer               314
manager                287
Vice President         285
Name: emp_title, dtype: int64

In [39]:
# How many different unique employment titles are there currently?
df['emp_title'].nunique()

35500

In [40]:
# How often is the employment_title null?
df['emp_title'].isnull().sum()

6892

What are some possible reasons as to why a person's employment title may have not been provided?

In [46]:
# Create some examples that represent the cases that we want to clean up
examples = ['owner','Supervisor',' PM','Proj mAN',np.NaN]
print(examples)

['owner', 'Supervisor', ' PM', 'Proj mAN', nan]

In [44]:
# Write a function to clean up these use cases and increase uniformity.

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

for example in examples:
  print(clean_title(example))

Owner
Supervisor
Pm
Unknown

In [47]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.

[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Pm', 'Proj Man', 'Unknown']

In [0]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column

df['emp_title'] = df['emp_title'].apply(clean_title)

We can use the same code as we did earlier to see how much progress was made.

In [50]:
# Look at the top 20 employment titles

print(df['emp_title'][:20])

0         Code/Compliance Inspector
1             Senior Superintendent
2                           It Tech
3                  Dental Hygienist
4                   Program Manager
5              Business Development
6                   Lead Supervisor
7          It Lead Business Analyst
8                   Registerd Nurse
9                           Radtech
10                  Product Manager
11               Signmaker/Waterjet
12                   Superintendant
13                            Pilot
14                          Unknown
15                 Property Manager
16            Maintenance Assistant
17                           Driver
18           Air Traffic Controller
19    Human Resource Specialist Ler
Name: emp_title, dtype: object

In [51]:
# How many different unique employment titles are there currently?

df['emp_title'].value_counts(dropna=False).head(20)

Unknown               6892
Teacher               2283
Manager               2137
Owner                 2062
Registered Nurse      1091
Driver                1065
Supervisor            1033
Sales                  920
Rn                     863
Project Manager        691
General Manager        675
Office Manager         665
Truck Driver           602
President              569
Director               551
Operations Manager     426
Sales Manager          423
Vice President         387
Engineer               377
Police Officer         365
Name: emp_title, dtype: int64

In [0]:
# How often is the employment_title null (NaN)?

## Challenge

Using the .apply() function isn't always about creating new columns on a dataframe, we can use it to clean up or modify existing columns as well.

# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

Many of the most useful date columns in this dataset have the suffix `_d` to indicate that they correspond to dates.

We'll use a list comprehension to print them out

In [52]:
df["issue_d"].head(20)

0     Mar-2017
1     Mar-2017
2     Mar-2017
3     Mar-2017
4     Mar-2017
5     Mar-2017
6     Mar-2017
7     Mar-2017
8     Mar-2017
9     Mar-2017
10    Mar-2017
11    Mar-2017
12    Mar-2017
13    Mar-2017
14    Mar-2017
15    Mar-2017
16    Mar-2017
17    Mar-2017
18    Mar-2017
19    Mar-2017
Name: issue_d, dtype: object

Lets look at the string format of the `issue_d` column

In [53]:
[col for col in df if col.endswith('_d')] # this is a convention that the creators of the dataset have used to denote a date column

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True) #could use syntax like "%m-%y" too

Now we can see that the `issue_d` column has been changed to hold `datetime` objects.

Lets look at one of the cells specifically to see what a datetime object looks like:

In [55]:
print(df.dtypes[:15])

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv                 int64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

You can see how the month and year have been indicated by the strings that were contained in the column previously, and that the rest of the values have been inferred.

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [56]:
df['issue_d'].dt.year #will only grab the year portion of the datetime (dt)

0        2017
1        2017
2        2017
3        2017
4        2017
         ...
96774    2017
96775    2017
96776    2017
96777    2017
96778    2017
Name: issue_d, Length: 96779, dtype: int64

Now the month.

In [57]:
df['issue_d'].dt.month

0        3
1        3
2        3
3        3
4        3
        ..
96774    1
96775    1
96776    1
96777    1
96778    1
Name: issue_d, Length: 96779, dtype: int64

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [58]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0       3600         3600  ...        2017           3
1      15000        15000  ...        2017           3
2       8400         8400  ...        2017           3
3       4000         4000  ...        2017           3
4       6000         6000  ...        2017           3

[5 rows x 121 columns]

Because all of these dates come from Q4 of 2018, the `issue_d` column isn't all that interesting. Lets look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

We're going to create a new column called `days_from_earliest_credit_to_issue`

It's a long column header, but think about how valuable this piece of information could be. This number will essentially indicate the length of a person's credit history and if that is correlated with repayment or other factors could be a valuable predictor!

In [59]:
df['earliest_cr_line'].head()

0    Aug-1992
1    Sep-1989
2    Apr-2005
3    Apr-2003
4    Jul-2004
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

What we're about to do is so cool! Pandas' datetime format is so smart that we can simply use the subtraction operator `-` in order to calculate the amount of time between two dates. 

Think about everything that's going on under the hood in order to give us such straightforward syntax! Handling months of different lengths, leap years, etc. Pandas datetime objects are seriously powerful!

In [62]:
(df['issue_d'] - df['earliest_cr_line']).dt.days #only possible now due to both being in datetime format

0         8978
1        10043
2         4352
3         5083
4         4626
         ...
96774     6271
96775     2161
96776     5175
96777    11050
96778     4293
Length: 96779, dtype: int64

In [0]:
df['days_from_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

What's oldest credit history that was involved in Q4 2018?

In [64]:
df['days_from_credit_to_issue'].describe()

count    96779.000000
mean      6158.182757
std       2842.178208
min       1124.000000
25%       4232.000000
50%       5571.000000
75%       7611.000000
max      23773.000000
Name: days_from_credit_to_issue, dtype: float64

25,171 days is ~ 68.96 years of credit history!

## Challenge

Pandas' datetime format is so easy to work with that there's really no excuse for not using dates to make features on a dataframe! Get ready to practice more of this on your assignment.