<a href="https://colab.research.google.com/github/Lolo-17/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [254]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [255]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-08-04 23:48:59--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 34.217.168.192, 34.211.153.241, 52.42.71.195, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|34.217.168.192|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [            <=>     ]  22.26M  2.23MB/s    in 10s

2020-08-04 23:49:10 (2.20 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23339743]

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [256]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

In [257]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 150)

In [ ]:
print(df.shape)
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [258]:
df['term']

0          36 months
1          36 months
2          36 months
3          60 months
4          36 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [259]:
def string_to_int(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [260]:
fecha = '40 months'
string_to_int(fecha)

40

In [ ]:
type(string_to_int(fecha))

In [262]:
df['term'] = df['term'].apply(string_to_int)

In [263]:
df['term']

0         36
1         36
2         36
3         60
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [ ]:
df.drop('loan_status_is_great', axis=1)

In [264]:
df['loan_status'].value_counts()

Current               82100
Fully Paid            33611
Charged Off           10306
Late (31-120 days)     1136
In Grace Period         949
Late (16-30 days)       297
Default                  13
Name: loan_status, dtype: int64

In [271]:
# Doesn't work

# def loan_codition(cell_contents):
#   for i in range(len(df['loan_status'])):
#    if i == 'Current' or 'Fully paid':
#      df['loan_status'][i] = 1
#    else:
#      df['loan_status'][i] = 0
#   return

In [ ]:
# Doesn't work

# df['loan_status_is_great'] = df['loan_status'].apply(loan_codition)

In [ ]:
df['loan_status_is_great'].value_counts()

In [ ]:
df['loan_status_is_great'] = df['loan_status'] == ("Current" or "Fully Paid")
df['loan_status_is_great'] = df['loan_status_is_great'].replace(True,1).replace(False,0)

In [ ]:
df['loan_status_is_great'].value_counts()

In [ ]:
def float_to_int(cell_contents):
  return int(cell_contents)

In [ ]:
df['loan_status_is_great'] = df['loan_status_is_great'].apply(float_to_int)

In [ ]:
df['loan_status_is_great'].value_counts()

In [ ]:
df.head()

In [ ]:
[col for col in df if col.endswith('_d')]

In [ ]:
df['last_pymnt_d'].value_counts()

In [153]:
df.dropna(subset=["last_pymnt_d"], inplace=True)

In [ ]:
df['last_pymnt_d_month'].value_counts(dropna=False)

In [142]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [156]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month.apply(float_to_int)
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year.apply(float_to_int)

In [ ]:
df.head()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
df['revol_util'].value_counts(dropna=True)

In [ ]:
df['revol_util'].isnull().sum()

In [ ]:
df['revol_util'][0]

In [249]:
def rem_per(cell_contents):
  return float(cell_contents.strip('%'))

In [ ]:
Porciento = "17%"
rem_per(Porciento)

In [229]:
df.dropna(subset=["revol_util"], inplace=True)

In [250]:
df['revol_util'] = df['revol_util'].apply(rem_per)

In [ ]:
df.head()

In [298]:
replace_21up = df['emp_title'].value_counts()[0:20]

In [ ]:
replace_21up

In [300]:
def change_to_other(title):
  if title in replace_21up:
    return title
  else:
    return 'Other'

In [301]:
df['emp_title'] = df['emp_title'].apply(change_to_other)

In [ ]:
replace_21up.head(25)

In [ ]:
# Doesn't work

# for i in range(len('emp_title')):
#   if df.emp_title.value_counts() > 268:
#     df['emp_title'][i] = 'Other'
#   else: print('Not working')
# df['emp_title'] = df.loc[df['emp_title'] < 268, 'Other']

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01