<a href="https://colab.research.google.com/github/filchyboy/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS11_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [3]:
# Look at shape to check it's well formed.
df.shape

(1460, 81)

In [4]:
# Look at head to see if there are any obvious issues. I notice there are 
# ellipses in the center of the columns. I wonder if this has been truncated
# similarly to what was shown in lecture on rows?
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [5]:
# Really I'm just using this as an opportunity to type this out. 
df.isnull().sum().sort_values()

Id                  0
TotalBsmtSF         0
Heating             0
SaleCondition       0
CentralAir          0
                 ...
FireplaceQu       690
Fence            1179
Alley            1369
MiscFeature      1406
PoolQC           1453
Length: 81, dtype: int64

In [0]:
# I am using the wrong datset for the exercise. Neither 'loan_status' or 'term'
# found as features of this set. Starting over.
# df['loan_status'].head()
# df['term'].head()

In [7]:
# Command line wget to retrieve zipped file. Using the loan company data now.
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-04 02:28:48--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [ <=>                ]  21.69M   781KB/s    in 29s

2019-12-04 02:29:18 (770 KB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [22744357]

In [8]:
# Command line to unzip file
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [9]:
# Creating data frame with unzipped file.
df = pd.read_csv('LoanStats_2018Q4.csv',header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [10]:
# Look at shape to check it's well formed.
df.shape

(128412, 144)

In [11]:
# Examining head visually. 'loan_status' is available. Assume 'term' is as well
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [12]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

In [13]:
df['loan_status'].head(20)

0        Current
1     Fully Paid
2        Current
3        Current
4     Fully Paid
5     Fully Paid
6        Current
7     Fully Paid
8        Current
9        Current
10    Fully Paid
11    Fully Paid
12       Current
13       Current
14       Current
15       Current
16       Current
17       Current
18    Fully Paid
19       Current
Name: loan_status, dtype: object

In [14]:
df['term'].head(20)

0      36 months
1      60 months
2      60 months
3      36 months
4      60 months
5      36 months
6      36 months
7      60 months
8      36 months
9      60 months
10     60 months
11     36 months
12     36 months
13     36 months
14     36 months
15     36 months
16     36 months
17     36 months
18     60 months
19     36 months
Name: term, dtype: object

In [15]:
# Per instruction for the assignment I am changing the 'term' feature from a 
# string object into an integer. Using the model form our lecture I created a 
# small function called 'term_to_int' which removes the string ' months' from 
# each cell and then changes the result into an integer per the same type of 
# float call made in the lecture. My naming convention is awkward as I used 
# 'term' in the code. Probably wouldn't want to reuse this in other contexts.
def term_to_int(term):
  return int(term.strip(' months'))

df['term'] = df['term'].apply(term_to_int)
df['term'].head(20)

0     36
1     60
2     60
3     36
4     60
5     36
6     36
7     60
8     36
9     60
10    60
11    36
12    36
13    36
14    36
15    36
16    36
17    36
18    60
19    36
Name: term, dtype: int64

In [0]:
# This function compares the string in 'loan_status' against our target strings 
# 'Current' & 'Fully Paid' and returns 1 or 0 depending on result as directed 
# in the assignment instructions.
def great_status(status):
  if (status == 'Current') or status == 'Fully Paid':
    return 1
  else:
    return 0

In [0]:
# Applies the previous function to the data from the 'loan_status' column and 
# creates a new column with this called 'loan_status_is_great' as directed in 
# the assignment.
df['loan_status_is_great'] = df['loan_status'].apply(great_status)

In [18]:
# Render the head of the data frame to verify the new feature has been created.
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [19]:
# Look at the description of the feature to ensure there isn't an issue without
# having to look at each cell. As the mean is not a perfect 1 I know that a few
# 0 showed up in this column without having to search for them.
df['loan_status_is_great'].describe()

count    128412.000000
mean          0.935395
std           0.245828
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: loan_status_is_great, dtype: float64

In [20]:
# Did a count of the dates contained in the 'settlement_date' feature. It 
# appears there is a huge number of NaN in the data frame. This doesn't effect
# my solution for the assignment but it does draw my attention to yesterday's 
# assignment where my data sets did not have any null values. So I need to learn
# how to remove these within cells and not just drop the column or the row.
df['settlement_date'].value_counts(dropna=False)[:20]

NaN         128076
Oct-2019        80
Sep-2019        59
Nov-2019        56
Aug-2019        55
Jul-2019        43
May-2019        20
Jun-2019        16
Mar-2019         3
Apr-2019         2
Feb-2019         2
Name: settlement_date, dtype: int64

In [21]:
# Used to_datetime function to transcribe existing dates, not NaN, within the 
# 'settlement_date' column and then used describe function to check out results.
# Since the dtype is object this means that the presence of NaN in the column is
# messing with expectations and preventing the column being read as datetime64.
df['settlement_date'] = pd.to_datetime(df['settlement_date'], infer_datetime_format=True)
df['settlement_date'].describe()

count                     336
unique                     10
top       2019-10-01 00:00:00
freq                       80
first     2019-02-01 00:00:00
last      2019-11-01 00:00:00
Name: settlement_date, dtype: object

In [0]:
# Used to_datetime dt accessor to place the month and year portions of the dates 
# from 'settlement_date' to floats. These should be integers though.
df['last_pymnt_d_year'] = df['settlement_date'].dt.year
df['last_pymnt_d_month'] = df['settlement_date'].dt.month

In [23]:
# Using the panda describe function to determine if the column list for this 
# new column: 'last_pymnt_d_month' is a float or an int. Clearly floats.
df['last_pymnt_d_month'].describe()

count    336.000000
mean       8.645833
std        1.899610
min        2.000000
25%        7.000000
50%        9.000000
75%       10.000000
max       11.000000
Name: last_pymnt_d_month, dtype: float64

In [24]:
# Using the panda describe function to determine if the column list for this 
# new column: 'last_pymnt_d_year' is a float or an int. Clearly floats.
df['last_pymnt_d_year'].describe()

count     336.0
mean     2019.0
std         0.0
min      2019.0
25%      2019.0
50%      2019.0
75%      2019.0
max      2019.0
Name: last_pymnt_d_year, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [25]:
df['int_rate'].head()

0     14.47%
1     16.14%
2     11.31%
3     12.98%
4     12.98%
Name: int_rate, dtype: object

In [26]:
df['int_rate'].isnull().sum()

0

In [27]:
df['int_rate'].isnull().value_counts(dropna=False)

False    128412
Name: int_rate, dtype: int64

In [28]:
# Damn! What kind of usury is this. Someone is paying 30.99% on a loan? 
#
df['int_rate'].value_counts(dropna=False).sort_values()

 30.99%       7
 30.94%       8
 30.89%       8
 30.84%      32
 30.75%      34
 30.65%      38
 30.79%      46
  6.00%      47
 30.17%      51
 29.69%      94
 28.72%     170
 26.31%     886
 24.37%     907
 25.34%    1005
 27.27%    1314
 23.40%    1847
 22.35%    2046
 11.06%    2737
  7.02%    2822
  7.56%    2907
  6.67%    2914
 10.08%    2988
 11.31%    3027
 20.89%    3066
  7.21%    3133
 12.73%    3218
 10.47%    3477
 10.33%    3495
  8.46%    3602
 19.92%    3717
 12.98%    3873
 18.94%    3954
 10.72%    4003
  6.46%    4030
 11.55%    4049
  8.81%    4192
  7.84%    4211
 17.97%    4287
  6.11%    4638
 11.80%    4983
 16.91%    5521
  8.19%    5554
 16.14%    5636
 14.47%    6099
 15.02%    6767
 13.56%    6972
Name: int_rate, dtype: int64

In [29]:
# Per instruction for the assignment I am changing the 'int_rate' feature from a 
# string object into an integer. Using the model from our lecture I created a 
# small function called 'int_rate_to_int' which removes the string '%' from 
# each cell and then changes the result into a float per the same type of 
# float call made in the lecture. 
def int_rate_to_float(term):
  return float(term.strip(' ').strip('%'))

df['int_rate'] = df['int_rate'].apply(int_rate_to_float)
df['int_rate'].head(20)

0     14.47
1     16.14
2     11.31
3     12.98
4     12.98
5      7.56
6     17.97
7     14.47
8     11.80
9     17.97
10    18.94
11    10.72
12    11.31
13    10.33
14    17.97
15    16.14
16    11.31
17    17.97
18    10.33
19    16.14
Name: int_rate, dtype: float64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [33]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-12-04 02:53:51--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.32.102
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.32.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  70.9MB/s    in 2.8s

2019-12-04 02:53:54 (70.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [34]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [35]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01