<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

I followed along during the lecture, so here is my replicated lesson code
https://colab.research.google.com/drive/146mo9BV7uTXuNMgKmeF9k4K85ebK9k-N

In [1]:
##### Begin Working Here #####

import pandas as pd
import numpy as np

# Download the lesson data again
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-14 20:37:11--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.72M   429KB/s    in 53s

2020-01-14 20:38:05 (420 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
# Redoing some of the lecture code in the next several cells
# Read in the CSV
loan_df = pd.read_csv('LoanStats_2018Q4.csv', skiprows = 1, skipfooter = 2)

# Drop unused columns
loan_df = loan_df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

loan_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
#Fix the interest rate column
def convert_percentage_to_float(str_value):
  return float(str_value.strip('%').strip())

In [0]:
loan_df['int_rate_cleaned'] = loan_df['int_rate'].apply(convert_percentage_to_float)

In [0]:
#Fix job titles
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return 'Unkown'

In [0]:
loan_df['emp_title'] = loan_df['emp_title'].apply(clean_title)

In [0]:
# change some columns to datetime types
loan_df['issue_d'] = pd.to_datetime(loan_df['issue_d'], infer_datetime_format = True)
loan_df['earliest_cr_line'] = pd.to_datetime(loan_df['earliest_cr_line'], infer_datetime_format = True)

In [10]:
loan_df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0       6000         6000  ...             24.0            14.47
1      24000        24000  ...              NaN            10.33
2      30000        30000  ...              NaN            15.02
3       8000         8000  ...              NaN            12.98
4      22400        22400  ...              NaN            16.14

[5 rows x 141 columns]

# Objective: Convert the term column from string to integer.

In [21]:
loan_df['term'].value_counts()

 36 months    88171
 60 months    40226
Name: term, dtype: int64

In [14]:
loan_df['term'][0]

' 36 months'

In [0]:
# Create the function
def clean_term_column(term):
  return int(term[0:4].strip()) # slice to first 4 characters and strip the spaces before and after

    # Gets first 4 so that data with 3 digit months still works, even if this set doesn't have any.  
    # Example: ' 120 months' -> ' 120' -> 120

In [22]:
# Test the function
clean_term_column(loan_df['term'][0])

36

In [0]:
# Apply to the column
loan_df['term'] = loan_df['term'].apply(clean_term_column)

In [28]:
loan_df['term'].value_counts()

36    88171
60    40226
Name: term, dtype: int64

In [29]:
type(loan_df['term'][0])

numpy.int64

# Objective: Make a column named loan_status_is_great

It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [31]:
# Check data
loan_df['loan_status'].value_counts()

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [35]:
loan_df['loan_status'].head()

0    Charged Off
1        Current
2     Fully Paid
3        Current
4        Current
Name: loan_status, dtype: object

In [36]:
loan_df['loan_status'][1] # leading spaces? nope

'Current'

In [0]:
# Define the function
def check_loan_status(status):
  if status == 'Fully Paid' or status == 'Current':
    return 1
  else:
    return 0

In [46]:
# Test the function
examples = ['Current', 'Fully Paid', 'Charged Off', 'something else', '']

for ex in examples:
  print(check_loan_status(ex))

1
1
0
0
0

In [0]:
# Create the new column
loan_df['loan_status_is_great'] = loan_df['loan_status'].apply(check_loan_status)

In [48]:
loan_df[['loan_status_is_great', 'loan_status']].head(10)

   loan_status_is_great  loan_status
0                     0  Charged Off
1                     1      Current
2                     1   Fully Paid
3                     1      Current
4                     1      Current
5                     1      Current
6                     1      Current
7                     1      Current
8                     1      Current
9                     1      Current

In [49]:
# Expected: 119170 1's (from the earlier count on 'loan_status')
loan_df['loan_status_is_great'].value_counts()

1    119170
0      9227
Name: loan_status_is_great, dtype: int64

# Objective: Make last_pymnt_d_month and last_pymnt_d_year columns

In [58]:
loan_df['last_pymnt_d'].head()

0    Apr-2019
1    Dec-2019
2    Feb-2019
3    Dec-2019
4    Dec-2019
Name: last_pymnt_d, dtype: object

In [69]:
loan_df['last_pymnt_d'].isnull().sum()

159

In [0]:
# Convert that to datetime
loan_df['last_pymnt_d'] = pd.to_datetime(loan_df['last_pymnt_d'], infer_datetime_format = True)

In [0]:
# Add the new columns
loan_df['last_pymnt_d_month'] = loan_df['last_pymnt_d'].dt.month
loan_df['last_pymnt_d_year'] = loan_df['last_pymnt_d'].dt.year

In [63]:
# View the columns, new ones end up as floats because last_pymnt_d had NaN values
loan_df[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']].head()

  last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0   2019-04-01                 4.0             2019.0
1   2019-12-01                12.0             2019.0
2   2019-02-01                 2.0             2019.0
3   2019-12-01                12.0             2019.0
4   2019-12-01                12.0             2019.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

# Goal:
There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

In [70]:
loan_df['revol_util'].head()

0    91.2%
1    27.7%
2      48%
3    33.3%
4    38.2%
Name: revol_util, dtype: object

In [71]:
loan_df['revol_util'].isnull().sum()

156

In [100]:
# let's find a NaN so we can test with it
loan_df[loan_df['revol_util'].isnull()].head(3)

      loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
240        2000         2000  ...                12.0             2019.0
5141       5000         5000  ...                12.0             2019.0
5272       3500         3500  ...                12.0             2019.0

[3 rows x 144 columns]

In [94]:
loan_df['revol_util'][240]

nan

In [0]:

# define a function for it
def clean_percentages(cell):
  if pd.isna(cell):
    return np.nan
  else:
    return float(cell.strip().strip('%'))

In [96]:
# test the function
clean_percentages(loan_df['revol_util'][0])

91.2

In [97]:
clean_percentages(loan_df['revol_util'][240])

nan

In [0]:
# apply to the column
loan_df['revol_util'] = loan_df['revol_util'].apply(clean_percentages)

In [99]:
loan_df['revol_util'].head()

0    91.2
1    27.7
2    48.0
3    33.3
4    38.2
Name: revol_util, dtype: float64

# Goal:
Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.

In [103]:
# Save this list to check against
top_jobs = loan_df['emp_title'].value_counts()[:20]

top_jobs

Unkown                20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
# Create a function
def filter_job_titles(title):
  if title in top_jobs:
    return title
  else:
    return 'Other'

In [108]:
# Test it
example = ['Driver', 'Operations Manager', 'Pilot', '', 0]

for ex in example:
  print(filter_job_titles(ex))

Driver
Operations Manager
Other
Other
Other

In [0]:
# Apply it
loan_df['emp_title'] = loan_df['emp_title'].apply(filter_job_titles)

In [110]:
loan_df['emp_title'].value_counts()

Other                 89934
Unkown                20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [112]:
# Should now be 21 different titles, the original top 20 and 'Other'
len(loan_df['emp_title'].value_counts())

21

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01