<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# import statements
import pandas as pd
import numpy as np

In [0]:
# Let's upload the link and save it as a variable (df_data_url)
df_data_url='https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'

In [3]:
# Now, using that variable create a dtaframe that pulls the data from the url, and print a sample
df=pd.read_csv(df_data_url)
df.sample(5)

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
356    357          20       RL  ...        WD         Normal    173000
743    744          80       RL  ...        WD         Normal    175000
1045  1046          20       RL  ...        WD         Normal    139600
986    987          50       RM  ...        WD         Normal    117000
1410  1411          60       RL  ...        WD         Normal    230000

[5 rows x 81 columns]

In [4]:
# Now let's check for specific kinds of data
pd.set_option('display.max_rows',100) #this stroke commands to print more rows
df.dtypes #this commands to print the list of data types

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [5]:
# To print a few rows of a particular column
df['LotConfig'].head(10)

0    Inside
1       FR2
2    Inside
3    Corner
4       FR2
5    Inside
6    Inside
7    Corner
8    Inside
9    Corner
Name: LotConfig, dtype: object

In [6]:
# Another way to call a column: dot method
df.LotConfig.head(10)

0    Inside
1       FR2
2    Inside
3    Corner
4       FR2
5    Inside
6    Inside
7    Corner
8    Inside
9    Corner
Name: LotConfig, dtype: object

In [7]:
# We can call a few different columns at once
df[['LotFrontage','YearBuilt']].head(5)

   LotFrontage  YearBuilt
0         65.0       2003
1         80.0       1976
2         68.0       2001
3         60.0       1915
4         84.0       2000

In [8]:
# But same logic won't work with dot-method
df.LotFrontage.YearBuilt.head(5)

AttributeError: ignored

In [9]:
# If most of the data in the column are integers but at least one of them is a string (like NaN)
#then the integers will turn into floats
df.LotFrontage.head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [10]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [11]:
type(np.nan)

float

In [12]:
small_df=df[['TotalBsmtSF','1stFlrSF','2ndFlrSF','SalePrice']].copy()
small_df.head(5)
#.copy() insures that the new features are not connected to the originals

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [13]:
# Let's create a new column based n the data we already have
small_df['TotalSize']=small_df['TotalBsmtSF']+small_df['1stFlrSF']+small_df['2ndFlrSF']
small_df.head(5)

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSize
0          856       856       854     208500       2566
1         1262      1262         0     181500       2524
2          920       920       866     223500       2706
3          756       961       756     140000       2473
4         1145      1145      1053     250000       3343

In [14]:
# Other arythmetical operations work the same way
small_df['PricePerSq']=small_df['SalePrice']/small_df['TotalSize']
small_df.head(5)

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSize  PricePerSq
0          856       856       854     208500       2566   81.254871
1         1262      1262         0     181500       2524   71.909667
2          920       920       866     223500       2706   82.594235
3          756       961       756     140000       2473   56.611403
4         1145      1145      1053     250000       3343   74.783129

In [15]:
# NEW DATASET
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-21 21:18:36--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  21.72M   826KB/s    in 30s

2020-01-21 21:19:06 (735 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [16]:
# Unzip the new file
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [31]:
# Create a new dataframe to work with this file
df_loan=pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df_loan.shape

(128397, 144)

In [32]:
df_loan.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [33]:
# Check for missing data
pd.set_option('display.max_rows', 200)
df_loan.isnull().sum().sort_values(ascending=False)

id                                            128397
desc                                          128397
member_id                                     128397
url                                           128397
orig_projected_additional_accrued_interest    128191
hardship_type                                 128164
hardship_last_payment_amount                  128164
hardship_payoff_balance_amount                128164
hardship_reason                               128164
hardship_loan_status                          128164
hardship_dpd                                  128164
hardship_length                               128164
payment_plan_start_date                       128164
hardship_end_date                             128164
hardship_start_date                           128164
hardship_amount                               128164
deferral_term                                 128164
hardship_status                               128164
settlement_percentage                         127946
settlement_term                               127946
settlement_status                             127946
settlement_amount                             127946
settlement_date                               127946
debt_settlement_flag_date                     127946
sec_app_mths_since_last_major_derog           123245
verification_status_joint                     113553
mths_since_last_record                        112950
sec_app_revol_util                            111877
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
dti_joint                                     111619
annual_inc_joint                              111619
sec_app_open_act_il                           111619
revol_bal_joint                               111619
sec_app_earliest_cr_line                      111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_open_acc                              111619
mths_since_recent_bc_dlq                      103232
mths_since_last_major_derog                    99223
mths_since_recent_revol_delinq                 91620
mths_since_last_delinq                         72190
next_pymnt_d                                   26736
emp_title                                      20942
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11701
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
# Dropping colums
dfl=df_loan.drop(['url','member_id','desc','id'], axis=1).copy()

In [61]:
dfl['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [36]:
dfl['int_rate'][3]

' 12.98%'

In [37]:
type(dfl['int_rate'][3])

str

In [0]:
int_rate=' 12.98%'

In [40]:
int_rate.strip()

'12.98%'

In [41]:
int_rate.strip('%')

' 12.98'

In [42]:
int_rate.strip().strip('%')

'12.98'

In [43]:
float('12.98')

12.98

In [44]:
float(int_rate.strip().strip('%'))

12.98

In [45]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
# Let's do all that at once by using a function
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [63]:
# Let's now call the function
myfunc(int_rate)

12.98

In [53]:
type(myfunc(int_rate))

float

In [0]:
new_list=[]

In [0]:
for cell in dfl['int_rate']:
  new_list.append(myfunc(cell))

In [65]:
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [66]:
small_df['int_rate_cleaned']=pd.Series(new_list)
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  ...  TotalSize  PricePerSq  int_rate_cleaned
0          856       856       854  ...       2566   81.254871             14.47
1         1262      1262         0  ...       2524   71.909667             10.33
2          920       920       866  ...       2706   82.594235             15.02
3          756       961       756  ...       2473   56.611403             12.98
4         1145      1145      1053  ...       3343   74.783129             16.14

[5 rows x 7 columns]

In [58]:
dfl[['int_rate','int_rate_cleaned']].head()

  int_rate  int_rate_cleaned
0   14.47%             14.47
1   10.33%             10.33
2   15.02%             15.02
3   12.98%             12.98
4   16.14%             16.14

In [67]:
small_df.dtypes

TotalBsmtSF           int64
1stFlrSF              int64
2ndFlrSF              int64
SalePrice             int64
TotalSize             int64
PricePerSq          float64
int_rate_cleaned    float64
dtype: object

In [68]:
small_df['int_rate_cleaned2']=df_loan['int_rate'].apply(myfunc)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  int_rate_cleaned  int_rate_cleaned2
0          856       856  ...             14.47              14.47
1         1262      1262  ...             10.33              10.33
2          920       920  ...             15.02              15.02
3          756       961  ...             12.98              12.98
4         1145      1145  ...             16.14              16.14

[5 rows x 8 columns]

In [71]:
dfl['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [72]:
len(dfl['emp_title'].unique())

43890

In [73]:
dfl['emp_title'].isnull().sum()

20942

In [0]:
examples=['owner','Supervisor','ProjectManager', np.nan]

In [0]:
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

In [78]:
# Now create a for loop
for title in examples:
  print(clean_title(title))

Owner
Supervisor
Projectmanager
Unknown

In [79]:
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Projectmanager', 'Unknown']

In [80]:
dfl['emp_title']=dfl['emp_title'].apply(clean_title)
dfl.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [81]:
dfl['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [82]:
len(dfl['emp_title'].unique())

34899

In [83]:
dfl['emp_title'].isnull().sum()

0

In [85]:
for col in dfl:
  if col.endswith('_d'):
    print(col)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d

In [0]:
mycols=[col for col in dfl.columns if col.endswith('_d')]

In [88]:
dfl['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [90]:
dfl['issue_d']=pd.to_datetime(dfl['issue_d'],infer_datetime_format=True)
dfl[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [92]:
dfl['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [93]:
dfl['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [95]:
dfl=dfl[mycols].copy()
dfl['year']=dfl['issue_d'].dt.year
dfl.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018

In [96]:
dfl['month']=dfl['issue_d'].dt.month
dfl.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018     12
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018     12
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018     12
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01