<a href="https://colab.research.google.com/github/tomashphill/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
##### Begin Working Here #####
import numpy as np
import pandas as pd

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

--2020-08-04 22:22:32--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.42.71.195, 52.32.28.252, 34.217.168.192, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.42.71.195|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  22.26M  6.72MB/s    in 4.1s

2020-08-04 22:22:37 (5.38 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23339743]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [ ]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

print(df.shape)

df.head()

(128412, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,bus driver,4 years,OWN,52000.0,Source Verified,Dec-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,Jun-1979,2,15.0,NaN,6,0,15048,73%,22,w,0.00,0.00,8169.130000,8169.13,5731.54,2437.59,0.0,0.0,0.0,Feb-2020,0.00,NaN,Mar-2020,0,...,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,688.13,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,688.13,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000.0,36 months,16.14%,422.72,C,C4,Sales Account Manager,4 years,RENT,70000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,18.96,0,Nov-2013,0,NaN,NaN,6,0,13663,61.8%,7,w,5931.69,5931.69,8324.660000,8324.66,6068.31,2256.35,0.0,0.0,0.0,Jul-2020,422.72,Aug-2020,Jul-2020,0,...,2,4,5,4,6,0.0,0,0,2,100.0,66.7,0,0,56264,34470,18500,34164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.00,Apr-2020,Jun-2020,Apr-2020,2.0,0.0,ACTIVE,173.05,6508.2,422.72,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,201xx,VA,33.17,0,Sep-2011,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Mar-2020,0,...,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,Sep-2003,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,...,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,800xx,CO,20.92,0,Jul-2013,2,32.0,67.0,8,1,1669,9.8%,10,w,5699.32,5699.32,6294.510000,6294.51,4700.68,1593.83,0.0,0.0,0.0,Jun-2020,350.32,Jul-2020,Jul-2020,0,...,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,...,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,4715.19,4715.19,7273.62,7273.62,5284.81,1988.81,0.0,0.0,0.0,Jul-2020,346.76,Aug-2020,Jul-2020,0,...,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,2330.87,2330.87,3562.66,3562.66,2669.13,893.53,0.0,0.0,0.0,Jul-2020,169.83,Aug-2020,Jul-2020,0,...,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,4570.63,4456.37,6865.92,6694.27,5429.37,1436.55,0.0,0.0,0.0,Jul-2020,327.68,Aug-2020,Jul-2020,0,...,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,4784.25,4784.25,7468.29,7468.29,5215.75,2252.54,0.0,0.0,0.0,Jul-2020,356.08,Aug-2020,Jul-2020,0,...,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Remove first 2 columns
df = df.drop(['id','member_id','desc','url'], axis=1)

In [ ]:
# Create function that converts int_rate str to float, stripping whitespace and '%'
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [ ]:
# Create column with converted int_rate
df['int_rate_cleaned'] = df['int_rate'].apply(int_rate_to_float)

In [ ]:
# Write a function to clean up emp_title use cases and increase uniformity
def clean_emp_title(title):
  # type checking
  if isinstance(title, str):
    # Give "title" casing and remove leading/trailing whitespace
    return title.strip().title()
  else:
    return "Unknown"

In [ ]:
# Overwrite original column with cleaned up one
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

In [ ]:
# Convert dates to datetime object
df['issue_d'] = pd.to_datetime(df['issue_d'])
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

# Create a columns with just the years in the dataframe
df['issue_year'] = df['issue_d'].dt.year

# Use '-' operater to create more feature columns
df['credit_length_days'] = (df['issue_d'] - df['earliest_cr_line']).dt.days
df['credit_length_years'] = df['credit_length_days'] / 365

In [ ]:
# Convert terms from str to int
df['term_cleaned'] = df['term'].apply(lambda str: int(str.strip(' months')))
df['term_cleaned']

0         36
1         36
2         36
3         60
4         36
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term_cleaned, Length: 128412, dtype: int64

In [ ]:
# Make a column named loan_status_is_great. 
# It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
# Else it should contain the integer 0.
df['loan_status_is_great'] = [1 if status == 'Current' or status == 'Fully Paid' else 0
                              for status in df['loan_status']]
                          
df['loan_status_is_great'].head(10)

0    0
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: loan_status_is_great, dtype: int64

In [ ]:
# Make last_pymnt_d_month and last_pymnt_d_year columns
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

last_pymnt_d = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d_month'] = last_pymnt_d.dt.month
df['last_pymnt_d_year'] = last_pymnt_d.dt.year

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned,issue_year,credit_length_days,credit_length_years,term_cleaned,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,Bus Driver,4 years,OWN,52000.0,Source Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,1979-06-01,2,15.0,NaN,6,0,15048,73%,22,w,0.00,0.00,8169.130000,8169.13,5731.54,2437.59,0.0,0.0,0.0,Feb-2020,0.00,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,33157,0,2,1,1,8.0,18109,44.0,1,2,8628,73.0,20700,1,1,4,3,5526.0,5175.0,73.0,0,0,141.0,474,10,8,0,10.0,15.0,1.0,15.0,0,4,4,11,12,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,688.13,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,688.13,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,14428,39.528767,36,0,2.0,2020.0
1,12000,12000,12000.0,36 months,16.14%,422.72,C,C4,Sales Account Manager,4 years,RENT,70000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,333xx,FL,18.96,0,2013-11-01,0,NaN,NaN,6,0,13663,61.8%,7,w,5931.69,5931.69,8324.660000,8324.66,6068.31,2256.35,0.0,0.0,0.0,Jul-2020,422.72,Aug-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,34470,0,2,1,1,12.0,20807,61.0,1,2,6739,61.0,22100,1,0,2,3,5745.0,5937.0,67.9,0,0,36.0,61,9,9,0,17.0,NaN,9.0,NaN,0,3,4,3,3,2,4,5,4,6,0.0,0,0,2,100.0,66.7,0,0,56264,34470,18500,34164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.00,Apr-2020,Jun-2020,Apr-2020,2.0,0.0,ACTIVE,173.05,6508.2,422.72,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,1856,5.084932,36,1,7.0,2020.0
2,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,2018-12-01,Fully Paid,n,other,Other,201xx,VA,33.17,0,2011-09-01,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.0,0.0,Jul-2019,1346.14,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,589583,2,14,3,6,1.0,113133,59.0,0,1,1988,49.0,26600,5,0,4,8,32755.0,19612.0,9.2,0,0,87.0,66,23,1,1,42.0,NaN,1.0,NaN,0,1,1,2,4,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.72,2018,2648,7.254795,36,1,7.0,2019.0
3,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,2003-09-01,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.0,0.0,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1303,49524,0,2,1,2,7.0,40623,82.0,0,0,7830,67.0,24200,2,0,1,2,7075.0,10465.0,43.7,0,0,161.0,162,45,7,4,96.0,NaN,7.0,NaN,0,2,3,3,5,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,5570,15.260274,60,1,4.0,2019.0
4,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,2013-07-01,2,32.0,67.0,8,1,1669,9.8%,10,w,5699.32,5699.32,6294.510000,6294.51,4700.68,1593.83,0.0,0.0,0.0,Jun-2020,350.32,Jul-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39564,4,2,1,2,1.0,37895,92.0,3,6,725,36.0,17000,1,0,4,8,4946.0,15331.0,9.8,0,0,65.0,57,1,1,0,1.0,NaN,0.0,32.0,0,3,3,6,6,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,1979,5.421918,36,1,6.0,2020.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [50]:
# Create top 20
top20 = (df['emp_title'].value_counts(dropna=False).sort_values(ascending=False))[1:21]
# Create new column for top 20
df['emp_title_top20'] = [title if title in top20 else "Other" for title in df['emp_title']]
df.head(100)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,int_rate_cleaned,issue_year,credit_length_days,credit_length_years,term_cleaned,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year,emp_title_top20
0,20000,20000,20000.0,36 months,14.47%,688.13,C,C2,Bus Driver,4 years,OWN,52000.0,Source Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,1979-06-01,2,15.0,NaN,6,0,15048,73%,22,w,0.00,0.00,8169.130000,8169.13,5731.54,2437.59,0.0,0.00,0.0000,Feb-2020,0.00,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,33157,0,2,1,1,8.0,18109,44.0,1,2,8628,73.0,20700,1,1,4,3,5526.0,5175.0,73.0,0,0,141.0,474,10,8,0,10.0,15.0,1.0,15.0,0,4,4,11,12,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,688.13,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,0.00,688.13,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,14428,39.528767,36,0,2.0,2020.0,Other
1,12000,12000,12000.0,36 months,16.14%,422.72,C,C4,Sales Account Manager,4 years,RENT,70000.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,333xx,FL,18.96,0,2013-11-01,0,NaN,NaN,6,0,13663,61.8%,7,w,5931.69,5931.69,8324.660000,8324.66,6068.31,2256.35,0.0,0.00,0.0000,Jul-2020,422.72,Aug-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,34470,0,2,1,1,12.0,20807,61.0,1,2,6739,61.0,22100,1,0,2,3,5745.0,5937.0,67.9,0,0,36.0,61,9,9,0,17.0,NaN,9.0,NaN,0,3,4,3,3,2,4,5,4,6,0.0,0,0,2,100.0,66.7,0,0,56264,34470,18500,34164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.00,Apr-2020,Jun-2020,Apr-2020,2.0,0.0,ACTIVE,173.05000,6508.20,422.72,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,1856,5.084932,36,1,7.0,2020.0,Other
2,7000,7000,6975.0,36 months,10.72%,228.25,B,B2,Business Analyst,< 1 year,MORTGAGE,97000.0,Source Verified,2018-12-01,Fully Paid,n,other,Other,201xx,VA,33.17,0,2011-09-01,1,NaN,NaN,18,0,1988,7.5%,30,f,0.00,0.00,7197.516809,7171.81,7000.00,197.52,0.0,0.00,0.0000,Jul-2019,1346.14,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,589583,2,14,3,6,1.0,113133,59.0,0,1,1988,49.0,26600,5,0,4,8,32755.0,19612.0,9.2,0,0,87.0,66,23,1,1,42.0,NaN,1.0,NaN,0,1,1,2,4,20,3,8,1,18,0.0,0,0,3,100.0,0.0,0,0,677593,115121,21600,160050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.72,2018,2648,7.254795,36,1,7.0,2019.0,Other
3,25000,25000,25000.0,60 months,16.14%,609.82,C,C4,Production Manager,5 years,MORTGAGE,45000.0,Not Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,703xx,LA,37.09,0,2003-09-01,0,NaN,NaN,7,0,8901,36.8%,21,w,0.00,0.00,26653.167580,26653.17,25000.00,1653.17,0.0,0.00,0.0000,Apr-2019,24857.33,NaN,May-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1303,49524,0,2,1,2,7.0,40623,82.0,0,0,7830,67.0,24200,2,0,1,2,7075.0,10465.0,43.7,0,0,161.0,162,45,7,4,96.0,NaN,7.0,NaN,0,2,3,3,5,7,5,10,3,7,0.0,0,0,1,100.0,33.3,0,0,73683,49524,18600,49483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,5570,15.260274,60,1,4.0,2019.0,Other
4,10400,10400,10400.0,36 months,12.98%,350.32,B,B5,Program Support Assistant,10+ years,MORTGAGE,56099.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,800xx,CO,20.92,0,2013-07-01,2,32.0,67.0,8,1,1669,9.8%,10,w,5699.32,5699.32,6294.510000,6294.51,4700.68,1593.83,0.0,0.00,0.0000,Jun-2020,350.32,Jul-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39564,4,2,1,2,1.0,37895,92.0,3,6,725,36.0,17000,1,0,4,8,4946.0,15331.0,9.8,0,0,65.0,57,1,1,0,1.0,NaN,0.0,32.0,0,3,3,6,6,3,6,7,3,8,0.0,0,0,4,90.0,0.0,1,0,60709,39564,17000,43709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,1979,5.421918,36,1,6.0,2020.0,Other
5,20000,20000,20000.0,36 months,7.56%,622.68,A,A3,Teacher,10+ years,MORTGAGE,100000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,982xx,WA,18.92,0,1999-02-01,0,48.0,NaN,9,0,25416,29.9%,19,w,0.00,0.00,20215.792430,20215.79,20000.00,215.79,0.0,0.00,0.0000,Feb-2019,20228.39,NaN,Feb-2019,0,NaN,1,Joint App,190000.0,11.75,Not Verified,0,0,515779,1,2,0,1,13.0,46153,71.0,1,2,9759,39.0,85100,2,2,0,5,57309.0,59684.0,29.9,0,0,171.0,238,1,1,5,1.0,NaN,13.0,48.0,0,5,5,5,6,5,5,9,5,9,0.0,0,0,1,94.7,20.0,0,0,622183,71569,85100,74833,43287.0,Aug-1998,0.0,3.0,10.0,29.7,2.0,7.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,7.56,2018,7243,19.843836,36,1,2.0,2019.0,Teacher
6,13000,13000,13000.0,36 months,17.97%,469.79,D,D1,Help Tech Supervisor,10+ years,MORTGAGE,92360.0,Source Verified,2018-12-01,Current,n,home_improvement,Home improvement,300xx,GA,27.44,0,2006-09-01,1,68.0,NaN,18,0,32020,49.6%,30,w,7359.71,7359.71,8436.750000,8436.75,5640.29,2796.46,0.0,0.00,0.0000,Jun-2020,469.79,Jul-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,131919,1,2,1,3,4.0,17310,60.0,0,2,6116,53.0,64600,1,4,1,5,7760.0,7140.0,70.7,0,0,120.0,147,16,4,2,18.0,NaN,4.0,70.0,0,5,12,6,7,6,15,22,12,18,0.0,0,0,1,90.0,66.7,0,0,190803,49330,24400,28861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,17.97,2018,4474,12.257534,36,1,6.0,2020.0,Other
7,12000,12000,12000.0,60 months,14.47%,282.16,C,C2,Assistant Athletic Director Of Marketing,1 year,RENT,67000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,231xx,VA,28.39,0,2009-08-01,1,NaN,NaN,9,0,10018,50.9%,34,w,0.00,0.00,13140.126663,13140.13,12000.00,1140.13,0.0,0.00,0.0000,Sep-2019,11169.83,NaN,Jun-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,184578,1,4,2,3,5.0,174560,97.0,0,1,4615,87.0,19700,1,1,2,4,20509.0,9682.0,50.9,0,0,112.0,80,23,5,0,23.0,NaN,5.0,NaN,0,3,3,5,5,26,5,8,3,9,0.0,0,0,2,100.0,0.0,0,0,183897,184578,19700,164197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,3409,9.339726,60,1,9.0,2019.0,Other
8,5500,5500,5500.0,36 months,11.31%,180.88,B,B3,Engineer,5 years,MORTGAGE,98000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,775xx,TX,14.62,0,1998-02-01,1,38.0,NaN,16,0,29582,41.7%,36,w,2828.67,2828.67,3412.540000,3412.54,2671.33,741.21,0.0,0.00,0.0000,Jul-2020,180.88,Aug-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,240831,1,1,1,1,10.0,17904,88.0,1,3,9629,52.0,70900,1,2,3,4,15052.0,25099.0,53.6,0,0,174.0,250,5,5,3,14.0,NaN,5.0,NaN,0,7,9,8,12,9,13,23,9,16,0.0,0,0,2,97.2,25.0,0,0,297567,48779,54100,20381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,11.31,2018,7608,20.843836,36,1,7.0,2020.0,Engineer
9,35000,35000,35000.0,60 months,18.94%,906.77,D,D2,Financial Advisor,10+ years,RENT,90000.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,432xx,OH,13.96,0,2000-10-01,0,NaN,NaN,7,0,41597,96.5%,12,w,0.00,0.00,36188.313268,36188.31,35000.00,1188.31,0.0,0.00,0.0000,Apr-2019,145.01,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,41597,0,0,0,0,53.0,0,NaN,0,0,10757,96.0,43100,0,0,0,0,5942.0,1503.0,96.5,0,0,218.0,154,53,53,0,53.0,NaN,NaN,NaN,0,6,6,6,6,5,6,6,6,7,0.0,0,0,0,100.0,100.0,0,0,43295,41597,43100,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,18.94,2018,6635,18.178082,60,1,4.0,2019.0,Other
10,35000,35000,35000.0,60 months,12.98%,796.00,B,B5,Sr. Vice President -Risk Manager,7 years,MORTGAGE,211646.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,797xx,TX,15.09,0,1985-09-01,0,77.0,NaN,13,0,55944,74.9%,39,w,0.00,0.00,36266.741552,36266.74,35000.00,1266.74,0.0,0.00,0.0000,Apr-2019,34712.60,NaN,Jul-2020,0,NaN,1,Joint App,272421.0,15.89,Source Verified,0,0,420931,1,3,1,2,5.0,26570,51.0,0,2,24795,65.0,74700,1,6,1,4,32379.0,8677.0,85.5,0,0,152.0,399,21,5,6,21.0,77.0,12.0,77.0,0,6,8,6,11,14,9,19,8,13,0.0,0,0,1,97.4,66.7,0,0,516204,82514,59700,51904,88364.0,Sep-1985,0.0,6.0,19.0,53.4,2.0,29.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,12.98,2018,12144,33.271233,60,1,4.0,2019.0,Other
11,20400,20400,20400.0,60 months,10.33%,436.76,B,B1,Bakery Manager,10+ years,MORTGAGE,140000.0,Not Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,815xx,CO,5.04,0,1989-12-01,0,NaN,NaN,13,0,6516,9%,27,w,0.00,0.00,20913.760288,20913.76,20400.00,513.76,0.0,0.00,0.0000,Apr-2019,20057.80,NaN,Dec-2019,0,NaN,1,Joint App,240000.0,3.17,Not Verified,0,0,430872,2,1,1,2,10.0,15561,92.0,2,2,2779,25.0,72200,0,5,1,6,33144.0,40101.0,8.9,0,0,121.0,348,2,2,4,2.0,NaN,11.0,NaN,0,2,4,6,8,8,11,15,4,13,0.0,0,0,4,100.0,0.0,0,0,504296,22077,44000,16896,7957.0,Jun-2002,0.0,4.0,9.0,13.3,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,10592,29.019178,60,1,4.0,2019.0,Other
12,27975,27975,27975.0,36 months,14.47%,962.52,C,C2,Conductor,10+ years,MORTGAGE,180000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,117xx,NY,11.47,0,1995-07-01,0,39.0,NaN,10,0,29711,66.8%,19,w,0.00,0.00,31804.529849,31804.53,27975.00,3829.53,0.0,0.00,0.0000,Jan-2020,20288.02,NaN,Mar-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,206072,0,1,0,1,17.0,15676,63.0,0,1,10861,65.0,44500,1,4,2,2,20607.0,7416.0,74.9,0,0,17.0,281,20,17,5,20.0,39.0,1.0,39.0,0,5,7,5,6,1,8,13,7,10,0.0,0,0,0,78.9,60.0,0,0,286525,45387,29500,25025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,8554,23.435616,36,1,1.0,2020.0,Other
13,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,Teacher,10+ years,OWN,110000.0,Not Verified,2018-12-01,Charged Off,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,1997-01-01,0,7.0,NaN,23,0,39053,45.7%,49,w,0.00,0.00,5848.050000,5848.05,3024.11,2823.94,0.0,0.00,0.0000,Oct-2019,587.82,NaN,Jul-2020,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,8004,21.928767,60,0,10.0,2019.0,Teacher
14,30000,30000,30000.0,60 months,26.31%,903.73,E,E4,Casino Host,10+ years,OWN,62000.0,Source Verified,2018-12-01,Charged Off,n,debt_consolidation,Debt consolidation,920xx,CA,37.24,0,2007-10-01,0,NaN,86.0,15,1,18890,39.8%,36,w,0.00,0.00,2645.410000,2645.41,754.24,1891.17,0.0,0.00,0.0000,Apr-2019,903.73,NaN,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,104590,1,2,1,2,6.0,85700,86.0,0,3,5976,49.0,47500,4,0,8,5,6973.0,17510.0,51.9,0,0,134.0,104,13,6,0,13.0,NaN,6.0,NaN,0,5,5,7,7,20,13,16,5,15,0.0,0,0,1,100.0,14.3,1,0,138354,104590,36400,90854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,26.31,2018,4079,11.175342,60,0,4.0,2019.0,Other
15,14000,14000,14000.0,36 months,16.14%,493.17,C,C4,Unknown,NaN,MORTGAGE,77479.0,Not Verified,2018-12-01,Current,n,other,Other,315xx,GA,23.65,0,2005-03-01,0,38.0,NaN,6,0,8147,101.8%,21,w,7833.22,7833.22,8858.230000,8858.23,6166.78,2691.45,0.0,0.00,0.0000,Jun-2020,493.17,Jul-2020,Jul-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,160981,0,4,1,4,12.0,48653,69.0,0,1,8147,75.0,8000,2,2,2,5,26830.0,0.0,101.8,0,0,155.0,165,16,12,2,16.0,38.0,11.0,38.0,0,1,1,1,3,14,1,5,1,6,0.0,0,0,1,90.5,100.0,0,0,197087,56800,8000,80287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,16.14,2018,5023,13.761644,36,1,6.0,2020.0,Other
16,12000,12000,12000.0,60 months,14.47%,282.16,C,C2,Reimbursement Specialist,6 years,MORTGAGE,39000.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,130xx,NY,16.06,0,2006-01-01,0,NaN,NaN,11,0,7899,28.9%,24,w,0.00,0.00,13102.212905,13102.21,12000.00,1102.21,0.0,0.00,0.0000,Sep-2019,34.89,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,100619,0,0,1,2,7.0,9454,79.0,0,2,2256,44.0,27300,0,10,1,5,9147.0,14931.0,17.1,0,0,155.0,136,13,7,1,15.0,NaN,7.0,NaN,0,2,5,5,6,9,8,13,5,11,0.0,0,0,1,100.0,0.0,0,0,123639,17353,18000,11939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,14.47,2018,4717,12.923288,60,1,9.0,2019.0,Other
17,7000,7000,7000.0,36 months,10.33%,226.96,B,B1,Reference/Ya Librarian,3 years,RENT,45581.0,Not Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,018xx,MA,17.40,0,2000-03-01,0,NaN,NaN,8,0,15786,92.9%,19,w,0.00,0.00,7809.040000,7809.04,7000.00,809.04,0.0,0.00,0.0000,May-2020,4410.67,NaN,May-2020,0,NaN,1,Individual,NaN,NaN,NaN,0,0,103678,1,4,0,0,51.0,87892,107.0,1,1,3314,104.0,17000,0,2,0,1,12960.0,470.0,92.8,0,0,189.0,225,6,6,0,25.0,NaN,NaN,NaN,0,2,3,2,5,8,4,11,3,8,0.0,0,0,1,100.0,100.0,0,0,99299,103678,6500,82299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,10.33,2018,6849,18.764384,36,1,5.0,2020.0,Other
18,8425,8425,8425.0,36 months,27.27%,345.18,E,E5,Senior Director Risk Management,3 years,MORTGAGE,450000.0,Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,020xx,MA,12.37,0,1997-10-01,0,NaN,NaN,21,0,36812,65.7%,37,w,0.00,0.00,8735.148975,8735.15,8425.00,310.15,0.0,0.00,0.0000,Feb-2019,8754.30,NaN,Mar-2020,0,NaN,1,Joint App,515000.0,16.47,Not Verified,0,0,690320,0,6,1,6,12.0,152382,70.0,1,4,9744,68.0,56000,7,0,5,10,34516.0,11632.0,74.6,0,0,254.0,89,12,12,4,18.0,NaN,4.0,NaN,0,6,8,8,10,16,13,17,8,21,0.0,0,0,2,100.0,50.0,0,0,768304,189194,45800,189054,141905.0,Jun-2013,0.0,1.0,4.0,77.4,1.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,27.27,2018,7731,21.180822,36,1,2.0,2019.0,Other
19,10000,10000,10000.0,36 months,18.94%,366.26,D,D2,Especialist 1,7 years,MORTGAGE,37115.0,Not Verified,2018-12-01,Current,n,other,Other,891xx,NV,33.57,0,2002-01-01,0,38.0,NaN,9,0,5837,53.1%,15,w,5704.79,5704.79,6576.900000,6576.90,4295.21,2281.69,0.0,0.00,0.0000,Jul-2020,366.26,Aug-2020,Jul-2020,0,38.0,1,Joint App,91115.0,18.61,Not Verified,0,0,240589,3,2,1,2,8.0,34508,88.0,2,3,1659,64.0,11000,2,0,5,6,26732.0,2669.0,52.3,0,0,158.0,203,4,4,1,5.0,38.0,7.0,38.0,1,2,5,3,6,4,6,10,5,9,0.0,0,0,4,93.3,33.3,0,0,253346,40345,5600,41060,19051.0,Jan-2016,1.0,1.0,9.0,76.4,2.0,7.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,18.94,2018,6178,16.926027,36,1,7.0,2020.0,Other
20,1250,1250,1250.0,36 months,23.40%,48.65,E,E1,Banker,10+ years,RENT,52000.0,Source Verified,2018-12-01,Fully Paid,n,other,Other,477xx,IN,9.90,0,2011-01-01,2,NaN,NaN,7,0,8050,28.9%,10,w,0.00,0.00,1512.844938,1512.84,1250.00,262.84,0.0,0.00,0.0000,Dec-2019,980.13,NaN,Dec-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,8050,1,0,0,0,53.0,0,NaN,1,2,4356,29.0,27900,1,0,2,2,1150.0,6483.0,54.3,0,0,53.0,95,2,2,0,2.0,NaN,1.0,NaN,0,4,7,4,6,1,7,9,7,7,0.0,0,0,1,100.0,0.0,0,0,27900,8050,14200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,23.40,2018,2891,7.920548,36,1,12.0,2019.0,Other
21,35000,35000,35000.0,60 months,19.92%,925.73,D,D3,Operator,10+ years,MORTGAGE,68000.0,Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,309xx,GA,50.67,0,2006-11-01,0,NaN,NaN,15,0,21426,72.4%,19,w,29184.03,29184.03,13827.850000,13827.85,5815.97,8011.88,0.0,0.00,0.0000,Jul-2020,0.00,Sep-2020,Jul-2020,0,NaN,1,Joint App,142000.0,33.20,Verified,0,0,386561,0,3,0,3,15.0,117426,74.0,1,8,4815,73.0,29600,3,3,2,11,25771.0,6686.0,72.9,0,0,46.0,145,10,10,1,13.0,NaN,0.0,NaN,0,9,11,9,10,5,11,13,11,15,0.0,0,0,1,100.0,33.3,0,0,432156,138852,24700,140677,55728.0,Feb-1999,0.0,0.0,15.0,45.5,5.0,15.0,0.0,0.0,46.0,Y,CVD19SKIP,REDUCED_HOURS,ACTIVE,4.0,0.00,May-2020,Aug-2020,Jun-2020,4.0,0.0,ACTIVE,4031.43000,29943.01,331.15,N,NaN,NaN,NaN,NaN,NaN,NaN,19.92,2018,4413,12.090411,60,1,7.0,2020.0,Other
22,6000,6000,6000.0,36 months,6.46%,183.79,A,A1,Senior Manager,3 years,RENT,27000.0,Not Verified,2018-12-01,Fully Paid,n,credit_card,Credit card refinancing,951xx,CA,7.64,0,2004-08-01,0,68.0,NaN,4,0,4601,55.4%,6,w,0.00,0.00,6240.322301,6240.32,6000.00,240.32,0.0,0.00,0.0000,Aug-2019,4971.01,NaN,Jul-2020,0,68.0,1,Individual,NaN,NaN,NaN,0,0,4601,1,0,0,0,NaN,0,NaN,1,1,1929,55.0,8300,0,0,1,1,1150.0,2163.0,65.7,0,0,NaN,172,3,3,0,38.0,68.0,10.0,68.0,1,3,4,3,5,0,4,6,4,4,0.0,0,0,1,83.3,33.3,0,0,8300,4601,6300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,6.46,2018,5235,14.342466,36,1,8.0,2019.0,Other
23,28000,28000,28000.0,60 months,13.56%,645.15,C,C1,Project Manager,10+ years,MORTGAGE,128500.0,Source Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,760xx,TX,27.35,1,1987-07-01,0,24.0,NaN,16,0,55206,75%,31,w,21469.37,21469.37,11581.060000,11581.06,6530.63,5050.43,0.0,0.00,0.0000,Jun-2020,645.15,Jul-2020,Jul-2020,0,71.0,1,Individual,NaN,NaN,NaN,0,0,455106,1,2,1,1,2.0,47753,79.0,0,0,17372,75.0,73700,0,1,1,1,30340.0,6875.0,98.0,0,0,126.0,373,72,2,3,72.0,65.0,3.0,24.0,0,9,11,10,10,9,11,17,11,15,NaN,0,0,1,94.0,100.0,0,0,542027,128345,55000,60331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,13.56,2018,11476,31.441096,60,1,6.0,2020.0,Project Manager

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01