<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [22]:
##### Begin Working Here #####

#upload file from local drive
#read in CSV

import pandas as pd
pd.set_option('display.max_rows', 200)

df = pd.read_csv('LoanStats_2017Q1 2.csv', skiprows=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

(96779, 122)

   id  ...  sec_app_mths_since_last_major_derog
0 NaN  ...                                  NaN
1 NaN  ...                                  NaN
2 NaN  ...                                  NaN
3 NaN  ...                                  NaN
4 NaN  ...                                  NaN

[5 rows x 122 columns]

In [0]:
#Look to see if there are any columns that are all NaN values


df.isnull().sum().sort_values()

In [0]:
#Drop the Columns 'url', 'member_id', 'desc', 'id'

df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)
df.isnull().sum().sort_values()

In [33]:
#Clean up the term column

df['term']

0         36 months
1         60 months
2         36 months
3         36 months
4         36 months
            ...
96774     60 months
96775     36 months
96776     36 months
96777     36 months
96778     60 months
Name: term, Length: 96779, dtype: object

In [29]:
#check how these are formatted

df['term'][0]

' 36 months'

In [0]:
term = ' 36 months'

In [31]:
term.strip()

'36 months'

In [39]:
term.strip(' months')

'36'

In [40]:
#change term from object to integer

int(term.strip().strip(' months'))

36

In [0]:
#function for changing term to integer

def term_to_int(cell_contents):

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01