<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [87]:
import pandas as pd

df = pd.read_csv('https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip', 
                 skiprows=1, skipfooter=2)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df = df.drop(['id', 'member_id', 'url', 'desc'], axis=1)

In [89]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      25000        25000  ...                    NaN             NaN
2      26500        26500  ...                    NaN             NaN
3      10400        10400  ...                    NaN             NaN
4      35000        35000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
def rate_to_float(int_rate):
  return float(int_rate.strip().strip('%'))

In [0]:
df['int_rate'] = df['int_rate'].apply(rate_to_float)

In [92]:
df['int_rate'][:30]

0     14.47
1     16.14
2     11.31
3     12.98
4     12.98
5      7.56
6     17.97
7     14.47
8     11.80
9     17.97
10    18.94
11    10.72
12    11.31
13    10.33
14    17.97
15    11.31
16    16.14
17    17.97
18    10.33
19    16.14
20    14.47
21    15.02
22    12.98
23    14.47
24    14.47
25    27.27
26    16.14
27    14.47
28    17.97
29    17.97
Name: int_rate, dtype: float64

In [0]:
def title_cleaner(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

In [0]:
df['emp_title'] = df['emp_title'].apply(title_cleaner)

In [94]:
df['emp_title'][:15]

0                                   bus driver
1                           Production Manager
2                          Compliance Director
3                   Program Support Assistant
4             Sr. Vice President -Risk Manager
5                                      Teacher
6                         Help Tech Supervisor
7     Assistant Athletic Director of Marketing
8                       Transportation Manager
9                                   Pharmacist
10                           Financial Advisor
11                            Business Analyst
12                                    Shipping
13                                      Driver
14                                 Haz Mat S/R
Name: emp_title, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [96]:
df.dtypes[:14]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                      float64
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
dtype: object

In [0]:
df['issue_year'] = df["issue_d"].dt.year

In [0]:
df['issue_month'] = df["issue_d"].dt.month

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [100]:
df['earliest_cr_line'][:12]

0    1979-06-01
1    2003-09-01
2    2006-12-01
3    2013-07-01
4    1985-09-01
5    1999-02-01
6    2006-09-01
7    2009-08-01
8    1988-09-01
9    2008-09-01
10   2000-10-01
11   2011-09-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [102]:
df.head(10)

   loan_amnt  funded_amnt  ...  issue_month days_from_earliest_credit_to_issue
0      20000        20000  ...           12                              14428
1      25000        25000  ...           12                               5570
2      26500        26500  ...           12                               4383
3      10400        10400  ...           12                               1979
4      35000        35000  ...           12                              12144
5      20000        20000  ...           12                               7243
6      13000        13000  ...           12                               4474
7      12000        12000  ...           12                               3409
8      12000        12000  ...           12                              11048
9      36000        36000  ...           12                               3743

[10 rows x 143 columns]

In [103]:
term_test = '36 months'



def term_to_int(term):
  return int(term.strip(' months'))

term_to_int(term_test)

36

In [0]:
df['term'] = df['term'].apply(term_to_int)

In [105]:
df['term'][:25]

0     36
1     60
2     60
3     36
4     60
5     36
6     36
7     60
8     36
9     60
10    60
11    36
12    36
13    36
14    36
15    36
16    36
17    36
18    60
19    36
20    60
21    36
22    60
23    36
24    60
Name: term, dtype: int64

In [0]:
df['loan_status_is_great'] = 'loan_status_is_great'

In [0]:
def loan_status_set(row):
  if row['loan_status'] == 'Fully Paid' or row['loan_status'] == 'Current':
    return 1
  else:
    return 0
  
df['loan_status_is_great'] = df.apply (lambda row: loan_status_set(row), axis=1)

In [120]:
df['loan_status_is_great'][:35]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    0
32    1
33    1
34    1
Name: loan_status_is_great, dtype: int64

0         Current
1      Fully Paid
2         Current
3         Current
4      Fully Paid
5      Fully Paid
6         Current
7      Fully Paid
8         Current
9         Current
10     Fully Paid
11     Fully Paid
12        Current
13        Current
14        Current
15        Current
16        Current
17        Current
18     Fully Paid
19        Current
20        Current
21        Current
22        Current
23        Current
24        Current
25        Current
26     Fully Paid
27        Current
28        Current
29        Current
30        Current
31    Charged Off
32        Current
33     Fully Paid
34     Fully Paid
35        Current
36     Fully Paid
37     Fully Paid
38        Current
39        Current
40        Current
41        Current
42        Current
43        Current
44     Fully Paid
45        Current
46        Current
47     Fully Paid
48        Current
49        Current
Name: loan_status, dtype: object

In [86]:
df.head(50)

    loan_amnt  ...  loan_status_is_great
0       20000  ...                     1
1       25000  ...                     1
2       26500  ...                     1
3       10400  ...                     1
4       35000  ...                     1
5       20000  ...                     1
6       13000  ...                     1
7       12000  ...                     1
8       12000  ...                     1
9       36000  ...                     1
10      35000  ...                     1
11       7000  ...                     1
12       5000  ...                     1
13       3000  ...                     1
14       1200  ...                     1
15       5500  ...                     1
16      12000  ...                     1
17       8250  ...                     1
18      20400  ...                     1
19      10000  ...                     1
20      18000  ...                     1
21      15000  ...                     1
22      32000  ...                     1
23      27975  ...                     1
24      25000  ...                     1
25      30000  ...                     1
26      10000  ...                     1
27       6000  ...                     1
28       6500  ...                     1
29      25000  ...                     1
30      14000  ...                     1
31      30000  ...                     1
32      16000  ...                     1
33      12000  ...                     1
34       3000  ...                     1
35       7000  ...                     1
36       1000  ...                     1
37       8425  ...                     1
38      10000  ...                     1
39       7500  ...                     1
40      10000  ...                     1
41      25000  ...                     1
42       6500  ...                     1
43       8500  ...                     1
44       1000  ...                     1
45       2200  ...                     1
46      11200  ...                     1
47      25000  ...                     1
48       1250  ...                     1
49      35000  ...                     1

[50 rows x 142 columns]

In [0]:
df['last_pymnt_d_month'] = ''

In [0]:
df['last_pymnt_d_year'] = ''

In [125]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...
1      25000        25000  ...
2      26500        26500  ...
3      10400        10400  ...
4      35000        35000  ...

[5 rows x 146 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01