<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# README

Link to my copy of today's lesson. 
https://colab.research.google.com/github/emilyng/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features.ipynb

This notebook assignment is a continuation, written below.

In [7]:
##### Begin Working Here #####

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-14 23:04:12--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [             <=>    ]  21.72M  1.88MB/s    in 12s

2020-01-14 23:04:24 (1.86 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [8]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [43]:
import pandas as pd
df = pd.read_csv("LoanStats_2018Q4.csv", header=1)
df = df.drop(['url','member_id', 'id', 'desc'], axis=1) #drop NaN columns
df = df.drop(df.tail(2).index, axis=0) #drop last 2 rows (only consists of NaN)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
df

        loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0          6000.0       6000.0  ...                  60.01            24.0
1         24000.0      24000.0  ...                    NaN             NaN
2         30000.0      30000.0  ...                    NaN             NaN
3          8000.0       8000.0  ...                    NaN             NaN
4         22400.0      22400.0  ...                    NaN             NaN
...           ...          ...  ...                    ...             ...
128392    23000.0      23000.0  ...                    NaN             NaN
128393    10000.0      10000.0  ...                    NaN             NaN
128394     5000.0       5000.0  ...                    NaN             NaN
128395    10000.0      10000.0  ...                    NaN             NaN
128396    10000.0      10000.0  ...                    NaN             NaN

[128397 rows x 140 columns]

# Reformatting `term` column.

In [0]:
def term_clean(entry):
  if isinstance(entry, str):
    return int(entry.strip("months").strip())
  else:
    return np.Nan

df['term'] = df['term'].apply(term_clean)

In [46]:
df['term']

0         36
1         36
2         36
3         36
4         60
          ..
128392    36
128393    36
128394    36
128395    36
128396    36
Name: term, Length: 128397, dtype: int64

# Adding new `loan_status_is_great` column from existing `loan_status` column.

In [47]:
def good_loan_status(entry):
  if entry == "Current" or "Fully Paid":
    return 1
  else:
    return 0

df['loan_status_is_great'] = df['loan_status'].apply(good_loan_status)
df['loan_status_is_great']

0         1
1         1
2         1
3         1
4         1
         ..
128392    1
128393    1
128394    1
128395    1
128396    1
Name: loan_status_is_great, Length: 128397, dtype: int64

# Making `last_pymnt_d_month` and `last_pymnt_d_year` columns

In [0]:
df['last_pymnt_d_month'] = (pd.to_datetime(df['last_pymnt_d'])).dt.month
df['last_pymnt_d_year'] = (pd.to_datetime(df['last_pymnt_d'])).dt.year

In [49]:
pd.to_datetime(df['last_pymnt_d']).dt.month

0          4.0
1         12.0
2          2.0
3         12.0
4         12.0
          ...
128392    12.0
128393    12.0
128394    12.0
128395    12.0
128396    12.0
Name: last_pymnt_d, Length: 128397, dtype: float64

In [50]:
df['last_pymnt_d_month'].head(), df['last_pymnt_d_year'].head()

(0     4.0
 1    12.0
 2     2.0
 3    12.0
 4    12.0
 Name: last_pymnt_d_month, dtype: float64, 0    2019.0
 1    2019.0
 2    2019.0
 3    2019.0
 4    2019.0
 Name: last_pymnt_d_year, dtype: float64)

# Fixing columns with % signs. (`int_rate` and `revol_util`)

In [0]:
def percent_to_float(cell_contents):
  if isinstance(cell_contents, str):
    return float(cell_contents.strip().strip("%"))
  else:
    return cell_contents

In [0]:
df['int_rate']= df['int_rate'].apply(percent_to_float)

In [55]:
df['int_rate']

0         14.47
1         10.33
2         15.02
3         12.98
4         16.14
          ...
128392    15.02
128393    15.02
128394    13.56
128395    11.06
128396    16.91
Name: int_rate, Length: 128397, dtype: float64

In [56]:
df

        loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0          6000.0       6000.0  ...                 4.0             2019.0
1         24000.0      24000.0  ...                12.0             2019.0
2         30000.0      30000.0  ...                 2.0             2019.0
3          8000.0       8000.0  ...                12.0             2019.0
4         22400.0      22400.0  ...                12.0             2019.0
...           ...          ...  ...                 ...                ...
128392    23000.0      23000.0  ...                12.0             2018.0
128393    10000.0      10000.0  ...                12.0             2019.0
128394     5000.0       5000.0  ...                12.0             2019.0
128395    10000.0      10000.0  ...                12.0             2019.0
128396    10000.0      10000.0  ...                12.0             2019.0

[128397 rows x 143 columns]

In [0]:
df['revol_util'] = df['revol_util'].apply(percent_to_float)

In [58]:
df['revol_util']

0         91.2
1         27.7
2         48.0
3         33.3
4         38.2
          ...
128392    43.6
128393    37.1
128394    27.3
128395    13.1
128396    30.8
Name: revol_util, Length: 128397, dtype: float64

In [63]:
df['revol_util'].isnull().sum()

156

#Categorizing non top 20 jobs as 'Other'.

In [0]:
top_emps = df['emp_title'].value_counts()[:20].index

In [0]:
def mod_emp(entry):
  if entry in top_emps:
    return entry
  else:
    return "Other"

In [85]:
df['emp_title'] = df['emp_title'].apply(mod_emp)
df['emp_title']

0         Manager
1           Other
2           Other
3           Other
4           Other
           ...
128392      Other
128393      Other
128394      Other
128395      Other
128396      Other
Name: emp_title, Length: 128397, dtype: object

In [89]:
print(df['emp_title'].unique())
len(df['emp_title'].unique())

['Manager' 'Other' 'Supervisor ' 'Driver' 'Engineer' 'Teacher'
 'Project Manager' 'Director' 'General Manager' 'Sales' 'Office Manager'
 'Supervisor' 'Operations Manager' 'Registered Nurse' 'Nurse' 'RN'
 'Truck Driver' 'Owner' 'manager' 'Administrative Assistant'
 'Sales Manager']

21

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-14 22:06:25--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.112.69
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.112.69|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  46.9MB/s    in 4.6s

2020-01-14 22:06:35 (42.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!pwd

/content/instacart_2017_05_01

In [5]:
!ls

aisles.csv	 order_products__prior.csv  orders.csv
departments.csv  order_products__train.csv  products.csv