<a href="https://colab.research.google.com/github/jproctor-rebecca/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
##### Begin Working Here #####
import pandas as pd
# needed for dataframes

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
# Ames Iowa Housing Dataset

print(df.shape)
df.head()

In [ ]:
df.dtypes
# may print truncated display settings with elipses

In [ ]:
# sets parameters for data display to avoid truncation
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)


df.head()

In [ ]:
df['BedroomAbvGr'].head(10)
# view data to determine/confirm data type

In [ ]:
df['LotFrontage'].head(10)
# view data to determine/confirm data type

In [ ]:
df["LotFrontage"].value_counts(dropna=False).head()
# note that NaN is the most common value in column

In [ ]:
import numpy as np
# needed for mathematical computations

type(np.NaN)

In [ ]:
# make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
# save to a new data frame with all links to old dataframe broken
small_df = df['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice'].copy()

small_df.head()

In [ ]:
# add the square footage to get a total square footage column
# remember to use bracket syntax to make a new column in dataframes
# we make new columns that say new things about our data using the current data 
# this is one of the most important ways to improve machine learning model

small_df['TotalSquareFootage'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']

small_df.head()

In [ ]:
# add another column by dividing the price by the square footage

small_df['PricePerSqFt'] = (small_df['SalePrice'] / small_df['TotalSquareFootage'])

small_df.head()

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [ ]:
# df = pd.read_csv('LoanStats_2018Q4')

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

In [ ]:
!head LoanStats_2018Q4.csv
# need to skip first row - just notes & being used as header

In [ ]:
!tail LoanStats_2018Q4.csv
# need to skipp footer - currently included in nulls for every column

In [ ]:
df1 = pd.read_csv('LoanStats_2018Q4.csv')

print(df.shape)
df.head()
# need to fix the header problem by using the 'skiprows' parameter

In [ ]:
# df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)
df1 = pd.read_csv('LoanStats_2018Q4.csv', header=1)

# print(df.shape)
df1.head()

In [ ]:
# make sure to check the shape even if you have to check it seperately for now 
# so you don't miss it
print(df1.shape)

In [ ]:
# check for nulls by summing null values by column and sorting
# from least to greatest

df1.isnull().sum().sort_values()

In [ ]:
# address the extra NaNs in each column by skipping the footer as well

df1 = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, 
                 engine='python')
# resolve error by adding "engine='python'" parser

print(df1.shape)
df1.head()

In [ ]:
# check for nulls by summing null values by column and sorting
# from least to greatest
df1.isnull().sum().sort_values()

In [ ]:
# publicly traded data cannot be used to track individuals
# make sure to include column axis=1 or row axis=1 parameter

df1 = df1.drop(['url', 'member_id', 'desc', 'id'], axis=1)
# dropping columns that are completely blank

print(df1.shape)
df1.head()

In [ ]:
# view the first 10 values of the int_rate column

# df1['int_rate'][:10]
df1['int_rate'](10)

In [ ]:
# view a specific value from the int_rate column

df1['int_rate'][0]

In [ ]:
df1['int_rate'][1]

In [ ]:
# removes whitespace and string characters
# chaining functions
# int_rate.strip().strip('%')

# now cast string value to a float
# float(int_rate.strip().strip('%'))

# now do this for the entire column
# must be held in a function
# name funtion so that it is clear what function does
# write a function that will work on any cell in the column
# Use .apply() to call the function

In [ ]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

# def int_rate_to_float(int_rate):
  # return float(int_rate.strip().strip('%'))

In [ ]:
df1['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

df1.head()

''' For loop is the long way of modifying multiple items in a dataframe 
    and not suggested but is listed below to show what is happening
    under the hood .apply() is called '''

# Cleaned_int_rates = []

# for int_rate in df('int_rate'):
   # cleadened_int_rates.append(int_rate_to_float(int_rate))

# df1['cleaned_int_rate'] = pd.Series(cleaded_int_rates)

# df1.head()

In [ ]:
# convert the string 'term' to an integer

In [ ]:
# view datatypes of the last 5 columns
df1.dtypes[-5:]

In [ ]:
# unique employment titles
len(df1['emp_title'].value_counts())

In [ ]:
df1['emp_title'].nunique()

In [ ]:
df1['emp_title'].isnunll().sum()

In [ ]:
# emplyment titles we want to clean up

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [ ]:
"""def clean_emp_title(title):
  if isinstance(title, string):
    return title.strip().title()
  else
    return "NA"
    # will get changed to a NaN again

  for example in examples:
    print(clean_emp_title(example))"""

In [ ]:
# function cleans up cases and increase uniformity

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()  '''could use .lower() to make all lower case'''
  else:
    return "Unknown"

for example in examples:
  print(clean_title(example))

In [ ]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.
# list comprehensions can make your lists a little more readable

[clean_title(example) for example in examples]

In [ ]:
# overwrite the original column 

df1['emp_title'] = df1['emp_title'].apply(clean_title)

df1.head()

In [ ]:
# view top 20 employment titles
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

In [ ]:
# view top 20 unique employment titles
df1['emp_title'].nunique(dropna=False, ascending=False)[:20]

In [ ]:
# check for null (NaN) by using sum of emplyment titles
df1['emp_title'].isnull().sum()

In [ ]:
# add another column that describes the status of the loan
# assign an integer value of 1 IF the loan_status is "Current" or "Fully Paid"
# ELSE assign and integer value of 0 to loan_status_is_great

In [ ]:
# create a column list of all columns headers that end with "_d"
[col for col in df1 if col.endswith('_d')]

In [ ]:
# issue date: month and year; string
df1['issue_d'][:10]
# df['issue_d'].head()

In [ ]:
# convert from string to numeric data using datetime stamp
df1['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

df.dtypes[:15]

In [ ]:
# check for persistance of conversion
#df['issue_d'].iloc[0]
df1['issue_d'][0]

In [ ]:
'''example notation'''
# array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
      # '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       #'2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [ ]:
# returns year of datetime
df1['issue_d'].dt.year

In [ ]:
# returns month of datetime
df1['issue_d'].dt.month

In [ ]:
# assigning numeric values makes them easy to manipulate
df1['issue_year'] = df1['issue_d'].dt.year
df1['issue_month'] = df1['issue_d'].dt.month

df1.head()

In [ ]:
# add column last_pymt_d_month

In [ ]:
# add column last_pymt_d_year

In [ ]:
# view first 5 of column containing customer's earliest line of credit
df1['earliest_cr_line'].head()

In [ ]:
df1['earliest_cr_line'] = pd.to_datetime(df1['earliest_cr_line'], 
                                        infer_datetime_format=True)
# creating new column

In [ ]:
df1['years_from_earliest_credit_to_issue'] = (df1['issue_d'] - df1['earliest_cr_line']).dt.days / 365
# number of years of credit history

In [ ]:
df['years_from_earliest_credit_to_issue'].head()

In [ ]:
df['years_from_earliest_credit_to_issue'].describe()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01