<a href="https://colab.research.google.com/github/jose-marquez89/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

**Filepath for my sake and for later:** module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb

In [0]:
import pandas as pd
import numpy as np

In [3]:
# Get the data 
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-04 02:46:39--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.69M   815KB/s    in 28s

2019-12-04 02:47:08 (796 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22744357]

In [4]:
# Unzip the archive
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
# Load the data set into a new pandas dataframe, skip last two rows and fix header
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Change the "term" column from strings to integers

# Create a function to isolate numbers
def monthsToInt(cellContents):
  return int(cellContents.strip('months').strip())

In [0]:
# Apply function to entire "term" column
df['term'] = df['term'].apply(monthsToInt)

In [18]:
# "term" column is now comprised of numeric values
print(df['term'])
type(df['term'][1234])

0         36
1         60
2         60
3         36
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

numpy.int64

In [0]:
# Investigating loan_status

# Checking to see if the desired categories need cleaning
# There was probably a better way to do this?
[category for category in df['loan_status'][:30]]

['Current',
 'Fully Paid',
 'Current',
 'Current',
 'Fully Paid',
 'Fully Paid',
 'Current',
 'Fully Paid',
 'Current',
 'Current',
 'Fully Paid',
 'Fully Paid',
 'Current',
 'Current',
 'Current',
 'Current',
 'Current',
 'Current',
 'Fully Paid',
 'Current',
 'Current',
 'Current',
 'Current',
 'Current',
 'Current',
 'Current',
 'Fully Paid',
 'Current',
 'Charged Off',
 'Current']

In [0]:
# Create a function to handle the loan_status category conversions
def clear(cellContents):
  if cellContents == 'Current' or cellContents == 'Fully Paid':
    return 1
  else:
    return 0

In [0]:
# Create the new column using the new function
df['loan_status_is_great'] = df['loan_status'].apply(clear)

# Side by side comparison for verification
df[['loan_status','loan_status_is_great']][:50]

           loan_status  loan_status_is_great
0              Current                     1
1           Fully Paid                     1
2              Current                     1
3              Current                     1
4           Fully Paid                     1
5           Fully Paid                     1
6              Current                     1
7           Fully Paid                     1
8              Current                     1
9              Current                     1
10          Fully Paid                     1
11          Fully Paid                     1
12             Current                     1
13             Current                     1
14             Current                     1
15             Current                     1
16             Current                     1
17             Current                     1
18          Fully Paid                     1
19             Current                     1
20             Current                     1
21             Current                     1
22             Current                     1
23             Current                     1
24             Current                     1
25             Current                     1
26          Fully Paid                     1
27             Current                     1
28         Charged Off                     0
29             Current                     1
30          Fully Paid                     1
31          Fully Paid                     1
32             Current                     1
33          Fully Paid                     1
34          Fully Paid                     1
35             Current                     1
36  Late (31-120 days)                     0
37             Current                     1
38             Current                     1
39             Current                     1
40             Current                     1
41          Fully Paid                     1
42             Current                     1
43             Current                     1
44          Fully Paid                     1
45          Fully Paid                     1
46          Fully Paid                     1
47         Charged Off                     0
48             Current                     1
49             Current                     1

In [0]:
# Create last_pymnt_d_month
byMonth = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d_month'] = byMonth.dt.month

In [0]:
# New column is created but results in float values 
df['last_pymnt_d_month']

0         11.0
1          4.0
2         10.0
3         10.0
4          4.0
          ...
128407    12.0
128408    11.0
128409    11.0
128410    11.0
128411    11.0
Name: last_pymnt_d_month, Length: 128412, dtype: float64

In [0]:
# A search on stack overflow revealed that this could be due to NaN values
df['last_pymnt_d'].value_counts(dropna=False)

# TODO: go back and fill NaN values with something else

Nov-2019    94238
Oct-2019    10607
Jul-2019     3156
Sep-2019     2871
Aug-2019     2758
May-2019     2547
Apr-2019     2356
Jun-2019     2285
Mar-2019     1984
Feb-2019     1915
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
NaN           159
Dec-2019        8
Name: last_pymnt_d, dtype: int64

In [0]:
# Repeating the process for year
byYear = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d_year'] = byMonth.dt.year

In [0]:
# Now the two new columns are created

'''I proceeded in this way so that I didn't have to change the 
   original column to timestamps. Not really sure if that was
   necessary'''

df[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']][:20]

   last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0      Nov-2019                11.0             2019.0
1      Apr-2019                 4.0             2019.0
2      Oct-2019                10.0             2019.0
3      Oct-2019                10.0             2019.0
4      Apr-2019                 4.0             2019.0
5      Feb-2019                 2.0             2019.0
6      Oct-2019                10.0             2019.0
7      Sep-2019                 9.0             2019.0
8      Oct-2019                10.0             2019.0
9      Nov-2019                11.0             2019.0
10     Apr-2019                 4.0             2019.0
11     Jul-2019                 7.0             2019.0
12     Nov-2019                11.0             2019.0
13     Oct-2019                10.0             2019.0
14     Oct-2019                10.0             2019.0
15     Nov-2019                11.0             2019.0
16     Nov-2019                11.0             2019.0
17     Oct-2019                10.0             2019.0
18     Apr-2019                 4.0             2019.0
19     Nov-2019                11.0             2019.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01