<a href="https://colab.research.google.com/github/cjakuc/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment:
* Replicate the lesson code.
  * This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
  * Lambda Learning Method for DS - By Ryan Herr (https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
* Convert the term column from string to integer.
* Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
* Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [10]:
# Import csv from completed lecture notes
from google.colab import files
uploaded = files.upload()

Saving 112Lecture.csv to 112Lecture.csv

In [26]:
# Check out the df to make sure everything is correct
df = pd.read_csv("112Lecture.csv", index_col=0)
print(df.shape)
df.head()

(128397, 145)

   loan_amnt  funded_amnt  ...  issue_month days_from_earliest_credit_to_isse
0       6000         6000  ...           12                              4566
1      24000        24000  ...           12                              8096
2      30000        30000  ...           12                              4232
3       8000         8000  ...           12                              3562
4      22400        22400  ...           12                              5113

[5 rows x 145 columns]

In [0]:
# Convert term from string to int and check the data type
def term_to_int(cell_contents):
  return int(cell_contents.strip().strip(" months"))

df['term'] = df['term'].apply(term_to_int)

In [28]:
df['term'].dtypes

dtype('int64')

In [0]:
# Make loan_status_is_great
def loan_is_great(cell_contents):
  if((cell_contents == "Current") or (cell_contents == "Fully Paid")):
    return 1
  else:
    return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_is_great)

In [37]:
print(df['loan_status'].value_counts())
df['loan_status_is_great'].value_counts()

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

1    119170
0      9227
Name: loan_status_is_great, dtype: int64

In [47]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

print(df['last_pymnt_d_month'].head())
df['last_pymnt_d_year'].head()

0     4.0
1    12.0
2     2.0
3    12.0
4    12.0
Name: last_pymnt_d_month, dtype: float64

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

## Stretch Goals¶

You can do more with the LendingClub or Instacart datasets.

LendingClub options:

* Read Instacart Market Basket Analysis, Winner's Interview (http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/): 2nd place, Kazuki Onodera, especially the Feature Engineering section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
* Read and replicate parts of Simple Exploration Notebook (https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart) - Instacart. (It's the Python Notebook with the most upvotes for this Kaggle competition.)
* Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01