<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# RECREATE THE DATA

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-10-01 21:26:56--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [         <=>        ]  21.62M   430KB/s    in 51s

2019-10-01 21:27:48 (431 KB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [22667400]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [0]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df = df.drop(['id', 'member_id', 'desc', 'url'], axis=1)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      20000        20000  ...                    NaN             NaN
1      25000        25000  ...                    NaN             NaN
2      26500        26500  ...                    NaN             NaN
3      10400        10400  ...                    NaN             NaN
4      35000        35000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
def makeFloat(val):
  return float(val.strip().strip('%'))

df['int_rate_float'] = df['int_rate'].apply(makeFloat)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      20000        20000  ...              NaN          14.47
1      25000        25000  ...              NaN          16.14
2      26500        26500  ...              NaN          11.31
3      10400        10400  ...              NaN          12.98
4      35000        35000  ...              NaN          12.98

[5 rows x 141 columns]

In [0]:
def cleanTitle(txt):
  return txt.strip().title() if isinstance(txt, str) else 'Unknown'

df['emp_title'] = df['emp_title'].apply(cleanTitle)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      20000        20000  ...              NaN          14.47
1      25000        25000  ...              NaN          16.14
2      26500        26500  ...              NaN          11.31
3      10400        10400  ...              NaN          12.98
4      35000        35000  ...              NaN          12.98

[5 rows x 141 columns]

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')
df.head()

   loan_amnt  funded_amnt  ...  int_rate_float emp_title_manager
0      20000        20000  ...           14.47             False
1      25000        25000  ...           16.14              True
2      26500        26500  ...           11.31             False
3      10400        10400  ...           12.98             False
4      35000        35000  ...           12.98              True

[5 rows x 142 columns]

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df.head()

   loan_amnt  funded_amnt  ...  int_rate_float emp_title_manager
0      20000        20000  ...           14.47             False
1      25000        25000  ...           16.14              True
2      26500        26500  ...           11.31             False
3      10400        10400  ...           12.98             False
4      35000        35000  ...           12.98              True

[5 rows x 142 columns]

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month
df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      20000        20000  ...        2018          12
1      25000        25000  ...        2018          12
2      26500        26500  ...        2018          12
3      10400        10400  ...        2018          12
4      35000        35000  ...        2018          12

[5 rows x 144 columns]

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days
df.head()

   loan_amnt  funded_amnt  ...  issue_month days_from_earliest_credit_to_issue
0      20000        20000  ...           12                              14428
1      25000        25000  ...           12                               5570
2      26500        26500  ...           12                               4383
3      10400        10400  ...           12                               1979
4      35000        35000  ...           12                              12144

[5 rows x 145 columns]

In [0]:
# CONVERT TERM TO INTEGER

In [0]:
df['term_int'] = df['term'].apply(lambda x: int(x.strip().strip(' months')))
df.head()

   loan_amnt  funded_amnt  ...  days_from_earliest_credit_to_issue term_int
0      20000        20000  ...                               14428       36
1      25000        25000  ...                                5570       60
2      26500        26500  ...                                4383       60
3      10400        10400  ...                                1979       36
4      35000        35000  ...                               12144       60

[5 rows x 146 columns]

In [0]:
# CREATE LOAN_STATUS_IS_GREAT

In [0]:
df['loan_status_is_great'] = (df['loan_status'] == 'Current') | (df['loan_status'] == 'Fully Paid')
df['loan_status_is_great'] = df['loan_status_is_great'].apply(lambda x: 1 if x else 0)
df.head(20)

    loan_amnt  funded_amnt  ...  term_int loan_status_is_great
0       20000        20000  ...        36                    1
1       25000        25000  ...        60                    1
2       26500        26500  ...        60                    1
3       10400        10400  ...        36                    1
4       35000        35000  ...        60                    1
5       20000        20000  ...        36                    1
6       13000        13000  ...        36                    1
7       12000        12000  ...        60                    1
8       12000        12000  ...        36                    1
9       36000        36000  ...        60                    1
10      35000        35000  ...        60                    1
11       7000         7000  ...        36                    1
12       5000         5000  ...        36                    1
13       3000         3000  ...        36                    1
14       1200         1200  ...        36                    1
15       5500         5500  ...        36                    1
16      12000        12000  ...        36                    1
17       8250         8250  ...        36                    1
18      20400        20400  ...        60                    1
19      10000        10000  ...        36                    1

[20 rows x 147 columns]

In [0]:
# LAST_PYMNT_D_MONTH, LAST_PYMNT_D_YEAR

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month last_pymnt_d_year
0      20000        20000  ...                 9.0            2019.0
1      25000        25000  ...                 4.0            2019.0
2      26500        26500  ...                 9.0            2019.0
3      10400        10400  ...                 9.0            2019.0
4      35000        35000  ...                 4.0            2019.0

[5 rows x 149 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01