<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:
- Replicate the lesson code.

In [0]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

In [0]:
re = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

In [141]:
re['LotFrontage'].value_counts(dropna=False).head()

NaN     259
60.0    143
70.0     70
80.0     69
50.0     57
Name: LotFrontage, dtype: int64

In [142]:
type(np.NaN)

float

In [0]:
# Calculate Total SF
re['TotalSF'] = re['TotalBsmtSF'] + re['1stFlrSF'] + re['2ndFlrSF']

In [153]:
# Calculate Price / SQFT
re['$/SF'] = re['SalePrice'] / re['TotalSF']
re.iloc[0:5,-2:]

   TotalSF       $/SF
0     2566  81.254871
1     2524  71.909667
2     2706  82.594235
3     2473  56.611403
4     3343  74.783129

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

In [0]:
# Sets header, and skips bottom two rows
loans = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

In [156]:
# Counts number of isnull values for each column
loans.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   23978
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
sec_app_open_act_il                           111630
annual_inc_joint                              111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     128076
settlement_date                               128076
settlement_amount                             128076
settlement_status                             128076
settlement_term                               128076
settlement_percentage                         128076
hardship_status                               128232
deferral_term                                 128232
hardship_amount                               128232
hardship_start_date                           128232
hardship_end_date                             128232
payment_plan_start_date                       128232
hardship_length                               128232
hardship_dpd                                  128232
hardship_loan_status                          128232
hardship_reason                               128232
hardship_payoff_balance_amount                128232
hardship_last_payment_amount                  128232
hardship_type                                 128232
orig_projected_additional_accrued_interest    128249
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
dtype: int64

In [0]:
# DROPS COLUMNS WITH NO DATA
loans = loans.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [158]:
# SHOWS A SAMPLE OF INTEREST RATE
loans['int_rate'][3:7]

3     12.98%
4     12.98%
5      7.56%
6     17.97%
Name: int_rate, dtype: object

In [0]:
# FUNCTION TO CONVERT INTEREST RATE DATA TO FLOAT
def ir_to_float(cell):
  return float(cell.strip().strip('%'))

In [0]:
# CREATES NEW COLUMN WITH FLOAT VALUE
loans['ir_to_float'] =  loans['int_rate'].apply(ir_to_float)

In [0]:
# CONFIRMS NEW DATA IS TYPE FLOAT
loans.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
ir_to_float              float64
dtype: object

In [0]:
# SUMMARY OF EMPLOYMENT TITLES
loans['emp_title'].value_counts(dropna=False)[:10]

NaN                 20947
Teacher              2090
Manager              1773
Registered Nurse      952
Driver                924
RN                    726
Supervisor            697
Sales                 580
Project Manager       526
General Manager       523
Name: emp_title, dtype: int64

In [0]:
# FUNCTION TO CLEAN EMPLOYMENT TITLES
def clean_title(title_input):
  if isinstance(title_input, str):
    return title_input.title().strip()
  else:
    return "Unknown"

In [160]:
# TEST CASES FOR clean_title FUNCTION
errors = ['owner', 'Supervisor', ' Project Manager', np.NaN]
[clean_title(i) for i in errors]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
# UPDATES DATAFRAME WITH CLEANED DATA
loans['emp_title'] = loans['emp_title'].apply(clean_title)

In [163]:
# NaN's CHANGED TO Unknown
loans['emp_title'].value_counts(dropna=False, ascending=False)[:10]

Unknown             20947
Teacher              2557
Manager              2395
Registered Nurse     1418
Driver               1258
Supervisor           1160
Truck Driver          920
Rn                    834
Office Manager        805
Sales                 803
Name: emp_title, dtype: int64

In [164]:
print(len(loans['emp_title'].value_counts()))
print(loans['emp_title'].isnull().sum())

34902
0

In [165]:
[col for col in loans if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [166]:
# CONVERTS "ISSUE_D" TO DATETIME FORMAT
loans['issue_d'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)
loans.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [0]:
# ADDS COLUMNS FOR ISSUE DATE MONTH AND YEAR
loans['issue_year'] = loans['issue_d'].dt.year
loans['issue_month'] = loans['issue_d'].dt.month

In [169]:
# CALCULATES DAYS FROM THE EARLIEST CREDIT LINE
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], infer_datetime_format=True)
loans['days_from_earliest_cl_issue'] = (loans['issue_d'] - loans['earliest_cr_line']).dt.days
loans['days_from_earliest_cl_issue'].head()

0    14428
1     5570
2     4383
3     1979
4    12144
Name: days_from_earliest_cl_issue, dtype: int64

In [0]:
# CALCULATES AVERAGE LENGTH OF CREDIT HISTORY IN YEARS
loans['days_from_earliest_cl_issue'].mean() / 365

16.054497232580577

In [0]:
# CALCULATES LONGEST CREDIT HISTORY IN DATASET
loans['days_from_earliest_cl_issue'].max() / 365

68.96164383561644

**Convert the `term` column from string to integer.**

In [0]:
# NO NAN VALUES, ONLY 36 OR 60 MONTHS
loans['term'].value_counts(dropna=False, ascending=False)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [0]:
# FUCTION TO CONVERT 'CLEAN' COLUMN TO INT
def clean_term(cell):
  return int(cell.strip(' months'))

In [170]:
# APPLIES FUNCTION
loans['term_i'] = loans['term'].apply(clean_term)
loans['term_i'].dtype

dtype('int64')

**Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.**

In [173]:
# VALUES OF loan_status COLUMN
loans['loan_status'].value_counts(dropna=False, ascending=False)

Current               100571
Fully Paid             19545
Charged Off             4433
Late (31-120 days)      2662
In Grace Period          730
Late (16-30 days)        467
Default                    4
Name: loan_status, dtype: int64

In [0]:
# FUNCTION TO RETURN 1 IF CURRENT OR FULLY PAID, ELSE 0
def clean_loan(cell):
  if cell == 'Current' or cell == 'Fully Paid':
    return 1
  else:
    return 0

In [179]:
# TEST CASES FOR clean_loan FUNCTION
loan_examples = ['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)', 
                 'In Grace Period', 'Late (16-30 days)', 'Default']
[clean_loan(i) for i in loan_examples]

[1, 1, 0, 0, 0, 0, 0]

In [0]:
 # APPLIES FUNCTION TO LOANS DATAFRAME
loans['loan_status_is_great'] = loans['loan_status'].apply(clean_loan)
# loans['loan_status_is_great'].head(30)

**Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.**

In [199]:
# ADDED COLUMNS, RETURNS FLOAT??
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], infer_datetime_format=True, errors='coerce')
loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month
loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year
loans.iloc[0:5,-2:]

   last_pymnt_d_month  last_pymnt_d_year
0                11.0             2019.0
1                 4.0             2019.0
2                10.0             2019.0
3                10.0             2019.0
4                 4.0             2019.0

In [200]:
loans['last_pymnt_d'].value_counts(dropna=False, ascending=False)

2019-11-01    94238
2019-10-01    10607
2019-07-01     3156
2019-09-01     2871
2019-08-01     2758
2019-05-01     2547
2019-04-01     2356
2019-06-01     2285
2019-03-01     1984
2019-02-01     1915
2019-01-01     1561
2018-12-01     1054
2018-11-01      679
2018-10-01      234
NaT             159
2019-12-01        8
Name: last_pymnt_d, dtype: int64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
test_cases = ['15.2%', '  50.1', np.NaN]

In [0]:
def clean_util(cell):
  if isinstance(cell, str):
    return float(cell.strip().strip('%'))/100
  else:
    return np.NaN

In [0]:
[clean_util(i) for i in test_cases]

[0.152, 0.501, nan]

In [0]:
loans['revol_float'] = loans['revol_util'].apply(clean_util)
loans.head()

   loan_amnt  funded_amnt  ...  days_from_earliest_cl_issue revol_float
0      20000        20000  ...                        14428       0.730
1      25000        25000  ...                         5570       0.368
2      26500        26500  ...                         4383       0.654
3      10400        10400  ...                         1979       0.098
4      35000        35000  ...                        12144       0.749

[5 rows x 145 columns]