<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
import pandas as pd

#Bash command to get data in zip file
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-07-11 02:25:27--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.166.36.92, 52.42.46.127, 52.11.197.48, ...
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.166.36.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [    <=>             ]  22.21M  1.78MB/s    in 13s

2020-07-11 02:25:41 (1.66 MB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [23289953]

In [2]:
#Bash command to unzip data
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [3]:
#Bash command to see the head of the raw file
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","18000","18000","18000"," 36 months","  8.81%","570.81","A","A5","Sever","< 1 year","RENT","40000","Source Verified","Dec-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","100xx","NY","12.81","0","Apr-2014","0","","","15","0","16147","35.2%","21","w","0.00","0.00","6265.69","6265.69","5136.86","1128.83","0.0","0.0","0.0","Oct-2019","570.81","","May-2020","0","","1","Individual","","","","0","0","28062","1","4","1","4","7","11915","79","3","6","6591","46","45900","0","0","1","10","1871","22177","38.1","0","0","23","56","4","4","0","4","","8","","0","5","6","8","10","4","11","15","6","15","0","0","0","4","100","12.5","0","0","60900","28062","35800","15000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","18500","18500","18500"," 60 months"," 12.98%","420.75","B","B5","Supply Chain Analyst","5 years","RENT","96500","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","554xx","MN","27.86","1","May-2009","0","7","","19","0","19000","62.1%","38","w","14135.68","14135.68","7553.49","7553.49","4364.32","3189.17","0.0","0.0","0.0","Jun-2020","420.75","Jul-2020","Jun-2020","0","","1","Individual","","","","0","0","81660","0","14","0","1","22","62660","62","0","0","8422","62","30600","0","0","1","1","4298","7246","68.4","0","0","112","115","34","22","0","34","","7","","0","3","5","3","6","28","5","10","5","19","0","0","0","0","97.3","66.7","0","0","131337","81660","22900","100737","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32000","32000","32000"," 60 months"," 14.47%","752.41","C","C2","Teacher","10+ years","MORTGAGE","110000","Source Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","152xx","PA","26.11","0","Oct-2000","0","24","","18","0","14833","43%","32","w","26017.15","26017.15","11247.56","11247.56","5982.85","5264.71","0.0","0.0","0.0","May-2020","0.0","Jul-2020","Jun-2020","0","41","1","Individual","","","","0","273","73873","1","5","1","3","12","59040","49","2","6","4293","46","34500","2","5","1","9","4104","15794","41.1","0","0","218","201","6","6","1","6","41","12","41","2","7","11","8","11","15","13","16","11","18","0","0","0","3","77.4","12.5","0","0","94609","73873","26800","60109","","","","","","","","","","","","N","CVD19SKIP","INCOMECURT","COMPLETE","2","0","Apr-2020","Jun-2020","Apr-2020","2","0","ACTIVE","627.45","26278.58","752.41","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","0.00","0.00","5637.0527852364","5637.05","5000.00","622.05","15.0","0.0","0.0","Oct-2019","4741.09","","Jun-2020","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13000","13000","13000"," 36 months"," 23.40%","505.95","E","E1","Sale Representative","2 years","MORTGAGE","90000","Verified","Dec-2018","Current","n","","","other","Other","191xx","PA","39.73","0","May-2007","0","","","14","0","52013","83.1%","20","w","8968.74","8968.74","7057.95","7057.95","4031.26","3026.69","0.0","0.0","0.0","Jun-2020","0.0","Aug-2020","Jun-2020","0","","1","Individual","","","","0","0","87876","1","7","1","3","1","35863","48","0","1","18037","64","62600","2","0","1","4","6277","9503","83.8","0","0","131","139","16","1","0","16","","10","","0","6","7","6","7","11","7","9","7","14","0","0","0","1","100","66.7","0","0","137276","87876","58600","74676","","","","","","","","","","","","Y","CVD19SKIP","INCOME_CURTAILMENT","ACTIVE","4","0","May-2020","Jul-2020","May-2020","4","0","ACTIVE","1086.68","9481.75","55.8","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 26.31%","481.99","E","E4","Financial Relationship Associate","< 1 year","RENT","33000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","290xx","SC","33.62","0","Sep-2010","1","","","17","0","22872","65.5%","22","w","13131.65","13131.65","8640.74","8640.74","2868.35","5772.39","0.0","0.0","0.0","Jun-2020","481.99","Jul-2020","Jun-2020","0","","1","Individual","","","","0","0","29869","1","1","0","1","24","6997","65","1","1","2703","65","34900","0","3","1","2","1757","4596","66.9","0","0","29","99","2","2","0","2","","3","","0","6","11","9","13","2","16","20","11","17","0","0","0","1","100","55.6","0","0","45709","29869","13900","10809","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 19.92%","264.5","D","D3","Material Handler","10+ years","MORTGAGE","80000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","648xx","MO","20.67","0","Apr-2005","0","37","","11","0","13198","73.7%","19","w","7944.86","7944.86","4744.4","4744.40","2055.14","2689.26","0.0","0.0","0.0","Jun-2020","264.5","Jul-2020","Jun-2020","0","37","1","Individual","","","","0","116","110120","0","2","0","1","15","24408","70","1","1","6521","72","17900","0","0","1","2","10011","779","90.3","0","0","148","164","11","11","1","149","37","11","37","0","2","8","2","4","6","8","12","8","11","0","0","0","1","84.2","50","0","0","170230","37606","8000","55030","","","","","","","","","","","","","","","","","264.5","","","","","","","395.65404","7949.25","264.5","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 23.40%","373.62","E","E1","driver coordinator ","9 years","RENT","65000","Not Verified","Dec-2018","Charged Off","n","","","credit_card","Credit card refinancing","265xx","WV","23.01","1","Sep-2003","0","16","","12","0","10678","37.5%","20","f","0.00","0.00","2970.24","2970.24","1512.22","1458.02","0.0","0.0","0.0","Sep-2019","373.62","","Jun-2020","0","","1","Individual","","","","0","66","24165","0","2","0","0","43","13487","33","1","1","2264","35","28500","0","0","0","1","2014","232","96.9","0","0","183","92","12","12","0","27","","15","30","0","7","9","7","8","8","10","12","9","12","0","0","0","1","90","85.7","0","0","68902","24165","7600","40402","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [4]:
#Bash command to see the end of the raw file
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","2769.48","2769.48","3793.65","3793.65","2830.52","963.13","0.0","0.0","0.0","Jun-2020","190.21","Jul-2020","Jun-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","4999.38","4999.38","6926.86","6926.86","5000.62","1926.24","0.0","0.0","0.0","Jun-2020","346.76","Jul-2020","Jun-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2472.76","2472.76","3392.83","3392.83","2527.24","865.59","0.0","0.0","0.0","Jun-2020","169.83","Jul-2020","Jun-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","4853.58","4732.24","6538.24","6374.78","5146.42","1391.82","0.0","0.0","0.0","Jun-2020","327.68","Jul-2020","Jun-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5068.90","5068.90","7112.21","7112.21","4931.10","2181.11","0.0","0.0","0.0","Jun-2020","356.08","Jul-2020","Jun-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [5]:
#read file into dataframe
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
#set maximum number of rows to display at 200
pd.set_option('display.max_rows',200)

In [7]:
#add up null values by column

df.isnull().sum()

id                                            128412
member_id                                     128414
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      20949
emp_length                                     11706
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           128414
desc                                          128414
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              239
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         72198
mths_since_last_record                        112964
open_acc                                           2
pub_rec                                            2
revol_bal                                          2
revol_util                                       158
total_acc                                          2
initial_list_status                                2
out_prncp                                          2
out_prncp_inv                                      2
total_pymnt                                        2
total_pymnt_inv                                    2
total_rec_prncp                                    2
total_rec_int                                      2
total_rec_late_fee                                 2
recoveries                                         2
collection_recovery_fee                            2
last_pymnt_d                                     161
last_pymnt_amnt                                    2
next_pymnt_d                                   41509
last_credit_pull_d                                 3
collections_12_mths_ex_med                         2
mths_since_last_major_derog                    99234
policy_code                                        2
application_type                                   2
annual_inc_joint                              111632
dti_joint                                     111632
verification_status_joint                     113566
acc_now_delinq                                     2
tot_coll_amt                                       2
tot_cur_bal                                        2
open_acc_6m                                        2
open_act_il                                        2
open_il_12m                                        2
open_il_24m                                        2
mths_since_rcnt_il                              4480
total_bal_il                                       2
il_util                                        20276
open_rv_12m                                        2
open_rv_24m                                        2
max_bal_bc                                         2
all_util                                          39
total_rev_hi_lim                                   2
inq_fi                                             2
total_cu_tl                                        2
inq_last_12m                                       2
acc_open_past_24mths                               2
avg_cur_bal                                       15
bc_open_to_buy                                  1693
bc_util                                         1756
chargeoff_within_12_mths                           2
delinq_amnt                                        2
mo_sin_old_il_acct                              4480
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
mths_since_recent_bc                            1593
mths_since_recent_bc_dlq                      103245
mths_since_recent_inq                          16049
mths_since_recent_revol_delinq                 91632
num_accts_ever_120_pd                              2
num_actv_bc_tl                                     2
num_actv_rev_tl                                    2
num_bc_sats                                        2
num_bc_tl                                          2
num_il_tl                                          2
num_op_rev_tl                                      2
num_rev_accts                                      2
num_rev_tl_bal_gt_0                                2
num_sats                                           2
num_tl_120dpd_2m                                2861
num_tl_30dpd                                       2
num_tl_90g_dpd_24m                                 2
num_tl_op_past_12m                                 2
pct_tl_nvr_dlq                                     2
percent_bc_gt_75                                1694
pub_rec_bankruptcies                               2
tax_liens                                          2
tot_hi_cred_lim                                    2
total_bal_ex_mort                                  2
total_bc_limit                                     2
total_il_high_credit_limit                         2
revol_bal_joint                               111632
sec_app_earliest_cr_line                      111632
sec_app_inq_last_6mths                        111632
sec_app_mort_acc                              111632
sec_app_open_acc                              111632
sec_app_revol_util                            111890
sec_app_open_act_il                           111632
sec_app_num_rev_accts                         111632
sec_app_chargeoff_within_12_mths              111632
sec_app_collections_12_mths_ex_med            111632
sec_app_mths_since_last_major_derog           123260
hardship_flag                                   3698
hardship_type                                 115712
hardship_reason                               115713
hardship_status                               115712
deferral_term                                 115712
hardship_amount                               112016
hardship_start_date                           115712
hardship_end_date                             115712
payment_plan_start_date                       115711
hardship_length                               115712
hardship_dpd                                  115712
hardship_loan_status                          116536
orig_projected_additional_accrued_interest    112040
hardship_payoff_balance_amount                112016
hardship_last_payment_amount                  112016
debt_settlement_flag                               2
debt_settlement_flag_date                     127520
settlement_status                             127520
settlement_date                               127520
settlement_amount                             127520
settlement_percentage                         127520
settlement_term                               127520
dtype: int64

In [8]:
#skip footer which is causing NaNs
#skip first row to get the headers

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [9]:
#add up all null values and list by column least to most
df.isnull().sum().sort_values()

inq_fi                                             0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_rcnt_rev_tl_op                              0
collections_12_mths_ex_med                         0
mo_sin_rcnt_tl                                     0
num_accts_ever_120_pd                              0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
num_tl_30dpd                                       0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
mort_acc                                           0
last_pymnt_amnt                                    0
max_bal_bc                                         0
collection_recovery_fee                            0
earliest_cr_line                                   0
delinq_2yrs                                        0
addr_state                                         0
zip_code                                           0
title                                              0
purpose                                            0
pymnt_plan                                         0
loan_status                                        0
issue_d                                            0
inq_last_6mths                                     0
verification_status                                0
home_ownership                                     0
sub_grade                                          0
grade                                              0
installment                                        0
int_rate                                           0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
loan_amnt                                          0
annual_inc                                         0
open_acc                                           0
debt_settlement_flag                               0
total_rec_int                                      0
recoveries                                         0
total_rec_late_fee                                 0
total_rec_prncp                                    0
total_pymnt_inv                                    0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
total_acc                                          0
total_pymnt                                        0
revol_bal                                          0
pub_rec                                            0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
hardship_flag                                   3696
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   41507
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_act_il                           111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
annual_inc_joint                              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
hardship_amount                               112014
hardship_payoff_balance_amount                112014
hardship_last_payment_amount                  112014
orig_projected_additional_accrued_interest    112038
mths_since_last_record                        112962
verification_status_joint                     113564
payment_plan_start_date                       115709
hardship_dpd                                  115710
hardship_length                               115710
hardship_end_date                             115710
hardship_start_date                           115710
hardship_status                               115710
hardship_type                                 115710
deferral_term                                 115710
hardship_reason                               115711
hardship_loan_status                          116534
sec_app_mths_since_last_major_derog           123258
settlement_amount                             127518
settlement_status                             127518
debt_settlement_flag_date                     127518
settlement_date                               127518
settlement_term                               127518
settlement_percentage                         127518
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

In [10]:
#drop columns with zero data
df = df.drop(['desc', 'url', 'member_id', 'id'], axis=1)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      18000        18000  ...                    NaN             NaN
1      18500        18500  ...                    NaN             NaN
2      32000        32000  ...                    NaN             NaN
3       5000         5000  ...                    NaN             NaN
4      13000        13000  ...                    NaN             NaN

[5 rows x 140 columns]

In [11]:
#data type of each column
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [12]:
#look at the interest rate column
df['int_rate'].head(10)

0      8.81%
1     12.98%
2     14.47%
3     17.97%
4     23.40%
5     26.31%
6     19.92%
7     23.40%
8     23.40%
9     11.80%
Name: int_rate, dtype: object

In [13]:
#extract one record from interest rate column to examine characters
df['int_rate'][3]

' 17.97%'

In [14]:
'''
use dummy interest rate to model all issues
encountered in the interest rate column and
strip leading/trailing whitespace and modulus
'''
int_rate = ' 12.98%'

int_rate.strip()

'12.98%'

In [15]:
#strip trailing whitespace and then the %
int_rate.strip().strip('%')

'12.98'

In [16]:
#typecast to float from string
float(int_rate.strip().strip('%'))

12.98

In [17]:
#typecast and check datatype
type(float(int_rate.strip().strip('%')))

float

In [18]:
#create function to perform the above
def int_rate_to_float(int_rate):
    return float(int_rate.strip().strip('%'))

In [19]:
#call function to ensure proper results
int_rate_to_float(int_rate)

12.98

In [20]:
#verify typecast execution
type(int_rate_to_float(int_rate))

float

In [21]:
'''
prime list to hold values to be added
to new column 'int_rate_cleaned'
'''
cleaned = []

for int_rate in df['int_rate']:
    cleaned.append(int_rate_to_float(int_rate))

df['int_rate_cleaned'] = pd.Series(cleaned)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      18000        18000  ...              NaN             8.81
1      18500        18500  ...              NaN            12.98
2      32000        32000  ...              NaN            14.47
3       5000         5000  ...              NaN            17.97
4      13000        13000  ...              NaN            23.40

[5 rows x 141 columns]

In [22]:
#show last 5 column datatypes
df.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
dtype: object

In [23]:
'''
convert all interest rates to floats after
stripping whitespace and % signs while
over-writing original column
'''
df['int_rate'] = df['int_rate'].apply(int_rate_to_float)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      18000        18000  ...              NaN             8.81
1      18500        18500  ...              NaN            12.98
2      32000        32000  ...              NaN            14.47
3       5000         5000  ...              NaN            17.97
4      13000        13000  ...              NaN            23.40

[5 rows x 141 columns]

In [24]:
#display top 20 most common job titles
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [25]:
#check for number of unique entries in 'emp_title' column
df['emp_title'].nunique()

43892

In [26]:
#check number of null values in 'emp_title' column
df['emp_title'].isnull().sum()

20947

In [27]:
import numpy as np


examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_emp_title(title):
    if isinstance(title, str):
        return title.strip().title()
    else:
        return "Unknown"

for example in examples:
    print(clean_emp_title(example))

Owner
Supervisor
Project Manager
Unknown

In [28]:
df['emp_title'].head()

0                   Sever
1    Supply Chain Analyst
2                 Teacher
3          Administrative
4     Sale Representative
Name: emp_title, dtype: object

In [29]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      18000        18000  ...              NaN             8.81
1      18500        18500  ...              NaN            12.98
2      32000        32000  ...              NaN            14.47
3       5000         5000  ...              NaN            17.97
4      13000        13000  ...              NaN            23.40

[5 rows x 141 columns]

In [30]:
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [31]:
df['emp_title'].nunique()

34902

In [32]:
df['emp_title'].isnull().sum()

0

In [33]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [34]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [35]:
df['issue_d'].tail()

128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, dtype: object

In [36]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [37]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [38]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [39]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [40]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [41]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      18000        18000  ...        2018          12
1      18500        18500  ...        2018          12
2      32000        32000  ...        2018          12
3       5000         5000  ...        2018          12
4      13000        13000  ...        2018          12

[5 rows x 143 columns]

In [42]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [43]:
df['earliest_cr_line'].head()

0   2014-04-01
1   2009-05-01
2   2000-10-01
3   2011-04-01
4   2007-05-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [44]:
(df['issue_d'] - df['earliest_cr_line']).dt.days / 365

0          4.671233
1          9.591781
2         18.178082
3          7.673973
4         11.594521
            ...
128407    33.189041
128408    36.276712
128409    12.342466
128410    10.005479
128411    12.090411
Length: 128412, dtype: float64

In [45]:
df['length_of_credit_history'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

df.head()

   loan_amnt  funded_amnt  ...  issue_month length_of_credit_history
0      18000        18000  ...           12                 4.671233
1      18500        18500  ...           12                 9.591781
2      32000        32000  ...           12                18.178082
3       5000         5000  ...           12                 7.673973
4      13000        13000  ...           12                11.594521

[5 rows x 144 columns]

In [46]:
df['length_of_credit_history'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: length_of_credit_history, dtype: float64

In [47]:
df['term'].head()

0     36 months
1     60 months
2     60 months
3     36 months
4     36 months
Name: term, dtype: object

In [48]:
print(df['term'][3])

 36 months

In [49]:
def term_to_int(term):
    return int(term.strip(' months'))


df['term'] = df['term'].apply(term_to_int)

In [50]:
df['term'].dtypes

dtype('int64')

In [62]:
def loan_status(status):
    if status == 'Current' or status == 'Fully Paid':
        return '1'
    else:
        return '0'

df['loan_status_is_great'] = df['loan_status'].apply(loan_status)

df[['loan_status_is_great','loan_status']].head()

  loan_status_is_great  loan_status
0                    0  Charged Off
1                    1      Current
2                    1      Current
3                    1   Fully Paid
4                    1      Current

In [52]:
df['loan_status'].head(20)

0     Charged Off
1         Current
2         Current
3      Fully Paid
4         Current
5         Current
6         Current
7     Charged Off
8     Charged Off
9         Current
10        Current
11     Fully Paid
12        Current
13    Charged Off
14     Fully Paid
15        Current
16     Fully Paid
17        Current
18     Fully Paid
19     Fully Paid
Name: loan_status, dtype: object

In [53]:
df.head()

   loan_amnt  funded_amnt  ...  length_of_credit_history  loan_status_is_great
0      18000        18000  ...                  4.671233                  None
1      18500        18500  ...                  9.591781                     1
2      32000        32000  ...                 18.178082                     1
3       5000         5000  ...                  7.673973                     0
4      13000        13000  ...                 11.594521                     1

[5 rows x 145 columns]

In [54]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [55]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [56]:
df['last_pymnt_d_month'].head()

0    10.0
1     6.0
2     5.0
3    10.0
4     6.0
Name: last_pymnt_d_month, dtype: float64

In [57]:
df['last_pymnt_d_year'].head()

0    2019.0
1    2020.0
2    2020.0
3    2019.0
4    2020.0
Name: last_pymnt_d_year, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [67]:
df['revol_util'].head()

0    35.2%
1    62.1%
2      43%
3    19.1%
4    83.1%
Name: revol_util, dtype: object

In [82]:
type(df['revol_util'][3])

str

In [ ]:
for i in df['revol_util']:
    cleaned.append(int_rate_to_float(i))

In [83]:
df['revol_util_clean'] = pd.Series(cleaned)

In [84]:
df['revol_util_clean'].head()

0     8.81
1    12.98
2    14.47
3    17.97
4    23.40
Name: revol_util_clean, dtype: float64

In [86]:
type(df['revol_util_clean'][3])

numpy.float64

In [107]:
top_20_emp_titles = df['emp_title'].value_counts().sort_values

In [108]:
top_20_emp_titles = pd.DataFrame(top_20_emp_titles)

ValueError: ignored

In [104]:
df.drop

In [58]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [59]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [60]:
# %cd instacart_2017_05_01