<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
#importing the needed tools
import pandas as pd
import numpy as np

In [2]:
#import the data as a dataframe using the read_csv function in pandas
df_housing = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

print(df_housing.shape)
df_housing.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
#see what data types are in each column and since there are so many rows increase the maximum amount that is displayed
pd.set_option('display.max_rows', 400)
df_housing.dtypes

In [0]:
#double check that some of the columns consist of the data types that we expect them to
print(df_housing['BedroomAbvGr'].head(10))
print(df_housing['LotFrontage'].head(10))

In [0]:
#LotFrontage is listed as a float but it looks like most of the values are 
#integers that have been converted to float, we found that this is becasue of the presence of NaN which is a float making the whole column a float
print(df_housing['LotFrontage'].value_counts(dropna=False))
print(type(np.NaN))

In [0]:
#make a smaller dataframe from the larger housing dataframe
small_df_housing = df_housing[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()

small_df_housing.head()

In [0]:
#add a new column of total square footage
small_df_housing['TotalSquareFootage'] = small_df_housing['TotalBsmtSF'] + small_df_housing['1stFlrSF'] + small_df_housing['2ndFlrSF']
small_df_housing.head()

In [0]:
#add a column for the price per square foot
small_df_housing['PricePerSqFt'] = small_df_housing['SalePrice'] / small_df_housing['TotalSquareFootage']
small_df_housing.head()

In [3]:
#load in the new loan data as a dataframe
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-24 00:13:43--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.72M  1.84MB/s    in 12s

2020-01-24 00:13:55 (1.82 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [4]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
#look at the raw file using bash commands
!head LoanStats_2018Q4.csv

In [5]:
#create the dataframe
df_loan = pd.read_csv('LoanStats_2018Q4.csv')
print(df_loan.shape)
df_loan.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128400, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title           emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt     total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       6000      6000        6000             36 months  14.47%  206.44      C     C2        Manager             10+ years  RENT           55000      Verified            Dec-2018 Charged Off n          NaN NaN  credit_card        Credit card refinancing 104xx    NY         10.65 0           Jun-2006         0              NaN                    NaN                    6        0       4196      91.2%      8         w                   0.00      0.00          1106.52         1106.52         546.14          272.38        0.0                288.0      51.84                   Apr-2019     206.44          NaN          Nov-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            12514       0           2           1           1           9                  8318         74      1           1           2807       79       4600             1      0           2            2                    2086        344            92      0                        0           33                 150                  9                     9              0        9                    NaN                      9                     NaN                            0                     3              4               3           3         3         4             5             4                   6        0                0            0                  2                  100            100              0                    0         15800           12514             4300           11200                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          Y                    Oct-2019                  ACTIVE            Oct-2019        3479              60.01                                                                 24
              24000     24000       24000            36 months  10.33%  778.14      B     B1        Maintenance Manager 10+ years  MORTGAGE       100000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      606xx    IL         19.14 0           Oct-1996         3              39                     NaN                    14       0       8547      27.7%      28        w                   16807.30  16807.30      9317.02         9317.02         7192.70         2124.32       0.0                0.0        0.0                     Dec-2019     778.14          Jan-2020     Nov-2019           0                          57                          1           Individual       NaN              NaN       NaN                       0              0            273876      3           5           3           5           5                  40384        66      2           4           4368       51       30900            8      0           8            9                    19563       17353          33      0                        0           266                178                  4                     4              3        4                    39                       1                     39                             1                     5              5               6           8         15        7             9             5                   14       0                0            0                  5                  82.1           16.7             0                    0         335121          50686             25900          61514                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              30000     30000       30000            36 months  15.02%  1040.26     C     C3        Firefighter         10+ years  RENT           90000      Verified            Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation      681xx    NE         22.23 0           May-2007         1              NaN                    NaN                    8        0       25754     48%        23        w                   0.00      0.00          30883.673711683 30883.67        30000.00        883.67        0.0                0.0        0.0                     Feb-2019     28382.51        NaN          Nov-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            51370       1           2           1           2           9                  25616        71      2           3           9621       57       53600            0      2           1            5                    6421        22030          47      0                        0           123                139                  3                     3              3        3                    NaN                      3                     NaN                            0                     4              6               4           5         11        6             9             6                   8        0                0            0                  3                  100            50               0                    0         89849           51370             41600          36249                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              8000      8000        8000             36 months  12.98%  269.48      B     B5        Controller          4 years    MORTGAGE       95000      Source Verified     Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 480xx    MI         9.44  0           Mar-2009         2              73                     NaN                    7        0       11434     33.3%      20        w                   1707.34   1707.34       6855.63         6855.63         6292.66         562.97        0.0                0.0        0.0                     Dec-2019     269.48          Jan-2020     Dec-2019           0                          73                          1           Individual       NaN              NaN       NaN                       0              0            247933      5           1           3           4           2                  13716        98      4           5           8918       52       34300            2      0           7            10                   35419       22866          33.3    0                        0           13                 117                  6                     2              1        6                    73                       2                     73                             1                     3              3               5           15        4         5             15            3                   7        0                0            0                  8                  100            20               0                    0         271550          25150             34300          14000                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [17]:
#need to skip the first row
df_loan = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

print(df_loan.shape)
df_loan.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128399, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                  60.01             24.0
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [26]:
#see how many null value there are
df_loan.isnull().sum().sort_values()

inq_fi                                             2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
                                               ...
orig_projected_additional_accrued_interest    128193
id                                            128397
url                                           128399
member_id                                     128399
desc                                          128399
Length: 144, dtype: int64

In [27]:
#get rid of extra NaNs by using skip footer
df_loan = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df_loan.shape)
df_loan.head()

(128397, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#check the amount of NaN in the dataframe again
df_loan.isnull().sum().sort_values()

In [0]:
#drop columns that were included but make up completely of NaN (likely deleted for privacy)
df_loan = df_loan.drop(['url', 'member_id', 'desc', 'id'], axis=1)

df_loan.head()

In [0]:
#looking at the int_rate column becasue it is a numerical value that is currently saved as an object
df_loan['int_rate'][:10]

In [0]:
df_loan['int_rate'][0]

In [0]:
#need to build up code to change all of interest rate
int_rate = df_loan['int_rate'][0]

print(int_rate)

In [0]:
#strip off the leading space and the percent sign
int_rate.strip().strip('%')

In [0]:
#that now needs to be changed to a float
float(int_rate.strip().strip('%'))

In [0]:
#make this process repeatable so that it can be used repeatedly
def int_rate_to_float(cell_contents):
    return float(cell_contents.strip().strip('%'))

int_rate_to_float(int_rate)

In [0]:
#apply this to every cell in the dataframe
df_loan['int_rate_float'] = df_loan['int_rate'].apply(int_rate_to_float)

df_loan.head()

In [0]:
#check the data type of the new column
df_loan.dtypes[-5:]

In [0]:
#clean up the 'emp_title' column
df_loan['emp_title'].value_counts(dropna=False, ascending=False)[:20]

In [0]:
#there a bunch of different unique employment titles
len(df_loan['emp_title'].value_counts())

In [0]:
#there are also a lot of instances of null
df_loan['emp_title'].isnull().sum()

In [0]:
#write a function that can be applied to every cell
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_title(title):
    if isinstance(title, str):
        return title.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print(clean_title(example))

In [0]:
#can use list comprehension to make the code more readable
[clean_title(example) for example in examples]

In [0]:
df_loan['emp_title'] = df_loan['emp_title'].apply(clean_title)

df_loan['emp_title'].head()

In [0]:
#look how this affected the data
df_loan['emp_title'].value_counts(dropna=False, ascending=False)[:20]

In [0]:
len(df_loan['emp_title'].value_counts())

In [0]:
df_loan['emp_title'].isnull().sum()

In [0]:
#print out the columns that deal with dates, and conveniently most of them have the suffix _d
[col for col in df_loan if col.endswith('_d')]

In [0]:
df_loan['issue_d'][:10]

In [0]:
#convert to datetime object
df_loan['issue_d'] = pd.to_datetime(df_loan['issue_d'], infer_datetime_format=True)
df_loan.dtypes[:15]

In [0]:
#look at a specific cell in the new datetime format of issue_D
df_loan['issue_d'].iloc[0]

In [0]:
df_loan['issue_d'].head().values

In [0]:
#can use dt accessor to pick out specific components of the datetime object
df_loan['issue_d'].dt.year

In [0]:
df_loan['issue_d'].dt.month

In [0]:
#add the year and month as their own columns
df_loan['issue_year'] = df_loan['issue_d'].dt.year
df_loan['issue_month'] = df_loan['issue_d'].dt.month

df_loan.head()

In [0]:
df_loan['earliest_cr_line'].head()

In [0]:
df_loan['earliest_cr_line'] = pd.to_datetime(df_loan['earliest_cr_line'],
                                             infer_datetime_format=True)

In [0]:
df_loan['days_from_earliest_credit_to_issue'] = (df_loan['issue_d'] - df_loan['earliest_cr_line']).dt.days

df_loan['days_from_earliest_credit_to_issue'].head()

In [0]:
df_loan['days_from_earliest_credit_to_issue'].describe()

In [16]:
df_loan.columns

Index(['Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)'], dtype='object')

In [0]:
#terning the term column into an int
def fix_term(cell_contents):
    return int(str(cell_contents.strip(' months')))

df_loan['term'] = df_loan['term'].apply(fix_term)

In [33]:
df_loan.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#making the new column loan_status is great
df_loan['loan_status_is_great'] = df_loan['loan_status'].apply(lambda s: 1 if s == 'Current' or s =='Fully Paid' else 0 )

In [35]:
df_loan.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...             24.0                     0
1 NaN        NaN  ...              NaN                     1
2 NaN        NaN  ...              NaN                     1
3 NaN        NaN  ...              NaN                     1
4 NaN        NaN  ...              NaN                     1

[5 rows x 145 columns]

In [37]:
#making the last_pymnt_d_month and last_pymnt_d_year columns
df_loan['last_pymnt_d'] = pd.to_datetime(df_loan['last_pymnt_d'], infer_datetime_format=True)

df_loan['last_pymnt_d_month'] = df_loan['last_pymnt_d'].dt.month
df_loan['last_pymnt_d_year'] = df_loan['last_pymnt_d'].dt.year

df_loan

        id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0      NaN        NaN  ...                 4.0             2019.0
1      NaN        NaN  ...                12.0             2019.0
2      NaN        NaN  ...                 2.0             2019.0
3      NaN        NaN  ...                12.0             2019.0
4      NaN        NaN  ...                12.0             2019.0
...     ..        ...  ...                 ...                ...
128392 NaN        NaN  ...                12.0             2018.0
128393 NaN        NaN  ...                12.0             2019.0
128394 NaN        NaN  ...                12.0             2019.0
128395 NaN        NaN  ...                12.0             2019.0
128396 NaN        NaN  ...                12.0             2019.0

[128397 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
df_loan.head()

In [0]:
df_loan['revol_util'].isnull().sum()

In [0]:
#changes the strings to floats but ignores the NaN
def clean_revol(each):
    if isinstance(each, str):
        return float(each.strip().strip('%'))

df_loan['revol_util'] = df_loan['revol_util'].apply(clean_revol)

In [0]:
df_loan['revol_util'][:20]

In [0]:
df_loan['emp_title'].value_counts(ascending=False).head(20)

In [0]:
test = df_loan['emp_title'].value_counts(ascending=False)[:20].index.tolist()
print(test)

In [0]:
#thanks for the help on this one Erik
df_loan['emp_title'] = df_loan['emp_title'].apply(lambda s: s if s in test else 'Other')

In [0]:
df_loan['emp_title'].value_counts()

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
#reading and replicating parts of the instacart notebook
#importing the tools that they used that i dont already have
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment=None

In [0]:
#create a dataframe for all of the data
order_products_train_df = pd.read_csv('order_products__train.csv')
order_products_prior_df = pd.read_csv('order_products__prior.csv')
orders_df = pd.read_csv('orders.csv')
products_df = pd.read_csv('products.csv')
aisles_df = pd.read_csv('aisles.csv')
departments_df = pd.read_csv('departments.csv')

In [0]:
orders_df.head()

In [0]:
order_products_prior_df.head()

In [0]:
order_products_train_df.head()

In [0]:
#getting the count of rows in each of the three sets
cnt_srs = orders_df.eval_set.value_counts()

plt.figure(figsize=(12,8))
sns.barplot(cnt_srs.index, cnt_srs.values, alpha=0.8, color=color[1])
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Eval set type', fontsize=12)
plt.title('Count of rows inu each dataset', fontsize-15)
plt.xticks(rotation='vertical')
plt.show

In [0]:
def get_unique_count(x):
    return len(np.unique(x))

cnt_srs = orders_df.groupby('eval_set')['user_id'].aggregate(get_unique_count)
cnt_srs

In [0]:
#validating claim that 4 to 100 orders of a customer are given
cnt_srs = orders_df.groupby('user_id')['order_number'].aggregate(np.max).reset_index()
cnt_srs = cnt_srs.order_number.value_counts()

plt.figure(figsize=(12,8))
sns.barplot(cnt_srs.index, cnt_srs.values, alpha=0.8, color=color[2])
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Maximum order number', fontsize=12)
plt.xticks(rotation='vertical')
plt.show()

In [0]:
#how ordering habit changes with day of week
plt.figure(figsize=(12,8))
sns.countplot(x='order_dow', data=orders_df, color=color[0])
plt.ylabel('Count', fontsize=12)
plt.xticks(rotation='vertical')
plt.title('Frequency of order by week day', fontsize=15)
plt.show()

In [0]:
plt.figure(figsize=(12,8))
sns.countplot(x='order_hour_of_day', data=orders_df, color=color[1])
plt.ylabel('Count', fontsize=12)
plt.xlabel('Hour of Day', fontsize=12)
plt.xticks(rotation='vertical')
plt.title('Frequency of order by hour of day' ,fontsize=15)
plt.show()

In [0]:
grouped_df = orders_df.groupby(['order_dow', 'order_hour_of_day'])['order_number'].aggregate('count').reset_index()
grouped_df = grouped_df.pivot('order_dow', 'order_hour_of_day', 'order_number')

plt.figure(figsize=(12,6))
sns.heatmap(grouped_df)
plt.title('Frequency of Day of Week VS Hour of Day')
plt.show

In [0]:
#this is as far as i got going through the instacart notebook, 
#replicating it and reading up on the documentation for anything I hadnt seen before