<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

import pandas as pd

In [2]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-07 22:55:29--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                <=> ]  21.72M   787KB/s    in 29s

2020-01-07 22:55:59 (771 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [3]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128397, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [9]:
df['term'] = [int(term.strip('months').strip()) for term in df['term']]

df['term'][:10]

0    36
1    36
2    36
3    36
4    60
5    36
6    60
7    36
8    36
9    60
Name: term, dtype: int64

In [23]:
df['loan_status'][1]

'Current'

In [0]:
df['loan_status_is_great'] = [1 if status == 'Fully Paid' or status == 'Current' else 0 for status in df['loan_status']]
df['new_loan_status'] = df['loan_status']

In [29]:
df[:10]

   id  member_id  ...  loan_status_is_great  new_loan_status
0 NaN        NaN  ...                     0      Charged Off
1 NaN        NaN  ...                     1          Current
2 NaN        NaN  ...                     1       Fully Paid
3 NaN        NaN  ...                     1          Current
4 NaN        NaN  ...                     1          Current
5 NaN        NaN  ...                     1          Current
6 NaN        NaN  ...                     1          Current
7 NaN        NaN  ...                     1          Current
8 NaN        NaN  ...                     1          Current
9 NaN        NaN  ...                     1          Current

[10 rows x 146 columns]

In [0]:
df['last_pymnt_d_month'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.month
df['last_pymnt_d_year'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.year

In [34]:
df['last_pymnt_d_month'][:5]

0     4.0
1    12.0
2     2.0
3    12.0
4    12.0
Name: last_pymnt_d_month, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [35]:
df.head()

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                 4.0             2019.0
1 NaN        NaN  ...                12.0             2019.0
2 NaN        NaN  ...                 2.0             2019.0
3 NaN        NaN  ...                12.0             2019.0
4 NaN        NaN  ...                12.0             2019.0

[5 rows x 148 columns]

In [44]:
df['revol_util'].value_counts(dropna=False)

0%        1132
43%        225
49%        222
39.1%      220
32%        217
          ...
123.8%       1
104%         1
105.8%       1
183.8%       1
103.7%       1
Name: revol_util, Length: 1075, dtype: int64

In [45]:
df['revol_util'].isnull().sum()

156

In [0]:
def clean_revol_util(item):
  if isinstance(item, str):
    return float(item.strip().strip('%'))
  else:
    return None

In [0]:
df['revol_util'] = [clean_revol_util(item) for item in df['revol_util']]

In [58]:
df['revol_util'].isnull().sum()

156

In [80]:
top20 = df['emp_title'].value_counts()[:20]

True

In [0]:
df['emp_title'] = [title if title in top20 else 'Other' for title in df['emp_title']]

In [82]:
df['emp_title'].value_counts()[:30]

Other                       115695
Teacher                       2090
Manager                       1773
Registered Nurse               951
Driver                         924
RN                             726
Supervisor                     697
Sales                          580
Project Manager                526
General Manager                523
Office Manager                 521
Owner                          420
Director                       402
Operations Manager             387
Truck Driver                   387
Nurse                          326
Engineer                       325
Sales Manager                  304
manager                        301
Supervisor                     270
Administrative Assistant       269
Name: emp_title, dtype: int64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01