<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

In [0]:
# import lending club dataset
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-17 04:57:01--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.72M   410KB/s    in 57s

2020-01-17 04:57:58 (393 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [111]:
# unzipping dataset
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [37]:
# Read in the CSV (skipping first row and footer due to null values) and shape 
# of file to see if it matches shape in walkthru in lecture

df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape

(128397, 144)

In [42]:
## convert 'term' column from str to int
def str_to_int(string):
  return int(string.strip().strip('months'))

df['term'].apply(str_to_int)

0         36
1         36
2         36
3         36
4         60
          ..
128392    36
128393    36
128394    36
128395    36
128396    36
Name: term, Length: 128397, dtype: int64

In [38]:
## Make a column named loan_status_is_great. It should contain the integer 1 if 
## loan_status is "Current" or "Fully Paid." Else it should contain the integer 0

# look at the loan status 
df['loan_status'].value_counts(dropna=False)[:20]
# note to self there are 7 variables in column 'loan_status'

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [0]:
# creating condition
def loan_status_is_great():
   if (df['loan_status']).any == 'Current' or (df['loan_status']).any == 'Fully Paid':
     return 1
   else:
     return 0

In [74]:
# creating new column based on condition and checking if condition worked
df['loan_status_is_great'] = df['loan_status'].isin(['Current','Fully Paid']).astype(int)
df['loan_status_is_great'].head(10)

0    0
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: loan_status_is_great, dtype: int64

In [0]:
## Make last_pymnt_d_month and last_pymnt_d_year columns
# list comprehension
mycols = [col for col in df.columns if col.endswith('_d')]

In [32]:
# inspecting string format of last_pymnt_d
df['last_pymnt_d'][:10]

0    Apr-2019
1    Dec-2019
2    Feb-2019
3    Dec-2019
4    Dec-2019
5    Dec-2019
6    Dec-2019
7    Dec-2019
8    Dec-2019
9    Dec-2019
Name: last_pymnt_d, dtype: object

In [33]:
# infer_datetime_format=True
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df[mycols].head()

    issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0  Dec-2018   2019-04-01          NaN           Nov-2019
1  Dec-2018   2019-12-01     Jan-2020           Nov-2019
2  Dec-2018   2019-02-01          NaN           Nov-2019
3  Dec-2018   2019-12-01     Jan-2020           Dec-2019
4  Dec-2018   2019-12-01     Jan-2020           Nov-2019

In [34]:
# creating new column 'last_pymnt_d_month'
df=df[mycols].copy()
df['last_pymnt_d_month']=df['last_pymnt_d'].dt.month

df.head()

    issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  last_pymnt_d_month
0  Dec-2018   2019-04-01          NaN           Nov-2019                 4.0
1  Dec-2018   2019-12-01     Jan-2020           Nov-2019                12.0
2  Dec-2018   2019-02-01          NaN           Nov-2019                 2.0
3  Dec-2018   2019-12-01     Jan-2020           Dec-2019                12.0
4  Dec-2018   2019-12-01     Jan-2020           Nov-2019                12.0

In [35]:
# creating new column 'last_pymnt_d_year'
df['last_pymnt_d_year']=df['last_pymnt_d'].dt.year
df.head()

    issue_d last_pymnt_d  ... last_pymnt_d_month last_pymnt_d_year
0  Dec-2018   2019-04-01  ...                4.0            2019.0
1  Dec-2018   2019-12-01  ...               12.0            2019.0
2  Dec-2018   2019-02-01  ...                2.0            2019.0
3  Dec-2018   2019-12-01  ...               12.0            2019.0
4  Dec-2018   2019-12-01  ...               12.0            2019.0

[5 rows x 6 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [112]:
## STRECH GOAL 1
# Look at the first 10 values of the revol_utl column 
df['revol_util'].head(10)

0    91.2%
1    27.7%
2      48%
3    33.3%
4    38.2%
5     9.4%
6    64.8%
7    48.5%
8      21%
9    31.8%
Name: revol_util, dtype: object

In [113]:
# looking at the null values of revol_utl column
df['revol_util'].isnull().sum()

156

In [0]:
# cleaning revol_utl column with condition
def clean_revol_util(revol_util):
  if isinstance(revol_utl, str):
    return revol_util
  else:
    return '0'

In [139]:
# inspection head of 'revol_util
df['revol_util'].head(10)

0    91.2%
1    27.7%
2      48%
3    33.3%
4    38.2%
5     9.4%
6    64.8%
7    48.5%
8      21%
9    31.8%
Name: revol_util, dtype: object

In [0]:
# starting small with first value in revol_util
revol = '91.2%'

In [156]:
# removing %, '' and creating a float
float(revol.strip().strip('%'))

91.2

In [0]:
# writing function to put it all together and clean list
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [172]:
# testing to see if myfunc worked
myfunc(revol)

91.2

In [0]:
# creating a blank list to drop values into
new_list = []

In [0]:
# using for loop to add solution to every column
for cell in df['revol_util']:
  new_list.append(myfunc(cell))

In [175]:
# checking to see if function worked with the first 10 values 
new_list[:10]

[91.2, 27.7, 48.0, 33.3, 38.2, 9.4, 64.8, 48.5, 21.0, 31.8]

In [181]:
# convert new_list to a new column
df['revol_util_cleaned'] = pd.Series(new_list)
df['revol_util_cleaned'].head(15)

0     91.2
1     27.7
2     48.0
3     33.3
4     38.2
5      9.4
6     64.8
7     48.5
8     21.0
9     31.8
10     4.3
11    32.0
12    19.2
13    19.1
14    73.7
Name: revol_util_cleaned, dtype: float64

In [182]:
## STRECH GOAL 2
# ;ook at the top 20 employment titles
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
# write a function to clean up these use cases and increase uniformity
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return "Unknown"

In [0]:
# create a for loop:
empty_list=[]
for title in examples:
  empty_list.append(clean_title(title))

In [0]:
# cleaning emp titles
df['emp_title']=df['emp_title'].apply(clean_title)

In [185]:
# Look at the top 20 employment titles
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01