<a href="https://colab.research.google.com/github/cedro-gasque/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

In [0]:
import pandas as pd
import numpy as np

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-14 20:59:49--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.72M   441KB/s    in 51s

2020-01-14 21:00:41 (434 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [12]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)
df.int_rate = df.int_rate.apply(lambda x : float(x[1:6]))
print(df.shape)
df.head(10)

(128397, 140)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN
5       5000         5000  ...                    NaN             NaN
6      27000        27000  ...                    NaN             NaN
7      10000        10000  ...                    NaN             NaN
8       8000         8000  ...                    NaN             NaN
9      24000        24000  ...                    NaN             NaN

[10 rows x 140 columns]

In [0]:
def clean_title (job_title):
    if isinstance(job_title, str):
        return job_title.title().strip()
    return "Unknown"
df['emp_title'] = df['emp_title'].apply(clean_title)

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [14]:
df.term.value_counts()

 36 months    88171
 60 months    40226
Name: term, dtype: int64

In [0]:
df.term = df.term.apply(lambda x : int(x[1:3]))

In [18]:
df.term.head()

0    36
1    36
2    36
3    36
4    60
Name: term, dtype: int64

In [19]:
df['loan_status'][0]

'Charged Off'

In [0]:
loan_status_is_great = ((df.loan_status == "Current") | (df.loan_status == "Fully Paid")).apply(int)

In [0]:
loan_status_is_great = pd.Series(loan_status_is_great)
loan_status_is_great.head()
df['loan_status_is_great'] = loan_status_is_great

In [28]:
df.last_pymnt_d.head(10)

0    Apr-2019
1    Dec-2019
2    Feb-2019
3    Dec-2019
4    Dec-2019
5    Dec-2019
6    Dec-2019
7    Dec-2019
8    Dec-2019
9    Dec-2019
Name: last_pymnt_d, dtype: object

In [30]:
df.last_pymnt_d.value_counts(dropna=False)

Dec-2019    98862
Nov-2019     3241
Jul-2019     3143
Oct-2019     2833
Sep-2019     2803
Aug-2019     2731
May-2019     2547
Apr-2019     2356
Jun-2019     2289
Mar-2019     1984
Feb-2019     1915
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
NaN           159
Jan-2020        6
Name: last_pymnt_d, dtype: int64

In [0]:
df.last_pymnt_d = pd.to_datetime(df.last_pymnt_d, infer_datetime_format=True)
df['last_pymnt_d_month'] = df.last_pymnt_d.dt.month
df['last_pymnt_d_year'] = df.last_pymnt_d.dt.year

In [36]:
df.head(10)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0       6000         6000  ...                 4.0             2019.0
1      24000        24000  ...                12.0             2019.0
2      30000        30000  ...                 2.0             2019.0
3       8000         8000  ...                12.0             2019.0
4      22400        22400  ...                12.0             2019.0
5       5000         5000  ...                12.0             2019.0
6      27000        27000  ...                12.0             2019.0
7      10000        10000  ...                12.0             2019.0
8       8000         8000  ...                12.0             2019.0
9      24000        24000  ...                12.0             2019.0

[10 rows x 143 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [37]:
df.revol_util.head(10)

0    91.2%
1    27.7%
2      48%
3    33.3%
4    38.2%
5     9.4%
6    64.8%
7    48.5%
8      21%
9    31.8%
Name: revol_util, dtype: object

In [38]:
df.revol_util.value_counts(dropna=False)

0%        1132
43%        225
49%        222
39.1%      220
32%        217
          ...
116.3%       1
103.3%       1
103.6%       1
102.1%       1
110.9%       1
Name: revol_util, Length: 1075, dtype: int64

In [39]:
df.revol_util.isnull().sum()

156

In [40]:
df.revol_util[23]

'50.9%'

In [41]:
df.revol_util[329]

'23.3%'

In [0]:
revol_util = df.revol_util.apply(lambda x : x if pd.isnull(x) else float(x.strip().strip('%')))

In [0]:
revol_util = pd.Series(revol_util)

In [48]:
revol_util.head(10)

0    91.2
1    27.7
2    48.0
3    33.3
4    38.2
5     9.4
6    64.8
7    48.5
8    21.0
9    31.8
Name: revol_util, dtype: float64