<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np  # importing the libraries for the subsequent code

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv') #reading the Ames Iowa Housing Data Set

In [3]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [4]:
pd.set_option('display.max_rows', 100)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [5]:
df[['BedroomAbvGr', 'Fireplaces']].head(10) #displaying the first 10 rows of BedroomAbvGr column

   BedroomAbvGr  Fireplaces
0             3           0
1             3           1
2             3           1
3             3           1
4             4           1
5             1           0
6             3           1
7             3           2
8             2           2
9             2           2

In [6]:
df['LotFrontage'].head(10) #displaying the first 10 rows of LotFrontage Column

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [7]:
df['LotFrontage'].value_counts(dropna=False) #looking to see why LotFrontage is cast to a float instead of an int, NaN values are floats

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [9]:
small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy() # creating a smaller df to work with, using .copy to preserve the data of the larger df
small_df.head

<bound method NDFrame.head of       TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0             856       856       854     208500
1            1262      1262         0     181500
2             920       920       866     223500
3             756       961       756     140000
4            1145      1145      1053     250000
...           ...       ...       ...        ...
1455          953       953       694     175000
1456         1542      2073         0     210000
1457         1152      1188      1152     266500
1458         1078      1078         0     142125
1459         1256      1256         0     147500

[1460 rows x 4 columns]>

In [10]:
small_df['TotalSquareFootage'] = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF'] #creating a new column for total square foot using bracket syntax
small_df.head() # checking to see if the column was created

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [11]:
small_df['PricePerSqFt'] = small_df['SalePrice'] / small_df['TotalSquareFootage'] # creating a new column for price per sq ft
small_df.head() # checking the results

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854     208500                2566     81.254871
1         1262      1262         0     181500                2524     71.909667
2          920       920       866     223500                2706     82.594235
3          756       961       756     140000                2473     56.611403
4         1145      1145      1053     250000                3343     74.783129

In [12]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip # loading a new dataset and extracting it from a zip

--2020-01-20 02:17:15--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [             <=>    ]  21.72M  1.88MB/s    in 12s

2020-01-20 02:17:27 (1.86 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [14]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [17]:
df_loan = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python') #reading in the new df, I renamed this so it was a different name from the df above, using engine = 'python' because C does not support skipfooter
df_loan.shape

(128397, 144)

In [21]:
df_loan.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
pd.set_option('display.max_rows', 200) # expanding the max rows displayed to see all the variables
df_loan.isnull().sum().sort_values(ascending=False) # checking NaN values

id                                            128397
desc                                          128397
member_id                                     128397
url                                           128397
orig_projected_additional_accrued_interest    128191
hardship_type                                 128164
hardship_last_payment_amount                  128164
hardship_payoff_balance_amount                128164
hardship_reason                               128164
hardship_loan_status                          128164
hardship_dpd                                  128164
hardship_length                               128164
payment_plan_start_date                       128164
hardship_end_date                             128164
hardship_start_date                           128164
hardship_amount                               128164
deferral_term                                 128164
hardship_status                               128164
settlement_percentage                         127946
settlement_term                               127946
settlement_status                             127946
settlement_amount                             127946
settlement_date                               127946
debt_settlement_flag_date                     127946
sec_app_mths_since_last_major_derog           123245
verification_status_joint                     113553
mths_since_last_record                        112950
sec_app_revol_util                            111877
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
dti_joint                                     111619
annual_inc_joint                              111619
sec_app_open_act_il                           111619
revol_bal_joint                               111619
sec_app_earliest_cr_line                      111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_open_acc                              111619
mths_since_recent_bc_dlq                      103232
mths_since_last_major_derog                    99223
mths_since_recent_revol_delinq                 91620
mths_since_last_delinq                         72190
next_pymnt_d                                   26736
emp_title                                      20942
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11701
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
df_loan = df_loan.drop(['url', 'member_id', 'desc', 'id'], axis=1) # dropping the 4 columns that are entirely NaN values, axis = 1 makes it columns over rows

In [24]:
df_loan['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [27]:
df_loan['int_rate'][3] # checking a specific value

' 12.98%'

In [28]:
type(df_loan['int_rate'][3]) # getting the data type

str

In [0]:
int_rate = ' 12.98%' # fixing a single string

In [30]:
int_rate.strip() # strips the leading spaces

'12.98%'

In [31]:
float('12.98') # casting a string value to a float

12.98

In [33]:
float(int_rate.strip().strip('%')) # putting the previous steps

12.98

In [0]:
type(float(int_rate.strip().strip('%'))) # checking the type afterwards

In [0]:
def myfunc(cell_contents): # writing a function to do the data clean up
  return float(cell_contents.strip().strip('%'))

In [35]:
myfunc(int_rate)

12.98

In [36]:
type(myfunc(int_rate))

float

In [0]:
new_list = [] # creating a new list for use with a for loop to run the clean up

for cell in df_loan['int_rate']:
  new_list.append(myfunc(cell))

In [38]:
new_list[:10] #checking the first 10 values

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [75]:
df_loan['int_rate_cleaned'] = pd.Series(new_list)
df_loan.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned2 int_rate_cleaned
0       6000         6000  ...              14.47            14.47
1      24000        24000  ...              10.33            10.33
2      30000        30000  ...              15.02            15.02
3       8000         8000  ...              12.98            12.98
4      22400        22400  ...              16.14            16.14

[5 rows x 142 columns]

In [40]:
small_df.dtypes

TotalBsmtSF             int64
1stFlrSF                int64
2ndFlrSF                int64
SalePrice               int64
TotalSquareFootage      int64
PricePerSqFt          float64
int_rate_cleaned      float64
dtype: object

In [74]:
df_loan['int_rate_cleaned2'] = df_loan['int_rate'].apply(myfunc) # using apply to run the clean up function
df_loan.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned2
0       6000         6000  ...             24.0             14.47
1      24000        24000  ...              NaN             10.33
2      30000        30000  ...              NaN             15.02
3       8000         8000  ...              NaN             12.98
4      22400        22400  ...              NaN             16.14

[5 rows x 141 columns]

In [42]:
df_loan['emp_title'].value_counts(dropna=False)[:20] # looking at the top 20 employment titles

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [44]:
len(df_loan['emp_title'].unique()) # checking the number of unique employment titles

43890

In [46]:
df_loan['emp_title'].isnull().sum() # checking how many NaN values are present

20942

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.nan] # creating examples to clean up

In [0]:
def clean_title(job_title): # writing a function to clean up the titles
  if isinstance(job_title, str):
    return job_title.title().strip() # .title will ensure capitalization, .strip will remove leading spaces
  else:
    return "Unknown"

In [60]:
empty_list = [] # creating a list for use with the for loop
for title in examples:
  empty_list.append(clean_title(title))
empty_list

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [59]:
# doing the clean up in a list comprehension
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [61]:
# Applying our function to our df

df_loan['emp_title'] = df_loan['emp_title'].apply(clean_title)
df_loan.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [62]:
df_loan['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [63]:
len(df_loan['emp_title'].unique())

34899

In [64]:
df_loan['emp_title'].isnull().sum()

0

In [0]:
mylist = []
for col in df_loan.columns:
  if col.endswith('_d'):
    mylist.append(col)

In [70]:
mycols = [col for col in df_loan.columns if col.endswith('_d')] # list comprehension of the for loop to print out the columns that have a date/time
mycols

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [69]:
df_loan['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [71]:
df_loan['issue_d'] = pd.to_datetime(df_loan['issue_d'], infer_datetime_format=True) # letting pandas translate the date/time into the appropriate date time format
df_loan[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [72]:
df_loan['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [73]:
df_loan['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [78]:
df2 = df_loan[mycols].copy()
df2['year'] = df2['issue_d'].dt.year
df2.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018

In [80]:
df2['month'] = df2['issue_d'].dt.month
df2.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN           Nov-2019  2018     12
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12
2 2018-12-01     Feb-2019          NaN           Nov-2019  2018     12
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019  2018     12
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019  2018     12

In [83]:
df2.dtypes[-2:]

year     int64
month    int64
dtype: object

In [87]:
df2['last_credit_pull_d'] = pd.to_datetime(df2['last_credit_pull_d'], infer_datetime_format=True)
df2.head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d  year  month
0 2018-12-01     Apr-2019          NaN         2019-11-01  2018     12
1 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12
2 2018-12-01     Feb-2019          NaN         2019-11-01  2018     12
3 2018-12-01     Dec-2019     Jan-2020         2019-12-01  2018     12
4 2018-12-01     Dec-2019     Jan-2020         2019-11-01  2018     12

In [86]:
df2['last_credit_pull_d'] - df2['issue_d']

0        335 days
1        335 days
2        335 days
3        365 days
4        335 days
           ...
128392    31 days
128393   396 days
128394   396 days
128395   396 days
128396   396 days
Length: 128397, dtype: timedelta64[ns]

Convert the term column from string to integer.

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [88]:
df_loan.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned2 int_rate_cleaned
0       6000         6000  ...              14.47            14.47
1      24000        24000  ...              10.33            10.33
2      30000        30000  ...              15.02            15.02
3       8000         8000  ...              12.98            12.98
4      22400        22400  ...              16.14            16.14

[5 rows x 142 columns]

In [89]:
term = '36 months' # testing the int conversion on one example
term.strip('months').strip()

'36'

In [90]:
int(term.strip('months').strip())

36

In [91]:
type(int(term.strip('months').strip()))

int

In [0]:
def strconversion(cell_contents):
  return int(term.strip('months').strip())

In [93]:
strconversion(term)

36

In [94]:
term_list = []
for cell in df_loan['term']:
  term_list.append(strconversion(cell))

term_list[:10]

[36, 36, 36, 36, 36, 36, 36, 36, 36, 36]

In [95]:
df_loan['term_cleaned'] = pd.Series(term_list)
df_loan.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned term_cleaned
0       6000         6000  ...             14.47           36
1      24000        24000  ...             10.33           36
2      30000        30000  ...             15.02           36
3       8000         8000  ...             12.98           36
4      22400        22400  ...             16.14           36

[5 rows x 143 columns]

In [97]:
df_loan['loan_status'].value_counts(dropna=False) # checking the different values for loan status

Current               97694
Fully Paid            21476
Charged Off            5260
Late (31-120 days)     2656
In Grace Period         784
Late (16-30 days)       524
Default                   3
Name: loan_status, dtype: int64

In [0]:
# writing a function to return 1's and 0's based on the conditions "It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0."

def statuscheck(loan_status):
  if loan_status == 'Current' or loan_status == 'Fully Paid':
    return 1
  else:
    return 0

In [104]:
df_loan['loan_status_is_great'] = df_loan['loan_status'].apply(statuscheck)
df_loan['loan_status_is_great'].head()

0    0
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [105]:
df_loan.sample(10)

       loan_amnt  funded_amnt  ...  term_cleaned loan_status_is_great
96366      14000        14000  ...            36                    1
58898      30000        30000  ...            36                    1
33387      10000        10000  ...            36                    1
74480       8000         8000  ...            36                    0
92215      30000        30000  ...            36                    1
63161      10000        10000  ...            36                    1
43550      21775        21775  ...            36                    1
42272       3000         3000  ...            36                    1
49184       3000         3000  ...            36                    1
45777      12000        12000  ...            36                    1

[10 rows x 144 columns]

In [120]:
# Make last_pymnt_d_month and last_pymnt_d_year columns
df_loan['last_pymnt_d'] = pd.to_datetime(df_loan['last_pymnt_d'], infer_datetime_format=True)
df_loan['last_pymnt_d'].head()

0   2019-04-01
1   2019-12-01
2   2019-02-01
3   2019-12-01
4   2019-12-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [122]:
df_loan['last_pymnt_d_month'] = df_loan['last_pymnt_d'].dt.month
df_loan['last_pymnt_d_year'] = df_loan['last_pymnt_d'].dt.year

df_loan.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month last_pymnt_d_year
0       6000         6000  ...                 4.0            2019.0
1      24000        24000  ...                12.0            2019.0
2      30000        30000  ...                 2.0            2019.0
3       8000         8000  ...                12.0            2019.0
4      22400        22400  ...                12.0            2019.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01