<a href="https://colab.research.google.com/github/mvkumar14/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.


Here is a reference to my "follow along"
https://colab.research.google.com/drive/1o7GfvvyeAvYZEcFQIogKSr3M26EBlmEO

#Getting and Cleaning the Data

## Get the Data:

In [0]:
#get the data
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
!unzip LoanStats_2018Q4.csv.zip

In [0]:
!head LoanStats_2018Q4.csv

## Load it into a data frame:

In [0]:
# imports (I like consolidating them here)
import pandas as pd

In [15]:
# Load in data 
df = pd.read_csv('LoanStats_2018Q4.csv',header = 1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
#display some data+ metadata
print(df.shape, "\n")
print(df.head())
print(df.tail())

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]
                                                      id  ...  settlement_term
128409                                               NaN  ...              NaN
128410                                               NaN  ...              NaN
128411                                               NaN  ...              NaN
128412  Total amount funded in policy code 1: 2050909275  ...              NaN
128413   Total amount funded in policy code 2: 820109297  ...              NaN

[5 rows x 144 columns]

## Basic Cleaning

This is just repeating what we did in class

In [0]:
# right away we can get rid of the last two rows:
print("Before the removal:",df.tail(2),'\n')
#the following command works
print("After the removal:",df.drop(df.tail(2).index).tail(2))
#lets execute it:
df = df.drop(df.tail(2).index)
df.tail(2)

In [35]:
#Now lets look at the null values to see if we can get rid of any columns:
print(df.shape)
df.isna().sum().sort_values(ascending = False)[:10]

(128410, 144)

id                                            128410
desc                                          128410
member_id                                     128410
url                                           128410
orig_projected_additional_accrued_interest    128343
hardship_type                                 128341
hardship_last_payment_amount                  128341
hardship_payoff_balance_amount                128341
hardship_reason                               128341
hardship_loan_status                          128341
dtype: int64

In [39]:
# we see that id, desc, member_id, and url are all completely empty, so lets get rid of them:
print(df.head())
to_drop = ['id','desc','member_id','url']
df.drop(to_drop,axis=1).head()

#That worked, so lets update the df
df = df.drop(to_drop,axis=1)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
#double check
df.head()

## Convert ```term``` from string to integer:

###  Looking at Term:

In [54]:
#lets take a look at the term column
print(df.shape)
print(df.term.head(5))
print(df.term.isna().sum())
# we aren't missing any values, but are there any values that might be unexpected
df['term'].value_counts()

(128410, 140)
0     36 months
1     60 months
2     60 months
3     36 months
4     60 months
Name: term, dtype: object
0

 36 months    88177
 60 months    40233
Name: term, dtype: int64

In [55]:
# We determined that there are only two "terms". Lets make sure they add to the number of rows:
print(df.shape)
df['term'].value_counts().sum()

# IT DOES! so this data column is ready for sorting.

(128410, 140)

128410

### Function to process text

Note that I actually had to redo this part because I forgot about checking for leading spaces in the original text, because I copy pasted an entry from ``` df.head(3)```.  The only real change that this induced in my method was to change a few indexes. Alternativley  the ```.strip()``` command could also be used

In [0]:
# we need to first figure out how to change this value to an integer, then we can apply it to the column
term_sample = " 36 months"

# There are two pieces and if I can put the pieces into a list as two strings, then I can take the first value from that 
# list and cast to an integer

In [93]:
#we can split the list this way:
term_list = term_sample.split(" ")
term_list

['', '36', 'months']

In [95]:
#we can pull out the first string and turn it into an int like so:
print(int(term_list[1]))
print(type(int(term_list[1])))

36
<class 'int'>

**Function to process text**
this function is what should end up in apply()

In [96]:
print('Before Proccesing:\n',term_sample)
def term_to_int(term):
  return(int(term.split(" ")[1]))

final_val = term_to_int(term_sample)
print('After Processing:\n',final_val)
print(type(final_val))

Before Proccesing:
  36 months
After Processing:
 36
<class 'int'>

In [115]:
# for posterity the same function but with the strip functionality instead of changing the index:
print("'",term_sample,"'")
def term_to_int_strip(term):
  return(int(term.strip().split(' ')[0]))
term_to_int_strip(term_sample)

'  36 months '

36

**Alternate function to process text**

knowing what we know about the data in this column we could write a quicker but less generally useful solution:

In [112]:
term_sample = " 36 months"
print('val at 1:',term_sample[1])
print('val at 0:',term_sample[0])
#weirdly though it doesn't seem to matter? 

def term_to_int_simple(term):
  if term[1] == 3:
    return 36
  else:
    return 60

test = df.term.apply(term_to_int).head(10)
test

val at 1: 3
val at 0:

0    36
1    60
2    60
3    36
4    60
5    36
6    36
7    60
8    36
9    60
Name: term, dtype: int64

###Replacing the term column with integers:

In [116]:
#make sure that the function is working
term_to_int(df.term.loc[3])

36

In [79]:
#It was not working initially because there are leading spaces in these values (which weren't accounted for in the function)
df.term.loc[3]
#I went back and changed the functions in the "function to process text portion of this notebook"

' 36 months'

In [118]:
#apply the function to the dataframe:
df.term.apply(term_to_int).head()
#it works!

0    36
1    60
2    60
3    36
4    60
Name: term, dtype: int64

In [0]:
df['term'] = df['term'].apply(term_to_int)

In [122]:
#Remember that you can't rerun the code above (unless you re-initialize the df) because I replaced values, and they are ints now
df.term.head()

0    36
1    60
2    60
3    36
4    60
Name: term, dtype: int64

# Feature Engineering

## ```loan_status_is_great```

Make a column named ```loan_status_is_great```. It should contain the integer 1 if ```loan_status``` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [128]:
#look at loan_status
#any nulls?:
print(df['loan_status'].isna().sum())
#a look at the possilbe results:
df['loan_status'].value_counts()

0

Current               105923
Fully Paid             15780
Charged Off             2863
Late (31-120 days)      2482
In Grace Period          901
Late (16-30 days)        459
Default                    2
Name: loan_status, dtype: int64

we need to apply a function to the existing column to return a value that value is the value of a new column in the function the command is going to look like this:

```df['new_column'] = df['loan_status'].apply(my_function)```

In [132]:
#the function
loan_status_test_set = ['Current','Late','this is random','Fully Paid']
def loan_status_sort(input):
  if input == 'Current' or input == 'Fully Paid':
    return 1
  else:
    return 0

[loan_status_sort(value) for value in loan_status_test_set]

[1, 0, 0, 1]

In [139]:
#Checking it works for individual values:
test_val = df['loan_status'].loc[3]
print(test_val)
print(loan_status_sort(test_val))

Current
1

In [143]:
#Testing on column in the data frame:
df['loan_status'].apply(loan_status_sort).head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status, dtype: int64

In [0]:
#Creating new column:
df['loan_status_is_great'] = df['loan_status'].apply(loan_status_sort)

In [146]:
#Double check
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

## ```last_pymnt_d_month```

Make ```last_pymnt_d_month``` and ```last_pymnt_d_year``` columns.

In [149]:
#look at last_pymnt
df['last_pymnt_d'].head()

0    Sep-2019
1    Apr-2019
2    Sep-2019
3    Sep-2019
4    Apr-2019
Name: last_pymnt_d, dtype: object

In [0]:
#Now this month-day format needs to split up. Lets convert to datetime first:
test = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

In [157]:
#using dt to get just year (same can be done for month)
test.dt.year.head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d, dtype: float64

In [159]:
#Replacing the last_pymnt_d column's string values with dt values:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)
df['last_pymnt_d'].head()

0   2019-09-01
1   2019-04-01
2   2019-09-01
3   2019-09-01
4   2019-04-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
#creating new columns I am using the original df, but the intermediate df (test in this case) can also be used
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [0]:
#making sure that it worked:
print(df['last_pymnt_d_year'].value_counts())
print(df['last_pymnt_d_year'].head(),'\n')
print(df['last_pymnt_d_month'].value_counts())
print(df['last_pymnt_d_month'].head())

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01