In [1]:
# I have to add this to the beggining
# of all code I do locally, as requests
# complains when trying to grab data
# sets from HTTPS

import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    # Legacy Python that doesn't verify HTTPS certificates by default
    pass
else:
    # Handle target environment that doesn't support HTTPS verification
    ssl._create_default_https_context = _create_unverified_https_context

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [2]:
##### Begin Working Here #####
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Load the local dataset
# We needed to skip the first row.
# Also, we need to use skipfooter,
# and the c engine does not support
# skipfooter, so I specified python

df_loan = pd.read_csv('../../data/LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [4]:
# Take a look at the head
df_loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,35000,35000,35000.0,36 months,14.47%,1204.23,C,C2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,5000,5000,5000.0,36 months,22.35%,191.86,D,D5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10000,10000,10000.0,60 months,23.40%,284.21,E,E1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,17100,17100,17100.0,36 months,18.94%,626.30,D,D2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4000,4000,4000.0,36 months,10.72%,130.43,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Need to see more columns
pd.set_option('display.max_rows', 150)

# Check for nulls
df_loan.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   29644
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
sec_app_open_act_il                           111630
annual_inc_joint                              111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     127857
settlement_date                               127857
settlement_amount                             127857
settlement_status                             127857
settlement_term                               127857
settlement_percentage                         127857
hardship_status                               128130
deferral_term                                 128130
hardship_amount                               128130
hardship_start_date                           128130
hardship_end_date                             128130
payment_plan_start_date                       128130
hardship_length                               128130
hardship_dpd                                  128130
hardship_loan_status                          128130
hardship_reason                               128130
hardship_payoff_balance_amount                128130
hardship_last_payment_amount                  128130
hardship_type                                 128130
orig_projected_additional_accrued_interest    128172
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
dtype: int64

In [6]:
# Drop some columns 
df_loan = df_loan.drop(['url', 
                        'member_id', 
                        'desc', 
                        'id'], axis=1)

In [7]:
# Take a look at the head
df_loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,35000,35000,35000.0,36 months,14.47%,1204.23,C,C2,Staff Physician,8 years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,5000,5000,5000.0,36 months,22.35%,191.86,D,D5,Director of Sales,10+ years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,60 months,23.40%,284.21,E,E1,NaN,< 1 year,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,17100,17100,17100.0,36 months,18.94%,626.30,D,D2,Receptionist,10+ years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4000,4000,4000.0,36 months,10.72%,130.43,B,B2,Extrusion assistant,10+ years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Data types?
df_loan.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [9]:
# Converting the term column to int
df_loan['term'].head()

0     36 months
1     36 months
2     60 months
3     36 months
4     36 months
Name: term, dtype: object

In [10]:
df_loan['term'] = df_loan['term'].map(lambda s: s.rstrip(' months'))
df_loan['term'] = df_loan['term'].astype(int)
df_loan['term'].head()

0    36
1    36
2    60
3    36
4    36
Name: term, dtype: int64

In [11]:
# The first thing I see is that
# the int_rate column has been
# cast as a string, wheh it 
# should be a number. Cleaning up 
# int rate column. Why is a it a 
# string?
df_loan['int_rate'].unique()

array([' 14.47%', ' 22.35%', ' 23.40%', ' 18.94%', ' 10.72%', ' 11.31%',
       ' 11.80%', ' 16.91%', ' 17.97%', ' 19.92%', ' 26.31%', ' 20.89%',
       ' 16.14%', ' 12.98%', ' 10.33%', ' 15.02%', '  6.46%', ' 27.27%',
       '  7.56%', ' 13.56%', '  8.19%', '  8.81%', ' 30.75%', ' 25.34%',
       '  7.02%', ' 24.37%', ' 30.65%', '  6.00%', ' 30.79%', ' 30.84%',
       ' 28.72%', ' 11.06%', '  7.21%', ' 12.73%', ' 11.55%', '  8.46%',
       ' 29.69%', '  6.11%', '  7.84%', '  6.67%', ' 10.47%', ' 30.17%',
       ' 10.08%', ' 30.94%', ' 30.89%', ' 30.99%'], dtype=object)

In [12]:
# I can see the extra space, and the % symbol
# causing pandas to cast this as an object (string)
# strip the leading and trailing characters
df_loan['int_rate'] = df_loan['int_rate'].map(lambda s: s.lstrip(' ').rstrip('%'))

#

In [13]:
# Did it work?
df_loan['int_rate'].unique()

array(['14.47', '22.35', '23.40', '18.94', '10.72', '11.31', '11.80',
       '16.91', '17.97', '19.92', '26.31', '20.89', '16.14', '12.98',
       '10.33', '15.02', '6.46', '27.27', '7.56', '13.56', '8.19', '8.81',
       '30.75', '25.34', '7.02', '24.37', '30.65', '6.00', '30.79',
       '30.84', '28.72', '11.06', '7.21', '12.73', '11.55', '8.46',
       '29.69', '6.11', '7.84', '6.67', '10.47', '30.17', '10.08',
       '30.94', '30.89', '30.99'], dtype=object)

In [14]:
# Convert the column to float
# and convert the % to their
# decimal equalivant
df_loan['int_rate'] = df_loan['int_rate'].astype(float) / 100

In [15]:
# Is it a float?
df_loan['int_rate'].dtype

dtype('float64')

In [16]:
# What does it look like
df_loan['int_rate'].head()

0    0.1447
1    0.2235
2    0.2340
3    0.1894
4    0.1072
Name: int_rate, dtype: float64

In [17]:
# Create the loan_status_is_great Column

def getloanstatus(c):
    if c == 'Current' or c == 'Fully Paid':
        return 1
    else:
        return 0

df_loan['loan_status_is_great'] = df_loan['loan_status'].apply(getloanstatus)

In [18]:
# Create the last_pymnt_d_month and last_pymnt_d_year columns.
# last_pymnt_d has NaN's, need to remove those rows
df_loan = df_loan[pd.notnull(df_loan['last_pymnt_d'])]

# Need to cast the last_pymnt_d to datetime
df_loan['last_pymnt_d'] = pd.to_datetime(df_loan['last_pymnt_d'])
# Did it work?
df_loan['last_pymnt_d'].head()

0   2019-08-01
1   2019-07-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [19]:
# Create a column for the Year
df_loan['last_pymnt_d_year'] = df_loan['last_pymnt_d'].dt.year

# Create a column for the Month
df_loan['last_pymnt_d_month'] = df_loan['last_pymnt_d'].dt.month

In [20]:
# Did it take?
df_loan[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']].head()

  last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0   2019-08-01                   8               2019
1   2019-07-01                   7               2019
2   2020-01-01                   1               2020
3   2020-01-01                   1               2020
4   2020-01-01                   1               2020

In [30]:
df_dates.dtypes

last_pymnt_d          datetime64[ns]
last_pymnt_d_month             int64
last_pymnt_d_year              int64
dtype: object

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingCluboptions:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [22]:
# LendingCluboptions:
# find the % it was in 
# the revol_util col
def to_float(i):
    c = str(i)
    return float(c.strip().strip('%')) / 100

df_loan['revol_util'].head()

0    43.2%
1    47.1%
2    53.9%
3      53%
4    28.6%
Name: revol_util, dtype: object

In [23]:
# Remove %, convert to float decimal equavilant
df_loan['revol_util'] = df_loan['revol_util'].apply(to_float)

In [24]:
# Did it work?
df_loan['revol_util'].head()

0    0.432
1    0.471
2    0.539
3    0.530
4    0.286
Name: revol_util, dtype: float64

In [26]:
#df_loan['emp_title'] = df_loan['emp_title'].value_counts()[10:].replace(to_replace=r'.*', value='Other', regex=True)
#df_loan['emp_title'].value_counts()

You can uncomment and run the cells below to re-download and extract the Instacart data

In [27]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [28]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [29]:
# %cd instacart_2017_05_01