<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [6]:
# get the data

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-02 01:06:52--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [               <=>  ]  21.66M   792KB/s    in 29s

2019-11-02 01:07:21 (774 KB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [22709125]

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [9]:
# unzip the data

!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [10]:
# load the data
import pandas as pd

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [14]:
# what is the value? also using to check for leading spaces
term0=df.loc[0, 'term']
print(term0)
term0

 36 months

' 36 months'

In [15]:
# we need a method to remove string values
term0.strip()

'36 months'

In [16]:
# we need to get rid of the 'months'
term0.strip('months')

' 36 '

In [17]:
# getting rid of both using the chain method
term0.strip().strip('months')

'36 '

In [18]:
# convert the string to float
float(term0.strip().strip('months'))

36.0

In [0]:
# write a function to remove strings and convert to floats
def term_2_float(mystring):
  return float(mystring.strip().strip('months'))

In [24]:
# test the function
term_2_float(term0)

36.0

In [26]:
# apply my function to the whole column
df['term_2_float']=df['term'].apply(term_2_float)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'term_2_float'],
      dtype='object', length=145)

In [0]:
import numpy as np

In [0]:
# Make a column named loan_status_is_great. It should contain the integer 1 if 
# loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

c = 'Current'
f = 'Fully Paid'

def lsig(data): 
    if (data==c) or (data==f):
        return 1
    else:
        return 0

In [106]:
df['loan_status'].apply(lsig)

0         1
1         1
2         1
3         1
4         1
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status, Length: 128412, dtype: int64

In [0]:
df['last_payment_date_month']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df['last_payment_date_year']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [123]:
df[['last_payment_date_month', 'last_payment_date_year']].head(5)

  last_payment_date_month last_payment_date_year
0              2019-08-01             2019-08-01
1              2019-07-01             2019-07-01
2              2019-10-01             2019-10-01
3              2019-10-01             2019-10-01
4              2019-10-01             2019-10-01

In [124]:
df['last_payment_date_year'].dt.year

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_payment_date_year, Length: 128412, dtype: float64

In [125]:
df['last_payment_date_month'].dt.month

0          8.0
1          7.0
2         10.0
3         10.0
4         10.0
          ...
128407    12.0
128408    10.0
128409    10.0
128410    10.0
128411    10.0
Name: last_payment_date_month, Length: 128412, dtype: float64

In [104]:
df['payment_plan_start_date'].value_counts

<bound method IndexOpsMixin.value_counts of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
128407    NaN
128408    NaN
128409    NaN
128410    NaN
128411    NaN
Name: payment_plan_start_date, Length: 128412, dtype: object>

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01