<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [2]:
##### Begin Working Here #####
# look at data
# look for zero values and replace those with median
# make new features
#

In [3]:
#import libraries
import pandas as pd 
import numpy as np

In [167]:
#read in csv 
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

KeyboardInterrupt: ignored

In [ ]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [165]:
loans = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [21]:
loans.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
loans.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [24]:
loans.shape

(128412, 140)

In [9]:
#set to view allrows
pd.set_option('display.max_rows', 200)

#check NaN values
loans.isnull().sum().sort_values()

inq_fi                                             0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_rcnt_rev_tl_op                              0
collections_12_mths_ex_med                         0
mo_sin_rcnt_tl                                     0
num_accts_ever_120_pd                              0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
num_tl_30dpd                                       0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
mort_acc                                           0
last_pymnt_amnt                                    0
max_bal_bc                                         0
collection_recovery_fee                            0
earliest_cr_line                                   0
delinq_2yrs                                        0
addr_state                                         0
zip_code                                           0
title                                              0
purpose                                            0
pymnt_plan                                         0
loan_status                                        0
issue_d                                            0
inq_last_6mths                                     0
verification_status                                0
home_ownership                                     0
sub_grade                                          0
grade                                              0
installment                                        0
int_rate                                           0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
loan_amnt                                          0
annual_inc                                         0
open_acc                                           0
debt_settlement_flag                               0
total_rec_int                                      0
recoveries                                         0
total_rec_late_fee                                 0
total_rec_prncp                                    0
total_pymnt_inv                                    0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
total_acc                                          0
total_pymnt                                        0
revol_bal                                          0
pub_rec                                            0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
hardship_flag                                   3696
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   41507
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_act_il                           111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
annual_inc_joint                              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
hardship_amount                               112014
hardship_payoff_balance_amount                112014
hardship_last_payment_amount                  112014
orig_projected_additional_accrued_interest    112038
mths_since_last_record                        112962
verification_status_joint                     113564
payment_plan_start_date                       115709
hardship_dpd                                  115710
hardship_length                               115710
hardship_end_date                             115710
hardship_start_date                           115710
hardship_status                               115710
hardship_type                                 115710
deferral_term                                 115710
hardship_reason                               115711
hardship_loan_status                          116534
sec_app_mths_since_last_major_derog           123258
settlement_amount                             127518
settlement_status                             127518
debt_settlement_flag_date                     127518
settlement_date                               127518
settlement_term                               127518
settlement_percentage                         127518
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

In [23]:
#drop completely empty cols
loans = loans.drop(['url', 'member_id', 'desc', 'id'], axis=1).copy()

In [25]:
loans.shape

(128412, 140)

In [28]:
#define function to convert values to int
def str_to_int(value):
  return int(value.strip('months').strip())

In [29]:
#apply function
loans['term'] = loans['term'].apply(str_to_int)

In [30]:
#check
loans['term'].sample(5)

45572     36
46882     36
49964     60
108634    60
94776     60
Name: term, dtype: int64

In [31]:
loans['loan_status'].sample(6)

4964          Current
107876        Current
24839      Fully Paid
13687     Charged Off
76340      Fully Paid
11960         Current
Name: loan_status, dtype: object

In [39]:
#create new col loan_status_is_great
loans['loan_status_is_great'] = np.where((loans['loan_status'] == 'Current')|(loans['loan_status'] == 'Fully Paid'), 1, 0)

In [40]:
loans[['loan_status','loan_status_is_great']].sample(6)

        loan_status  loan_status_is_great
65182   Charged Off                     0
7688        Current                     1
43009    Fully Paid                     1
78515   Charged Off                     0
97144       Current                     1
116573      Current                     1

In [41]:
#Make last_pymnt_d_month and last_pymnt_d_year columns
loans['last_pymnt_d'].head()

0    Oct-2019
1    Jun-2020
2    May-2020
3    Oct-2019
4    Jun-2020
Name: last_pymnt_d, dtype: object

In [44]:
#convert to date time format 
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], infer_datetime_format=True)
loans['last_pymnt_d'].head()

0   2019-10-01
1   2020-06-01
2   2020-05-01
3   2019-10-01
4   2020-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [45]:
#create a col for last payment in month
loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month

In [46]:
#create a col for last payment in year
loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year

In [47]:
loans[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']].head()

  last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0   2019-10-01                10.0             2019.0
1   2020-06-01                 6.0             2020.0
2   2020-05-01                 5.0             2020.0
3   2019-10-01                10.0             2019.0
4   2020-06-01                 6.0             2020.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [48]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-07-13 05:29:33--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.251.94
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.251.94|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: â€˜instacart_online_grocery_shopping_2017_05_01.tar.gzâ€™

instacart_online_gr 100%[===================>] 196.03M  65.1MB/s    in 3.0s

2020-07-13 05:29:36 (65.1 MB/s) - â€˜instacart_online_grocery_shopping_2017_05_01.tar.gzâ€™ saved [205548478/205548478]

In [49]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [50]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [55]:
# look at data type
loans['revol_util'].sample(5)

11864       63%
113419      59%
67448     65.7%
7689      16.3%
87060     24.5%
Name: revol_util, dtype: object

In [56]:
# look for Nans
loans['revol_util'].isnull().sum()

156

In [64]:
def to_float(value):
  if isinstance(value, object):
    return float(str(value).strip('%').strip())
  else:
    return 'Not defined'

In [65]:
# create new cleaned column
loans['revol_util_cleaned'] = loans['revol_util'].apply(to_float)

In [77]:
loans[['revol_util', 'revol_util_cleaned']].head()

  revol_util  revol_util_cleaned
0      35.2%                35.2
1      62.1%                62.1
2        43%                43.0
3      19.1%                19.1
4      83.1%                83.1

In [155]:
#list of jobs
#pd.set_option('display.max_rows', 50000)
rate = loans['emp_title'].value_counts().sort_values(ascending=False)
print(rate)

Other    128412
Name: emp_title, dtype: int64

In [152]:
#get first 20 
new_list = []
x = 0
for item in rate[:1]:
  while x < 20:
    new_list.append(item)
    x+=1

In [153]:
#convert objects to strings
new_list = [str(value) for value in new_list]
print(new_list)

['2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090', '2090']

In [146]:
loans['emp_title'] = [value if value in new_list else 'Other' for value in loans['emp_title']]

In [147]:
loans['emp_title'].value_counts()

Other    128412
Name: emp_title, dtype: int64