# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datetime data type that makes it extremely convenient to convert strings from standard date formats to datetime objects. You can then use those datetime objects to either create new features on a dataframe or work with those features as a time series. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns in a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

We'll be working with the Loans dataset (which we will continue to use during the guided project).  To access the Loans dataset, run the next code block without changing anything:

In [2]:
import pandas as pd


loans_data = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/LendingClub/LoanStats_2018Q4_sm.csv'
loans = pd.read_csv(loans_data)

print(loans.shape)
loans.head()

(30000, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

For this warm-up assignment, we are going to determine the length of credit history for the individuals in the Loans dataset we just imported.

To do this, we are going to need two date values: `issue_d` and `earliest_cr_line`.

- Lets look at the string format of the `issue_d` column

In [4]:
#Print out the values in the column for issue_d

<details>
<summary style="display:list-item">Answer </summary>
    
    loans['issue_d'].head()
    

</details>

In [13]:
#Print the first observation of issue_d using list indexing.

<details>
<summary style="display:list-item">Answer </summary>
    
    loans['issue_d'][0]
    

</details>

#### Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

- Now let's apply the pd.to_datetime function to `issue_d`.

In [18]:
#Print issue_d as a datetime value using

<details>
<summary style="display:list-item">Answer </summary>
     pd.to_datetime(loans['issue_d'])

</details>

<details>
<summary style="display:list-item">What do you notice about how Pandas handles the days of the month? </summary>
    Returns the first day of every month. 

</details>

- Assign the values of `issue_d` in the datetime format to a new column in `loans` called `issue_date`.

In [67]:
#Create issue_date column

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'] = pd.to_datetime(loans['issue_d'])

</details>

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_date` column

In [36]:
#Print only the year values from the issue_date column

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'].dt.year

</details>

In [39]:
#Output only the month values from the issue_date column

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'].dt.month

</details>

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe.  
- Name the year variable `issue_year` and the month variable `issue_month`. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [41]:
#Create issue_year and issue_month columns

<details>
<summary style="display:list-item">Answer </summary>
    issue_year = loans['issue_date'].dt.year
    <br>
    issue_month = loans['issue_date'].dt.month

</details>

- Now let's look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

In [43]:
#Print the dates for the earliest_cr_line column

<details>
<summary style="display:list-item">Answer </summary>
     loans['earliest_cr_line'].head()

</details>

- Convert `earliest_cr_line` to a datetime format using pd.to_datetime and assign the result to the column `earliest_credit`.

In [66]:
#Create the earliest_credit column.

<details>
<summary style="display:list-item">Answer </summary>
     loans['earliest_credit'] = pd.to_datetime(loans['earliest_credit_line'])

</details>

- Determine the length of credit history in days by subtracting `earliest_credit` from `issue_date`.  Save the result as a column called `credit_length_days`. 

*Hint:* You will have to convert your results to intergers using `dt.days`

In [62]:
#Calculate the length of credit history in days.

<details>
<summary style="display:list-item">Answer </summary>
    loans['credit_length_days'] = (loans['issue_date'] - loans['earliest_credit']).dt.days


</details>

- Divide the credit length in days by 365.25 (don't forget leap year!) and save the result as a column called `credit_length_years`.

<details>
<summary style="display:list-item">Answer </summary>
     loans['credit_length_years'] = loans['credit_length_days']/365.25

</details>

Use the .max() function to determine the longest credit history in years.

<details>
<summary style="display:list-item">Answer </summary>
     loans['credit_length_years'].max()

</details>