<a href="https://colab.research.google.com/github/jsmazorra/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/Johan_Mazorra_LS_DS13_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
!ls -lh *.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####

import pandas as pd

products = pd.read_csv('products.csv')

order_products = pd.read_csv('order_products__prior.csv')

order_products_train = pd.read_csv('order_products__train.csv')

orders = pd.read_csv('orders.csv')

print(products.shape)
products.head()
# We defenitely need the products dataframe, but we don't need the aisle_id and department_id columns.

In [0]:
print(orders.shape)
orders.head()

# We don't need the orders dataframe.

In [0]:
print(order_products.shape)
order_products.head()

# From this dataframe we need everything except for the 'reordered' column.

In [0]:
print(order_products_train.shape)
order_products_train.head()

# Same as the dataframe above. As Ryan said, this .csv is specifically used to 'train' during machine learning.

In [0]:
deparments = pd.read_csv('departments.csv')

print(deparments.shape)
deparments.head()

# We don't need this dataframe.

In [0]:
aisles = pd.read_csv('aisles.csv')

print(aisles.shape)
aisles.head()

# We don't need this dataframe either.

In [0]:
org_products = products.drop(['department_id', 'aisle_id'], axis=1)

print(org_products.shape)
org_products.head()

# We're going to go ahead and drop the unnecessary columns.

In [0]:
ordered_products = pd.concat([order_products, order_products_train])

print(order_products.shape)
order_products.head()

# We're going to concatonate the order_products_train and the order_products_prior dataframes.

In [0]:
most_ordered = pd.merge(org_products, ordered_products, on='product_id', how='inner')

print(most_ordered.shape)
most_ordered.head()

# Now we're going to merge these two dataframes by using 'pd.merge()'.

In [0]:
most_ordered['product_name'].value_counts(dropna=False).head(10)

# Here we got the values of the top 10 values that were most ordered.

In [0]:
most_ordered_df = products[((products['product_id'] == 24852) | (products['product_id'] == 13176) 
| (products['product_id'] == 21137) | (products['product_id'] == 21903) | (products['product_id'] == 47209) 
| (products['product_id'] == 47766) | (products['product_id'] == 47626) | (products['product_id'] == 16797)
| (products['product_id'] == 26209) | (products['product_id'] == 27845))]

print(most_ordered_df.shape)
most_ordered_df

# I wanted to make a dataframe containing the top 10, but we need to drop the aisle_id and department_id.

In [0]:
most_ordered_final = most_ordered_df.drop(['department_id', 'aisle_id'], axis=1)

print(most_ordered_final.shape)
most_ordered_final.head(10)

# Here's the final result.

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

In [0]:
# table2 -> tidy
table2 = table1.T
table2

In [0]:
table2 = table1.reset_index()
table2

In [0]:
tidy2 = table2.melt(id_vars='index', value_vars=['treatmenta', 'treatmentb'])
tidy2

# The .melt function is used to make table2 into tidy format.

In [0]:
tidy2 = tidy2.rename(columns={
    'index': 'name', 
    'variable': 'trt', 
    'value': 'result'
})
tidy2

# Now we're going to rename the columns.

In [0]:
tidy2.trt = tidy2.trt.str.replace('treatment', '')

tidy2

In [0]:
# tidy -> table2

#For reference= index: unique identifier
# columns: What do you want to differentiate the columns in wide format
# values: Where are the numbers at - go in the middle of the wide dataframe
wide = tidy2.pivot_table(index='name', columns='trt', values='result')
wide

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

flights_pivot = flights.pivot_table

display(flights)

# As we can see below the flights dataset is in tidy format.

In [0]:
flights_wide = flights.pivot_table(columns='year', index='month', values='passengers')

display(flights_wide)

# We're going to use the .pivot_table function to make this tidy dataset wide.

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####