<a href="https://colab.research.google.com/github/jmmiddour/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-13 03:18:52--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.234.21
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.234.21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’

instacart_online_gr 100%[===================>] 196.03M  34.8MB/s    in 6.3s

2020-05-13 03:18:58 (31.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [5]:
# Import libraries I need to complete the assignment:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#### Read files
First need to read the files to find out which one(s) have the data I need.

In [6]:
# Read in the aisles file.
# Nothing here that I need.
pd.read_csv('aisles.csv').sample(5)

    aisle_id             aisle
7          8   bakery desserts
95        96        lunch meat
97        98     juice nectars
92        93  breakfast bakery
27        28         red wines

In [7]:
# Read in the departments file. 
# Nothing here that I need.
pd.read_csv('departments.csv').sample(5)

    department_id     department
13             14      breakfast
1               2          other
7               8           pets
10             11  personal care
19             20           deli

In [8]:
# Read in the order products prior(test) file.
# This does have order id and product id.
prior = pd.read_csv('order_products__prior.csv')
prior.sample(5)

          order_id  product_id  add_to_cart_order  reordered
8702138     918633       42834                  8          0
20620908   2175397        9358                  1          1
14325901   1511706       13176                  1          1
1415973     149297       38311                  1          1
15012333   1584071       24964                 17          0

In [9]:
# Read in the order products train file.
# This does have order id and product id just like the prior file does. 
# Will need to concat this with the prior file.
train = pd.read_csv('order_products__train.csv')
train.sample(5)

         order_id  product_id  add_to_cart_order  reordered
650308    1600084       11827                  6          1
860755    2124371       12456                 13          1
449725    1100929        9755                  5          1
1268565   3133656       34126                  8          1
960241    2368379       21137                 13          1

In [10]:
# Read in the orders file.
# This does have order id but since this is also in another file I do not 
#   need this one because there is nothing else in this file I need.
orders = pd.read_csv('orders.csv')
orders.sample(5)

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
1124814    713465    67635  ...                12                     2.0
2280506    738149   137351  ...                18                     6.0
1772283   1601252   106421  ...                16                     7.0
559481     656715    33731  ...                 8                     2.0
1449648   1405288    87093  ...                14                    30.0

[5 rows x 7 columns]

In [11]:
# Read in the products file.
# This does have product id and product name.
products = pd.read_csv('products.csv')
products.sample(5)

       product_id                 product_name  aisle_id  department_id
42389       42390       Organic Apple Gala Bag       123              4
37697       37698  Sliced Pears In Heavy Syrup        99             15
39033       39034  Organic Community Green Tea        94              7
27019       27020                Mandarins Bag        24              4
43380       43381          Crab Cakes Handmade        15             12

#### Filtering Products File
Need to filter out the products file first to find out what the product ids are for the products I need.

From the product file I need to filter out:

- product_id
- product_name

In [12]:
# Filter out just the columns I need:
cols = ['product_id', 'product_name']
products = products[cols]
products.sample(5)

       product_id                                       product_name
6430         6431                                    Chicken Burgers
29288       29289  Waffle Cone Frozen Dairy Dessert with Hershey'...
16924       16925                                      Cooking Twine
37040       37041  Homestyle Light Italian Style Wedding Spinach ...
9496         9497  Smoothie Fruits Squished The Purple One Over 6...

In [0]:
# Filter the rows to give me only the rows I need:
# con_a = (products['product_name']=='Banana'), (products['product_name']=='Bag of Organic Bananas')
# con_b = (products['product_name']=='Organic Strawberries'), (products['product_name']=='Organic Baby Spinach')
# con_c = (products['product_name']=='Organic Hass Avocado'), (products['product_name']=='Organic Avocado')
# con_d = (products['product_name']=='Large Lemon'), (products['product_name']=='Strawberries')
# con_e = (products['product_name']=='Limes'), (products['product_name']=='Organic Whole Milk')
# con_f = (products['product_name']=='Banana')

In [20]:
# Turn my filter into it's own dataframe
prods = products[con_a], 
print (prods.shape)
prods

ValueError: ignored

In [13]:
# Pull the head on orders to review the correct column headers:
orders.head(3)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0

[3 rows x 7 columns]

In [14]:
# From the orders file I need user id, order id, order number, order dow, and 
#   order hour of the day.
# Need to filter the dataframe to just the columns I need:
cols = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']
orders = orders[cols]
orders.head()

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7
2        1    473747             3          3                 12
3        1   2254736             4          4                  7
4        1    431534             5          4                 15

In [16]:
# Filter to only certain rows. I only need user id 1:
condition = (orders['user_id']==1)
condition

0           True
1           True
2           True
3           True
4           True
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: user_id, Length: 3421083, dtype: bool

In [17]:
# Apply the condition to the orders dataframe:
print (orders[condition].shape)
orders[condition]

(11, 5)

    user_id  order_id  order_number  order_dow  order_hour_of_day
0         1   2539329             1          2                  8
1         1   2398795             2          3                  7
2         1    473747             3          3                 12
3         1   2254736             4          4                  7
4         1    431534             5          4                 15
5         1   3367565             6          2                  7
6         1    550135             7          1                  9
7         1   3108588             8          1                 14
8         1   2295261             9          1                 16
9         1   2550362            10          4                  8
10        1   1187899            11          4                  8

In [18]:
# Add another condition
condition_b = (orders['user_id']==1) & (orders['order_number'] <= 2)
condition_b

0           True
1           True
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Length: 3421083, dtype: bool

In [19]:
# Turn my filtered dataframe into it's own database:
orders_subset = orders[condition_b]
print (orders_subset.shape)
orders_subset

(2, 5)

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

#### Concatinate prior(test) and train:

In [20]:
# Check the shape on both files:
print (prior.shape)
print (train.shape)

(32434489, 4)
(1384617, 4)

In [21]:
# Concat them together:
order_products = pd.concat([prior, train], axis=0)
order_products.shape

(33819106, 4)

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
# table2 -> tidy

In [0]:
# tidy -> table2

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####