<a href="https://colab.research.google.com/github/daanishrasheed/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-10-02 19:51:59--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.226.51
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.226.51|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  97.5MB/s    in 2.0s

2019-10-02 19:52:06 (97.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd
##### YOUR CODE HERE #####
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

product id
product name

In [0]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
prod = products[(products['product_name'] == 'Banana')|(products['product_name'] == 'Bag of Organic Bananas')|
(products['product_name'] == 'Organic Strawberries')|
(products['product_name'] =='Organic Baby Spinach')|
(products['product_name'] =='Organic Hass Avocado')|
(products['product_name'] == 'Organic Avocado')|
(products['product_name'] =='Large Lemon')|
(products['product_name'] =='Strawberries')|
(products['product_name'] =='Limes')|
(products['product_name'] =='Organic Whole Milk')]
prod

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4
26208       26209                   Limes        24              4
27844       27845      Organic Whole Milk        84             16
47208       47209    Organic Hass Avocado        24              4
47625       47626             Large Lemon        24              4
47765       47766         Organic Avocado        24              4

In [0]:
c = pd.merge(prod, order_products, on = 'product_id')
c

         product_id            product_name  ...  add_to_cart_order  reordered
0             13176  Bag of Organic Bananas  ...                  1          1
1             13176  Bag of Organic Bananas  ...                  1          1
2             13176  Bag of Organic Bananas  ...                  3          1
3             13176  Bag of Organic Bananas  ...                  3          1
4             13176  Bag of Organic Bananas  ...                  3          1
5             13176  Bag of Organic Bananas  ...                  6          1
6             13176  Bag of Organic Bananas  ...                  4          1
7             13176  Bag of Organic Bananas  ...                  5          1
8             13176  Bag of Organic Bananas  ...                  1          1
9             13176  Bag of Organic Bananas  ...                  1          1
10            13176  Bag of Organic Bananas  ...                 12          0
11            13176  Bag of Organic Bananas  ...                  3          1
12            13176  Bag of Organic Bananas  ...                  7          1
13            13176  Bag of Organic Bananas  ...                  4          1
14            13176  Bag of Organic Bananas  ...                  1          0
15            13176  Bag of Organic Bananas  ...                  1          1
16            13176  Bag of Organic Bananas  ...                  7          1
17            13176  Bag of Organic Bananas  ...                 11          0
18            13176  Bag of Organic Bananas  ...                  6          1
19            13176  Bag of Organic Bananas  ...                  1          1
20            13176  Bag of Organic Bananas  ...                  4          0
21            13176  Bag of Organic Bananas  ...                  1          1
22            13176  Bag of Organic Bananas  ...                 24          1
23            13176  Bag of Organic Bananas  ...                  3          0
24            13176  Bag of Organic Bananas  ...                  5          1
25            13176  Bag of Organic Bananas  ...                  3          0
26            13176  Bag of Organic Bananas  ...                  6          1
27            13176  Bag of Organic Bananas  ...                  7          1
28            13176  Bag of Organic Bananas  ...                  3          1
29            13176  Bag of Organic Bananas  ...                 17          1
...             ...                     ...  ...                ...        ...
2418284       47766         Organic Avocado  ...                  8          1
2418285       47766         Organic Avocado  ...                  2          1
2418286       47766         Organic Avocado  ...                 14          1
2418287       47766         Organic Avocado  ...                  2          1
2418288       47766         Organic Avocado  ...                  6          0
2418289       47766         Organic Avocado  ...                 24          0
2418290       47766         Organic Avocado  ...                 15          1
2418291       47766         Organic Avocado  ...                 16          1
2418292       47766         Organic Avocado  ...                  8          1
2418293       47766         Organic Avocado  ...                  1          1
2418294       47766         Organic Avocado  ...                  9          1
2418295       47766         Organic Avocado  ...                  1          1
2418296       47766         Organic Avocado  ...                  2          1
2418297       47766         Organic Avocado  ...                  3          1
2418298       47766         Organic Avocado  ...                  3          1
2418299       47766         Organic Avocado  ...                  6          1
2418300       47766         Organic Avocado  ...                 11          1
2418301       47766         Organic Avocado  ...                  1          1
2418302       47766         Organic Avocado  ...                  5          1
2418303       47766         Organic Avocado  ...                  2          1
2418304       47766         Organic Avocado  ...                  2          1
2418305       47766         Organic Avocado  ...                  7          1
2418306       47766         Organic Avocado  ...                 13          1
2418307       47766         Organic Avocado  ...                 19          0
2418308       47766         Organic Avocado  ...                  1          1
2418309       47766         Organic Avocado  ...                  1          1
2418310       47766         Organic Avocado  ...                  4          1
2418311       47766         Organic Avocado  ...                 20          1
2418312       47766         Organic Avocado  ...                  9          1
2418313       47766         Organic Avocado  ...                 10          1

[2418314 rows x 7 columns]

In [0]:
print("These are the top 10 most frequently ordered products:")
c['product_name'].value_counts()

These are the top 10 most frequently ordered products:

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns
flights = sns.load_dataset('flights')

In [0]:
flights.pivot(index = 'year', columns = 'month')

      passengers                       ...
month    January February March April  ... September October November December
year                                   ...
1949         112      118   132   129  ...       136     119      104      118
1950         115      126   141   135  ...       158     133      114      140
1951         145      150   178   163  ...       184     162      146      166
1952         171      180   193   181  ...       209     191      172      194
1953         196      196   236   235  ...       237     211      180      201
1954         204      188   235   227  ...       259     229      203      229
1955         242      233   267   269  ...       312     274      237      278
1956         284      277   317   313  ...       355     306      271      306
1957         315      301   356   348  ...       404     347      305      336
1958         340      318   362   348  ...       404     359      310      337
1959         360      342   406   396  ...       463     407      362      405
1960         417      391   419   461  ...       508     461      390      432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####