Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
# Download Instacart data (196 MB)
%cd /content/
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

# Unzip to 681.1 MB of data
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

/content
--2020-09-11 00:06:31--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.77.190
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.77.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  57.2MB/s    in 3.4s

2020-09-11 00:06:35 (57.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [13]:
from os import listdir
import pandas as pd

# Go into the new folder. Still works if you're already there
%cd /content/instacart_2017_05_01

# Make a list of dataframe names from present files
df_names = [file[:-4] for file in listdir() if '._' not in file]
print('Dataframe names =',df_names)

# Reads in all dataframes into df
df = { df_name : pd.read_csv(df_name+'.csv') for df_name in df_names}
print('Loaded Dataframes:',list(df.keys()))

/content/instacart_2017_05_01
Dataframe names = ['order_products__prior', 'products', 'orders', 'aisles', 'order_products__train', 'departments']
Loaded Dataframes: ['order_products__prior', 'products', 'orders', 'aisles', 'order_products__train', 'departments']

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [16]:
# A fancy print loop for my dataframe dictionary
def describe_df():
  print('Dataframes in df:')
  mem_usage = 0
  for key in df.keys():
    print(key+':')
    print('columns:',list(df[key].columns))
    print('values:',list(df[key].iloc[0]))
    print('Shape:',df[key].shape)
    print()
    mem_usage += df[key].memory_usage(index=True, deep=True).sum()
  mem_usage = format(mem_usage, ',d')
  print('\nMemory Usage:',mem_usage)
describe_df()

Dataframes in df:
products:
columns: ['product_id', 'product_name', 'aisle_id', 'department_id']
values: [1, 'Chocolate Sandwich Cookies', 61, 19]
Shape: (49688, 4)

orders:
columns: ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
values: [2539329, 1, 'prior', 1, 2, 8, nan]
Shape: (3421083, 7)

aisles:
columns: ['aisle_id', 'aisle']
values: [1, 'prepared soups salads']
Shape: (134, 2)

departments:
columns: ['department_id', 'department']
values: [1, 'frozen']
Shape: (21, 2)

order_products:
columns: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
values: [1, 49302, 1, 1]
Shape: (33819106, 4)


Memory Usage: 1,734,589,436

In [15]:
# combine both order_product dataframes and pop the originals
df['order_products'] = pd.concat([df.pop('order_products__train'),df.pop('order_products__prior')])
describe_df()

Dataframes in df:
products:
columns: ['product_id', 'product_name', 'aisle_id', 'department_id']
values: [1, 'Chocolate Sandwich Cookies', 61, 19]
Shape: (49688, 4)

orders:
columns: ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
values: [2539329, 1, 'prior', 1, 2, 8, nan]
Shape: (3421083, 7)

aisles:
columns: ['aisle_id', 'aisle']
values: [1, 'prepared soups salads']
Shape: (134, 2)

departments:
columns: ['department_id', 'department']
values: [1, 'frozen']
Shape: (21, 2)

order_products:
columns: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
values: [1, 49302, 1, 1]
Shape: (33819106, 4)


Memory Usage: 1,734,589,436

In [43]:
# How many times were the top 10 products ordered by product name?
df['popular_products'] = df['order_products']['product_id'].value_counts().sort_values(ascending=False)

df['popular_products'] = df['product_popularity'][df['product_popularity'] > 2900]
df['popular_products'] = df['popular_products'].reset_index()
df['popular_products'].columns = ['product_id', 'n_orders']
# # top_ten = df['products'][df['products']['product_id'].isin(top_ten_ids['product_id'])]
df['popular_products'] = pd.merge(df['popular_products'], df['products'], on='product_id', how='inner') 
# # product_popularity = product_popularity.set_index(pd.Index(range(1,11)))
df['popular_products'].drop(['aisle_id','department_id'], axis=1, inplace=True)
df['popular_products'] = df['popular_products'][['product_id','product_name','n_orders']]
df['popular_products'].head(10)

   product_id            product_name  n_orders
0       24852                  Banana    491291
1       13176  Bag of Organic Bananas    394930
2       21137    Organic Strawberries    275577
3       21903    Organic Baby Spinach    251705
4       47209    Organic Hass Avocado    220877
5       47766         Organic Avocado    184224
6       47626             Large Lemon    160792
7       16797            Strawberries    149445
8       26209                   Limes    146660
9       27845      Organic Whole Milk    142813

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [19]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [20]:
# Probably the right method for table2 -> tidy
table2.rename_axis(index='Treatment', inplace=True)
table2.reset_index(inplace=True)
tidy = table2.melt(id_vars='Treatment',value_vars=table2.columns[1:],
                   var_name='Name',value_name='Value')
tidy = tidy[['Name','Treatment','Value']]
tidy

           Name   Treatment  Value
0    John Smith  treatmenta    NaN
1    John Smith  treatmentb    2.0
2      Jane Doe  treatmenta   16.0
3      Jane Doe  treatmentb   11.0
4  Mary Johnson  treatmenta    3.0
5  Mary Johnson  treatmentb    1.0

In [142]:
# Probably the wrong method for table2 -> tidy
# manually transpose a df
def trans(old_table):
  new_table = pd.DataFrame()
  for i, index in enumerate(old_table.index):
    row = old_table.iloc[i]
    new_table[index] = row
  return new_table

tidy = trans(table2)
tidy.rename_axis(index='Name', inplace=True)
tidy.reset_index(inplace=True)
tidy = tidy.melt(id_vars='Name', value_vars=['treatmenta','treatmentb'],
               var_name='Treatment', value_name='Value')
tidy

           Name   Treatment  Value
0    John Smith  treatmenta    NaN
1      Jane Doe  treatmenta   16.0
2  Mary Johnson  treatmenta    3.0
3    John Smith  treatmentb    2.0
4      Jane Doe  treatmentb   11.0
5  Mary Johnson  treatmentb    1.0

In [21]:
# tidy -> table2

table3 = tidy.pivot_table(values=['Value'],
                          index=['Treatment'],
                          columns=['Name'])
table3.columns = table3.columns.get_level_values(1)
table3.index.name = None
table3

Name        Jane Doe  John Smith  Mary Johnson
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [22]:
import seaborn as sns
flights = sns.load_dataset('flights')
print('Shape',flights.shape)
flights.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Shape (144, 3)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [23]:
# Flights Pivot Table
flights_wide = flights.pivot_table(values='passengers', index='year',columns='month')
flights_wide.head()

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201

[5 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [51]:
describe_df()

Dataframes in df:
products:
columns: ['product_id', 'product_name', 'aisle_id', 'department_id']
values: [1, 'Chocolate Sandwich Cookies', 61, 19]
Shape: (49688, 4)

orders:
columns: ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
values: [2539329, 1, 'prior', 1, 2, 8, nan]
Shape: (3421083, 7)

aisles:
columns: ['aisle_id', 'aisle']
values: [1, 'prepared soups salads']
Shape: (134, 2)

departments:
columns: ['department_id', 'department']
values: [1, 'frozen']
Shape: (21, 2)

order_products:
columns: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
values: [1, 49302, 1, 1]
Shape: (33819106, 4)

popular_products:
columns: ['product_id', 'product_name', 'n_orders']
values: [24852, 'Banana', 491291]
Shape: (2051, 3)


Memory Usage: 1,734,891,002

In [72]:
# Which popular items are ordered latest?
# 'popular_products' is from the top ten challenge above
df['popular_products']

def get_order_time(product_id):
  mean = df['popular_products']['mean_hour_of_day']
  if mean is np.nan:
    order_ids = df['order_products']['order_id'][
      df['order_products']['product_id'] == product_id]
    hours_of_day = df['orders']['order_hour_of_day'][
      df['orders']['order_hour_of_day'].isin(order_ids)]
    mean = hours_of_day.mean()
    print(product_id,'is ordered at',mean)
    return mean
  else:
    return mean


df['popular_products']['mean_hour_of_day'] = np.nan
for i, product_id in enumerate(df['popular_products']['mean_hour_of_day']):
  print(i,product_id)
  mean = get_order_time(product_id)
  df['popular_products'].at[i, 'mean_hour_of_day'] = mean

# df['popular_products']['mean_hour_of_day'] = df['popular_products']['product_id'].apply(get_order_time)
# df['popular_products']
# top_ten = df['products'][df['products']['product_id'].isin(top_ten_ids['product_id'])]
# top_ten = pd.merge(top_ten_ids, df['products'], on ='product_id', how ='inner') 
# top_ten = top_ten.set_index(pd.Index(range(1,11)))
# top_ten.drop(['aisle_id','department_id'], axis=1, inplace=True)
# top_ten = top_ten[['product_id','product_name','n_orders']]
# top_ten

0 nan
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
51 nan
52 nan
53 nan
54 nan
55 nan
56 nan
57 nan
58 nan
59 nan
60 nan
61 nan
62 nan
63 nan
64 nan
65 nan
66 nan
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
123 nan
124 nan
125 nan
126 nan
127 nan
128 nan
129 nan
130 nan
131 nan
132 nan
133 nan
134 nan
135 nan
136 nan
137 nan
138 nan
139 nan
140 nan
141 nan
142 nan
143 nan
144 nan
145 nan
146 nan
147 nan
148 nan
149 nan
150 nan
151 nan
152 nan
153 nan
154 nan
155 nan
156 nan
157 nan
158 nan
159 nan
160 nan
161 nan
162 nan
163 nan
164 nan
165 nan
166 nan
167 nan
168 nan
169 nan
170 nan
171 nan
172 nan
173 nan
174 nan
175 nan
176 nan
177 nan
178 nan
179 nan
180 nan
181 nan
182 nan
183 nan
184 nan
185 nan
186 nan
187 nan
188 nan
189 nan
190 nan
191 nan
192 nan
193 nan
194 nan
195 nan
196 nan
197 nan
198 nan
199 nan
200 nan
201 nan
202 nan
203 nan
204 nan
205 nan
206 nan
207 nan
208 nan
209 nan
210 nan
211 nan
212 nan
213 nan
214 nan
215 nan
216 nan
217 nan
218 nan
219 nan
220 nan
221 nan
222 nan
223 nan
224 nan
225 nan
226 nan
227 nan
228 nan
229 nan
230 nan
231 nan
232 nan
233 nan
234 nan
235 nan
236 nan
237 nan
238 nan
239 nan
240 nan
241 nan
242 nan
243 nan
244 nan
245 nan
246 nan
247 nan
248 nan
249 nan
250 nan
251 nan
252 nan
253 nan
254 nan
255 nan
256 nan
257 nan
258 nan
259 nan
260 nan
261 nan
262 nan
263 nan
264 nan
265 nan
266 nan
267 nan
268 nan
269 nan
270 nan
271 nan
272 nan
273 nan
274 nan
275 nan
276 nan
277 nan
278 nan
279 nan
280 nan
281 nan
282 nan
283 nan
284 nan
285 nan
286 nan
287 nan
288 nan
289 nan
290 nan
291 nan
292 nan
293 nan
294 nan
295 nan
296 nan
297 nan
298 nan
299 nan
300 nan
301 nan
302 nan
303 nan
304 nan
305 nan
306 nan
307 nan
308 nan
309 nan
310 nan
311 nan
312 nan
313 nan
314 nan
315 nan
316 nan
317 nan
318 nan
319 nan
320 nan
321 nan
322 nan
323 nan
324 nan
325 nan
326 nan
327 nan
328 nan
329 nan
330 nan
331 nan
332 nan
333 nan
334 nan
335 nan
336 nan
337 nan
338 nan
339 nan
340 nan
341 nan
342 nan
343 nan
344 nan
345 nan
346 nan
347 nan
348 nan
349 nan
350 nan
351 nan
352 nan
353 nan
354 nan
355 nan
356 nan
357 nan
358 nan
359 nan
360 nan
361 nan
362 nan
363 nan
364 nan
365 nan
366 nan
367 nan
368 nan
369 nan
370 nan
371 nan
372 nan
373 nan
374 nan
375 nan
376 nan
377 nan
378 nan
379 nan
380 nan
381 nan
382 nan
383 nan
384 nan
385 nan
386 nan
387 nan
388 nan
389 nan
390 nan
391 nan
392 nan
393 nan
394 nan
395 nan
396 nan
397 nan
398 nan
399 nan
400 nan
401 nan
402 nan
403 nan
404 nan
405 nan
406 nan
407 nan
408 nan
409 nan
410 nan
411 nan
412 nan
413 nan
414 nan
415 nan
416 nan
417 nan
418 nan
419 nan
420 nan
421 nan
422 nan
423 nan
424 nan
425 nan
426 nan
427 nan
428 nan
429 nan
430 nan
431 nan
432 nan
433 nan
434 nan
435 nan
436 nan
437 nan
438 nan
439 nan
440 nan
441 nan
442 nan
443 nan
444 nan
445 nan
446 nan
447 nan
448 nan
449 nan
450 nan
451 nan
452 nan
453 nan
454 nan
455 nan
456 nan
457 nan
458 nan
459 nan
460 nan
461 nan
462 nan
463 nan
464 nan
465 nan
466 nan
467 nan
468 nan
469 nan
470 nan
471 nan
472 nan
473 nan
474 nan
475 nan
476 nan
477 nan
478 nan
479 nan
480 nan
481 nan
482 nan
483 nan
484 nan
485 nan
486 nan
487 nan
488 nan
489 nan
490 nan
491 nan
492 nan
493 nan
494 nan
495 nan
496 nan
497 nan
498 nan
499 nan
500 nan
501 nan
502 nan
503 nan
504 nan
505 nan
506 nan
507 nan
508 nan
509 nan
510 nan
511 nan
512 nan
513 nan
514 nan
515 nan
516 nan
517 nan
518 nan
519 nan
520 nan
521 nan
522 nan
523 nan
524 nan
525 nan
526 nan
527 nan
528 nan
529 nan
530 nan
531 nan
532 nan
533 nan
534 nan
535 nan
536 nan
537 nan
538 nan
539 nan
540 nan
541 nan
542 nan
543 nan
544 nan
545 nan
546 nan
547 nan
548 nan
549 nan
550 nan
551 nan
552 nan
553 nan
554 nan
555 nan
556 nan
557 nan
558 nan
559 nan
560 nan
561 nan
562 nan
563 nan
564 nan
565 nan
566 nan
567 nan
568 nan
569 nan
570 nan
571 nan
572 nan
573 nan
574 nan
575 nan
576 nan
577 nan
578 nan
579 nan
580 nan
581 nan
582 nan
583 nan
584 nan
585 nan
586 nan
587 nan
588 nan
589 nan
590 nan
591 nan
592 nan
593 nan
594 nan
595 nan
596 nan
597 nan
598 nan
599 nan
600 nan
601 nan
602 nan
603 nan
604 nan
605 nan
606 nan
607 nan
608 nan
609 nan
610 nan
611 nan
612 nan
613 nan
614 nan
615 nan
616 nan
617 nan
618 nan
619 nan
620 nan
621 nan
622 nan
623 nan
624 nan
625 nan
626 nan
627 nan
628 nan
629 nan
630 nan
631 nan
632 nan
633 nan
634 nan
635 nan
636 nan
637 nan
638 nan
639 nan
640 nan
641 nan
642 nan
643 nan
644 nan
645 nan
646 nan
647 nan
648 nan
649 nan
650 nan
651 nan
652 nan
653 nan
654 nan
655 nan
656 nan
657 nan
658 nan
659 nan
660 nan
661 nan
662 nan
663 nan
664 nan
665 nan
666 nan
667 nan
668 nan
669 nan
670 nan
671 nan
672 nan
673 nan
674 nan
675 nan
676 nan
677 nan
678 nan
679 nan
680 nan
681 nan
682 nan
683 nan
684 nan
685 nan
686 nan
687 nan
688 nan
689 nan
690 nan
691 nan
692 nan
693 nan
694 nan
695 nan
696 nan
697 nan
698 nan
699 nan
700 nan
701 nan
702 nan
703 nan
704 nan
705 nan
706 nan
707 nan
708 nan
709 nan
710 nan
711 nan
712 nan
713 nan
714 nan
715 nan
716 nan
717 nan
718 nan
719 nan
720 nan
721 nan
722 nan
723 nan
724 nan
725 nan
726 nan
727 nan
728 nan
729 nan
730 nan
731 nan
732 nan
733 nan
734 nan
735 nan
736 nan
737 nan
738 nan
739 nan
740 nan
741 nan
742 nan
743 nan
744 nan
745 nan
746 nan
747 nan
748 nan
749 nan
750 nan
751 nan
752 nan
753 nan
754 nan
755 nan
756 nan
757 nan
758 nan
759 nan
760 nan
761 nan
762 nan
763 nan
764 nan
765 nan
766 nan
767 nan
768 nan
769 nan
770 nan
771 nan
772 nan
773 nan
774 nan
775 nan
776 nan
777 nan
778 nan
779 nan
780 nan
781 nan
782 nan
783 nan
784 nan
785 nan
786 nan
787 nan
788 nan
789 nan
790 nan
791 nan
792 nan
793 nan
794 nan
795 nan
796 nan
797 nan
798 nan
799 nan
800 nan
801 nan
802 nan
803 nan
804 nan
805 nan
806 nan
807 nan
808 nan
809 nan
810 nan
811 nan
812 nan
813 nan
814 nan
815 nan
816 nan
817 nan
818 nan
819 nan
820 nan
821 nan
822 nan
823 nan
824 nan
825 nan
826 nan
827 nan
828 nan
829 nan
830 nan
831 nan
832 nan
833 nan
834 nan
835 nan
836 nan
837 nan
838 nan
839 nan
840 nan
841 nan
842 nan
843 nan
844 nan
845 nan
846 nan
847 nan
848 nan
849 nan
850 nan
851 nan
852 nan
853 nan
854 nan
855 nan
856 nan
857 nan
858 nan
859 nan
860 nan
861 nan
862 nan
863 nan
864 nan
865 nan
866 nan
867 nan
868 nan
869 nan
870 nan
871 nan
872 nan
873 nan
874 nan
875 nan
876 nan
877 nan
878 nan
879 nan
880 nan
881 nan
882 nan
883 nan
884 nan
885 nan
886 nan
887 nan
888 nan
889 nan
890 nan
891 nan
892 nan
893 nan
894 nan
895 nan
896 nan
897 nan
898 nan
899 nan
900 nan
901 nan
902 nan
903 nan
904 nan
905 nan
906 nan
907 nan
908 nan
909 nan
910 nan
911 nan
912 nan
913 nan
914 nan
915 nan
916 nan
917 nan
918 nan
919 nan
920 nan
921 nan
922 nan
923 nan
924 nan
925 nan
926 nan
927 nan
928 nan
929 nan
930 nan
931 nan
932 nan
933 nan
934 nan
935 nan
936 nan
937 nan
938 nan
939 nan
940 nan
941 nan
942 nan
943 nan
944 nan
945 nan
946 nan
947 nan
948 nan
949 nan
950 nan
951 nan
952 nan
953 nan
954 nan
955 nan
956 nan
957 nan
958 nan
959 nan
960 nan
961 nan
962 nan
963 nan
964 nan
965 nan
966 nan
967 nan
968 nan
969 nan
970 nan
971 nan
972 nan
973 nan
974 nan
975 nan
976 nan
977 nan
978 nan
979 nan
980 nan
981 nan
982 nan
983 nan
984 nan
985 nan
986 nan
987 nan
988 nan
989 nan
990 nan
991 nan
992 nan
993 nan
994 nan
995 nan
996 nan
997 nan
998 nan
999 nan
1000 nan
1001 nan
1002 nan
1003 nan
1004 nan
1005 nan
1006 nan
1007 nan
1008 nan
1009 nan
1010 nan
1011 nan
1012 nan
1013 nan
1014 nan
1015 nan
1016 nan
1017 nan
1018 nan
1019 nan
1020 nan
1021 nan
1022 nan
1023 nan
1024 nan
1025 nan
1026 nan
1027 nan
1028 nan
1029 nan
1030 nan
1031 nan
1032 nan
1033 nan
1034 nan
1035 nan
1036 nan
1037 nan
1038 nan
1039 nan
1040 nan
1041 nan
1042 nan
1043 nan
1044 nan
1045 nan
1046 nan
1047 nan
1048 nan
1049 nan
1050 nan
1051 nan
1052 nan
1053 nan
1054 nan
1055 nan
1056 nan
1057 nan
1058 nan
1059 nan
1060 nan
1061 nan
1062 nan
1063 nan
1064 nan
1065 nan
1066 nan
1067 nan
1068 nan
1069 nan
1070 nan
1071 nan
1072 nan
1073 nan
1074 nan
1075 nan
1076 nan
1077 nan
1078 nan
1079 nan
1080 nan
1081 nan
1082 nan
1083 nan
1084 nan
1085 nan
1086 nan
1087 nan
1088 nan
1089 nan
1090 nan
1091 nan
1092 nan
1093 nan
1094 nan
1095 nan
1096 nan
1097 nan
1098 nan
1099 nan
1100 nan
1101 nan
1102 nan
1103 nan
1104 nan
1105 nan
1106 nan
1107 nan
1108 nan
1109 nan
1110 nan
1111 nan
1112 nan
1113 nan
1114 nan
1115 nan
1116 nan
1117 nan
1118 nan
1119 nan
1120 nan
1121 nan
1122 nan
1123 nan
1124 nan
1125 nan
1126 nan
1127 nan
1128 nan
1129 nan
1130 nan
1131 nan
1132 nan
1133 nan
1134 nan
1135 nan
1136 nan
1137 nan
1138 nan
1139 nan
1140 nan
1141 nan
1142 nan
1143 nan
1144 nan
1145 nan
1146 nan
1147 nan
1148 nan
1149 nan
1150 nan
1151 nan
1152 nan
1153 nan
1154 nan
1155 nan
1156 nan
1157 nan
1158 nan
1159 nan
1160 nan
1161 nan
1162 nan
1163 nan
1164 nan
1165 nan
1166 nan
1167 nan
1168 nan
1169 nan
1170 nan
1171 nan
1172 nan
1173 nan
1174 nan
1175 nan
1176 nan
1177 nan
1178 nan
1179 nan
1180 nan
1181 nan
1182 nan
1183 nan
1184 nan
1185 nan
1186 nan
1187 nan
1188 nan
1189 nan
1190 nan
1191 nan
1192 nan
1193 nan
1194 nan
1195 nan
1196 nan
1197 nan
1198 nan
1199 nan
1200 nan
1201 nan
1202 nan
1203 nan
1204 nan
1205 nan
1206 nan
1207 nan
1208 nan
1209 nan
1210 nan
1211 nan
1212 nan
1213 nan
1214 nan
1215 nan
1216 nan
1217 nan
1218 nan
1219 nan
1220 nan
1221 nan
1222 nan
1223 nan
1224 nan
1225 nan
1226 nan
1227 nan
1228 nan
1229 nan
1230 nan
1231 nan
1232 nan
1233 nan
1234 nan
1235 nan
1236 nan
1237 nan
1238 nan
1239 nan
1240 nan
1241 nan
1242 nan
1243 nan
1244 nan
1245 nan
1246 nan
1247 nan
1248 nan
1249 nan
1250 nan
1251 nan
1252 nan
1253 nan
1254 nan
1255 nan
1256 nan
1257 nan
1258 nan
1259 nan
1260 nan
1261 nan
1262 nan
1263 nan
1264 nan
1265 nan
1266 nan
1267 nan
1268 nan
1269 nan
1270 nan
1271 nan
1272 nan
1273 nan
1274 nan
1275 nan
1276 nan
1277 nan
1278 nan
1279 nan
1280 nan
1281 nan
1282 nan
1283 nan
1284 nan
1285 nan
1286 nan
1287 nan
1288 nan
1289 nan
1290 nan
1291 nan
1292 nan
1293 nan
1294 nan
1295 nan
1296 nan
1297 nan
1298 nan
1299 nan
1300 nan
1301 nan
1302 nan
1303 nan
1304 nan
1305 nan
1306 nan
1307 nan
1308 nan
1309 nan
1310 nan
1311 nan
1312 nan
1313 nan
1314 nan
1315 nan
1316 nan
1317 nan
1318 nan
1319 nan
1320 nan
1321 nan
1322 nan
1323 nan
1324 nan
1325 nan
1326 nan
1327 nan
1328 nan
1329 nan
1330 nan
1331 nan
1332 nan
1333 nan
1334 nan
1335 nan
1336 nan
1337 nan
1338 nan
1339 nan
1340 nan
1341 nan
1342 nan
1343 nan
1344 nan
1345 nan
1346 nan
1347 nan
1348 nan
1349 nan
1350 nan
1351 nan
1352 nan
1353 nan
1354 nan
1355 nan
1356 nan
1357 nan
1358 nan
1359 nan
1360 nan
1361 nan
1362 nan
1363 nan
1364 nan
1365 nan
1366 nan
1367 nan
1368 nan
1369 nan
1370 nan
1371 nan
1372 nan
1373 nan
1374 nan
1375 nan
1376 nan
1377 nan
1378 nan
1379 nan
1380 nan
1381 nan
1382 nan
1383 nan
1384 nan
1385 nan
1386 nan
1387 nan
1388 nan
1389 nan
1390 nan
1391 nan
1392 nan
1393 nan
1394 nan
1395 nan
1396 nan
1397 nan
1398 nan
1399 nan
1400 nan
1401 nan
1402 nan
1403 nan
1404 nan
1405 nan
1406 nan
1407 nan
1408 nan
1409 nan
1410 nan
1411 nan
1412 nan
1413 nan
1414 nan
1415 nan
1416 nan
1417 nan
1418 nan
1419 nan
1420 nan
1421 nan
1422 nan
1423 nan
1424 nan
1425 nan
1426 nan
1427 nan
1428 nan
1429 nan
1430 nan
1431 nan
1432 nan
1433 nan
1434 nan
1435 nan
1436 nan
1437 nan
1438 nan
1439 nan
1440 nan
1441 nan
1442 nan
1443 nan
1444 nan
1445 nan
1446 nan
1447 nan
1448 nan
1449 nan
1450 nan
1451 nan
1452 nan
1453 nan
1454 nan
1455 nan
1456 nan
1457 nan
1458 nan
1459 nan
1460 nan
1461 nan
1462 nan
1463 nan
1464 nan
1465 nan
1466 nan
1467 nan
1468 nan
1469 nan
1470 nan
1471 nan
1472 nan
1473 nan
1474 nan
1475 nan
1476 nan
1477 nan
1478 nan
1479 nan
1480 nan
1481 nan
1482 nan
1483 nan
1484 nan
1485 nan
1486 nan
1487 nan
1488 nan
1489 nan
1490 nan
1491 nan
1492 nan
1493 nan
1494 nan
1495 nan
1496 nan
1497 nan
1498 nan
1499 nan
1500 nan
1501 nan
1502 nan
1503 nan
1504 nan
1505 nan
1506 nan
1507 nan
1508 nan
1509 nan
1510 nan
1511 nan
1512 nan
1513 nan
1514 nan
1515 nan
1516 nan
1517 nan
1518 nan
1519 nan
1520 nan
1521 nan
1522 nan
1523 nan
1524 nan
1525 nan
1526 nan
1527 nan
1528 nan
1529 nan
1530 nan
1531 nan
1532 nan
1533 nan
1534 nan
1535 nan
1536 nan
1537 nan
1538 nan
1539 nan
1540 nan
1541 nan
1542 nan
1543 nan
1544 nan
1545 nan
1546 nan
1547 nan
1548 nan
1549 nan
1550 nan
1551 nan
1552 nan
1553 nan
1554 nan
1555 nan
1556 nan
1557 nan
1558 nan
1559 nan
1560 nan
1561 nan
1562 nan
1563 nan
1564 nan
1565 nan
1566 nan
1567 nan
1568 nan
1569 nan
1570 nan
1571 nan
1572 nan
1573 nan
1574 nan
1575 nan
1576 nan
1577 nan
1578 nan
1579 nan
1580 nan
1581 nan
1582 nan
1583 nan
1584 nan
1585 nan
1586 nan
1587 nan
1588 nan
1589 nan
1590 nan
1591 nan
1592 nan
1593 nan
1594 nan
1595 nan
1596 nan
1597 nan
1598 nan
1599 nan
1600 nan
1601 nan
1602 nan
1603 nan
1604 nan
1605 nan
1606 nan
1607 nan
1608 nan
1609 nan
1610 nan
1611 nan
1612 nan
1613 nan
1614 nan
1615 nan
1616 nan
1617 nan
1618 nan
1619 nan
1620 nan
1621 nan
1622 nan
1623 nan
1624 nan
1625 nan
1626 nan
1627 nan
1628 nan
1629 nan
1630 nan
1631 nan
1632 nan
1633 nan
1634 nan
1635 nan
1636 nan
1637 nan
1638 nan
1639 nan
1640 nan
1641 nan
1642 nan
1643 nan
1644 nan
1645 nan
1646 nan
1647 nan
1648 nan
1649 nan
1650 nan
1651 nan
1652 nan
1653 nan
1654 nan
1655 nan
1656 nan
1657 nan
1658 nan
1659 nan
1660 nan
1661 nan
1662 nan
1663 nan
1664 nan
1665 nan
1666 nan
1667 nan
1668 nan
1669 nan
1670 nan
1671 nan
1672 nan
1673 nan
1674 nan
1675 nan
1676 nan
1677 nan
1678 nan
1679 nan
1680 nan
1681 nan
1682 nan
1683 nan
1684 nan
1685 nan
1686 nan
1687 nan
1688 nan
1689 nan
1690 nan
1691 nan
1692 nan
1693 nan
1694 nan
1695 nan
1696 nan
1697 nan
1698 nan
1699 nan
1700 nan
1701 nan
1702 nan
1703 nan
1704 nan
1705 nan
1706 nan
1707 nan
1708 nan
1709 nan
1710 nan
1711 nan
1712 nan
1713 nan
1714 nan
1715 nan
1716 nan
1717 nan
1718 nan
1719 nan
1720 nan
1721 nan
1722 nan
1723 nan
1724 nan
1725 nan
1726 nan
1727 nan
1728 nan
1729 nan
1730 nan
1731 nan
1732 nan
1733 nan
1734 nan
1735 nan
1736 nan
1737 nan
1738 nan
1739 nan
1740 nan
1741 nan
1742 nan
1743 nan
1744 nan
1745 nan
1746 nan
1747 nan
1748 nan
1749 nan
1750 nan
1751 nan
1752 nan
1753 nan
1754 nan
1755 nan
1756 nan
1757 nan
1758 nan
1759 nan
1760 nan
1761 nan
1762 nan
1763 nan
1764 nan
1765 nan
1766 nan
1767 nan
1768 nan
1769 nan
1770 nan
1771 nan
1772 nan
1773 nan
1774 nan
1775 nan
1776 nan
1777 nan
1778 nan
1779 nan
1780 nan
1781 nan
1782 nan
1783 nan
1784 nan
1785 nan
1786 nan
1787 nan
1788 nan
1789 nan
1790 nan
1791 nan
1792 nan
1793 nan
1794 nan
1795 nan
1796 nan
1797 nan
1798 nan
1799 nan
1800 nan
1801 nan
1802 nan
1803 nan
1804 nan
1805 nan
1806 nan
1807 nan
1808 nan
1809 nan
1810 nan
1811 nan
1812 nan
1813 nan
1814 nan
1815 nan
1816 nan
1817 nan
1818 nan
1819 nan
1820 nan
1821 nan
1822 nan
1823 nan
1824 nan
1825 nan
1826 nan
1827 nan
1828 nan
1829 nan
1830 nan
1831 nan
1832 nan
1833 nan
1834 nan
1835 nan
1836 nan
1837 nan
1838 nan
1839 nan
1840 nan
1841 nan
1842 nan
1843 nan
1844 nan
1845 nan
1846 nan
1847 nan
1848 nan
1849 nan
1850 nan
1851 nan
1852 nan
1853 nan
1854 nan
1855 nan
1856 nan
1857 nan
1858 nan
1859 nan
1860 nan
1861 nan
1862 nan
1863 nan
1864 nan
1865 nan
1866 nan
1867 nan
1868 nan
1869 nan
1870 nan
1871 nan
1872 nan
1873 nan
1874 nan
1875 nan
1876 nan
1877 nan
1878 nan
1879 nan
1880 nan
1881 nan
1882 nan
1883 nan
1884 nan
1885 nan
1886 nan
1887 nan
1888 nan
1889 nan
1890 nan
1891 nan
1892 nan
1893 nan
1894 nan
1895 nan
1896 nan
1897 nan
1898 nan
1899 nan
1900 nan
1901 nan
1902 nan
1903 nan
1904 nan
1905 nan
1906 nan
1907 nan
1908 nan
1909 nan
1910 nan
1911 nan
1912 nan
1913 nan
1914 nan
1915 nan
1916 nan
1917 nan
1918 nan
1919 nan
1920 nan
1921 nan
1922 nan
1923 nan
1924 nan
1925 nan
1926 nan
1927 nan
1928 nan
1929 nan
1930 nan
1931 nan
1932 nan
1933 nan
1934 nan
1935 nan
1936 nan
1937 nan
1938 nan
1939 nan
1940 nan
1941 nan
1942 nan
1943 nan
1944 nan
1945 nan
1946 nan
1947 nan
1948 nan
1949 nan
1950 nan
1951 nan
1952 nan
1953 nan
1954 nan
1955 nan
1956 nan
1957 nan
1958 nan
1959 nan
1960 nan
1961 nan
1962 nan
1963 nan
1964 nan
1965 nan
1966 nan
1967 nan
1968 nan
1969 nan
1970 nan
1971 nan
1972 nan
1973 nan
1974 nan
1975 nan
1976 nan
1977 nan
1978 nan
1979 nan
1980 nan
1981 nan
1982 nan
1983 nan
1984 nan
1985 nan
1986 nan
1987 nan
1988 nan
1989 nan
1990 nan
1991 nan
1992 nan
1993 nan
1994 nan
1995 nan
1996 nan
1997 nan
1998 nan
1999 nan
2000 nan
2001 nan
2002 nan
2003 nan
2004 nan
2005 nan
2006 nan
2007 nan
2008 nan
2009 nan
2010 nan
2011 nan
2012 nan
2013 nan
2014 nan
2015 nan
2016 nan
2017 nan
2018 nan
2019 nan
2020 nan
2021 nan
2022 nan
2023 nan
2024 nan
2025 nan
2026 nan
2027 nan
2028 nan
2029 nan
2030 nan
2031 nan
2032 nan
2033 nan
2034 nan
2035 nan
2036 nan
2037 nan
2038 nan
2039 nan
2040 nan
2041 nan
2042 nan
2043 nan
2044 nan
2045 nan
2046 nan
2047 nan
2048 nan
2049 nan
2050 nan

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####