Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-11-06 02:41:01--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.176.101
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.176.101|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  57.8MB/s    in 3.4s

2019-11-06 02:41:04 (57.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [6]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Join Data Practice

**Columns needed is:** product_name, product_id, add_to_cart_order, and order_id

**DataFrames:** order_products__train, order_products__prior, and products

In [0]:
##### YOUR CODE HERE #####

###Read the files into data sets and look at the columns in each one

In [7]:
# read the files into data sets and look at the columns in each one
order_products__train = pd.read_csv('order_products__train.csv')
order_products__train.columns
## Need this one

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [8]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.columns
# merge this with one above

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [9]:
aisles = pd.read_csv('aisles.csv')
aisles.columns
# don't need this for this challenge

Index(['aisle_id', 'aisle'], dtype='object')

In [10]:
departments = pd.read_csv('departments.csv')
departments.columns
# don't need this for this challenge

Index(['department_id', 'department'], dtype='object')

In [11]:
orders = pd.read_csv('orders.csv')
orders.columns
# don't need this for this challenge

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [12]:
products = pd.read_csv('products.csv')
products.columns
## Need this one

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

###Start merging data set together

In [13]:
# Concatenate the two order products together
order_products = pd.concat([order_products__prior, order_products__train], axis = 0)
print(order_products.shape)
order_products = order_products.reset_index()
order_products.tail()

(33819106, 4)

            index  order_id  product_id  add_to_cart_order  reordered
33819101  1384612   3421063       14233                  3          1
33819102  1384613   3421063       35548                  4          1
33819103  1384614   3421070       35951                  1          1
33819104  1384615   3421070       16953                  2          1
33819105  1384616   3421070        4724                  3          1

In [14]:
# Trim off columns we don't need
order_products = order_products[['product_id', 'add_to_cart_order']]
order_products.head()

   product_id  add_to_cart_order
0       33120                  1
1       28985                  2
2        9327                  3
3       45918                  4
4       30035                  5

In [16]:
# Trim off columns we don't need
products = products[['product_id', 'product_name']]
products.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [17]:
# merge the two data frames together
full_product_orders = pd.merge(order_products, products, on='product_id', 
                               how='inner')
full_product_orders.sample(6)
#Turns out I didn't need the add_to_cart_order because it was not 
# what I thought it was.

          product_id  add_to_cart_order                     product_name
26587346        8053                  6         Organic Pineapple Chunks
5769227        35887                 32         Organic Mixed Vegetables
31902107       18353                 49      Traditional Chicken Burrito
25509910        8695                 15       Hot! Jalapeno Potato Chips
32091997         809                  1  Bolani Pumpkin Filled Flatbread
22877941       43504                  9           Organic Chicken Strips

In [27]:
# Here are the top 10 ordered products and how many times they were ordered.
full_product_orders['product_name'].value_counts(ascending=False)[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

###1.1 Concatinate

In [28]:
# Create df1
df1 = pd.DataFrame([ ['a', 1], ['b', 2] ], columns=['letter', 'number'])
df1.head()

  letter  number
0      a       1
1      b       2

In [29]:
# Create df1
df2 = pd.DataFrame([ ['c', 3], ['d', 4] ], columns=['letter', 'number'])
df2.head()

  letter  number
0      c       3
1      d       4

In [31]:
# concate them one on top of the other
df3 = pd.concat([df1,df2], axis=0)
df3

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####