<a href="https://colab.research.google.com/github/jamesluttringer2019/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-10-30 19:39:34--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.161.197
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.161.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  97.4MB/s    in 2.0s

2019-10-30 19:39:36 (97.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####
import pandas as pd
#we need products(product name & product id) and 
#both order_products sets(product id)

In [6]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
#load and concatenate the order products datasets
order_products = pd.concat([pd.read_csv('order_products__prior.csv'), pd.read_csv('order_products__train.csv')])

In [10]:
#filter the data so only our top 10 products are in the products dataframe
most_frequent_products = ['Banana',
  'Bag of Organic Bananas',
  'Organic Strawberries',
  'Organic Baby Spinach',
  'Organic Hass Avocado',
  'Organic Avocado',
  'Large Lemon',
  'Strawberries',
  'Limes',
  'Organic Whole Milk']

products = products[products['product_name'].isin(most_frequent_products)]
products.head()

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4

In [44]:
#get the top ten value counts for the product orders
order_freq_top = order_products['product_id'].value_counts()[:10]
order_freq_top = order_freq_top.rename_axis('product_id').reset_index(name='Number of Times Ordered')
order_freq_top.head()

   product_id  Number of Times Ordered
0       24852                   491291
1       13176                   394930
2       21137                   275577
3       21903                   251705
4       47209                   220877

In [45]:
#merge the dataframes to match the product names and ids, then put them in the proper order
names_and_counts = pd.merge(products[['product_id','product_name']],order_freq_top, how='right',on='product_id')
names_and_counts = names_and_counts.sort_values(['Number of Times Ordered'], ascending=False)
names_and_counts.head()

   product_id            product_name  Number of Times Ordered
4       24852                  Banana                   491291
0       13176  Bag of Organic Bananas                   394930
2       21137    Organic Strawberries                   275577
3       21903    Organic Baby Spinach                   251705
7       47209    Organic Hass Avocado                   220877

In [49]:
#clean up the appearance
names_and_counts = (names_and_counts.reset_index(drop=True)
  .rename(columns = {'product_id':'Product ID',
  'product_name':'Product Name'}))
names_and_counts

   Product ID            Product Name  Number of Times Ordered
0       24852                  Banana                   491291
1       13176  Bag of Organic Bananas                   394930
2       21137    Organic Strawberries                   275577
3       21903    Organic Baby Spinach                   251705
4       47209    Organic Hass Avocado                   220877
5       47766         Organic Avocado                   184224
6       47626             Large Lemon                   160792
7       16797            Strawberries                   149445
8       26209                   Limes                   146660
9       27845      Organic Whole Milk                   142813

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

In [91]:
#reset index 
table2 = table2.reset_index().rename(columns = {'index':'Treatment'})
table2

    Treatment  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [93]:
#create tidy
tidy2 = table2.melt(id_vars='Treatment', value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'])
tidy2

    Treatment      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [96]:
wide2 = tidy2.pivot_table(index='Treatment',columns='variable', values='value')
wide2

variable    Jane Doe  John Smith  Mary Johnson
Treatment
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [0]:
flights = sns.load_dataset('flights')

In [98]:
#check it out
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [99]:
#pivot graph of flights
flights_pivot = flights.pivot_table(index='year', columns='month', values='passengers')
flights_pivot

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
orders = pd.read_csv('orders.csv')

In [104]:
order_products_time = pd.merge(order_products[['order_id','product_id']],orders[['order_id','order_hour_of_day']], how='inner', on='order_id')
order_products_time

          order_id  product_id  order_hour_of_day
0                2       33120                  9
1                2       28985                  9
2                2        9327                  9
3                2       45918                  9
4                2       30035                  9
...            ...         ...                ...
33819101   3421063       14233                 10
33819102   3421063       35548                 10
33819103   3421070       35951                 10
33819104   3421070       16953                 10
33819105   3421070        4724                 10

[33819106 rows x 3 columns]

In [0]:
products = pd.read_csv('products.csv')

In [120]:
named_orders_vtime = pd.merge(order_products_time[['product_id','order_hour_of_day']], products[['product_id','product_name']], how='inner', on='product_id')

          product_id  ...                                       product_name
0              33120  ...                                 Organic Egg Whites
1              33120  ...                                 Organic Egg Whites
2              33120  ...                                 Organic Egg Whites
3              33120  ...                                 Organic Egg Whites
4              33120  ...                                 Organic Egg Whites
...              ...  ...                                                ...
33819101       27499  ...                  Non-Dairy Coconut Seven Layer Bar
33819102       27499  ...                  Non-Dairy Coconut Seven Layer Bar
33819103       37703  ...  Ultra Sun Blossom Liquid 90 loads Fabric Enhan...
33819104       43725  ...                               Sweetart Jelly Beans
33819105       36233  ...                            Water With Electrolytes

[33819106 rows x 3 columns]

In [121]:
percent_order_by_time = named_orders_vtime.pivot_table(
    index='order_hour_of_day', columns='product_name')
percent_order_by_time

                         product_id  ...
product_name      #2 Coffee Filters  ... with a Splash of Pineapple Coconut Water
order_hour_of_day                    ...
0                           25773.0  ...                                      NaN
1                           25773.0  ...                                      NaN
2                           25773.0  ...                                      NaN
3                           25773.0  ...                                      NaN
4                               NaN  ...                                      NaN
5                           25773.0  ...                                      NaN
6                           25773.0  ...                                      NaN
7                           25773.0  ...                                      NaN
8                           25773.0  ...                                   2987.0
9                           25773.0  ...                                   2987.0
10                          25773.0  ...                                   2987.0
11                          25773.0  ...                                   2987.0
12                          25773.0  ...                                   2987.0
13                          25773.0  ...                                   2987.0
14                          25773.0  ...                                   2987.0
15                          25773.0  ...                                   2987.0
16                          25773.0  ...                                   2987.0
17                          25773.0  ...                                   2987.0
18                          25773.0  ...                                   2987.0
19                          25773.0  ...                                   2987.0
20                          25773.0  ...                                   2987.0
21                          25773.0  ...                                   2987.0
22                          25773.0  ...                                      NaN
23                          25773.0  ...                                      NaN

[24 rows x 49685 columns]