Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-09-09 22:46:13--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.29.190
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.29.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  17.0MB/s    in 13s

2020-09-09 22:46:26 (15.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [31]:
from os import listdir
%cd instacart_2017_05_01

# these two methods are equivalent
filenames = [file for file in listdir() if '._' not in file]
df_names = [file[:-4] for file in filenames]

# filenames = list(filter(lambda file: '._' not in file, listdir()))
# df_names = list(map(lambda file: file[:-4], filenames ))

print('Filenames =',filenames)
print('Dataframe names =',df_names)

Filenames = ['aisles.csv', 'order_products__train.csv', 'departments.csv', 'products.csv', 'order_products__prior.csv', 'orders.csv']
Dataframe names = ['aisles', 'order_products__train', 'departments', 'products', 'order_products__prior', 'orders']

In [35]:
import pandas as pd

df = {}
for df_name, file in zip(df_names, filenames):
  df[df_name] = pd.read_csv(file)
  
print('Loaded Dataframes:',list(df.keys()))

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [44]:
# A fancy print loop for my dataframe dictionary
def describe_df():
  print('Dataframe columns and first rows:')
  for key in df.keys():
    print(key+':',list(df[key].columns))
    print(key+':',list(df[key].iloc[0]))
    print(key+':',df[key].shape)
    print()

In [45]:
# combine both order_product dataframes and pop the originals
df['order_products'] = pd.concat([df.pop('order_products__train'),df.pop('order_products__prior')])
describe_df()

Dataframe columns and first rows:
aisles: ['aisle_id', 'aisle']
aisles: [1, 'prepared soups salads']
aisles: (134, 2)

order_products__train: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
order_products__train: [1, 49302, 1, 1]
order_products__train: (1384617, 4)

departments: ['department_id', 'department']
departments: [1, 'frozen']
departments: (21, 2)

products: ['product_id', 'product_name', 'aisle_id', 'department_id']
products: [1, 'Chocolate Sandwich Cookies', 61, 19]
products: (49688, 4)

order_products__prior: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
order_products__prior: [2, 33120, 1, 1]
order_products__prior: (32434489, 4)

orders: ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
orders: [2539329, 1, 'prior', 1, 2, 8, nan]
orders: (3421083, 7)

order_products: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
order_products: [1, 49302, 1, 1]
order_products: (33819106, 4)

In [50]:
df.pop('order_products__prior').head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [52]:
describe_df()

Dataframe columns and first rows:
aisles: ['aisle_id', 'aisle']
aisles: [1, 'prepared soups salads']
aisles: (134, 2)

departments: ['department_id', 'department']
departments: [1, 'frozen']
departments: (21, 2)

products: ['product_id', 'product_name', 'aisle_id', 'department_id']
products: [1, 'Chocolate Sandwich Cookies', 61, 19]
products: (49688, 4)

orders: ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
orders: [2539329, 1, 'prior', 1, 2, 8, nan]
orders: (3421083, 7)

order_products: ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
order_products: [1, 49302, 1, 1]
order_products: (33819106, 4)

In [93]:
# How many times were the top 10 products ordered by product name?
top_ten_ids = df['order_products']['product_id'].value_counts().sort_values(ascending=False)[:10]
top_ten_ids = top_ten_ids.reset_index()
top_ten_ids.columns = [['product_id','n_orders']]
top_ten_ids

  product_id n_orders
0      24852   491291
1      13176   394930
2      21137   275577
3      21903   251705
4      47209   220877
5      47766   184224
6      47626   160792
7      16797   149445
8      26209   146660
9      27845   142813

In [97]:
# top_ten = df['products'][df['products']['product_id'].isin(top_ten_ids['product_id'])]
top_ten = pd.merge(top_ten_ids, df['products'], on ='product_id', how ='inner') 
top_ten

TypeError: ignored

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [ ]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [ ]:
# table2 -> tidy

In [ ]:
# tidy -> table2

In [ ]:
flights = sns.load_dataset('flights')

In [ ]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####