<a href="https://colab.research.google.com/github/jacobwallenberg/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
import pandas as pd

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-08-05 22:23:27--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.43.190
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.43.190|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.6’

instacart_online_gr 100%[===================>] 196.03M  34.8MB/s    in 6.3s

2020-08-05 22:23:34 (31.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.6’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [6]:
##### YOUR CODE HERE #####
order_products = pd.read_csv('order_products__prior.csv')

In [7]:
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

In [8]:
#user id = 1, order id <= 2
order_orderproduct_merge = pd.merge(orders, order_products, on='order_id')
merge_one = order_orderproduct_merge

In [9]:
#noting that the order filter retains the index
order_filter = (merge_one['user_id'] == 1) & (merge_one['order_number'] <= 2)
merge_one = merge_one[order_filter]

In [10]:
#what I want: ['user_id','order_id','order_number','order_dow','order_hour_of_day','add_to_cart_order','product_id','product_name']
merge_two = pd.merge(merge_one, products, on='product_id')
cleaned_merge = merge_two[['user_id','order_id','order_number','order_dow','order_hour_of_day','add_to_cart_order','product_id','product_name']]
ordered_cleaned_merge = cleaned_merge.sort_values(by=['order_number','add_to_cart_order']).copy()

In [11]:
final = ordered_cleaned_merge.reset_index().drop('index', axis=1)
final.columns = [column.replace('_', ' ') for column in final]
final

    user id  order id  ...  product id                             product name
0         1   2539329  ...         196                                     Soda
1         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
2         1   2539329  ...       12427                      Original Beef Jerky
3         1   2539329  ...       26088               Aged White Cheddar Popcorn
4         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
5         1   2398795  ...         196                                     Soda
6         1   2398795  ...       10258                               Pistachios
7         1   2398795  ...       12427                      Original Beef Jerky
8         1   2398795  ...       13176                   Bag of Organic Bananas
9         1   2398795  ...       26088               Aged White Cheddar Popcorn
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [12]:
#what cols to count the frequency of each product item? 
#products to get product names, orderproducts to match orders to the orders, and orders to count the number of times that the items were added? 
#I'm reusing the previous merges to avoid running them again
order_orderproduct_merge.head()

   order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
0   2539329        1    prior  ...         196                  1          0
1   2539329        1    prior  ...       14084                  2          0
2   2539329        1    prior  ...       12427                  3          0
3   2539329        1    prior  ...       26088                  4          0
4   2539329        1    prior  ...       26405                  5          0

[5 rows x 10 columns]

In [13]:
order_orderproduct_products_merge = pd.merge(order_orderproduct_merge, products, on='product_id')

In [14]:
order_orderproduct_products_merge['product_name'].value_counts().head(20)

Banana                      472565
Bag of Organic Bananas      379450
Organic Strawberries        264683
Organic Baby Spinach        241921
Organic Hass Avocado        213584
Organic Avocado             176815
Large Lemon                 152657
Strawberries                142951
Limes                       140627
Organic Whole Milk          137905
Organic Raspberries         137057
Organic Yellow Onion        113426
Organic Garlic              109778
Organic Zucchini            104823
Organic Blueberries         100060
Cucumber Kirby               97315
Organic Fuji Apple           89632
Organic Lemon                87746
Apple Honeycrisp Organic     85020
Organic Grape Tomatoes       84255
Name: product_name, dtype: int64

In [15]:
product_order_counts = order_orderproduct_products_merge['product_name'].value_counts().sort_values(ascending=False).head(10)
product_order_counts

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [16]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T
print('table1')
print(table1)
print(' \ntable2')
print(table2)

table1
              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

table2
            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [17]:
# table2 -> tidy
#I need to add the treatment 
temp = table2.reset_index()
tidy = temp.melt(id_vars='index')
#tidy = tidy[['variable','index','value']].rename(columns={'variable':'name',"index":"treatment",'value':'result'})
tidy

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [18]:
# tidy -> table2
new_table2 = tidy.pivot_table(index='index',columns='variable',values='value')
new_table2

variable    Jane Doe  John Smith  Mary Johnson
index
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [19]:
import seaborn as sns
#Load seaborn's flights dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. 
#Use year for the index and month for the columns. 
#You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [20]:
flights = sns.load_dataset('flights')

In [21]:
# Flights Pivot Table
flights.pivot_table(index='year',columns='month',values='passengers')

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [22]:
##### YOUR CODE HERE #####
#the LATEST ordered popular products? 
#we need to define LATE. Let's say it's 7pm or later. Since they need time to pick up and deliver, this is probably quite late. 
#so we will only count orders that are made past 7pm. 
#and we'll join the order_products on that, and the products on that, and do value counts and filter for >= 2900 counts 
late_order_orderproducts = order_orderproduct_merge[order_orderproduct_merge['order_hour_of_day'] > 18]

In [23]:
late_order_orderproducts.head()

     order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
264    444309        3    prior  ...       38596                  1          0
265    444309        3    prior  ...       21903                  2          1
266    444309        3    prior  ...         248                  3          0
267    444309        3    prior  ...       40604                  4          0
268    444309        3    prior  ...        8021                  5          0

[5 rows x 10 columns]

In [24]:
product_merge = pd.merge(late_order_orderproducts,products,on='product_id')

In [25]:
#this didn't quite work out the way I wanted it to.
#the issue I ran into was that I couldn't keep the index in place when doing the value counts. 
#So, I couldn't use the ">= 2900" condition as a filter on the entire dataframe. 
#If I did, I would've been able to create a prettier frame. But for now I think this is fine.
product_merge['product_name'].value_counts().sort_values(ascending=False).head(25)

Banana                      59299
Bag of Organic Bananas      48551
Organic Strawberries        35945
Organic Baby Spinach        31505
Organic Hass Avocado        27398
Organic Avocado             22302
Organic Whole Milk          19130
Organic Raspberries         18276
Strawberries                18177
Large Lemon                 17827
Limes                       16737
Organic Blueberries         14047
Organic Zucchini            13686
Organic Yellow Onion        13397
Organic Garlic              13120
Cucumber Kirby              12783
Organic Grape Tomatoes      11305
Organic Lemon               11027
Seedless Red Grapes         10851
Organic Fuji Apple          10630
Organic Cucumber            10482
Apple Honeycrisp Organic    10478
Organic Baby Carrots        10122
Honeycrisp Apple             9961
Carrots                      9870
Name: product_name, dtype: int64

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####