Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [4]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-07-15 02:22:06--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.84.221
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.84.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  58.3MB/s    in 3.4s

2020-07-15 02:22:10 (58.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [5]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [7]:
%cd instacart_2017_05_01

[Errno 2] No such file or directory: 'instacart_2017_05_01'
/content/instacart_2017_05_01

In [8]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.


Aisles - aisle_id, aisle

Depeartments - department_id, department

Order Products (Prior) - order_id, product_id, add_to_cart_order, reordered

Order Products (Train) - order_id, product_id, add_to_cart_order, reordered

Orders - order_id, product_id, add_to_cart_order, reordered

Products - product_id, product_name, aisle_id, department_id

### Columns needed
products: product_name, product_id
order_products__train/prior : need all except reordered.

In [9]:
import pandas as pd
top_ten = ['Banana', 'Bag of Organic Bananas', 'Organic Strawberries', 'Organic Baby Spinach', 'Organic Hass Avocado', 'Organic Avocado', 'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk']
# filter = products['product_name'].isin(top_ten)

In [10]:
##### YOUR CODE HERE #####
a = pd.read_csv('aisles.csv')
d = pd.read_csv('departments.csv')
op_p = pd.read_csv('order_products__prior.csv')
op_t = pd.read_csv('order_products__train.csv')
o = pd.read_csv('orders.csv')
cp = pd.read_csv('products.csv')

(32434489, 4)
(1384617, 4)
Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [13]:
# create dataframes
order_products__prior = pd.read_csv('order_products__prior.csv')  # order_id, product_id, add_to_cart_order
order_products__train = pd.read_csv('order_products__train.csv')  # order_id, product_id, add_to_cart_order
orders = pd.read_csv('orders.csv')                                # order_id, product_id, add_to_cart_order
products = pd.read_csv('products.csv')                            # product_name, product_id

In [14]:
# filter to columns we need
cols = ['order_id', 'product_id', 'add_to_cart_order']
prod_cols = ['product_id', 'product_name']
order_products__prior = order_products__prior[cols].copy()
order_products__train = order_products__train[cols].copy()
products = products[prod_cols].copy()

In [15]:
# might need this from orders?
orders = orders[['order_id', 'user_id']]

In [16]:
# concatenate train and pair
  # axis 0, same number of columns
order_products = pd.concat([order_products__prior, order_products__train], axis=0)

In [20]:
# dataframes are:
    # order_products
    # orders
    # products
print(order_products.columns)
print(orders.columns)
print(products.columns)

Index(['order_id', 'product_id', 'add_to_cart_order'], dtype='object')
Index(['order_id', 'user_id'], dtype='object')
Index(['product_id', 'product_name'], dtype='object')

In [56]:
# merge ORDERS into ORDER_PRODUCTS on 'order_id'
products.groupby('product_name')

In [18]:
orders.head(10)

   order_id  user_id
0   2539329        1
1   2398795        1
2    473747        1
3   2254736        1
4    431534        1
5   3367565        1
6    550135        1
7   3108588        1
8   2295261        1
9   2550362        1

In [32]:
# product_id
# 13176 16797 21137 21903 24852 26209 27845 47209 47626 47766
product_list = [13176, 16797, 21137, 21903, 24852, 26209, 27845, 47209, 47626, 47766]

In [30]:
# find the product_id that has the top 10 names
products_filtered = products[filter]

In [31]:
products_filtered.sample(10)

       product_id            product_name
26208       26209                   Limes
27844       27845      Organic Whole Milk
16796       16797            Strawberries
24851       24852                  Banana
47625       47626             Large Lemon
47765       47766         Organic Avocado
21136       21137    Organic Strawberries
13175       13176  Bag of Organic Bananas
21902       21903    Organic Baby Spinach
47208       47209    Organic Hass Avocado

In [33]:
products['product_id'].isin(product_list).value_counts()

False    49678
True        10
Name: product_id, dtype: int64

In [48]:
group = merged.groupby(['product_id'])
group.max()

            order_id  add_to_cart_order  user_id
product_id
363.0        3360723               39.0   199824

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [ ]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [ ]:
# table2 -> tidy

In [ ]:
# tidy -> table2

In [ ]:
flights = sns.load_dataset('flights')

In [ ]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####