<a href="https://colab.research.google.com/github/spasatel13/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/Philipp_Libenson_W1_D3_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [5]:
#!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz 

# Make sure we're in the top-level /content directory
#
# See below for notes on the cd command and why it's %cd instead of !cd
%cd /content

# Remove everything in the current working directory
#
# rm is the remove command
# -rf specifies the "recursive" and "force" options to remove all files in 
# subdirectories without prompting
#
# THIS IS A POWERFUL COMMAND! DO NOT run this command on your local computer - ever!!
#
# In this particular case, removing all of the files makes things easier if you
# need to re-run these examples by allowing you start with a clean directory
# every time.
!rm -rf *

# wget retrieves files from a remote location
!wget https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip

/content
--2020-10-06 02:51:47--  https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip [following]
--2020-10-06 02:51:47--  https://www.dropbox.com/s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com/cd/0/inline/BAtTKJrQoMPg4bGowPvyWaoQml1a4nLv3XJHarq0s6QQ3UXh3LIJ07E7bVqewbNNQw65t3fAgZo-wlxfl5V75aoMMRacwJL5Vm_EnH1iTPpjku8YWm41sUTI2evNRtv8ECU/file# [following]
--2020-10-06 02:51:48--  https://ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com/cd/0/inline/BAtTKJrQoMPg4bGowPvyWaoQml1a4nLv3XJHarq0s6QQ3UXh3LIJ07E7bVqewbNNQw65t3fAgZo-wlxfl5V75aoMMRacwJL5Vm_EnH1iTPpjku8YWm41sUTI2evNRtv8ECU/file
Resolving ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com (ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6021:15::a27d:410f
Connecting to ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com (ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BAvcS681SIMJk4bfFgYd9Cmt6aIlNzqDkU3gABO2h32rgyzaOTjicuSX83ooalW5t7uWyqcxt5XFFbS3jfS5hsseC5rD6k55Jfbm4qxSsubtZ4ZbIkp_p5Rj6prtKJvVEx7du517wvrMABN-Q6FkABsIplGurrVsGhQa0Jq9FOzebwzRP_V5GgLYG6Yt-WGqC69Oy14l12_VS70urY9MYciz4pPTqW0yTnmnLfJBnWJY4QKswdTA55-2PP7GZYDoBg46NWEfsvxvyNabdJFFVzqOvboo76otk3upM48TMqRZhnShiKAALf0_XgNmPsxK8gjoYuzeGWg_6LeZhLNJPNY8BXEja69KUTTkh09j2DRLUA/file [following]
--2020-10-06 02:51:49--  https://ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com/cd/0/inline2/BAvcS681SIMJk4bfFgYd9Cmt6aIlNzqDkU3gABO2h32rgyzaOTjicuSX83ooalW5t7uWyqcxt5XFFbS3jfS5hsseC5rD6k55Jfbm4qxSsubtZ4ZbIkp_p5Rj6prtKJvVEx7du517wvrMABN-Q6FkABsIplGurrVsGhQa0Jq9FOzebwzRP_V5GgLYG6Yt-WGqC69Oy14l12_VS70urY9MYciz4pPTqW0yTnmnLfJBnWJY4QKswdTA55-2PP7GZYDoBg46NWEfsvxvyNabdJFFVzqOvboo76otk3upM48TMqRZhnShiKAALf0_XgNmPsxK8gjoYuzeGWg_6LeZhLNJPNY8BXEja69KUTTkh09j2DRLUA/file
Reusing existing connection to ucd6e8ca3cc5b08f30fcadc1d33a.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 205616541 (196M) [application/zip]
Saving to: ‘instacart-market-basket-analysis.zip’

instacart-market-ba 100%[===================>] 196.09M  22.5MB/s    in 9.3s

2020-10-06 02:51:59 (21.1 MB/s) - ‘instacart-market-basket-analysis.zip’ saved [205616541/205616541]

In [6]:
# Unzip the archive
#
# Creates a new directory called instacart-market-basket-analysis

!unzip instacart-market-basket-analysis.zip

Archive:  instacart-market-basket-analysis.zip
   creating: instacart-market-basket-analysis/
  inflating: __MACOSX/._instacart-market-basket-analysis
  inflating: instacart-market-basket-analysis/order_products__prior.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__prior.csv.zip
  inflating: instacart-market-basket-analysis/.DS_Store
  inflating: __MACOSX/instacart-market-basket-analysis/._.DS_Store
  inflating: instacart-market-basket-analysis/order_products__train.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__train.csv.zip
  inflating: instacart-market-basket-analysis/aisles.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._aisles.csv.zip
  inflating: instacart-market-basket-analysis/orders.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._orders.csv.zip
  inflating: instacart-market-basket-analysis/departments.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._departments.csv.zip
  inflating: instacart-market-basket-analysis/products.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._products.csv.zip

In [7]:
# Change into the newly-unzipped directory
#
# % sign is required to change to a new directory -- you can't use !cd like
# other commands
#
# Optional technical details:
#
# % makes the command apply to the **entire notebook environment**, which is
# what you need to do to change the working directory
#
# The ! sign **opens a new shell process** behind the scenes to execute the
# command -- this works fine for regular commands like unzip and ls
#
# Therefore, !cd would apply only to that new shell and wouldn't change the
# global notebook environment
#
# If this makes your heard hurt, don't worry too much about it. We'll talk
# more about the shell and operating systems stuff later in the program.

%cd instacart-market-basket-analysis

/content/instacart-market-basket-analysis

In [8]:
# Unzip all .csv.zip files in the directory
!unzip "*.zip"

Archive:  orders.csv.zip
  inflating: orders.csv
   creating: __MACOSX/
  inflating: __MACOSX/._orders.csv

Archive:  products.csv.zip
  inflating: products.csv
  inflating: __MACOSX/._products.csv

Archive:  order_products__train.csv.zip
  inflating: order_products__train.csv
  inflating: __MACOSX/._order_products__train.csv

Archive:  order_products__prior.csv.zip
  inflating: order_products__prior.csv
  inflating: __MACOSX/._order_products__prior.csv

Archive:  aisles.csv.zip
  inflating: aisles.csv
  inflating: __MACOSX/._aisles.csv

Archive:  departments.csv.zip
  inflating: departments.csv
  inflating: __MACOSX/._departments.csv

6 archives were successfully processed.

In [2]:
# List all csv files in the current directory
# -l specifies the "long" listing format, which includes additional info on each file
# -h specifies "human readable" file size units
!ls -l -h *.csv

ls: cannot access '*.csv': No such file or directory

# Assignment

## Practice joining data

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

**Here is what you need to do:**

* First, write down which columns you need and which dataframes have them.
* Next, merge these into a single dataframe.
* Then, use pandas functions from the previous lesson to get the **counts of the top 10 most frequently ordered products**.

###1) Read in and concatenate the order_products__prior.csv and order_products__train.csv CSVs.  Name the resulting dataset order_products.

In [4]:
%ls -l
%cd instacart-market-basket-analysis/

total 200812
drwxr-xr-x 3 root root      4096 Oct  6 02:52 instacart-market-basket-analysis/
-rw-r--r-- 1 root root 205616541 Oct  6 02:51 instacart-market-basket-analysis.zip
drwxr-xr-x 3 root root      4096 Oct  6 02:52 __MACOSX/
/content/instacart-market-basket-analysis

In [2]:
%ls -l
%cd instacart-market-basket-analysis/
%ls -l

total 200812
drwxr-xr-x 3 root root      4096 Oct  6 02:52 instacart-market-basket-analysis/
-rw-r--r-- 1 root root 205616541 Oct  6 02:51 instacart-market-basket-analysis.zip
drwxr-xr-x 3 root root      4096 Oct  6 02:52 __MACOSX/
/content/instacart-market-basket-analysis
total 897416
-rw-r--r-- 1 root root      2603 May  2  2017 aisles.csv
-rw-rw-r-- 1 root root      1911 Dec 11  2019 aisles.csv.zip
-rw-r--r-- 1 root root       270 May  2  2017 departments.csv
-rw-rw-r-- 1 root root       804 Dec 11  2019 departments.csv.zip
drwxrwxr-x 2 root root      4096 Oct  6 02:52 __MACOSX/
-rw-r--r-- 1 root root 577550706 May  2  2017 order_products__prior.csv
-rw-rw-r-- 1 root root 164687340 Dec 11  2019 order_products__prior.csv.zip
-rw-r--r-- 1 root root  24680147 May  2  2017 order_products__train.csv
-rw-rw-r-- 1 root root   7238754 Dec 11  2019 order_products__train.csv.zip
-rw-r--r-- 1 root root 108968645 May  2  2017 orders.csv
-rw-rw-r-- 1 root root  32807090 Dec 11  2019 orders.csv.zip
-rw-r--r-- 1 root root   2166953 May  2  2017 products.csv
-rw-rw-r-- 1 root root    813666 Dec 11  2019 products.csv.zip

In [3]:
##### YOUR CODE HERE #####
import pandas as pd
import numpy as np

dfPrior=pd.read_csv('order_products__prior.csv')
dfPrior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
dfTrain=pd.read_csv('order_products__train.csv')
dfTrain.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [5]:
order_products=pd.concat([dfPrior, dfTrain])
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

###2) Create a list called ten_products that contains the names of the top 10 products ordered.  Be very careful about spelling and capitalization.

In [6]:
##### YOUR CODE HERE #####
ten_products=['Banana','Bag of Organic Bananas','Organic Strawberries','Organic Baby Spinach','Organic Hass Avocado','Organic Avocado','Large Lemon','Strawberries',
 'Limes','Organic Whole Milk']

###3) Read in products.csv and name the dataset "products".

In [7]:
##### YOUR CODE HERE #####
products=pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

###4) Select only the rows of the products dataset that contain one of the top 10 most ordered products.  Rename that dataset "products".

In [8]:
##### YOUR CODE HERE #####
#    Using .isin()
condition=products['product_name'].isin(ten_products)
products2=products[condition]
print(products2.shape)
products2

(10, 4)

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4
26208       26209                   Limes        24              4
27844       27845      Organic Whole Milk        84             16
47208       47209    Organic Hass Avocado        24              4
47625       47626             Large Lemon        24              4
47765       47766         Organic Avocado        24              4

In [9]:
# using list comprehenssion
condition2=[True if product in ten_products  else False for product in products['product_name']]
numOfUniqueVals=list(np.unique(np.array(condition2)))
numOfUniqueVals

[False, True]

In [10]:
#number of True in condition2 => number of values in new products df.
numOfTrue=condition2.count(True)
numOfTrue

10

In [11]:
products=products[condition2]
print(products.shape)
products

(10, 4)

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4
26208       26209                   Limes        24              4
27844       27845      Organic Whole Milk        84             16
47208       47209    Organic Hass Avocado        24              4
47625       47626             Large Lemon        24              4
47765       47766         Organic Avocado        24              4

###5) Crete a dataset called product_orders that merges order_products and products.

In [12]:
##### YOUR CODE HERE #####
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
product_orders=pd.merge(products,order_products)
print(product_orders.shape)
product_orders.head()

(2418314, 7)

   product_id            product_name  ...  add_to_cart_order  reordered
0       13176  Bag of Organic Bananas  ...                  1          1
1       13176  Bag of Organic Bananas  ...                  1          1
2       13176  Bag of Organic Bananas  ...                  3          1
3       13176  Bag of Organic Bananas  ...                  3          1
4       13176  Bag of Organic Bananas  ...                  3          1

[5 rows x 7 columns]

###6) Create a dataset called merged that merges product_orders and orders.

In [14]:
##### YOUR CODE HERE #####
orders=pd.read_csv('orders.csv')
merged=pd.merge(product_orders,orders)
print(merged.shape)
merged.head()

(2418314, 13)

   product_id  ... days_since_prior_order
0       13176  ...                    9.0
1       47209  ...                    9.0
2       13176  ...                   14.0
3       47766  ...                   14.0
4       13176  ...                   10.0

[5 rows x 13 columns]

###7) Print the top 5 rows of the merged dataset.

In [15]:
##### YOUR CODE HERE #####
merged.head()

   product_id  ... days_since_prior_order
0       13176  ...                    9.0
1       47209  ...                    9.0
2       13176  ...                   14.0
3       47766  ...                   14.0
4       13176  ...                   10.0

[5 rows x 13 columns]

###9) Print the number of times each food appears in the merged dataset.  (Hint: use .value_counts() )

In [16]:
##### YOUR CODE HERE #####
merged['product_name'].value_counts()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

###10) Run the following code to test for duplicate products in a single order.

In [17]:
##### Run this code #####

order_products.duplicated(subset=['order_id', 'product_id']).value_counts()

False    33819106
dtype: int64

### Conclusion? - This dataset does not have any information about the quantity of items ordered, only unique items ordered and whether the shopper had bought any items in past visits. So our counts of how many times the top 10 products were ordered will really be the number of orders that the top 10 products were included in.

### In order to count the frequency of orders of a given product we need to combine orders and products so that we have names associated with the products in each order.

###11) Print the top 5 rows of the products dataset.

In [18]:
##### YOUR CODE HERE #####
products.head()

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4

###12) Merge together the order_products and products datasets and call the dataset product_orders.

In [19]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [21]:
##### YOUR CODE HERE #####
print(product_orders.shape)
product_orders.head()

(2418314, 7)

   product_id            product_name  ...  add_to_cart_order  reordered
0       13176  Bag of Organic Bananas  ...                  1          1
1       13176  Bag of Organic Bananas  ...                  1          1
2       13176  Bag of Organic Bananas  ...                  3          1
3       13176  Bag of Organic Bananas  ...                  3          1
4       13176  Bag of Organic Bananas  ...                  3          1

[5 rows x 7 columns]

###13) Determine the number of unique instances of 'product name'.  This will tell you how many times each of the top 10 products was ordered.

In [27]:
product_orders['product_name'].value_counts()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

# Portfolio Project Milestone

Watch the Portfolio Project (formerly known as Build Week) kickoff video to get a sense of what you will accomplish over the next few weeks:
https://youtu.be/WYi9EXH-9lU