#Can you fix my code?

I tried to complete yesterday's project, but I have so many errors!  Can you find and fix them all?

# Let's continue to explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data here: https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv

In [ ]:
import pandas 

house = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv)

###2) Print the first five rows of the house dataset.

In [ ]:
house.head

###3) Create a new variable called Large_Lot that takes on the value 1 when LotArea is gerater than or equal to 10,000 and the value 0 when LotArea is less than 10,000.

In [ ]:
house.loc[house['LotArea'] >= 10000, 'Large_Lot'] = 0
house.loc[house['LotArea'] < 10000, 'Large_Lot'] = 1

house[['LotArea', 'Large_Lot']]

###4) Create a new variable called Total_Bathrooms that contains the total number of full and half bathrooms in the house.

In [ ]:
house['Total_Bathrooms'] = ['BsmtFullBath'] + ['BsmtHalfBath'] + ['FullBath']+ ['HalfBath']

print(house[['Total_Bathrooms','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath']])

###5) Create a new variable called Summer_Sale that equals 1 if the sale month was in June, July or August ( MoSold = 6, 7 or 8) and 0 if the sale month was in September - May.

In [ ]:
house.loc[(house['MoSold'] >= 6 ) | (house['MoSold'] <= 8 ), 'Summer_Sale'] = 1 

house.loc[(house['MoSold'] < 6) & (house['MoSold'] > 8), 'Summer_Sale'] = 0  

house[['MoSold', 'Summer_Sale']]

#Now we'll revisit the LendingClub data.

Remember to import the data by first unzipping the file:

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

In [ ]:
# Read in the CSV
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', engine='python')

print(df.shape)
df.head()

#Approaching a problem two different ways.

In the guided project, we learned how to find the earliest credit year using the built-in pandas date-time format.  However, there is often more than one way to come up with the same solution.


In the following questions we will work through the steps to create a new variables called Earliest_Credit_Year and issue_year where we use the .split() function remove the month report back just the year as a float data type.  Then we'll use those variables to calculate the length of credit history in years.

If we do everything correctly, we should calculate *about* the same length of longest credit history that we did in class working with the date-time format.  The answers won't exactly match because we are making different assumptions about when in each month and year the loans were taken out, but it will give you a flavor for different ways of approaching the same problem.

###6) Create a simple test case where credit = 'Jun-1979'.  

Use the .split('-') function to separate the month and year parts of the data and print the year.

Hint: Name the results of the .split('-') function "fields".  fields[0] will return the month part of the date and fields[1] will return the year part of the date.

In [ ]:
credit = Jun-1979

fields = credit.split('')
month = fields[0]
year = fields[1]

print(float(year))

###7) Use your answer in 6) to write a function called credit_yr that takes in the contents of a cell formatted 'month-year' and returns the year.

Run your function using the simple test case in 6).

In [ ]:
def credit_yr(cell_contents):
  fields = cell_contents.split('-')
  month = fields
  year = fields
  year = float(year)
  return year

credit_yr(credit)

###8) Use the .apply() function to apply the function to every cell in the earliest_cr_line variable.

In [ ]:
df['Earliest_Credit_Year'] = apply(credit_yr)

###9) Print the top 5 rows of the Earliest_Credit_Year and earliest_cr_line variables to make sure the variables were created correctly.

In [ ]:
df[['Earliest_Credit_Year','earliest_cr_line']].tail()

### 10) Use your function to create a new variable called Issue_Year from the issue_d variable.

In [ ]:
df['issue_d'].apply(credit_yr)

df[['Issue_Year','issue_d']].head()

###11) Caluculate length of credit history in years and in days.

Hint: If you are getting an error message, make sure to check the data type of the years output by your functions.

In [ ]:
['Credit_History_Years'] = ['Issue_Year'] - ['Earliest_Credit_Year']
['Credit_History_Days'] = ['Credit_History_Years'] * 365.25

[['Issue_Year','Earliest_Credit_Year','Credit_History_Years','Credit_History_Days']].head()

   Issue_Year  Earliest_Credit_Year  Credit_History_Years  Credit_History_Days
0      2018.0                1995.0                  23.0              8400.75
1      2018.0                2007.0                  11.0              4017.75
2      2018.0                1987.0                  31.0             11322.75
3      2018.0                1997.0                  21.0              7670.25
4      2018.0                2005.0                  13.0              4748.25

###12) Calculate the maximum credit length and compare it to we got in the guided project.  

Note - it won't be *exactly* the same because both methods are working in different ways, but they will give you a "pretty close" answer.

In [ ]:
df['Credit_History_Years'].max