<a href="https://colab.research.google.com/github/racheltu2020/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-make-features/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-07 14:47:47--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.18.171
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.18.171|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  34.8MB/s    in 6.2s

2020-05-07 14:47:53 (31.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
a = []
while(1):
    a.append(‘1’)

SyntaxError: ignored

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd
import numpy as np

In [0]:
# check departments.csv information

df_departments = pd.read_csv('departments.csv')
print(df_departments.shape)
df_departments.head()

#  departments.cs
#  This file do not contain the content we're looking for.

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
# check aisles.csv information

df_aisles = pd.read_csv('aisles.csv')
print(df_aisles.shape)
df_aisles.head()

# aisles.csv
# it does not contain the content we're looking for

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
# check orders.csv content

df_orders = pd.read_csv('orders.csv')
print(df_orders.shape)
df_orders.head()

#

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
##### YOUR CODE HERE #####
# check products.csv product_name

df_products = pd.read_csv('products.csv')
print(df_products.shape)
df_products.head(11)

(49688, 4)

    product_id  ... department_id
0            1  ...            19
1            2  ...            13
2            3  ...             7
3            4  ...             1
4            5  ...            13
5            6  ...            11
6            7  ...             7
7            8  ...             1
8            9  ...            16
9           10  ...             7
10          11  ...             7

[11 rows x 4 columns]

In [0]:
# since this assignment is from product_id to find matching product_name
# let's testing some function here:

df_products.iloc[[10]]

    product_id       product_name  aisle_id  department_id
10          11  Peach Mango Juice        31              7

In [0]:
# check products_prior.csv 
df_products_prior = pd.read_csv('order_products__prior.csv')

print(df_products_prior.shape)
df_products_prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
# check order_products_train.csv 

df_products_train = pd.read_csv('order_products__train.csv')

print(df_products_train.shape)
df_products_train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
# in order_products_prior.csv and order_products_train.csv
# both files contain product_id column,
# combine these 2 files together, and grab the first 10 frequently ordered item to 
# a new df_products_prior_n_train

df_products_prior_n_train = pd.concat([df_products_prior, df_products_train])
df_products_prior_n_train.head()

df_products_prior_n_train['product_id'].value_counts()[0:10]

24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
47766    184224
47626    160792
16797    149445
26209    146660
27845    142813
Name: product_id, dtype: int64

In [0]:
# reset_index and assign new column name to df_frequent_order_product_id
# check its result

df_freq = df_products_prior_n_train['product_id'].value_counts()[0:10]
df_freq = df_freq.reset_index()
df_freq.columns = ['product_id', 'freq']
df_freq

   product_id    freq
0       24852  491291
1       13176  394930
2       21137  275577
3       21903  251705
4       47209  220877
5       47766  184224
6       47626  160792
7       16797  149445
8       26209  146660
9       27845  142813

In [0]:
# merge df_freq with df_products on 
# 
most_ordered_products = pd.merge(df_freq, df_products, on='product_id', how='inner')
most_ordered_products

   product_id    freq            product_name  aisle_id  department_id
0       24852  491291                  Banana        24              4
1       13176  394930  Bag of Organic Bananas        24              4
2       21137  275577    Organic Strawberries        24              4
3       21903  251705    Organic Baby Spinach       123              4
4       47209  220877    Organic Hass Avocado        24              4
5       47766  184224         Organic Avocado        24              4
6       47626  160792             Large Lemon        24              4
7       16797  149445            Strawberries        24              4
8       26209  146660                   Limes        24              4
9       27845  142813      Organic Whole Milk        84             16

In [0]:
#  just keep product_name & freq
most_ordered_product = most_ordered_products[['product_name', 'freq']]
print('Following table is the most frequently ordered 10 products :')
most_ordered_product

Following table is the most frequently ordered 10 products :

             product_name    freq
0                  Banana  491291
1  Bag of Organic Bananas  394930
2    Organic Strawberries  275577
3    Organic Baby Spinach  251705
4    Organic Hass Avocado  220877
5         Organic Avocado  184224
6             Large Lemon  160792
7            Strawberries  149445
8                   Limes  146660
9      Organic Whole Milk  142813

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
table2 -> tidy

SyntaxError: ignored

In [0]:
# tidy -> table2

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####