<a href="https://colab.research.google.com/github/joeyMckinney/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-define-ml-problems/project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/joeyMckinney/unit_2_biuld_week/master/pulsar_stars.csv')

In [ ]:
df.head()

    Mean of the integrated profile  ...  target_class
0                       140.562500  ...             0
1                       102.507812  ...             0
2                       103.015625  ...             0
3                       136.750000  ...             0
4                        88.726562  ...             0

[5 rows x 9 columns]

In [ ]:
df.isnull().sum()

 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
target_class                                     0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0    Mean of the integrated profile                17898 non-null  float64
 1    Standard deviation of the integrated profile  17898 non-null  float64
 2    Excess kurtosis of the integrated profile     17898 non-null  float64
 3    Skewness of the integrated profile            17898 non-null  float64
 4    Mean of the DM-SNR curve                      17898 non-null  float64
 5    Standard deviation of the DM-SNR curve        17898 non-null  float64
 6    Excess kurtosis of the DM-SNR curve           17898 non-null  float64
 7    Skewness of the DM-SNR curve                  17898 non-null  float64
 8   target_class                                   17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [ ]:
df.describe()

        Mean of the integrated profile  ...  target_class
count                     17898.000000  ...  17898.000000
mean                        111.079968  ...      0.091574
std                          25.652935  ...      0.288432
min                           5.812500  ...      0.000000
25%                         100.929688  ...      0.000000
50%                         115.078125  ...      0.000000
75%                         127.085938  ...      0.000000
max                         192.617188  ...      1.000000

[8 rows x 9 columns]

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/joeyMckinney/unit_2_biuld_week/master/dataset-of-90s.csv')

In [ ]:
df2.head()

                                            track  ... target
0                                     Misty Roses  ...      0
1                                      Never Ever  ...      1
2                                     Soul Sermon  ...      0
3                       Clarinet Marmalade - Live  ...      0
4  До смерті і довше - Drum & Base and Rock Remix  ...      0

[5 rows x 19 columns]

In [ ]:
df.shape

(17898, 9)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5520 entries, 0 to 5519
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track             5520 non-null   object
 1   artist            5520 non-null   object
 2   uri               5520 non-null   object
 3   danceability      5520 non-null   float64
 4   energy            5520 non-null   float64
 5   key               5520 non-null   int64
 6   loudness          5520 non-null   float64
 7   mode              5520 non-null   int64
 8   speechiness       5520 non-null   float64
 9   acousticness      5520 non-null   float64
 10  instrumentalness  5520 non-null   float64
 11  liveness          5520 non-null   float64
 12  valence           5520 non-null   float64
 13  tempo             5520 non-null   float64
 14  duration_ms       5520 non-null   int64
 15  time_signature    5520 non-null   int64
 16  chorus_hit        5520 non-null   float64
 17  sections          5520 non-null   int64
 18  target            5520 non-null   int64
dtypes: float64(10), int64(6), object(3)
memory usage: 819.5+ KB

In [ ]:
df2.describe()

       danceability       energy  ...     sections       target
count   5520.000000  5520.000000  ...  5520.000000  5520.000000
mean       0.566893     0.602246  ...    11.128261     0.500000
std        0.180373     0.252189  ...     4.485026     0.500045
min        0.057600     0.000357  ...     1.000000     0.000000
25%        0.451000     0.435000  ...     9.000000     0.000000
50%        0.586000     0.634500  ...    11.000000     0.500000
75%        0.699000     0.811000  ...    13.000000     1.000000
max        0.979000     0.998000  ...    69.000000     1.000000

[8 rows x 16 columns]

In [ ]:
df2.isnull().sum()

track               0
artist              0
uri                 0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
duration_ms         0
time_signature      0
chorus_hit          0
sections            0
target              0
dtype: int64