<a href="https://colab.research.google.com/github/emma-rose22/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np

In [0]:
from scipy.stats import ttest_ind

In [4]:
from google.colab import files
uploaded= files.upload()

Saving house-votes-84.data to house-votes-84.data

In [0]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [87]:
df = pd.read_csv('house-votes-84.data', header=None, names=column_headers, na_values='?' )
df

          party handicapped-infants water-project  ... crime duty-free south-africa
0    republican                   n             y  ...     y         n            y
1    republican                   n             y  ...     y         n          NaN
2      democrat                 NaN             y  ...     y         n            n
3      democrat                   n             y  ...     n         n            y
4      democrat                   y             y  ...     y         y            y
..          ...                 ...           ...  ...   ...       ...          ...
430  republican                   n             n  ...     y         n            y
431    democrat                   n             n  ...     n         n            y
432  republican                   n           NaN  ...     y         n            y
433  republican                   n             n  ...     y         n            y
434  republican                   n             y  ...     y       NaN            n

[435 rows x 17 columns]

In [79]:
df= df.replace({'y':1, 'n':0})
df

          party  handicapped-infants  ...  duty-free  south-africa
0    republican                  0.0  ...        0.0           1.0
1    republican                  0.0  ...        0.0           NaN
2      democrat                  NaN  ...        0.0           0.0
3      democrat                  0.0  ...        0.0           1.0
4      democrat                  1.0  ...        1.0           1.0
..          ...                  ...  ...        ...           ...
430  republican                  0.0  ...        0.0           1.0
431    democrat                  0.0  ...        0.0           1.0
432  republican                  0.0  ...        0.0           1.0
433  republican                  0.0  ...        0.0           1.0
434  republican                  0.0  ...        NaN           0.0

[435 rows x 17 columns]

In [80]:
rep =df[df['party']=='republican']
rep

          party  handicapped-infants  ...  duty-free  south-africa
0    republican                  0.0  ...        0.0           1.0
1    republican                  0.0  ...        0.0           NaN
7    republican                  0.0  ...        NaN           1.0
8    republican                  0.0  ...        0.0           1.0
10   republican                  0.0  ...        0.0           0.0
..          ...                  ...  ...        ...           ...
427  republican                  0.0  ...        0.0           1.0
430  republican                  0.0  ...        0.0           1.0
432  republican                  0.0  ...        0.0           1.0
433  republican                  0.0  ...        0.0           1.0
434  republican                  0.0  ...        NaN           0.0

[168 rows x 17 columns]

In [81]:
dem =df[df['party']=='democrat']
dem

        party  handicapped-infants  ...  duty-free  south-africa
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0
5    democrat                  0.0  ...        1.0           1.0
6    democrat                  0.0  ...        1.0           1.0
..        ...                  ...  ...        ...           ...
425  democrat                  0.0  ...        1.0           NaN
426  democrat                  1.0  ...        1.0           1.0
428  democrat                  NaN  ...        1.0           1.0
429  democrat                  1.0  ...        1.0           1.0
431  democrat                  0.0  ...        0.0           1.0

[267 rows x 17 columns]

#Bill democrats support more than republicans

1) Null hypothesis

My null hypothesis is that Democrats will not support the budget bill more than Republicans.

$\bar{x}_{1}$  (less than or equal to)  $\bar{x}_{2}$ 

2) Alternative Hypothesis

My alternative hypothesis is that Democrats will support the budget bill more than Republicans. 

$\bar{x}_{1}$  >  $\bar{x}_{2}$ 

3) Confidence Level

I need a confidence level of 99%.

In [68]:
ttest_ind(dem['immigration'], rep['immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [56]:
rep['immigration'].mean()

0.5575757575757576

In [57]:
dem['immigration'].mean()

0.4714828897338403

In [58]:
ttest_ind(rep['budget'], dem['budget'], nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [60]:
rep['budget'].mean()

0.13414634146341464

In [61]:
dem['budget'].mean()

0.8884615384615384

In [63]:
print(len(dem['budget']))
print(len(rep['budget']))

267
168

4) T-Statistic: -23.212


5) P-value: 2.0703402795404463e-77

I want to reject my null hypothesis that the p > .01.

Conclusion: Due to a p-value of 2.0703402795404463e-77 I fail to reject my alternative hypothesis that Democrats voted for the budget bill more than Republicans.

#Bill Republicans support more than Democrats

1) Null hypothesis

My null hypothesis is that Republicans will not support the religious groups bill more than Democrats.

$\bar{x}_{1}$  (less than or equal to)  $\bar{x}_{2}$ 

2) Alternative Hypothesis

My alternative hypothesis is that Republicans will support the religious groups bill more than Democrats. 

$\bar{x}_{1}$  >  $\bar{x}_{2}$ 

3) Confidence Level

I need a confidence level of 99%.

In [64]:
ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy= 'omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [65]:
rep['religious-groups'].mean()

0.8975903614457831

In [66]:
dem['religious-groups'].mean()

0.47674418604651164

In [67]:
print(len(dem['religious-groups']))
print(len(rep['religious-groups']))

267
168

4) T-Statistic: 9.737


5) P-value: 2.3936722520597287e-20

I want to reject my null hypothesis that the p > .01.

Conclusion: Due to a p-value of 2.0703402795404463e-77 I fail to reject my alternative hypothesis that Republican voted for the religious groups bill more than Democrats.

#Bill supported almost equally by both parties

1) Null hypothesis

My null hypothesis is that both Democrats and Republicans will vote very differently on the water project bill.

$\bar{x}_{1}$  > or <  $\bar{x}_{2}$ 

2) Alternative Hypothesis

My alternative hypothesis is that Democrats and Republicans will have very similar votes on the water project bill.

$\bar{x}_{1}$  ~   $\bar{x}_{2}$ 

3) Confidence Level

I need a confidence level of 90%.

In [86]:
ttest_ind(rep['water-project'], dem['water-project'], nan_policy= 'omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [84]:
dem['water-project'].mean()

0.502092050209205

In [85]:
rep['water-project'].mean()

0.5067567567567568

4) T-Statistic: .08896


5) P-value: .92915

I want to reject my null hypothesis that the p > or < .1.

Conclusion: Due to a p-value of .92915 I fail to reject my alternative hypothesis that Republicans and Democrats voted very similarly for the water project bill.

Stretch goals:
​
1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# literally just a function name for ttest
def two_sample_t_test(column):
  return(ttest_ind(rep[column], dem[column], nan_policy='omit'))
  
column_list = ### YOUR CODE GOES HERE column_headers minus party headers

def issue_tester(column_list):
  # YOUR CODE GOES HERE, runs two_sample_t_test on every item in column list

In [0]:
def findp(column):
  return(ttest_ind(rep[column], dem[column], nan_policy='omit'))

column_headers = ['handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

def test(column_headers):
  return findp(column)

In [102]:
test(dem['water-project'])

NameError: ignored