<a href="https://colab.research.google.com/github/maiormarso/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1/LS_DS9_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>
GITHUB 121 LSDS9

https://github.com/maiormarso/DS-Unit-1-Sprint-2-Statistics

Lecture Youtube.

https://www.youtube.com/watch?v=zhPGoHZo5i4&feature=youtu.be



## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# TODO - during class, but please help!
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
import scipy.stats
dir(scipy.stats)

['PearsonRConstantInputWarning',
 'PearsonRNearConstantInputWarning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_binned_statistic',
 '_constants',
 '_continuous_distns',
 '_discrete_distns',
 '_distn_infrastructure',
 '_distr_params',
 '_hypotests',
 '_multivariate',
 '_rvs_sampling',
 '_stats',
 '_stats_mstats_common',
 '_tukeylambda_stats',
 'absolute_import',
 'alpha',
 'anderson',
 'anderson_ksamp',
 'anglit',
 'ansari',
 'arcsine',
 'argus',
 'bartlett',
 'bayes_mvs',
 'bernoulli',
 'beta',
 'betaprime',
 'binned_statistic',
 'binned_statistic_2d',
 'binned_statistic_dd',
 'binom',
 'binom_test',
 'boltzmann',
 'boxcox',
 'boxcox_llf',
 'boxcox_normmax',
 'boxcox_normplot',
 'bradford',
 'brunnermunzel',
 'burr',
 'burr12',
 'cauchy',
 'chi',
 'chi2',
 'chi2_contingency',
 'chisquare',
 'circmean',
 'circstd',
 'circvar',
 'combine_pvalues',
 'contingency',
 'cosine',
 'crystalball',
 'cumfreq',
 'describe',
 'dgamma',
 'dirichlet',
 'distributions',
 'division',
 'dlaplace',
 'dweibull',
 'energy_distance',
 'entropy',
 'epps_singleton_2samp',
 'erlang',
 'expon',
 'exponnorm',
 'exponpow',
 'exponweib',
 'f',
 'f_oneway',
 'fatiguelife',
 'find_repeats',
 'fisher_exact',
 'fisk',
 'fligner',
 'foldcauchy',
 'foldnorm',
 'frechet_l',
 'frechet_r',
 'friedmanchisquare',
 'gamma',
 'gausshyper',
 'gaussian_kde',
 'genexpon',
 'genextreme',
 'gengamma',
 'genhalflogistic',
 'genlogistic',
 'gennorm',
 'genpareto',
 'geom',
 'gilbrat',
 'gmean',
 'gompertz',
 'gstd',
 'gumbel_l',
 'gumbel_r',
 'halfcauchy',
 'halfgennorm',
 'halflogistic',
 'halfnorm',
 'hmean',
 'hypergeom',
 'hypsecant',
 'invgamma',
 'invgauss',
 'invweibull',
 'invwishart',
 'iqr',
 'itemfreq',
 'jarque_bera',
 'johnsonsb',
 'johnsonsu',
 'kappa3',
 'kappa4',
 'kde',
 'kendalltau',
 'kruskal',
 'ks_2samp',
 'ksone',
 'kstat',
 'kstatvar',
 'kstest',
 'kstwobign',
 'kurtosis',
 'kurtosistest',
 'laplace',
 'levene',
 'levy',
 'levy_l',
 'levy_stable',
 'linregress',
 'loggamma',
 'logistic',
 'loglaplace',
 'lognorm',
 'logser',
 'lomax',
 'mannwhitneyu',
 'matrix_normal',
 'maxwell',
 'median_absolute_deviation',
 'median_test',
 'mielke',
 'mode',
 'moment',
 'mood',
 'morestats',
 'moyal',
 'mstats',
 'mstats_basic',
 'mstats_extras',
 'multinomial',
 'multivariate_normal',
 'mvn',
 'mvsdist',
 'nakagami',
 'nbinom',
 'ncf',
 'nct',
 'ncx2',
 'norm',
 'normaltest',
 'norminvgauss',
 'obrientransform',
 'ortho_group',
 'pareto',
 'pearson3',
 'pearsonr',
 'percentileofscore',
 'planck',
 'pointbiserialr',
 'poisson',
 'power_divergence',
 'powerlaw',
 'powerlognorm',
 'powernorm',
 'ppcc_max',
 'ppcc_plot',
 'print_function',
 'probplot',
 'randint',
 'random_correlation',
 'rankdata',
 'ranksums',
 'rayleigh',
 'rdist',
 'recipinvgauss',
 'reciprocal',
 'relfreq',
 'rice',
 'rv_continuous',
 'rv_discrete',
 'rv_histogram',
 'rvs_ratio_uniforms',
 'scoreatpercentile',
 'sem',
 'semicircular',
 'shapiro',
 'siegelslopes',
 'sigmaclip',
 'skellam',
 'skew',
 'skewnorm',
 'skewtest',
 'spearmanr',
 'special_ortho_group',
 'statlib',
 'stats',
 't',
 'test',
 'theilslopes',
 'tiecorrect',
 'tmax',
 'tmean',
 'tmin',
 'trapz',
 'triang',
 'trim1',
 'trim_mean',
 'trimboth',
 'truncexpon',
 'truncnorm',
 'tsem',
 'tstd',
 'ttest_1samp',
 'ttest_ind',
 'ttest_ind_from_stats',
 'ttest_rel',
 'tukeylambda',
 'tvar',
 'uniform',
 'unitary_group',
 'variation',
 'vonmises',
 'vonmises_line',
 'wald',
 'wasserstein_distance',
 'weibull_max',
 'weibull_min',
 'weightedtau',
 'wilcoxon',
 'wishart',
 'wrapcauchy',
 'yeojohnson',
 'yeojohnson_llf',
 'yeojohnson_normmax',
 'yeojohnson_normplot',
 'yulesimon',
 'zipf',
 'zmap',
 'zscore']

In [0]:
# Getting started with the assignment
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-07 22:20:44--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.3’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2019-10-07 22:20:44 (629 KB/s) - ‘house-votes-84.data.3’ saved [18171/18171]

In [0]:
# Load Data
import pandas as pd
import numpy as np
df = pd.read_csv('house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [0]:
rep = df[df.party == "republican"]
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
dem = df[df.party == "democrat"]
print(rep.shape)
dem.head()

(168, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

##2. Using hypothesis testing,find an issue that 

democrats support more than republicans with p < 0.01

In [0]:
# Example 1 sample t-test
from scipy.stats import ttest_1samp

print(rep['aid-to-contras'].mean())
print(dem['aid-to-contras'].mean())

0.15286624203821655
0.8288973384030418

In [0]:
dem['aid-to-contras'].mean()

0.8288973384030418

In [0]:
dem['aid-to-contras'].value_counts()

1.0    218
0.0     45
Name: aid-to-contras, dtype: int64

In [0]:
rep['aid-to-contras'].value_counts()

0.0    133
1.0     24
Name: aid-to-contras, dtype: int64

The null hypothesis for the aid-to-contras bill is that the bill will pass. Therefor the correct parameter will be 1.

The alternative hypothesis would be that the aid-to-contra bill is that the bill would not pass.

Confidence level is 95%.

The T.statistic is -7.354085178140069

pvalue=0.004363402589282088

In [0]:
# For now, 1-sample hyopthesis - republican support is 0
ttest_1samp(dem['aid-to-contras'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-7.354085178140069, pvalue=2.464384519854037e-12)

##3.Using hypothesis testing, find an issue that

republicans support more than democrats with p < 0.01

In [0]:
# Example 1 sample t-test
from scipy.stats import ttest_1samp

print(rep['el-salvador-aid'].mean())
print(dem['el-salvador-aid'].mean())

0.9515151515151515
0.21568627450980393

In [0]:
rep['el-salvador-aid'].mean()

0.9515151515151515

In [0]:
rep['el-salvador-aid'].value_counts()

1.0    157
0.0      8
Name: el-salvador-aid, dtype: int64

In [0]:
dem['el-salvador-aid'].value_counts()

0.0    200
1.0     55
Name: el-salvador-aid, dtype: int64

The null hypothesis for the el-salvador-aid bill is that the bill will pass. There for the correct parameter will be 1.

The alternative hypothesis would be that the el-slavador-aid bill is that the bill would not pass.

Confidence level is 95%.

The T.statistic is -2.890

pvalue=0.004363402589282088

In [0]:
# For now, 1-sample hyopthesis - republican support is 0
ttest_1samp(rep['el-salvador-aid'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-2.890793645020198, pvalue=0.004363402589282088)

In [0]:
# For the last test, we're much closer to the null - fail to reject!

In [0]:
# And now, like the homework - 2 sample
# 2 sample compares the means of two samples, null is that they're the same
# 1 sample compared a mean to a given null (above)

ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'],
          nan_policy='omit')

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)

##4. Using hypothesis testing, 

find an issue where the difference between 

republicans and democrats has p > 0.1 

(i.e. there may not be much of a difference)

In [0]:
dem.sum(axis = 0, skipna = True)

party                   democratdemocratdemocratdemocratdemocratdemocr...
handicapped-infants                                                   156
water-project                                                         120
budget                                                                231
physician-fee-freeze                                                   14
el-salvador-aid                                                        55
religious-groups                                                      123
anti-satellite-ban                                                    200
aid-to-contras                                                        218
mx-missile                                                            188
immigration                                                           124
synfuels                                                              129
education                                                              36
right-to-sue                                                           73
crime                                                                  90
duty-free                                                             160
south-africa                                                          173
dtype: object

In [0]:
rep.sum(axis = 0, skipna = True)

party                   republicanrepublicanrepublicanrepublicanrepubl...
handicapped-infants                                                    31
water-project                                                          75
budget                                                                 22
physician-fee-freeze                                                  163
el-salvador-aid                                                       157
religious-groups                                                      149
anti-satellite-ban                                                     39
aid-to-contras                                                         24
mx-missile                                                             19
immigration                                                            92
synfuels                                                               21
education                                                             135
right-to-sue                                                          136
crime                                                                 158
duty-free                                                              14
south-africa                                                           96
dtype: object

In [0]:
# Example 1 sample t-test
from scipy.stats import ttest_1samp

print(dem['religious-groups'].mean())
print(rep['religious-groups'].mean())

0.47674418604651164
0.8975903614457831

In [0]:
rep['religious-groups'].mean()

0.8975903614457831

In [0]:
rep['religious-groups'].value_counts()

1.0    149
0.0     17
Name: religious-groups, dtype: int64

In [0]:
dem['religious-groups'].value_counts()

0.0    135
1.0    123
Name: religious-groups, dtype: int64

The null hypothesis for the religious-groups bill is that the bill will pass. There for the correct parameter will be 1.

The alternative hypothesis would be that the el-slavador-aid bill is that the bill would not pass.

Confidence level is 95%.

The T.statistic is -2.890

pvalue=0.004363402589282088

In [0]:
# For now, 1-sample hyopthesis - republican support is 0
ttest_1samp(rep['religious-groups'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-4.338836636208457, pvalue=2.488389920449274e-05)

In [0]:
# For the last test, we're much closer to the null - fail to reject!

In [0]:
# And now, like the homework - 2 sample
# 2 sample compares the means of two samples, null is that they're the same
# 1 sample compared a mean to a given null (above)

ttest_ind(rep['religious-groups'], dem['religious-groups'],
          nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)